<template>
  <div class="mask">
    <div class="bill"
         v-show="bill">
      <i class="iconfont icon-fork closeIcon"
         @click="closeTransfer()"></i>
      <p class="fontFormat" style="margin-top: 0.4rem">转账给下级： xxx</p>
      <p class="money fontFormat">
        <span>可用余额:</span>
        <span style="color:#FF4D8C;width:70%">xxx元</span>
      </p>
      <div class="iptBox">
        <input type="number"
               class="mint-field-core"
               placeholder="转入金额"
        >
      </div>
      <div class="iptBox">
        <input type="number"
               class="mint-field-core pwd"
               placeholder="资金密码"
        >
      </div>
      <div class="transfer_ensure">
        <mt-button type="danger"
                   @click.native="trans">确认转账
        </mt-button>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "transfer.pop",
    data() {
      return {
        bill: true
      }
    },
    methods:{
      closeTransfer(){
        this.$emit('changeVisible')
      },
    }
  }
</script>


<style scoped lang="less" rel="stylesheet/less">
  .bill {
    position: absolute;
    padding: 5% 10%;
    width: 60%;
    height: 5rem;
    top: 50%;
    left: 10%;
    background: rgba(255, 255, 255, 1);
    margin-top: -4rem;
    font-size: 16px;
    border-radius: 8px;
    color: #333;

    > h4 {
      margin: 0;
      font-size: 18px;
    }

    .iptBox {
      padding: 0;
      height: 0.75rem;
      line-height: 0.75rem;
      margin-top: 0.2rem;

      input {
        width: 100%;
        height: 0.75rem;
        color: #333 !important;
        font-size: 0.35rem !important;
        background: #f2f2f2 !important;
        text-indent: 0.2rem;
        border-radius: 5px;
      }
    }

    .money {
      margin-top: 0.1rem;
      margin-bottom: 0.4rem;
    }
  }

  .closeIcon {
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
  }

  .fontFormat {
    font-size: 14px;
    color: #333;
    font-weight: bolder;
  }

  .transfer_ensure {
    margin-top: 0.5rem;
    text-align: center;
  }
</style>
