<template>
  <div class="popup-container" :effect="effect"
       :class="{'popup-showing active': state === 1, 'popup-showing popup-hidden': state === 2}">
    <div class="popup">
      <div class="popup-head">
        <div class="popup-title" v-html="title"></div>
      </div>
      <div class="popup-body" v-html="content"></div>
      <div class="popup-buttons">
        <lay-button :theme="okTheme"
                    :block="true"
                    @click="onOk()">
          {{okText}}
        </lay-button>
      </div>
    </div>
  </div>
</template>
<script>
  import mixin from './mixin';
  import LayButton from '../LayButton';

  export default {
    mixins: [mixin],
    components: {
      LayButton
    },
    data() {
      return {
        effect: 'default', // default, scale, slide
        title: '提示',
        content: '',
        okText: '确定',
        okTheme: 'assertive',
        state: 0 // 0: hidden, 1: showing, 2: active
      }
    },
  }
</script>

<style scoped lang="less" rel="stylesheet/less">
  @import "./dialog.less";
</style>
