<template>
  <div class="popup-container" :effect="effect"
       :class="classObject">
    <div class="popup ios">
      <div class="popup-head">
        <div class="popup-title" v-text="title"></div>
        <div v-if="content" class="popup-sub-title" v-html="content"></div>
        <div class="hairline-bottom"></div>
      </div>
      <div class="popup-buttons">
        <lay-button :theme="okTheme"
                    :block="true"
                    class="button-ok"
                    @click="onOk()">
          {{okText}}
        </lay-button>
      </div>
    </div>
  </div>
</template>
<script>
  import mixin from './mixin';
  import LayButton from '../LayButton';

  export default {
    mixins: [mixin],
    components: {
      LayButton
    },
    props: {
      effect: {
        type: String,// scale,slide
        default:"scale"
      }
    },
    data() {
      return {
        title: '提示',
        content: '',
        okText: '确定',
        okTheme: 'assertive',
        state: 0 // 0: hidden, 1: showing, 2: active
      }
    },
    computed: {
      classObject: function () {
        let obj = {};

        if (this.state === 1) {
          obj = {
            'popup-showing': true,
            'active': true,
          }
        }

        if (this.state === 2) {
          obj = {
            'popup-showing': true,
            'popup-hidden': true,
          }
        }

        return obj;
      },

      con: function () {
        return this.content;
      }
    },
  }
</script>

<style scoped lang="less" rel="stylesheet/less">
  @import "./dialog.less";
</style>
