<template>
  <div>
    <div class="mask"
         @click="closePop"></div>
    <div class="bindCode">
      <!-- 绑定银行卡弹框 -->
      <div>
        <h2>维护通知</h2>
        <h3>{{weiHuMsg.content}}</h3>
        <p><b>开始时间：</b> {{weiHuMsg.stime}}</p>
        <p><b>结束时间：</b> {{weiHuMsg.etime}}</p>
        <p>
           <mt-button type="danger"
                     size="large"
                     @click="closePop">我知道了</mt-button>
        </p>


      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
export default {
  data () {
    return {
      popMsg: false // 弹框控制
    };
  },
  props: ["weiHuMsg"],
  methods: {
    closePop () {
      document.body.style.overflow = "scroll";
      this.popMsg = false;
      this.$emit("weihu", this.popMsg);
    }
  },
  components: {}
};
</script>

<style scoped  lang="less">
.bindCode {
  width: 75%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px;
  z-index: 11;
  padding-top: .4rem;
  >div{
    font-size: .2rem;
    text-align: center;
    >h2{
      margin-top: 0;
      font-size: .4rem;
    }
    >h3{
      font-size: .3rem;
      margin-bottom: .4rem;
    }
    >p{
      margin-top: .3rem;
      &:last-child{
        width: 60%;
        margin: 0 auto;
      }
    }
  }
  }

</style>
