<template>
  <div class="page">
    <my-header title="个人报表"></my-header>
    <div class="nav_TOP">
      <span>2018-07-9 至 2018-07-8</span>
    </div>
    <div class="login">

      <ul
        v-infinite-scroll="mt_game_transfer_list"
        infinite-scroll-disabled="listEnd"
        infinite-scroll-distance="10"
      >
        <li
          class="mt-cell-full-border itemBD"
          v-for="item in list"
          :key="item.id"
        >
  
          <div style="flex-grow:1">
            <!-- <h3>{{item.amount > 0 ? '来自游戏' : '转到游戏'}}</h3> -->
            <h3 class="itemRE">
              <img
                class="itemPOS"
                src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=3869169037,1728020504&fm=58&s=95F35F36EC73B6014C2583EF03007027&bpow=121&bpoh=75"
                width="28"
                height="28"
                alt=""
              >
              全部盈亏： <span style="color:#FE3959">2000.00元</span></h3>
            <p>充值：<span>{{item.orderno}}</span></p>
            <p>提款：<span>{{item.orderno}}</span></p>
            <p>投注：<span>{{item.betting}}元</span></p>
          </div>
          <div style="flex-grow:1;margin-top:34px">
            <p>活动：<span>{{item.orderno}}</span></p>
            <p>总返水：<span>{{item.orderno}}</span></p>
            <p>中奖：<span>{{item.betting}}元</span></p>
          </div>
          <!-- <div style="flex-grow:;align-items:flex-end">
            <small style="color:#666666">中奖：100元</small>
          </div> -->
        </li>
      </ul>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import MyHeader from "@/bass/header";

import { get_team_detail } from "@/common/api";
import { Toast, Indicator } from "mint-ui";

export default {
  components: {
    MyHeader
  },
  data() {
    return {
      page: 0,
      list: [],
      listEnd: false,
      loading: false
    };
  },
  created: function() {},

  methods: {
    mt_game_transfer_list() {
      if (this.listEnd || this.loading) return;

      Indicator.open();
      this.loading = true;

      get_team_detail({ page: this.page + 1 }).then(res => {
        Indicator.close();
        this.loading = false;

        if (res.code == 200) {
          this.page = res.data.page;
          if (res.data.list.length > 0) {
            this.list = this.list.concat(res.data.list);
          } else {
            this.listEnd = true;
            res.data.page != 1 ? Toast("没有更多数据了!") : "";
          }
        } else {
          Toast(res.msg);
        }
      });
    }
  }
};
</script>

<style scoped>
.itemRE {
  position: relative;
  line-height: 35px;
}
.itemPOS {
  position: absolute;
  top: 4px;
  left: -30px;
}
.nav_TOP {
  text-align: center;
  height: 34px;
  width: 100%;
  background: #f2f2f2;
  line-height: 34px;
  color: #666666;
  font-size: 14px;
}
.itemBD {
  border-bottom: 1px dashed #000;
}
.login li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.3rem;
}
.login li > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login li > div > h3 {
  font-size: 16px;
  font-weight: normal;
  margin-top: 10px;
  margin-left: 20px;
}
.login li > img {
  flex-grow: 0;
  margin-right: 0.3rem;
  
}
.login li > div > p {
  font-size: 12px;
  margin: 2px 0;
  color: #666666;
}
.login li > div > span {
  font-size: 13px;
  color: #999;
}
.login {
  padding-top: 0rem;
  padding-right: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.3rem;
}
.mt-cell-full-border::after {
  left: 0;
  width: 100%;
  margin-bottom: 2px;
}
</style>
