<template>
  <span class="lay-triangle-up" @click="add"></span>
</template>

<script>
  export default {}
</script>

<style scoped lang="less" rel="stylesheet/less">
  .lay-triangle-up {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #B1B1B1;
  }
</style>
