<template>
  <div class="award-page"
       style="font-size:14px">
    <div class="main_box">
      <mt-header title="开奖结果">
        <mt-button slot="left"
                   icon="back"
                   @click.native="$router.go(-1)"></mt-button>
      </mt-header>
      <!-- 用户信息 -->
      <!--      <div class="header">-->
      <!--        <div v-if="initData">-->
      <!--          <img :src="initData.avatar || require('@/assets/admin.png')"-->
      <!--               @click="$router.push('/personal')"-->
      <!--               alt=""-->
      <!--               width="40">-->
      <!--          <div>-->
      <!--            <span>{{initData.username||'暂无'}}</span>-->
      <!--            <span class="right">余额-->
      <!--              <small style="color:#fe3959">{{Number(initData.balance||0) | fmoney }}</small>-->
      <!--            </span>-->
      <!--          </div>-->
      <!--          <p>-->
      <!--            <span class="my_btn">-->
      <!--              <mt-button class="blue"-->
      <!--                         slot="right"-->
      <!--                         @click.native="shiwan('unBound')">提现</mt-button>-->
      <!--              <mt-button class="yellow"-->
      <!--                         slot="right"-->
      <!--                         @click.native="shiwan('recharge')"-->
      <!--                         style="margin-left:10px">充值</mt-button>-->
      <!--            </span>-->
      <!--          </p>-->
      <!--        </div>-->
      <!--      </div>-->
    </div>
    <div class="list">
      <div class="list-item"
           @click="backto(item)"
           v-for="(item,index) in awardList"
           :key="index"
      >
        <div>
          <span>{{item['lottery_name']}}</span><span>{{item['period']}}期</span>
        </div>

        <div class="ksImg">
          <span v-if="item.lottery_type=='快三'">
            <img :src="filterImg(img)"
                 v-for="(img,k) in item['award_number'].split(',')"
                 :key="k"
                 width="24"
                 height="24"/>
          </span>
          <!-- {{item}} -->
          <span v-if="item.lottery_type=='时时彩'"
                class="pullList">
            <span style="background: #FE3959;color: #fff;font-size: 0.3rem;"
                  v-for="(v,k) in item['award_number'].split(',')" :key="k">{{v}}</span>
          </span>
          <span v-if="item.lottery_type=='PK10'">
            <span class="square"
                  :style="{background:filterNum(v)}"
                  v-for="(v,k) in item['award_number'].split(',')"
                  :key="k">{{v}}</span>
          </span>


          <span v-if="item.lottery_type=='28'" class="pullList">
            <span class="eggNum">{{eggNum(item,0)}}</span>

            <div style="
                  font-size: 0.4rem;
                  color: #666;
                  float: left;
                  line-height: 0.6rem;
                  width: 0.4rem;
                  text-align: center;">+</div>

            <span class="eggNum">{{eggNum(item,1)}}</span>

            <div class="operator">+</div>

            <span class="eggNum">{{eggNum(item,2)}}</span>

            <div class="operator" style="border: 0;"> = </div>

            <span :class="colorWave(item['award_number'])">{{ contedBallBallNum(item['award_number'])  }}</span>
          </span>


          <span v-if="item.lottery_type=='六合彩'">
            <span class="bose"
                  :class="filter(v)"
                  v-for="(v,k) in item['award_number'].split(',')"
                  :key="k">{{v}}</span>

          </span>
        </div>


        <div class="number_box" style="position: relative;">
          <span>{{item['award_play'].join('&nbsp;&nbsp;')}}</span>
          <i style="position: absolute;top: -0.5rem;right: 0;font-size: 30px" class="mint-cell-allow-right"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {Toast, MessageBox} from "mint-ui";
  import {get_award_list} from "@/common/api";
  import {mapMutations, mapGetters} from "vuex";

  export default {
    data() {
      return {
        lottery_type: '',
        awardList: [],
        shaiImgs: {
          // 筛子图片
          1: "../../../../static/touzhu/se1.png",
          2: "../../../../static/touzhu/se2.png",
          3: "../../../../static/touzhu/se3.png",
          4: "../../../../static/touzhu/se4.png",
          5: "../../../../static/touzhu/se5.png",
          6: "../../../../static/touzhu/se6.png"
        },
        numColor: {
          '1': '#ECCA00',
          '2': '#3CA2ED',
          '3': '#606060',
          '4': '#E8803F',
          '5': '#20C5D3',
          '6': '#5C57CC',
          '7': '#999999',
          '8': '#FE3959',
          '9': '#A23F4B',
          '10': '#5FCC49',
        },
        lotteryTrend: { //开奖走势
          '快三': 'TrendMain',
          '时时彩': 'awardResult',
          '六合彩': 'Markitem',
          'PK10': 'Pk10TrendMain',
          '28': 'Pcegg',

        }
      };
    },
    computed: {
      username() {
        return this.initData.username;
      },
      ...mapGetters(["initData"])
    },
    created() {
      get_award_list().then(res => {
        if (res.code === 200) {
          this.awardList = res.data;
        }
        console.log('this.awardList', this.awardList);
      })
    },
    mounted() {
      document.body.style.background = "#f7f7f7";
    },
    methods: {
      eggNum(item, n) {
        return item['award_number'].split(',')[n]
      },
      contedBallBallNum(v) {
        let a = 0
        v.split(',').forEach(item => a += Number(item))
        return a
      },
      colorWave(n) {
        let a = this.contedBallBallNum(n)
        if ([1, 4, 7, 10, 16, 19, 22, 25].includes(a)) return 'lv operator'
        if ([2, 5, 8, 11, 17, 20, 23, 26].includes(a)) return 'lan operator'
        if ([3, 6, 9, 12, 15, 18, 21, 24].includes(a)) return 'hong operator'
      },
      filterImg(str) {
        return this.shaiImgs[str]
      },
      filterNum(str) {
        return this.numColor[str]
      },
      filter(num) {
        if (
          [
            "03",
            "04",
            "09",
            "10",
            "14",
            "15",
            "20",
            "25",
            "26",
            "31",
            "36",
            "37",
            "41",
            "42",
            "47",
            "48"
          ].includes(num)
        ) {
          return " lan";
        } else if (
          [
            "05",
            "06",
            "11",
            "16",
            "17",
            "21",
            "22",
            "27",
            "28",
            "32",
            "33",
            "38",
            "39",
            "43",
            "44",
            "49"
          ].includes(num)
        ) {
          return " lv";
        } else if (
          [
            "01",
            "02",
            "07",
            "08",
            "12",
            "13",
            "18",
            "19",
            "23",
            "24",
            "29",
            "30",
            "34",
            "35",
            "40",
            "45",
            "46"
          ].includes(num)
        ) {
          return " hong";
        } else {
          return ' hei'
        }
      },
      backto(item) {
        console.log(item);
        this.$router.push({
          name: this.lotteryTrend[item.lottery_type],
          params: {id: item.lottery_id, title: item.lottery_name}
        });
        console.log(this.$router);

      },
      // 试玩登录
      shiwan(path) {
        let isLogin = sessionStorage.getItem("isLogin");
        if (isLogin == "false") {
          MessageBox.confirm("您还未登录", "提示", {closeOnClickModal: false})
            .then(action => {
              this.$router.push("login");
            })
            .catch(res => {
              this.$router.push("center");
            });
        } else if (isLogin == "yes") {
          MessageBox.confirm("正式会员才可以使用该功能", "提示", {
            confirmButtonText: "成为会员"
          })
            .then(action => {
              this.$router.push("reg");
            })
            .catch(res => {
              this.$router.push("gamesMain");
            });
        } else {
          if (path == "unBound") {
            this.mask = sessionStorage.getItem("mask"); //打码量
            let setPwd = sessionStorage.getItem("setPwd");
            if (setPwd == "false") {
              MessageBox.confirm("您还未设置资金密码哟！", "提示", {
                closeOnClickModal: false
              })
                .then(action => {
                  this.$router.push("setPwd");
                })
                .catch(res => {
                  // window.history.back();
                });
            } else if (this.mask != 0) {
              MessageBox.confirm(
                "您还有" +
                this.mask +
                "打码量未完成,请完成后再进行提现</br><small style='color:red'>(注: 视讯及电子游戏打码量延时10分钟结算)</small>",
                "提示",
                {
                  closeOnClickModal: false,
                  showCancelButton: true,
                  cancelButtonText: '打码量详情'
                }
              )
                .then(action => {

                })
                .catch(res => {
                  this.$router.push('maskDetail');
                });
            } else {
              this.$router.push(path);
            }
          } else {
            this.$router.push(path);
          }
        }
      },
    },
  };
</script>
<style scoped lang="less" rel="stylesheet/less">
  .award-page {
    margin-bottom: 55px;
  }

  .number_box {
    position: relative;

  }

  .mint-cell-allow-right {
    float: right;
  }

  .mint-cell-allow-right:after {
    right: 10px;
  }

  .main_box {
    width: 100%;
  }

  .ksImg {
    margin: 0.4rem 0 0.2rem;

    img {
      margin-right: 0.4rem;
    }
  }


  .list-item {
    width: calc(90% - 20px);
    padding: 10px;
    margin-left: 5%;
    margin-top: 15px;
    background: #ffffff;
    border-radius: 8px;

    div:nth-child(1) {
      font-size: 16px;
      color: #999;
      letter-spacing: -0.23px;

      span:nth-child(1) {
        color: #333;
      }

      span {
        margin-right: 10px;
      }
    }

    div:nth-child(2) {
      font-size: 16px;
      color: #333333;
      letter-spacing: -0.23px;
    }

    div:nth-child(3) {
      letter-spacing: -0.23px;
      font-size: 12px;
      color: #666666;
    }
  }

  .title_list {
    position: absolute;
    top: 48px;
    right: 2%;
    background: #fff;
    width: 25%;
    padding: 0.1rem;
    z-index: 14;
    border-radius: 5px;
    box-shadow: #ccc 3px 3px 4px;
    color: #333;
  }

  .title_list::after {
    display: block;
    content: "";
    border-width: 6px 6px 6px 6px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;

    /* 定位 */
    position: absolute;
    right: 3%;
    top: -11px;
  }

  .title_list > li {
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    float: right;
    font-size: 14px;
    color: #333;
    text-align: center;
  }

  .title_list > li::before {
    margin-right: 10px;
    color: #4a73c5;
  }

  .header > div {
    font-size: 16px;
    padding: 0.2rem;
    height: 1.22rem;
    display: flex;
    line-height: 1.22rem;
    background: #fff;
  }

  .header > div > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 0.2rem;
  }

  .header > div {
    font-size: 14px;
    flex: 1;
    line-height: 0.5rem;
  }

  .header > div > p {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header > div > div {
    display: flex;
    flex-direction: column;
    flex: 2;
  }

  .header > div > p > span > small {
    margin-left: 10px;
  }

  .hong {
    background: #fe3959 !important;
  }

  .lv {
    background: #04c67d !important;
  }

  .lan {
    background: #3d71ff !important;
  }

  .hei {
    color: #333;
  }

  .my_btn button {
    height: .6rem;
    font-size: 12px;
    background: #fff;
  }

  .blue {
    border: 1px solid #6c2dfe;
    color: #6c2dfe
  }

  .yellow {
    border: 1px solid #ECA400;
    color: #ECA400;
  }

  .pullList {
    display: inline-flex;

    > span {
      width: 0.6rem;
      height: 0.6rem;
      line-height: 0.6rem;
      padding: 0;
      border-radius: 50%;
      text-align: center;
      color: #fff;
      //background-color: #6c2dfe;
      margin: 0 2px;
    }

    > small {
      height: 0.4rem;
      line-height: 0.4rem;
      /* width: 1.6rem; */
      margin-left: 0.2rem;
    }

    .span1 {
      background-color: #fe3959;
    }
  }

  .square {
    display: inline-block;
    width: 0.48rem;
    height: 0.48rem;
    line-height: 0.48rem;
    text-align: center;
    margin-right: 0.06rem;
    color: #fff;
    font-size: 0.3rem;
    font-weight: 600;
    border-radius: 0.1rem;
  }

  .operator {
    font-size: 0.4rem;
    color: #666;
    float: left;
    line-height: 0.6rem;
    width: 0.4rem;
    text-align: center;
  }

  .bose {
    display: inline-block;
    width: 0.6rem;
    line-height: 0.6rem;
    height: 0.6rem;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    margin: 2px 2px;
    font-size: 0.3rem;
  }

  .pullList {
    position: relative;
    margin: 0 8px 0 0;
  }

  .eggNum {
    float: left;
    background: #FE3959 !important;
    font-size: 0.3rem;
  }
</style>





