<template>
  <div class="page">
    <my-header></my-header>
    <div class="header">
      <div class="AGitem">
        <span><img class="icon" src="../../../assets/base/zhanhu.png"> <i>主账户</i></span>
        <span v-if="selectData.balance">{{selectData.balance}}</span>
        <mt-spinner style="margin-top:25px" v-else type="snake" :size="5"></mt-spinner>
        <!-- <mt-spinner v-else type="snake" :size="5"></mt-spinner> -->
      </div>
      <div class="AGitem" @click="games('ag')">
        <span><img class="icon" src="../../../assets/AG.png"> <i>AG</i></span>
        <span v-if="selectData.ag" class="mint">{{selectData.ag}}</span>
        <mt-spinner style="margin-top:25px" v-else type="snake" :size="5"></mt-spinner>
      </div>
      <div class="AGitem" @click="games('sb')">
        <span><img class="icon" src="../../../assets/shenbo.png"><i>申博&老虎机</i></span>
        <span v-if="selectData.sb" class="mint">{{selectData.sb}}</span>
        <mt-spinner style="margin-top:25px" v-else type="snake" :size="5"></mt-spinner>
      </div>
      <div class="AGitem" @click="games('ky')">
        <span><img class="icon" src="../../../assets/ky.png"><i>开元</i></span>
        <span v-if="selectData.ky" class="mint">{{selectData.ky}}</span>
        <mt-spinner style="margin-top:25px" v-else type="snake" :size="5"></mt-spinner>
      </div>
      <div class="AGitem" @click="games('ky')" v-if="selectData.frozen!='0.00'">
        <span><img class="icon" src="../../../assets/dongjie.png"><i>交易中</i></span>
        <span>{{selectData.frozen}}</span>
        <!-- <mt-spinner style="margin-top:25px" v-else type="snake" :size="5"></mt-spinner> -->
      </div>
      <p class="postionL">
        <span v-if="selectData.total || selectData.total === 0">
          总金额:
          <span style="color:red;padding:0 0.1rem">{{selectData.total | fmoney}}</span>
          <span>元</span>
        </span>
        <mt-spinner class="Right" v-else type="snake" :size="5"></mt-spinner>
      </p>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header";
  import k from "kiana-js";
  import {my_balance_api} from "@/common/api";
  import {Toast, Indicator} from "mint-ui";

  export default {
    components: {
      MyHeader
    },
    data() {
      return {
        selectData: {},
        isLogin: "" // 是否登录
      };
    },
    created: function () {
      this.isLogin = sessionStorage.getItem("isLogin");

      my_balance_api().then(res => {
        if (res.code === 200) {
          this.selectData = res.data;
        }
      });
    },
    methods: {
      games(str) {
        if (k.isWx()) {
          //通过正则表达式匹配ua中是否含有MicroMessenger字符串
          MessageBox({
            title: "提示",
            message: "由于微信禁止访问外部网站，请下载APP进行游戏",
            confirmButtonText: "下载",
            showCancelButton: true
          })
            .then(action => {
              if (action === "confirm") {
                this.$router.push("download");
              }
            })
            .catch(res => {
            });
        } else {
          if (this.isLogin == "false") {
            MessageBox.confirm("您还未登录")
              .then(action => {
                this.$router.push("login");
              })
              .catch(res => {
              });
          } else if (this.isLogin == "yes") {
            MessageBox.confirm("正式会员才可以使用该功能", "提示", {
              confirmButtonText: "成为会员"
            })
              .then(action => {
                this.$router.push("reg");
              })
              .catch(res => {
              });
          } else {
            this.$router.push({
              name: "Transfer",
              params: {
                msg: str
              }
            });
          }
        }
      },
    },
    mounted() {
      document.body.style.background = "#11162C";
    },
    beforeDestroy() {
      document.body.style.background = "#fff";
    }
  };
</script>

<style scoped>
  .Right {
    right: 0px;
    top: 10px;
    position: absolute;
  }

  .postionL span {
    text-align: right;
  }

  .postionL {
    text-align: right;
    font-size: 14px;
    color: #fff;
    line-height: 40px;
    position: relative;
  }

  .header div span {
    font-size: 14px;
    color: #fff;
    line-height: 45px;
  }

  .AGitem {
    position: relative;
    height: 70px;
  }

  .header .AGitem span {
    line-height: 70px;
    display: inline-block;
  }

  .AGitem i {
    font-size: 14px;
    font-style: normal;
    color: #fff;
    position: absolute;
    top: 0;
    left: 60px;
  }

  .icon {
    width: 48px;
    height: 48px;
    display: inline-block;
    margin-top: 10px;
  }

  .header {
    padding: 0.3rem;
  }

  .header div {
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid #18203d;
  }

  .mint {
    position: relative;
    padding: 0 15px;
    cursor: pointer;
  }

  .mint::after {
    border: solid 2px #c8c8cd;
    border-bottom-width: 0;
    border-left-width: 0;
    content: " ";
    top: 50%;
    right: 0px;
    position: absolute;
    z-index: 99;
    width: 5px;
    height: 5px;
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
  }
</style>
