<template>
  <div class="page">
    <mt-header title="客服"></mt-header>
    <iframe id="show-iframe" frameborder=0 name="showHere" scrolling=auto src="/api/other/kefu"></iframe>
  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header";

  export default {
    data() {
      return {}
    },
    mounted() {
      const oIframe = document.getElementById('show-iframe');
      const deviceWidth = document.documentElement.clientWidth;
      const deviceHeight = document.documentElement.clientHeight;
      oIframe.style.width = deviceWidth + 'px';
      oIframe.style.height = deviceHeight - 110 + 'px';
    },
    methods: {},
    components: {
      MyHeader
    }
  }
</script>

<style scoped>

</style>
