<template>
  <div class="login1">
<!--    <div class="header" v-if="closeHeader">-->
    <div class="header">
      全部活动
    </div>
    <div class="body" :class="closeHeader?'default':'closeHeader'">
      <div v-for="(item,i) in activetyList" :key="i" @click="go(item)">
        <img :src="item['image_app']" alt="">
        <p>
          <span>{{item.title}}</span>
          <small>{{item['stime'].slice(0,11)}}~{{item['etime'].slice(0,11)}}</small>
        </p>
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header";
  import {Toast} from "mint-ui";
  import {activity_list_api} from "@/common/api";
  import {shiwan} from "@/common/config";

  export default {
    props: ['closeHeader'],
    created() {
      activity_list_api().then(res => {
        if (res.code === 200) {
          this.activetyList = res.data;
        } else {
          Toast(res.msg);
        }
      });
    },
    data() {
      return {
        page: 0,
        listEnd: false,
        loading: false,
        activetyList: []
      };
    },
    mounted() {
      document.body.style.background = "#f7f7f7";
    },
    beforeDestroy() {
      document.body.style.background = '#fff'
    },
    methods: {

      go(item) {
        if (item.type === "每日签到") {
          this.$router.push("signin");
        } else {
          shiwan(this.$router, 'PromotionDetail', item.id)
        }
      }
    },
    components: {
      MyHeader
    }
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  .login1 {
    position: relative;
    font-size: 15px;
    .header {
      height: 55px;
      // position: absolute;
      // top: 0;
      // left: 0;
      // right: 0;
      background: #FFFFFF;
      font-size: 18px;
      color: #333333;
      letter-spacing: -0.25px;
      line-height: 55px;
      text-indent: 15px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .closeHeader {
      top: 0;
      padding: 0 0 50px;
    }

    .default {
      top: 51px;
      padding: 15px;
    }

    .body {
      padding-left: 0.2rem;
      padding-right: 0.2rem;
      // position: absolute;
      // left: 0;
      // right: 0;

      div {
        height: 210px;
        margin-bottom: 15px;
      }

      p {
        width: 100%;
        height: 70px;
        background: #fff;
        color: #fff;
        font-size: 14px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      span {
        width: 100%;
        display: inline-block;
        text-indent: 15px;
        font-size: 16px;
        color: #333333;
        letter-spacing: -0.23px;
        line-height: 45px;
        font-weight: bold;
      }

      small {
        width: 100%;
        display: inline-block;
        text-indent: 15px;
        font-size: 12px;
        color: #333333;
        line-height: 12px;
        letter-spacing: -0.17px;
      }

      img {
        width: 100%;
        height: 140px;
        min-height: 140px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }
  }
</style>
