<template>
  <div style="background: rgba(242, 242, 242, 1);width: 7.5rem; min-height:15.2rem;">
    <mt-header class="my-header2"
               style="color: #fff!important;"
               title="链接开户">
      <mt-button slot="left" icon="back" @click.native="backto"></mt-button>
    </mt-header>
    <div class="type">
      <!-- <mt-radio
         title="类型"
         v-model="value"
         :options="['代理', '会员']">
       </mt-radio>-->
    </div>
    <mt-field
      label="备注"
      placeholder="请输入备注"
    />
    <mt-field
      label="返点"
      v-model="rangeValue"
      placeholder="6-18位数字、字母或其组合"
    />
    <div class="rangeBox">
      <div style="width: 75%;float: right">
        <mt-range style="width: 90%;margin-left: 5%;" v-model="rangeValue">
          <div style="padding-right: 0.2rem;" slot="start">10</div>
          <div style="padding-left: 0.2rem;" slot="end">2900</div>
        </mt-range>
      </div>
    </div>
    <p class="linkTips">提示：用户奖金组设置成功后，只可调高，不可调低</p>
    <lay-button @click="makeLink"
                :block="true"
                :full="true"
                style="width: 90%;margin-left: 5%"
                theme="positive"
    >生成链接
    </lay-button>
  </div>
</template>

<script>
  import {Cell, Radio} from 'mint-ui';
  import LayButton from "@/vlayui/LayButton";

  export default {
    components: {
      LayButton,
    },
    data() {
      return {
        rangeValue:''
      }
    },
    name: "addLink",
    methods: {
      backto() {
        this.$router.push("createUserCenter");
      },
      makeLink(){

      },
    }
  }
</script>

<style scoped>
  .type {
    width: 100%;
    height: 1rem;
    background: #fff;
    font-size: 15px;
    color: #333;
  }

  .mt_1 {
    margin-top: 0.1rem;
  }

  .rangeBox{
    background: #fff;
    font-size: 0.3rem;
    line-height: 1rem;
    height: 1rem;
    padding:0.2rem 0.1rem 0  0.1rem;
  }

  .linkTips {
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.3rem;
    color: #999;
    text-indent: 0.2rem;
  }
</style>
