<template>
  <!--  <div id="createUserCenter" style="background: red;height: 100%;width: 100%;" class="grayPage">-->
  <div style="background: rgba(242, 242, 242, 1);width: 100%;min-height: 15.2rem;">
    <mt-header style="color: #fff!important;" class="my-header2" title="开户管理">
      <mt-button slot="left" icon="back" @click.native="backto"></mt-button>
      <!--      <mt-button slot="right" @click.native="$router.push('/quickAdd')">快速添加</mt-button>-->
    </mt-header>
    <div style="background: #fff;height: 60px;">
      <span class="accountOperation" @click="addLink">
        <i class="iconfont icon-shuangsechangyongtubiao-" style="font-size:.6rem;color: #6C2DFE;"/>
        创建链接
      </span>
      <span class="accountOperation" @click="addMember">
        <i class="iconfont icon-shuangsechangyongtubiao-" style="font-size:.6rem;color: #6C2DFE ;"/>
        创建用户
      </span>
    </div>

    <Button @click="addLinkItem">+</Button>

    <div class="linkItem" v-for="(item,index) in linkList" :key="index">
      <div class="fistLine">
        <span class="left title">{{item.title}}</span>
        <span class="left" style="width: 10%;font-size: 12px;">
          <i class="iconfont icon-shuangsechangyongtubiao-"/>
        </span>
        <span class="left" style="width: 10%;font-size: 12px;">
          <i class="iconfont icon-shuangsechangyongtubiao-"/>
        </span>
      </div>
      <div class="secondLine">
        <span>链接:{{item.link}}</span>
        <span class="right" style="margin-right:0.4rem;color: #FE3959;">复制</span>
      </div>
      <div class="thirtyLine">
        <div class="left" style="width: 22%">
          <span>类型:</span>
          <span>{{item.type}}</span>
        </div>
        <div class="left" style="width: 27%;">
          <span>返点:</span>
          <span>{{item.rebate}}</span>
        </div>
        <div class="left" style="width: 25%">
          <span>注册人数:</span>
          <span>{{item.count}}</span>
        </div>
        <div class="right" style="width: 25%;text-align: center;">
          <span style="margin-right: 10%">{{item.time}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header2";
  import moment from "moment/moment";
  import {
    invitation_list_api,
    get_agent_team_topbar, // 头部信息
    home_api,
    remove_invitation_list_api,
    create_user_api,
    get_default_invitation,
    get_register_number,

    get_createAccount_list,
    add_createAccount_list_item,
  } from "@/common/api";
  import {Toast, Indicator, MessageBox} from "mint-ui";
  import copy from "copy-to-clipboard";
  import qrcodejs2 from "qrcodejs2";
  import VueQArt from "vue-qart";
  import {baseUrl} from "@/config/app.config";
  import Swiper from "swiper";
  import {setTimeout} from "timers";
  import {debug, saveAsImage} from "util";
  import ComposeCanvas from "@/utils/canvas/canvas";

  export default {
    created() {
      this.getLinkList()
    },
    mounted() {
    },
    data() {
      return {
        linkList: [],

        topbar: {},
        url: "",
        registerMember: "0",
        key: Date.now(),
        selected: "1",
        page: 0,
        formData: {
          username: "",
          password: "a123456"
        },
        invi: "",
        text: ""
      };
    },
    methods: {
      addLink(){
        this.$router.push("addLink");
      },
      addMember(){
        this.$router.push("addMember");
      },
      getLinkList() {
        get_createAccount_list().then(res => {
          console.log(res);
          if (res.code === 200) {
            this.linkList = res.data.invitation;
            this.linkList.forEach(item => {
              item.time = moment.unix(item.add_time).format("YY-MM-DD")
            })
          }
        });
      },
      addLinkItem() {
        let data = {
          title: 'aaaaaaaaaaaa',
          rebate: 0.5,
          type: 1,
        }
        add_createAccount_list_item(data).then(res => {
          if (res.code === 200) {
            Toast('添加成功')
            this.getLinkList()
          } else {
            Toast(res.msg)
          }
        });
      },
      backto() {
        this.$router.push("agentInfo");
      },
      invitation_list() {
        if (this.listEnd || this.loading) return;
        Indicator.open();
        this.loading = true;
        invitation_list_api({page: this.page + 1}).then(res => {
          Indicator.close();
          this.loading = false;
          if (res.code === 200) {
            this.page = res.data.page;
            if (res.data.list.length > 0) {
              this.lists = this.lists.concat(res.data.list);
            } else {
              this.listEnd = true;
              res.data.page !== 1 ? "" : "";
            }
          } else {
            Toast(res.msg);
          }
        });
      },
      removeItem(item) {
        MessageBox.confirm("确定要删除吗?").then(() => {
          return remove_invitation_list_api({id: item.id}).then(res => {
            if (res && res.code === 200) {
              Toast("删除成功");
              this.lists = this.lists.filter(i => i.id !== item.id);
            } else {
              Toast(res.msg);
            }
          });
        });
      },
      copyLink(item) {
        copy(item.url);
        Toast("复制成功");
      },

      copyText() {
        let text = `${this.invi}`;
        copy(text);
        Toast("复制成功");
        this.popupVisible = false;
      },

      createUser() {
        return create_user_api(this.formData).then(res => {
          if (res && res.code === 200) {
            this.popupVisible = true;
          } else {
            Toast(res.msg);
          }
        });
      }
    },
    watch: {},
    components: {
      MyHeader,
      VueQArt
    }
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  .accountOperation {
    width: 50%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    float: left;
  }

  .linkItem {
    width: 94%;
    height: 90px;
    background: #fff;
    border-radius: 8px;
    margin: 3%;
    text-indent: 0.3rem;
    padding: 4px 0;

    .fistLine {
      width: 100%;
      height: 38px;
      color: #333;
      font-size: 16px;
      line-height: 38px;
      font-weight: bold;
    }

    .secondLine {
      width: 100%;
      height: 26px;
      color: #666;
      font-size: 13px;
      line-height: 22px;
    }

    .thirtyLine {
      width: 100%;
      height: 26px;
      color: #999;
      font-size: 12px;
      line-height: 26px;
    }

    .title{
      display: block;
      width: 75%;
      float: left;
      overflow: hidden;
      word-break:keep-all;
      white-space:nowrap;
      text-overflow:ellipsis;
    }

  }

</style>
