<template>
  <div>
    <my-header :title="activetyList.title"/>
    <div style="padding: 15px">
      <img :src="activetyList.image_app"
           alt=""
           class="borderRadius"
           width="100%" />
      <div class="login promotionDetail">
<!--        <h4 style="width: 100%;text-align: center;">{{activetyList.title}}</h4>-->
        <div v-html="activetyList.content" ref="content_img" />
      </div>
      <!--<mt-button type="danger"
                 size="large"
                 v-if="str"
                 @click="go(activetyList.type)"
                 :disabled="!active">{{str}}</mt-button>-->

    </div>
  </div>

</template>

<script type="text/ecmascript-6">
import MyHeader from "@/bass/header";
import { activity_detail_api } from "@/common/api";
import { Toast } from "mint-ui";
import { debug } from 'util';

export default {
  data () {
    return {
      activetyList: {},
      str: "",
      active: false
    };
  },
  updated(){
    this.$nextTick(()=>{
      let img = this.$refs.content_img.getElementsByTagName("img")
     img[0] && (img[0].style.width='100%')
     img[1] && (img[1].style.width='100%')
    })
  },
  created () {
    this.isLogin = sessionStorage.getItem("isLogin")
    activity_detail_api({ id: this.$route.query.id }).then(res => {
      if (res.code === 200) {
        this.activetyList = res.data
      }
      console.log('this.activetyList',this.activetyList);
      if (this.isLogin == "no") {
        // res.data.type == "注册送礼" ? (this.str = "已领取") : "我知道啦";
        this.active = !true;
      } else {
        // res.data.type == "注册送礼" ? (this.str = "去注册") : "我知道啦";
        this.active = true;
      }
      if (res.data.type == "充值优惠") {
        res.data.type == "充值优惠" ? (this.str = "去充值") : "我知道啦";
        this.active = true;
      }
      if (res.data.type == "每日签到") {
        res.data.type == "每日签到" ? (this.str = "去签到") : "我知道啦";
        this.active = true;
      }

      if (res.data.type == "投注送礼") {
        res.data.type == "投注送礼" ? (this.str = "去投注") : "我知道啦";
        this.active = true;
      }
    });
  },

  methods: {
    go (type) {
      if (type == "注册送礼") {
        this.$router.push("reg");
      }
      if (type == "充值优惠") {
        if (
          !sessionStorage.getItem("isLogin") ||
          sessionStorage.getItem("isLogin") != "no"
        ) {
          Toast("请登录后操作");
        } else {
          this.$router.push("recharge");
        }
      }

      if (type == "每日签到") {
        if (
          !sessionStorage.getItem("isLogin") ||
          sessionStorage.getItem("isLogin") != "no"
        ) {
          Toast("请登录后操作");
        } else {
          this.$router.push("signin");
        }
      }

      if (type == "投注送礼") {
        if (
          !sessionStorage.getItem("isLogin") ||
          sessionStorage.getItem("isLogin") != "no"
        ) {
          Toast("请登录后操作");
        } else {
          this.$router.push("hall");
        }
      }
    }
  },
  mounted () {
    document.body.style.background = "#11162C";
  },
  beforeDestroy () {
    document.body.style.background = "#fff";
  },
  components: {
    MyHeader
  }
};
</script>

<style scoped>
.promotionDetail {
  color: #333;
  padding-bottom: 1.3rem;
}

.borderRadius{
  border-radius: 8px;
}

.fixed-img {
  position: fixed;
  top: 51px;
  left: 0;
  right: 0;
}

img {
  width: 100%;
}

pre {
  color: #fff;
  white-space: pre-wrap; /*css-3*/
  white-space: -moz-pre-wrap; /*Mozilla,since1999*/
  white-space: -pre-wrap; /*Opera4-6*/
  white-space: -o-pre-wrap; /*Opera7*/
  word-wrap: break-word; /*InternetExplorer5.5+*/
  padding-bottom: 1.3rem;
}

button {
  position: fixed;
  left: 4%;
  bottom: -7px;
  width: 92%;
}
</style>
