<template>
  <div class="sing-pack">
    <div class="signIn-page">
      <div class="sign-bg"></div>
      <div class="signIn-con" id="SignIn">

      </div>
      <span class="iconfont icon-fork" @click="closeX"></span>
      <div class="Signinrules">
        <ul>
          <li>签到规则：</li>
          <li>1. 用户必须连续签到才能获得相应的奖励</li>
          <li>2. 用户间断1天及以上没有签到，连续签到天数清零</li>
          <li>3. 用户签到成功提示【签到成功，彩金已入账，请查收哦！】</li>
          <li>4. 活动参与界面返回到----【活动详情】</li>
        </ul>
      </div>

      <div class="footer">
        <p>&#169 2010-2018 版权所有</p>
        <p>郑重提示：彩票有风险，投注需谨慎。不得向未满18周岁的青少年出售彩票</p>
      </div>

      <div v-if="popShow">
        <div class="signIn-pop-mask">

        </div>
        <div class="signIn-pop">
          <p v-if="money=='0.00'"></p>
          <p v-else>{{money}}元

            <br>彩金已到账,请查收

          </p>

          <button class="signIn-pop-btn" @click="closePop">确定</button>
        </div>
      </div>
    </div>
  </div>

</template>

<script type="text/ecmascript-6">
import { get_sign_show, post_signed } from "@/common/api";

import SignIn from "@/utils/SignIn";

export default {
  created() {},
  mounted() {
    setTimeout(() => {
      this.initData();
    }, 1000);
  },
  data() {
    return {
      money: "",
      popShow: false,
      showScroll: false,
      showPop: false,
      calData: {
        sigin: 0,
        lasted: 0,
        list: []
      }
    };
  },
  methods: {
    closeX() {
      window.history.back();
    },
    closePop() {
      this.popShow = false;
    },
    initData() {
      get_sign_show().then(res => {
        if (res && res.code === 200) {
          let { sigin, lasted, list } = res.data;
          if (list.length > 0) {
            list = list.map(item => Number(item));
          }
          this.data = {
            sigin,
            lasted,
            list
          };
          this.renderCal();
        }
      });
    },
    signedEvent() {
      post_signed().then(res => {
        if (res && res.code === 200) {
          this.money = res.data;
          console.log(this.money);
          this.initData();
          this.popShow = true;
          //  (parseFloat(this.money)>0) && (this.popShow = true)
        }
      });
    },
    renderCal() {
      let d = new Date();
      let year = d.getFullYear();
      let month = d.getMonth() + 1;

      SignIn.render({
        year: `${year}`,
        month: `${month}`,
        con: "SignIn",
        signed: this.data.list,
        continueDay: this.data.lasted,
        signing: this.data.sigin === 0,
        singCallback: this.signedEvent
      });
    }
  },
  components: {}
};
</script>

<style lang="less" rel="stylesheet/less">
// @import "../../style/global";
.sing-pack {
  background: url(/static/sign_bg.png);
  padding-top: 100px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
}
.xxclons {
  position: absolute;
  width: 10px;
  height: 10px;
}
.signIn-pop-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.7);
}
.Signinrules {
  background: #ffa919;
  padding: 0.3rem 0.3rem;
  margin-top: 20px;
}
.footer {
  background: #ed9a0f;
  padding: 0.2rem 0;
}
.footer p {
  line-height: 25px;
  font-size: 10px;
  color: #fff;
  text-align: center;
}

.icon-fork {
  width: 20px;
  height: 20px;
  right: 10px;
  position: absolute;
  top: 10px;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  color: rgb(153, 153, 153);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Signinrules li {
  font-size: 12px;
  color: #fff;
  line-height: 30px;
}
.signIn-pop {
  position: fixed;
  top: 40%;
  left: 50%;
  z-index: 10000;
  width: 300px;
  height: 440px;
  margin-left: -150px;
  margin-top: -220px;
  background: url("/static/pop_pc.png") no-repeat;
  background-size: 100%;
  .signIn-pop-btn {
    position: absolute;
    left: 50%;
    bottom: 40px;
    cursor: pointer;
    float: right;
    width: 140px;
    height: 30px;
    margin-left: -70px;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #ff956e;
    border: none;
    border-radius: 45px;
    background: #fff;
    letter-spacing: 2px;
    box-shadow: 5px 6px 10px 1px rgba(255, 193, 162, 0.5);
  }

  p:nth-child(1) {
    width: 100%;
    position: absolute;
    text-align: center;
    height: 50px;
    bottom: 130px;
    font-size: 28px;
    font-weight: 600;
    color: rgba(255, 77, 63, 1);
    line-height: 50px;
    letter-spacing: 1px;
  }
  p:nth-child(2) {
    position: absolute;
    width: 100%;
    bottom: 100px;
    text-align: center;
    height: 30px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 30px;
    letter-spacing: 1px;
  }
}

.signIn-page {
  // background: url("/static/sign_bg.png") no-repeat center;
  // position: relative;
}

.signIn-con {
  margin-top: 200px;
}

.signIn-main {
  background: #fff;
  border-radius: 12px;
  margin: 0 0.3rem;
  padding: 0 0.3rem;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);

  .sign-btn-con {
    .continue {
      font-size: 18px;
      font-weight: bold;
      color: rgba(51, 51, 51, 1);
    }
    .red {
      display: inline-block;

      font-size: 18px;
      color: #d54b25;
    }
    button {
      cursor: pointer;
      float: right;
      margin-top: 20px;
      width: 100px;
      height: 40px;
      line-height: 40px;
      font-weight: 500;
      text-align: center;
      color: rgba(255, 255, 255, 1);
      border: none;
      border-radius: 45px;
      background: linear-gradient(to bottom right, #ffddbb, #ffc1a2);
      box-shadow: 5px 6px 10px 1px rgba(255, 193, 162, 0.5);
    }
    .active {
      background: -webkit-linear-gradient(
        left,
        #ffa512,
        #ffcf03
      ); /* Safari 5.1 - 6.0 */
      background: -o-linear-gradient(
        right,
        #ffa512,
        #ffcf03
      ); /* Opera 11.1 - 12.0 */
      background: -moz-linear-gradient(
        right,
        #ffa512,
        #ffcf03
      ); /* Firefox 3.6 - 15 */
      background: linear-gradient(to right, #ffa512, #ffcf03); /* 标准的语法 */
    }
  }
  .year-month-span {
    display: block;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
  }
  table {
    width: 100%;
    text-align: center;
  }
  thead {
    background: #f2f2f2;
    tr {
      height: 42px;
      line-height: 42px;
      font-size: 18px;
      font-weight: 500;
      color: rgba(153, 153, 153, 1);
    }
  }
  tbody {
    td {
      font-size: 14px;
      font-weight: 500;
      color: rgba(51, 51, 51, 1);
      padding: 5px 0;
      line-height: 30px;
      position: relative;
    }
    .signed {
      span {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -15px;
        margin-top: -15px;
        height: 30px;
        line-height: 30px;
        width: 30px;
        color: #fff;
        border-radius: 90px;
        background: linear-gradient(to bottom right, #ff9b43, #ff6b23);
        box-shadow: 5px 6px 10px 1px rgba(255, 107, 35, 0.3);
      }
    }
  }
}
</style>
