<template>
  <div :class="classObject">
    <div class="lay-card-head" @click="headClick">
      <span class="lay-card-head-title" v-html="title"></span>
      <i class="lay-card-head-allow-right" v-show="arrow"></i>
      <span class="lay-card-head-tip" :class="{'has-arrow':arrow}" style="color:#FFCE6F">{{tip}}</span>
    </div>
    <div class="lay-card-body">
      <slot></slot>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      arrow: Boolean, // true or false
      title: String,
      tip: String,
      border: Boolean, // true or false
    },
    computed: {
      classObject: function () {
        let obj = {
          'lay-card': true,
        };

        if (this.border) {
          obj[`lay-card-border`] = true;
        }

        return obj;
      }
    },
    methods: {
      headClick() {
        this.$emit("head-click");
      }
    }
  }
</script>

<style scoped lang="less" rel="stylesheet/less">
  .lay-card {
    font-size: 14px;
    list-style: none;
    border-radius: 4px;

    .lay-card-head {
      border-bottom: 1px solid #e8e8e8;
      padding: 18px 16px;
      border-radius: 4px 4px 0 0;
      font-size: 16px;
      line-height: 16px;
      background: #fff;
      position: relative;
    }

    .lay-card-body {
      padding: 16px;
      background: #fff;
      color: #333;
    }

    .lay-card-head-title {
      font-size: 15px;
      color: #333;
      text-align: right;
      vertical-align: middle;
    }

    .lay-card-head-tip {
      font-size: 14px;
      color: #F96B53;
      text-align: right;
      float: right;
      vertical-align: middle;
    }

    .has-arrow {
      margin-right: 14px;
    }
  }

  .lay-card-head-allow-right {
    float: right;

    &:after {
      border: solid 2px #999999;
      border-bottom-width: 0;
      border-left-width: 0;
      content: " ";
      top: 50%;
      right: 20px;
      position: absolute;
      width: 5px;
      height: 5px;
      -webkit-transform: translateY(-50%) rotate(45deg);
      transform: translateY(-50%) rotate(45deg);
    }
  }

  .lay-card-border {
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
  }

</style>

