<template>
  <div class="throwInto">
    <p class="chouma">
      <img :src="active==i?item.da:item.xiao" alt="" v-for="(item,i) in images" :key="i" @click="clickImg(i,item)">
    </p>
    <p class="padded">
      <span>{{num}}</span> 注共
      <span style="color:#fe3959">{{num*money}}</span> 元
    </p>
    <div class="throwIntoMoney">
      <i class=" iconfont icon-lajitong" @click="clearData"></i>
      <span>每注<input @input="handleInput" type="number" :value="money">元</span>
      <mt-button type="danger" @click="betting" :disabled='btnDisabled'>投注</mt-button>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import Slider from "@/bass/slider";
  import bus from "@/common/bus";
  import {lotteryBetting_api} from "@/common/api";
  import {Toast} from "mint-ui";
  import {successAudio, failureAudio} from '../../../bettingAudio';

  export default {
    props: {periods: Object, close: Boolean},
    data() {
      return {
        percent: 10,
        num: 0,
        maxScale: 1,
        scale: 0, // 比例值
        selected_play: [], // 投注号码
        active: 0, // 点击图片
        money: 10, // 单注金额
        playId: "", //接收兄弟组件参数
        clear_data: false,
        throwIntoShow: false,
        fanDian: false, // 返点滑块设置
        btnDisabled: false,
        picherActive: "",
        images: [
          {
            xiao: "../../../../static/touzhu/ma10.png",
            da: "../../../../static/touzhu/activema10.png",
            value: 10
          },
          {
            xiao: "../../../../static/touzhu/ma100.png",
            da: "../../../../static/touzhu/activema100.png",
            value: 100
          },
          {
            xiao: "../../../../static/touzhu/ma500.png",
            da: "../../../../static/touzhu/activema500.png",
            value: 500
          },
          {
            xiao: "../../../../static/touzhu/ma1000.png",
            da: "../../../../static/touzhu/activema1000.png",
            value: 1000
          },
          {
            xiao: "../../../../static/touzhu/ma5000.png",
            da: "../../../../static/touzhu/activema5000.png",
            value: 5000
          },
          {
            xiao: "../../../../static/touzhu/ma10000.png",
            da: "../../../../static/touzhu/activema10000.png",
            value: 10000
          }
        ],
      };
    },
    methods: {
      choose(arr, size) {
        let allResult = [];
        (function fn(arr, size, result) {
          let arrLen = arr.length;
          if (size > arrLen) {
            return;
          }
          if (size === arrLen) {
            allResult.push([].concat(result, arr));
          } else {
            for (let i = 0; i < arrLen; i++) {
              let newResult = [].concat(result);
              newResult.push(arr[i]);
              if (size === 1) {
                allResult.push(newResult);
              } else {
                let newArr = [].concat(arr);
                newArr.splice(0, i + 1);
                fn(newArr, size - 1, newResult);
              }
            }
          }
        })(arr, size, []);
        return allResult;
      },
      // input输入正整数
      handleInput(e) {
        this.money = e.target.value.replace(/[^\d]/g, "");
      },
      betting() {
        if (this.num === 0) {
          if (
            this.picherActive == "二全中" ||
            this.picherActive == "二中特之中二" ||
            this.picherActive == "二中特之中特" ||
            this.picherActive == "中二特" ||
            this.picherActive == "特串" ||
            this.picherActive == "二连肖" ||
            this.picherActive == "二连尾"
          ) {
            Toast("请至少选择两个号码");
            return;
          } else if (
            this.picherActive == "三全中" ||
            this.picherActive == "三中二" ||
            this.picherActive == "三连肖" ||
            this.picherActive == "三连尾"
          ) {
            Toast("请至少选择三个号码");
            return;
          } else if (this.picherActive == "四连肖" || this.picherActive == "四连尾") {
            Toast("请至少选择四个号码");
            return;
          } else if (this.picherActive == "五连肖" || this.picherActive == "五不中") {
            Toast("请至少选择五个号码");
            return;
          } else if (this.picherActive == "六不中") {
            Toast("请至少选择六个号码");
            return;
          } else if (this.picherActive == "七不中") {
            Toast("请至少选择七个号码");
            return;
          } else if (this.picherActive == "八不中") {
            Toast("请至少选择八个号码");
            return;
          } else if (this.picherActive == "九不中") {
            Toast("请至少选择九个号码");
            return;
          } else if (this.picherActive == "十不中") {
            Toast("请至少选择十个个号码");
            return;
          } else if (this.picherActive == "十一不中") {
            Toast("请至少选择十一个号码");
            return;
          } else if (this.picherActive == "十二不中") {
            Toast("请至少选择十二个号码");
            return;
          } else {
            Toast("您还没有选择投注号码哟");
            return;
          }
        }
        if (this.money === 0) {
          Toast("金额不能是零哟");
          return;
        }
        this.selected_play.sort((a, b) => a - b);
        // 投注事件
        let bettingData = Object.assign(
          {},
          {money: this.money, play_id: this.playId, rebate: this.scale, selected_play: String(this.selected_play)},
          this.periods
        );

        this.btnDisabled = true;
        lotteryBetting_api(bettingData).then(res => {
          if (res.code === 200) {

            sessionStorage.setItem("mask", res.data.mask);
            this.selected_play = [];
            this.playId = [];
            this.num = 0;
            this.clearData();
            this.$emit("closeIndex", false);
            bus.$emit('clearSelected', false);  //清除num值
            Toast({message: res.msg, position: "bottom"});
            successAudio();

          } else {

            failureAudio();
            if (res.code === 401) {
              MessageBox.confirm("您还未登录", "提示", {closeOnClickModal: false})
                .then(action => {
                  this.$router.push("login");
                })
                .catch(res => {
                });
            } else {
              Toast(res.msg);
            }
          }
          this.btnDisabled = false;

        });
      },
      // 删除投注数据
      clearData() {
        this.clear_data = true;
        bus.$emit("clear_data", this.clear_data);
      },
      child(e) {
        const ratio = 1 / this.maxScale;
        let percent = (e / ratio).toFixed(2) * 100;
        while (percent % 5 != 0) {
          percent++;
        }
        this.scale = percent / 100;
        bus.$emit("scale", this.scale);
      },
      clickImg(i, v) {
        this.active = i;
        this.money = v.value;
      },
      // 返点显示隐藏
      fanDianShow() {
        this.fanDian = !this.fanDian;
      }
    },
    mounted() {
      bus.$on("playId", msg => {
        // 接收到投注的id号
        if (msg.length > 0) {
          this.id = msg[0];
          this.playId = msg.toString();
        } else {
          this.num = 0;
        }
      });
      bus.$on("present_odds", msg => {
        if (
          this.picherActive == "二全中" ||
          this.picherActive == "二中特之中二" ||
          this.picherActive == "二中特之中特" ||
          this.picherActive == "中二特" ||
          this.picherActive == "特串" ||
          this.picherActive == "二连肖" ||
          this.picherActive == "二连尾"
        ) {
          this.playId = this.id
          this.selected_play = msg;
          this.num = this.choose(msg, 2).length;
        } else if (
          this.picherActive == "三全中" ||
          this.picherActive == "三中二" ||
          this.picherActive == "三连肖" ||
          this.picherActive == "三连尾"
        ) {

          this.num = this.choose(msg, 3).length;
          // console.log(this.choose(msg, 3))
          this.playId = this.id
          this.selected_play = msg;
        } else if (
          this.picherActive == "四连肖" ||
          this.picherActive == "四连尾"
        ) {
          this.num = this.choose(msg, 4).length;
          this.selected_play = msg;
          this.playId = this.id
        } else if (
          this.picherActive == "五连肖" ||
          this.picherActive == "五不中"
        ) {
          this.selected_play = msg;
          this.playId = this.id
          this.num = this.choose(msg, 5).length;
        } else if (this.picherActive == "六不中") {
          this.num = this.choose(msg, 6).length;
          this.selected_play = msg;
          this.playId = this.id
        } else if (this.picherActive == "七不中") {
          this.num = this.choose(msg, 7).length;
          this.selected_play = msg;
          this.playId = this.id
        } else if (this.picherActive == "八不中") {
          this.num = this.choose(msg, 8).length;
          this.selected_play = msg;
          this.playId = this.id
        } else if (this.picherActive == "九不中") {
          this.num = this.choose(msg, 9).length;
          this.selected_play = msg;
          this.playId = this.id
        } else if (this.picherActive == "十不中") {
          this.num = this.choose(msg, 10).length;
          this.selected_play = msg;
          this.playId = this.id
        } else if (this.picherActive == "十一不中") {
          this.num = this.choose(msg, 11).length;
          this.selected_play = msg;
          this.playId = this.id
        } else if (this.picherActive == "十二不中") {
          this.num = this.choose(msg, 12).length;
          this.selected_play = msg;
          this.playId = this.id
        } else if (this.picherActive == '特肖' || this.picherActive == '正肖') {
          console.log(this.picherActive)
          this.num = msg.length;
          this.selected_play = msg;
          this.playId = this.id
        } else {
          this.num = msg.length;
          // this.selected_play = msg;
        }

        // console.log(this.playId);
      });
      bus.$on("picherActive", msg => {
        // 接收兄弟组件传值
        this.picherActive = msg;
      });
    },
    watch: {
      // playId(n) {
      // console.log( n)
      // this.playId = n;
      // console.log(typeof n)
      //  this.num = n.split(",").length
      // }
    },
    components: {Slider}
  };
</script>

<style scoped>
  /* 底部投注 */
  .throwInto {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 11;
  }

  .chouma {
    background: #fff;
    padding: 0.1rem 0.3rem;
    display: flex;
    justify-content: space-between;
  }

  .chouma > img {
    width: 40px;
    height: 40px;
  }

  .padded {
    background: #fffde3;
  }

  .iconfont {
    font-size: 12px;
  }

  .icon-question::before {
    color: #fe3959;
    margin-right: 3px;
  }

  .throwIntoMoney {
    font-size: 14px;
    height: 1rem;
    line-height: 1rem;
    /* text-align: center; */
    background: #fff;
    display: flex;
    justify-content: space-between;
  }

  .throwIntoMoney > button {
    right: 10px;
    top: 0.2rem;
    width: 1.5rem;
    height: 0.6rem;
    background: #ffce6f;
    color: #333;
  }

  .throwIntoMoney > span > input {
    font-style: normal;
    display: inline-block;
    width: 1.5rem;
    height: 0.6rem;
    line-height: 0.6rem;
    background: #f0f0f0;
    border-radius: 5px;
    margin: 0 5px;
    text-align: center;
    border: 0;
  }

  .throwIntoMoney > span {
    margin-left: 1.2rem;
    font-size: 14px;
    color: #666;
  }

  .icon-lajitong:before {
    position: absolute;
    left: 20px;
    font-size: 18px;
    color: #a4a4a4;
  }

  .icon-fandian::after {
    position: absolute;
    margin-left: 20px;
    font-size: 24px;
    color: #fe3959;
  }

  .icon-fork {
    float: right;
    margin-right: 5px;
    color: #c3c3c3;
  }

  .range_box {
    width: 100%;
    height: 1.4rem;
    background: #fff;
    position: fixed;
    bottom: 0;
  }

  .range_box > p {
    background: #fff;
    font-size: 12px;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    color: #666;
  }

  .range_box > div {
    /* padding-bottom: 10px;
      line-height: 1; */
    display: flex;
    justify-content: space-around;
  }

  .range_box > div > span {
    display: inline-block;
    color: #999;
    line-height: 1;
  }

  /* .fandian {
      width: 24%;
      margin-left: 10px;
    } */
  .fandian > i {
    font-style: normal;
    color: #333;
  }

  .range {
    width: 58%;
    position: relative;
    bottom: 0.15rem;
  }

  input[type="range"] {
    position: absolute;

    width: 100%;
    height: 3px;

    padding: 0;
    cursor: pointer;
    border: 0;
    /* border-radius: 50%; */
    outline: 0;
    background-color: #f2f2f2;
    -webkit-appearance: none !important;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    /* height: 15px; */
    /* border-radius: 10px; 将轨道设为圆角的 */
    /* box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112; 轨道内置阴影效果 */
  }

  input[type="range"]:focus {
    outline: none;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    margin-top: -5px; /*使滑块超出轨道部分的偏移量相等*/
    background: #fe3959;
    border-radius: 50%; /*外观设置为圆形*/
    /* border: solid 0.125em rgba(205, 224, 230, 0.5); 设置边框 */
    /* box-shadow: 0 .125em .125em #3b4547; 添加底部阴影 */
  }

  .tooltip {
    font-size: 36px;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 3px;
    text-align: center;
    background-color: #fe3959;
    text-shadow: 0 1px 0 #f3f3f3;
  }
</style>
