<template>
  <div class="app"
       style="font-size:14px">
    <my-header :periods_lotteryid='periods_lotteryid'
               :title='title'
               :personalData='personalData'
               :oneData='oneData'
               :times='times'
               :lottery_type='lottery_type'></my-header>
    <my-main :periods="periods_lotteryid"
             @closeMain="closeMain"
             v-show="mainShow"></my-main>
    <div class="goChat" ref="chatBox" @click="chatBoxClick">
      <img src="../../assets/admin.png" alt="" width="28" height="28">
      <p>
        <span>聊天室</span>
        <small>4154人</small>
      </p>
    </div>
  </div>
</template>

<script>
  import {Toast, MessageBox} from "mint-ui";
  import MyHeader from './children/myheader'
  import MyMain from "./children/main";
  import PlayerMsg from "./popUp/playerMsg";
  import {
    lotteryDetail_api,
    lotteryAwardRecordList_api,
    lotteryRoomList_api,
    lotteryRoomDetail_api,
    getLotteryAwardResult_api,
  } from "@/common/api";
  import store from '@/utils/sessionStorage';
  import {mapActions} from 'vuex';

  export default {
    data() {
      return {
        title: "",
        lottery_type: "", //彩种类型
        personalData: {
          money: 0,
          head_img: "",
          username: ""
        },
        headerMsg: {
          money: 0,
          head_img: require("@/assets/admin.png"),
          username: "游客"
        },
        oneData: {},
        times: "", // 秒数转换后的字符
        miao: 0, // 距离封盘秒数
        shaiImgs: {
          // 筛子图片
          se1: "../../../../static/touzhu/se1.png",
          se2: "../../../../static/touzhu/se2.png",
          se3: "../../../../static/touzhu/se3.png",
          se4: "../../../../static/touzhu/se4.png",
          se5: "../../../../static/touzhu/se5.png",
          se6: "../../../../static/touzhu/se6.png"
        },
        periods_lotteryid: {
          //彩种id和期数
          lottery_id: "",
          period: ""
        },
        lottery_id: {}, //彩票id参数
        Time: 0,
        // 期数
        bellStatus: false, //头部区域铃声图标
        mainShow: true, // 投注主页面显示
        showLotteryNumber: true,
        myaudio: "../../static/audio/touzhu.mp3", //铃音
        records: [], //聊天记录列表数据
        userMsg: {}, // 弹框信息
        adminMsg: [], // 管理员信息
        maxOrderId: 0 // 记录列表数据最后一个id值
      };
    },
    created() {
      let isLogin = store.get("isLogin");
      if (isLogin === "false" || !isLogin) {
        this.$router.push("center");
      }
      if (this.$route.params.msg) {
        let item = this.$route.params.msg;

        store.set("lottery", item.lottery_id);
        store.set("lottery_type", item.lottery_type);
        store.set("title", item.lottery_name);
      }

      let lottery_id = store.get("lottery");
      let title = store.get("title");

      this.lottery_type = store.get("lottery_type");
      this.title = title || item.lottery_name;
      this.periods_lotteryid.lottery_id = lottery_id || item.lottery_id;

      this.lottery_id = {
        lottery_id: this.periods_lotteryid.lottery_id
      };

      this.lotteryAwardRecordList(this.lottery_id);

      this.getLotteryData();

      // // 投注总数据
      lotteryDetail_api(this.lottery_id).then(
        res => {
          if (res.code === 200) {
            this.periods_lotteryid.period = res.data.period;
          } else {
            this.$router.push('center');
          }
        }
      );
    },
    mounted() {
      document.body.style.background = '#F2F2F2';

      window.addEventListener('scroll', this.handleScroll)
      // document.body.style.overflow = "hidden";
      // 聊天室弹框数据定时器

    },
    methods: {
      ...mapActions({
        getLotteryData: 'GET_LOTTERY_DATA',
      }),
      // 开奖信息接口
      // 开奖记录列表数据
      lotteryAwardRecordList(id) {
        lotteryAwardRecordList_api(id).then(res => {
          if (res.code === 200) {

            this.personalData = res.data;
            // 本期结束投注时间
            let endTimes = res.data.e_time;
            // 得到结束倒数秒数
            this.miao = res.data.deadline;
            // 定时器2  显示上方倒计时
            if (window.fengpantimer) {
              clearInterval(window.fengpantimer);
            }
            window.fengpantimer = setInterval(() => {
              this.miao--;
              this.times = this.formatSeconds(this.miao);
            }, 1000);

            if (this.lottery_type === "快三") {
              this.personalData.list.forEach(element => {
                if (element.award_number) {
                  element.img = [];
                  for (let i = 0; i < element.award_number.length; i++) {
                    switch (element.award_number[i]) {
                      case "1":
                        element.img.push(this.shaiImgs.se1);
                        break;
                      case "2":
                        element.img.push(this.shaiImgs.se2);
                        break;
                      case "3":
                        element.img.push(this.shaiImgs.se3);
                        break;
                      case "4":
                        element.img.push(this.shaiImgs.se4);
                        break;
                      case "5":
                        element.img.push(this.shaiImgs.se5);
                        break;
                      case "6":
                        element.img.push(this.shaiImgs.se6);
                        break;
                      default:
                        element.img = null;
                        break;
                    }
                  }
                }
              });
            }
            if (this.lottery_type == "PK10") {
              this.personalData.list.forEach(element => {
                if (element.award_number) {
                  // element.award_number = element.award_number.split(",");
                  element.colors = [];
                  for (let i = 0; i < element.award_number.length; i++) {
                    switch (element.award_number[i]) {
                      case "1":
                        element.colors.push({num: 1, color: "#ECCA00"});
                        break;
                      case "2":
                        element.colors.push({num: 2, color: "#3CA2ED"});
                        break;
                      case "3":
                        element.colors.push({num: 3, color: "#606060"});
                        break;
                      case "4":
                        element.colors.push({num: 4, color: "#E8803F"});
                        break;
                      case "5":
                        element.colors.push({num: 5, color: "#20C5D3"});
                        break;
                      case "6":
                        element.colors.push({num: 6, color: "#5C57CC"});
                        break;
                      case "7":
                        element.colors.push({num: 7, color: "#999999"});
                        break;
                      case "8":
                        element.colors.push({num: 8, color: "#FE3959"});
                        break;
                      case "9":
                        element.colors.push({num: 9, color: "#A23F4B"});
                        break;
                      case "10":
                        element.colors.push({num: 10, color: "#5FCC49"});
                        break;
                      default:
                        element.colors = null;
                        break;
                    }
                  }
                }
              });

            }
            this.oneData = res.data.list[0];

            this.personalData.list.shift();
          } else {
            if (res.code == 401) {
              MessageBox.confirm("您还未登录", "提示", {
                closeOnClickModal: false
              })
                .then(action => {
                  this.$router.push("login");
                })
                .catch(res => {
                  // this.$router.push("center");
                });
            } else {
              Toast(res.msg);
            }
            this.personalData = this.headerMsg
          }
        });
      },
      // 关闭投注主页面
      closeMain(msg) {
        this.lotteryAwardRecordList(this.lottery_id);
      },
      // 处理倒计时
      formatSeconds(value) {
        var secondTime = parseInt(value); // 秒
        var minuteTime = 0; // 分
        var hourTime = 0; // 小时
        if (secondTime > 60) {
          //如果秒数大于60，将秒数转换成整数
          //获取分钟，除以60取整数，得到整数分钟
          minuteTime = format(parseInt(secondTime / 60));
          //获取秒数，秒数取佘，得到整数秒数
          secondTime = format(parseInt(secondTime % 60));
          //如果分钟大于60，将分钟转换成小时
          if (minuteTime > 60) {
            //获取小时，获取分钟除以60，得到整数小时
            hourTime = format(parseInt(minuteTime / 60));
            //获取小时后取佘的分，获取分钟除以60取佘的分
            minuteTime = parseInt(minuteTime % 60);
          }
        } else {
          secondTime = format(secondTime)
        }
        var result = "" + parseInt(secondTime) + "秒";
        if (minuteTime > 0) {
          result = "" + parseInt(minuteTime) + "分" + result;
        }
        if (hourTime > 0) {
          result = "" + parseInt(hourTime) + "小时" + result;
        }
        return {result, hourTime, minuteTime, secondTime};

        function format(num) {
          if (num < 10) {
            return `0${num}`
          } else {
            return num
          }
        }
      },
      handleScroll() {
        this.$refs.chatBox.style.right = '-14.5%'
        this.chatClick = false
      },
      chatBoxClick() {
        if (this.chatClick) {
          this.$router.push('/gamesMainLiaoTian')
        } else {
          this.$refs.chatBox.style.right = 0
          this.chatClick = true
        }


      }
    },

    beforeDestroy() {

      window.removeEventListener('scroll', this.handleScroll)

      // document.body.style.overflow = "scroll";
    },
    destroyed() {
      clearInterval(window.kaijiangTimer);
      clearInterval(window.fengpantimer);
    },
    watch: {
      miao(n) {
        if (n == 0) {
          clearInterval(window.fengpantimer);
          this.lotteryAwardRecordList(this.lottery_id);
          let getLotterytime = 60;
          window.getLotteryTimer = setInterval(() => {
            getLotterytime--;
            if (getLotterytime == 0) {
              // 获取开奖结果接口定时器
              if (window.kaijiangTimer) {
                clearInterval(window.kaijiangTimer);
              }
              window.kaijiangTimer = setInterval(() => {
                getLotteryAwardResult_api(this.periods_lotteryid).then(res => {
                  if (res.data.award_num) {
                    this.lotteryAwardRecordList(this.lottery_id);
                    clearInterval(window.kaijiangTimer);
                  }
                });
              }, 1000);
              clearInterval(window.getLotteryTimer);
            }
          }, 1000);
        }
      }
    },
    components: {
      MyHeader,
      MyMain,
      PlayerMsg
    }
  };
</script>
<style scoped lang="less">
  .app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .goChat {
    position: fixed;
    width: 1.75rem;
    height: .7rem;
    display: flex;
    align-items: center;
    font-size: 12px;
    top: 50%;
    right: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: linear-gradient(to right, #E11CF7, #F2587F); /* 标准的语法 */

    > img {
      margin-left: .08rem;
    }

    > p {
      margin-left: .05rem;
      color: #fff;
    }
  }

  .xw-chat-wrap time {
    margin-right: 65px;
    display: block;
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 12px;
    color: #999;
  }

  .xw-chat-msg :last-child {
    margin-bottom: 0;
  }

  .xw-chat-msg span {
    white-space: pre-line;
  }

  .xw-chat-msg :last-child {
    margin-bottom: 0;
  }

  .xw-chat-wrap time {
    line-height: 1;
    text-align: center;
    display: block;
    margin-bottom: 8px;
    font-size: 12px;
    color: #999;
    text-shadow: 1px 1px 1px hsla(0, 0%, 100%, 0.6);
  }

  .xw-system-info span {
    display: inline-block;
    background: rgba(0, 0, 0, 0.08);
    padding: 4px 8px;
    line-height: 1;
    color: #7c7c7c;
    border-radius: 2px;
    text-shadow: 1px 1px 1px hsla(0, 0%, 100%, 0.6);
  }

  .xw-chat-tool-item .xw-window-text h4 {
    font-size: 12px;
    margin: 0;
    font-weight: 400;
    padding: 12px 8px;
    padding-bottom: 0;
  }

  .xw-chat-ul-box a {
    display: block;
    height: 40px;
    width: 40px;
  }

  .img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 20px;
  }

  .xw-header-info p {
    height: 110px;
    padding: 0 16px;
    line-height: 1.6rem;
    word-wrap: break-word;
    text-align: left;
    overflow: auto;
  }

  .xw-chat-msg span img {
    vertical-align: middle;
  }

  .mint-swipe-items-wrap > div {
    text-align: center;
  }
</style>





