<template>
  <div class="sidebar">
    <p
      :class="{active : active === item}"
      v-for="(item,i) in slideMsg"
      @click="selected(item)"
      :key="i"
    >{{item}}</p>
  </div>
</template>

<script type="text/ecmascript-6">
  import bus from "@/common/bus";

  export default {
    props: {
      slideMsg: Array
    },
    data() {
      return {
        active: "aaaaa" // 左侧点击
      };
    },
    methods: {
      selected(value) {
        this.active = value;
        bus.$emit("active", this.active);
      }
    },
    watch: {
      slideMsg(n) {
        this.active = n[0];
        bus.$emit("active", this.active);
        this.$forceUpdate();
      }
    },
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  .sidebar {
    box-sizing: border-box;
    color: #666666;
  }

  .sidebar {
    width: 25%;
    /* height: 70vh; */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
    padding-bottom: 3rem;
  }

  .sidebar > p {
    text-align: center;
    border-left: 3px solid #f2f2f2;
    height: 0.8rem;
    line-height: 0.8rem;
  }

  .sidebar .active {
    border-left: 3px solid #4a73c5;
    background: #fff;
  }
</style>
