<template>
  <div class="main kuaisan">

    <p>ｰ {{activeBtn}} ｰ
      <span class="explain"
            @click="explainEvent(1)">玩法说明</span>
    </p>

    <div class="selects"
         v-if="onePull"
         @click="picker">
      <p class="iconfont icon-sanjiao1">
        {{playShowTxt}}
      </p>
      <ul v-if="pickerShow"
          class="selectUl">
        <li v-for="(v,i) in pullPickerData"
            :key="i"
            @click="pickerActive(v)">{{v}}
        </li>
      </ul>
    </div>

    <div v-if="lottery_type==='快三'">

      <!--和值玩法-->
      <ul class="sanjun dianshu"
          v-if="activeBtn==='和值'&&/和值/.test(lotteryPath)"
          v-for="(type,key) in itemData['list']"
          :key="`ul-${key}`"
      >
        <li v-for="(item,i) in type"
            :key="`li-${i}`"
            :class="{'active':checkedItems.includes(item)}"
            @click="betting(item)">
          <span>{{item}}</span>
          <small>{{itemData.odds}}</small>
        </li>
      </ul>
      <!--和值玩法-->

      <!--二不同玩法 '标准'-->
      <ul class="sanjun"
          v-if="['标准'].includes(activeBtn)&&/二不同/.test(lotteryPath)"
          v-for="(type,key) in itemData['list']"
          :key="`ul-${key}`"
      >
        <li v-for="(item,i) in type"
            :key="`li-${i}`"
            :class="{'active':checkedItems.includes(item)}"
            @click="betting(item)">
          <img :src="dataHandle(item,activeBtn)" alt>
          <small>{{itemData.odds}}</small>
        </li>
      </ul>
      <!--二不同玩法-->

      <!--二不同号玩法 '胆拖'-->
      <ul class="sanjun"
          v-if="['胆拖'].includes(activeBtn)&&/二不同号/.test(lotteryPath)"
          v-for="(type,key) in itemData['list']"
          :key="`ul-${key}`"
      >
        <li v-for="(item,i) in type"
            :key="`li-${i}`"
            :class="{'active':checkedItems.includes(item)}"
            @click="betting(item)">
          <p class="img-con">
            <img :src="dataHandle(item,activeBtn)"
                 alt="img1"
                 v-if="item.length===1"
            >
            <img :src="dataHandle(img,activeBtn)"
                 alt="img2"
                 v-if="item.length===2"
                 v-for="(img,imgKey) in item.split('')"
                 :key="imgKey"
                 style="padding:0 5px;"
            >
          </p>
          <small>{{itemData.odds}}</small>
        </li>
      </ul>
      <!--二不同号玩法-->

      <!--二同号玩法 '复选' -->
      <ul class="sanjun"
          v-if="['复选'].includes(activeBtn)&&/二同号/.test(lotteryPath)"
          v-for="(type,key) in itemData['list']"
          :key="`ul-${key}`"
      >
        <li v-for="(item,i) in type"
            :key="`li-${i}`"
            :class="{'active':checkedItems.includes(item)}"
            @click="betting(item)">
          <p class="img-con">
            <img :src="dataHandle(item,activeBtn)"
                 alt="img1"
                 v-if="item.length===1"
            >
            <img :src="dataHandle(img,activeBtn)"
                 alt="img2"
                 v-if="item.length===2"
                 v-for="(img,imgKey) in item.split('')"
                 :key="imgKey"
                 style="padding:0 5px;"
            >
          </p>
          <small>{{itemData.odds}}</small>
        </li>
      </ul>
      <!--二同号玩法-->

      <!--二同号玩法 '单选' -->
      <ul class="sanjun"
          v-if="['单选'].includes(activeBtn)&&/二同号/.test(lotteryPath)"
          v-for="(type,key) in itemData['list']"
          :key="`ul-${key}`"
      >
        <li v-for="(item,i) in type"
            :key="`li-${i}`"
            @click="betting(item)">
          <p class="img-con">
            <img :src="dataHandle(item,activeBtn)"
                 alt="img1"
                 v-if="item.length===1"
            >
            <img :src="dataHandle(img,activeBtn)"
                 alt="img2"
                 v-if="item.length===2"
                 v-for="(img,imgKey) in item.split('')"
                 :key="imgKey"
                 style="padding:0 5px;"
            >
          </p>
          <small>{{itemData.odds}}</small>
        </li>
      </ul>
      <!--二同号玩法-->

      <!--三同号玩法 单选-->
      <ul class="weishai"
          v-if="['单选'].includes(activeBtn)&&/三同号/.test(lotteryPath)"
          v-for="(type,key) in itemData['list']"
          :key="`ul-${key}`"
      >
        <li v-for="(item,s) in type"
            :key="s"
            :class="{'active':checkedItems.includes(item)}"
            @click="betting(item)">
          <p class="img-con">
            <img :src="dataHandle(img,activeBtn)"
                 alt="img3"
                 v-if="item.length===3"
                 v-for="(img,imgKey) in item.split('')"
                 :key="imgKey"
                 style="padding:0 5px;"
            >
          </p>
          <small>{{itemData.odds}}</small>
        </li>
      </ul>
      <!--三同号玩法 单选-->

      <!--三同号玩法 通选-->
      <div class="quanbu"
           v-if="['通选'].includes(activeBtn)&&/三同号/.test(lotteryPath)"
           @click="betting('三同号通选')"
           :class="{'active':checkedItems.includes('三同号通选')}"
      >
        <div>
          <p>
            <img :src="shaiImgs.se1"
                 alt>
            <img :src="shaiImgs.se1"
                 alt>
            <img :src="shaiImgs.se1"
                 alt>
          </p>
          <p>
            <img :src="shaiImgs.se2"
                 alt>
            <img :src="shaiImgs.se2"
                 alt>
            <img :src="shaiImgs.se2"
                 alt>
          </p>
          <p>
            <img :src="shaiImgs.se3"
                 alt>
            <img :src="shaiImgs.se3"
                 alt>
            <img :src="shaiImgs.se3"
                 alt>
          </p>
        </div>
        <p>
          <span>{{activeBtn}}</span>
          <small>{{itemData.odds}}</small>
        </p>

        <div>
          <p>
            <img :src="shaiImgs.se4"
                 alt>
            <img :src="shaiImgs.se4"
                 alt>
            <img :src="shaiImgs.se4"
                 alt>
          </p>
          <p>
            <img :src="shaiImgs.se5"
                 alt>
            <img :src="shaiImgs.se5"
                 alt>
            <img :src="shaiImgs.se5"
                 alt>
          </p>
          <p>
            <img :src="shaiImgs.se6"
                 alt>
            <img :src="shaiImgs.se6"
                 alt>
            <img :src="shaiImgs.se6"
                 alt>
          </p>
        </div>
      </div>

      <!--三连号玩法 三连号-->
      <div class="quanbu"
           v-if="['三连号'].includes(activeBtn)&&/三连号/.test(lotteryPath)"
           @click="betting('三连号')"
           :class="{'active':checkedItems.includes('三连号')}"
      >
        <div>
          <p>
            <img :src="shaiImgs.se1"
                 alt>
            <img :src="shaiImgs.se1"
                 alt>
            <img :src="shaiImgs.se1"
                 alt>
          </p>
          <p>
            <img :src="shaiImgs.se2"
                 alt>
            <img :src="shaiImgs.se2"
                 alt>
            <img :src="shaiImgs.se2"
                 alt>
          </p>
          <p>
            <img :src="shaiImgs.se3"
                 alt>
            <img :src="shaiImgs.se3"
                 alt>
            <img :src="shaiImgs.se3"
                 alt>
          </p>
        </div>
        <p>
          <span>{{activeBtn}}</span>
          <small>{{itemData.odds}}</small>
        </p>

        <div>
          <p>
            <img :src="shaiImgs.se4"
                 alt>
            <img :src="shaiImgs.se4"
                 alt>
            <img :src="shaiImgs.se4"
                 alt>
          </p>
          <p>
            <img :src="shaiImgs.se5"
                 alt>
            <img :src="shaiImgs.se5"
                 alt>
            <img :src="shaiImgs.se5"
                 alt>
          </p>
          <p>
            <img :src="shaiImgs.se6"
                 alt>
            <img :src="shaiImgs.se6"
                 alt>
            <img :src="shaiImgs.se6"
                 alt>
          </p>
        </div>
      </div>

      <!--三不同号玩法 标准-->
      <ul class="sanjun"
          v-if="['标准'].includes(activeBtn)&&/三不同号/.test(lotteryPath)"
          v-for="(type,key) in itemData['list']"
          :key="`ul-${key}`">
        <li v-for="(item,i) in type"
            :key="`li-${i}`"
            :class="{'active':checkedItems.includes(item)}"
            @click="betting(item)">
          <p class="img-con">
            <img :src="dataHandle(item,activeBtn)"
                 alt="img1">
          </p>
          <small>{{itemData.odds}}</small>
        </li>
      </ul>
      <!--三不同号玩法-->

      <!--三不同号玩法 胆拖-->
      <ul class="sanjun"
          v-if="['胆拖'].includes(activeBtn)&&/三不同号/.test(lotteryPath)"
          v-for="(type,key) in itemData['list']"
          :key="`ul-${key}`"
      >
        <li v-for="(item,i) in type"
            :key="`li-${i}`"
            :class="{'active':checkedItems.includes(item)}"
            @click="betting(item)">
          <p class="img-con">
            <img :src="dataHandle(item,activeBtn)"
                 alt="img1"
            >
          </p>
          <small>{{itemData.odds}}</small>
        </li>
      </ul>
      <!--三不同号玩法-->
    </div>

    <div class="v-modal"
         v-show="explainShow"></div>
    <div class="mint-msgbox"
         v-show="explainShow">
      <i class="iconfont icon-fork"
         @click="explainShow=false"></i>
      <h4>玩法说明</h4>
      <li class="li1">
        <b> <i class="file"></i> 游戏说明</b>
        <div>{{explain}}</div>
      </li>
      <li>
        <b><i class="bulb"></i>示例说明</b>
        <div>{{shili}}</div>
      </li>
      <div @click="explainShow=false">我知道了</div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import bus from "@/common/bus";
  import {mapState, mapMutations} from "vuex";
  import store from '@/utils/sessionStorage';
  import {totalCount, getFlagArrs} from '../../util';

  export default {
    created() {
      this.lottery_type = store.get("lottery_type");
      // this.filterItemData(this.active);
    },
    props: {
      bettingMsg: Array,
      periods: Object,
      close: Boolean
    },
    data() {
      return {
        childActive: false, // 投注点击控制
        play_id: [], // 玩法ID
        pickerData: 0,
        playShowTxt: "",
        bassData: {},
        odds: [],
        onePull: false,
        pickerShow: false,
        pullPickerData: [],
        clear_id: false,
        lottery_type: "",
        shaiImgs: {
          // 筛子图片
          se1: "../../../../static/touzhu/se1.png",
          se2: "../../../../static/touzhu/se2.png",
          se3: "../../../../static/touzhu/se3.png",
          se4: "../../../../static/touzhu/se4.png",
          se5: "../../../../static/touzhu/se5.png",
          se6: "../../../../static/touzhu/se6.png"
        },
        bettingData: [],
        explain: "",
        shili: "",
        explainShow: false,
      };
    },
    computed: {
      ...mapState({
        checkedItems: state => state.checkedItems,
        lotteryPath: state => state.lotteryPath,
        activeBtn: state => {
          this.checkedItems = [];
          if (state.activeType.name) {
            let arr = [].concat(state.activeType.name);
            let length = state.activeType.name.length;
            return arr[length - 1];
          }
          return "";
        },
        itemData: state => {
          try {
            let names = state.activeType.name;
            let length = names.length;
            let name = names[length - 1];
            let level = state.lotteryLevel[`level${length - 1}`];
            let result = level.filter(item => item.name === name);
            let list = Object.values(result[0]['data']);

            return Object.assign({}, result[0], {
              list,
            });

          } catch (error) {
            return {
              list: []
            };
          }
        },
      })
    },
    methods: {
      ...mapMutations({
        setCheckItem_mua: 'SET_CHECKED_ITEMS',
        setLotteryTotal_mua: 'SET_LOTTERY_TOTAL',
      }),
      //号码补全
      complete(num) {
        num = Number(num);
        if (num < 10) {
          return "0" + num;
        } else {
          return num;
        }
      },
      explainEvent(type) {
        this.explainShow = true;
        if (type && type != 1) {
          this.explain = this.liuhecaiwanfa[type].explain;
          this.shili = this.liuhecaiwanfa[type].shili;
        }
      },
      filterItemData(n) {
        this.pickerShow = false;
        this.pickerShow1 = false;


        if (this.lottery_type !== "28") {
          if (
            n == "两面" ||
            n == "号码" ||
            n == "数字" ||
            n == "正特码" ||
            n == "连码" ||
            n == "生肖" ||
            n == "连肖" ||
            n == "连尾" ||
            n == "正码1~6" ||
            n == "整合" ||
            n == "自选不中"
          ) {
            if (this.lottery_type === '11选5' && n === "两面") {
              this.onePull = false;
            } else {
              this.onePull = true;
            }

          } else {
            this.onePull = false;
          }
        }

        this.itemData.map(msg => {
          if (msg.play_type_name == this.active) {
            this.explain = msg.game_instruction;
            this.shili = msg.case_instruction;
          }
        });
      },
      pickerActive(v) {
        this.playShowTxt = v;
        bus.$emit("picherActive", v);
        this.play_id = [];
        this.present_odds = [];
        this.itemData.forEach(element => {
          if (element.class_type_name == this.playShowTxt) {
            if (this.lottery_type == "PK10") {
              let haoman_arr = [
                "冠军",
                "亚军",
                "第三名",
                "第四名",
                "第五名",
                "第六名",
                "第七名",
                "第八名",
                "第九名",
                "第十名"
              ];
              if (haoman_arr.includes(this.active)) {
                this.haomaPK = element.class_type_arr;
              }
            } else if (this.lottery_type === "时时彩") {
              this.liangmianData = element.class_type_arr;
            } else if (this.lottery_type === "六合彩") {
              if (this.active === "正特码") {
                this.zhengte = element.class_type_arr;
              }
              if (this.active === "连码") {
                this.lianma = element.class_type_arr;
              }
              if (this.active === "生肖") {
                this.shengxiao = element.class_type_arr;
              }
              if (this.active === "连肖") {
                this.lianxiao = element.class_type_arr;
              }
              if (this.active === "连尾") {
                this.lianwei = element.class_type_arr;
              }
              if (this.active === "正码1~6") {
                this.zhengma16 = element.class_type_arr;
              }
              if (this.active === "自选不中") {
                this.zixuan = element.class_type_arr;
              }
            }
          }
          this.$forceUpdate();
        });
      },
      // 点击上方选项栏
      picker() {
        this.$emit("ThrowInToShow", false);
        this.pickerShow = !this.pickerShow;
        if (this.lottery_type == "时时彩") {
          this.clearData(this.liangmianData);
          bus.$emit("playId", this.play_id);
        }
        if (this.lottery_type == "PK10") {
          if (this.active == "冠军") {
            this.clearData(this.liangmianPK);
            bus.$emit("playId", this.play_id);
          }
          if (this.active == "亚军") {
            this.clearData(this.haomaPK);
            bus.$emit("playId", this.play_id);
          }
        }
        if (this.lottery_type == "六合彩") {
          if (this.active == "正特码") {
            this.clearData(this.zhengte);
            bus.$emit("playId", this.play_id);
          }
          if (this.active == "连码") {
            this.clearData(this.lianma);
            bus.$emit("playId", this.play_id);
          }
          if (this.active == "生肖") {
            this.clearData(this.shengxiao);
            bus.$emit("playId", this.play_id);
          }
          if (this.active == "连肖") {
            this.clearData(this.lianxiao);
            bus.$emit("playId", this.play_id);
          }
          if (this.active == "连尾") {
            this.clearData(this.lianwei);
            bus.$emit("playId", this.play_id);
          }
          if (this.active == "正码1~6") {
            this.clearData(this.zixuan);
            bus.$emit("playId", this.play_id);
          }
        }
      },
      // 将当前为点击状态的值添加到数组中
      addData(item, play_id, odds, present_odds) {
        if (this.active == "猜冠亚") {
          if (item.active) {
            play_id.push(item.play_id);
            present_odds = item.present_odds;
          } else {
            play_id.remove(item.play_id);
            present_odds = 0;
          }
        } else {
          if (item.active) {
            play_id.push(item.play_id);
            if (Array.isArray(item.play_name)) {
              present_odds.push(item.play_name[0]);
            } else {
              present_odds.push(item.play_name);
            }
          } else {
            play_id.remove(item.play_id);
            if (Array.isArray(item.play_name)) {
              present_odds.remove(item.play_name[0]);
            } else {
              present_odds.remove(item.play_name);
            }
          }
        }
      },
      // 点击后为选中状态
      betting(item) {

        let new_arr = [].concat(this.checkedItems);
        new_arr.push(item);
        this.setCheckItem_mua(new_arr);

        if (this.activeBtn === '和值') {
          let total = totalCount(new_arr);
          this.setLotteryTotal_mua({total});
        }

        if (this.activeBtn === '单选') {
          let total = totalCount(new_arr);
          this.setLotteryTotal_mua({total});
        }

        if (this.activeBtn === '通选') {
          let total = totalCount(new_arr);
          this.setLotteryTotal_mua({total});
        }

        console.log(this.activeBtn);
        if (this.activeBtn === '三连号') {
          let total = totalCount(new_arr);
          this.setLotteryTotal_mua({total});
        }

        console.log(item);
        if (this.activeBtn === '标准') {
          let total = getFlagArrs(4, 3);

          console.log(total);
          this.setLotteryTotal_mua({total});
        }

        // item.active = !item.active;
        // this.addData(item, this.play_id, this.odds, this.present_odds);
        // if (this.active == "猜冠亚") {
        //   var data = [];
        //   if (this.play_id.length > 0) {
        //     for (let i = 0; i < this.play_id.length; i++) {
        //       let j = i + 1;
        //       for (let k = j; k < this.play_id.length; k++) {
        //         data.push(this.play_id[i] + "_" + this.play_id[k]);
        //       }
        //     }
        //   }
        //   this.itemData && this.itemData.forEach(e => {
        //     data.forEach(element => {
        //       if (e.class_type_arr.play_name == element) {
        //         if (
        //           e.class_type_arr.play_id &&
        //           e.class_type_arr.odds &&
        //           e.class_type_arr.present_odds
        //         ) {
        //           this.play_id.push(e.class_type_arr.play_id);
        //           this.odds.push(e.class_type_arr.odds);
        //           this.present_odds.push(e.class_type_arr.present_odds);
        //         }
        //       }
        //     });
        //   });
        //   bus.$emit("present_odds", this.present_odds);
        //   bus.$emit("playId", this.play_id);
        // } else {
        //   bus.$emit("playId", this.play_id);
        //   bus.$emit("present_odds", this.present_odds);
        //   if (this.play_id.length > 0) {
        //     this.$emit("ThrowInToShow", true);
        //   } else {
        //     this.$emit("ThrowInToShow", false);
        //   }
        // }
        // this.$forceUpdate();
      },

      // 加入图片路径
      dataHandle(item, activeBtn) {
        let result;
        item = item + "";
        if (['标准', '单选', '胆拖', '复选'].includes(activeBtn)) {
          switch (item) {
            case "1":
              result = this.shaiImgs.se1;
              break;
            case "2":
              result = this.shaiImgs.se2;
              break;
            case "3":
              result = this.shaiImgs.se3;
              break;
            case "4":
              result = this.shaiImgs.se4;
              break;
            case "5":
              result = this.shaiImgs.se5;
              break;
            case "6":
              result = this.shaiImgs.se6;
              break;
            default:
              result = "";
              break;
          }
        }

        return result;
      },
      // 删除点击效果和数组id
      clearData(n) {
        if (!this.one) {
          this.one = 1;
          return;
        }
        n.forEach(e => {
          if (e.class_type_name) {
            if (e.class_type_arr instanceof Array) {
              e.class_type_arr.forEach(items => {
                if (items.class_type_arr) {
                  items.class_type_arr.active = false;
                } else {
                  items.active = false;
                }
              });
            }
          } else if (e.class_type_arr) {
            e.class_type_arr.active = false;
          } else {
            e.active = false;
          }
        });

        this.play_id = [];
        this.odds = [];
      },
    },
  };
</script>

<style scoped lang="less">
  .v-modal {
    z-index: 12;
  }

  .file {
    background: url('~@/assets/file.png') no-repeat;
    background-size: cover;
  }

  .bulb {
    background: url('~@/assets/bulb.png') no-repeat;
    background-size: cover;
  }

  .mint-msgbox {
    z-index: 13;
    padding: 0.4rem;
    width: 70%;
    color: #333;

    > .icon-fork {
      float: right;
      font-size: 16px;
    }

    > h4 {
      text-align: center;
      margin: 0.3rem 0 0;
    }

    > li {
      font-size: 15px;
      margin-bottom: .3rem;

      > div {
        color: #666;
      }

      > b {
        display: inline-block;
        margin: 0.3rem 0 0.2rem;

        > i {
          display: inline-block;
          width: .25rem;
          height: .3rem;
          margin-right: .2rem;
        }
      }

    }

    > div {
      width: 50%;
      margin: 0.2rem auto;
      background: #ffce6f;
      padding: 0.2rem 0.4rem;
      text-align: center;
      border-radius: 5px;
    }
  }

  .main > div > ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 0;
  }

  .main > div > ul > li {
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    margin-bottom: 0.2rem;
    flex-direction: column;
    height: 1.2rem;
    text-align: center;
    font-size: 15px;
    align-items: center;
    width: 48%;
    color: #333;
  }

  .kuaisan {
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }

  .zonghe > li {
    width: 48%;
  }

  .sanjun,
  .dianshu {
    justify-content: flex-start;
  }

  .dianshu > li span,
  .zonghe > li span {
    font-size: 15px;
    font-weight: bold;
  }

  .quanbu {
    width: 100%;
    padding: 0.1rem 0;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    flex-wrap: wrap;
  }

  .quanbu > div,
  .quanbu > p {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
  }

  .quanbu > div > p {
    width: 82px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .quanbu > div > p > img {
    display: flex;
  }

  .quanbu > p {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main > p {
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    color: #333;
    font-weight: 600;
    position: relative;
  }

  .main > div > ul > li:nth-child(3n+1) {
    margin-left: 0;
  }

  .changduanpai {
    display: block;
  }

  .changduanpai li {
    width: 31%;
    height: 0.8rem;
    align-items: center;
    margin-bottom: 0.3rem;
    display: flex;
    flex-direction: row;
    background: #fff;
    justify-content: center;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
  }


  .changduanpai li img {
    padding: 0 8px;
  }

  .changduanpai > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .changduanpai p {
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    position: relative;
  }

  .changduanpai p small {
    margin-top: 0;
    position: absolute;
    left: 59%;
  }

  .weishai p > img:nth-child(2) {
    margin: 0 0.5px;
  }

  .main .active {
    background: #6C2DFE;
    color: #fff;
  }

  .main .active > small,
  .main .active > p small,
  .main .active > div > small {
    color: #fff;
    font-size: 13px;
  }

  select {
    border: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  select::-ms-expand {
    display: none;
  }

  .main > .selects {
    font-size: 15px;
    text-align: center;
    height: 0.8rem;
    line-height: 0.8rem;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    border: 0.5px solid #b0b0b0;
    color: #6a6a6a;
    position: relative;
  }

  .main > .selects > .selectUl {
    width: 98%;
    flex-direction: column;
    //  height: 5rem;
    padding-bottom: 0;
    overflow-y: auto;
    flex-wrap: nowrap;
    border: 1px solid #ccc;
  }

  .main > .selects > .selectUl > li {
    display: block;
    width: 100%;
    height: 1rem;
    background: #f2f2f2;
    margin: 0;
  }

  .icon-sanjiao1:after {
    color: #999;
    margin-left: 5px;
  }


  .liangmian > li {
    flex-direction: row;
    justify-content: space-around;
    height: 0.8rem;
  }

  .longhu {
    flex-direction: column;
  }

  .longhu > p {
    text-align: center;
    margin: 0.2rem 0;
    color: #666;
  }

  .longhu > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .longhu > div > li {
    display: flex;
    flex-direction: column;
    padding: 0.1rem 0;
    width: 30%;
    background: #f2f2f2;

  }

  .longhu > div > li:nth-child(3), .longhu > div > li:nth-child(4) {
    margin-top: .2rem;
  }

  .longhu > div > li > span,
  .longhu > div > li > small {
    text-align: center;
    font-size: 13px;
  }

  .main small {
    color: #fe3959;
    margin-top: 5px;
    font-size: 13px;
  }

  .explain {
    position: absolute;
    right: 10px;
    font-size: 12px;
    margin-left: 76%;
    color: #666666;
    letter-spacing: -0.15px;
    text-align: center;
  }

  .banbo {
    display: flex;
    flex-wrap: wrap;
    flex: 2;
  }

  .bose {
    display: inline-block;
    width: 0.5rem;
    line-height: 0.5rem;
    height: 0.5rem;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    margin: 2px 1%;
  }

  .hong {
    color: #fe397f;
  }

  .lv {
    color: #04c67d;
  }

  .lan {
    color: #3d71ff;
  }

  .main > div > ul > li {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    margin-bottom: 0.2rem;
    flex-direction: column;
    height: 1.2rem;
    text-align: center;
    font-size: 15px;
    align-items: center;
    width: 31%;
    margin-left: 2.5%;
    color: #333;
  }

</style>
