<template>
  <div class="chat_page">
    <mt-header style="flex:none;z-index:1"
               class="my-header2"
               :title="transfer.username">
      <mt-button slot="left"
                 icon="back"
                 @click.native="backto"></mt-button>
      <mt-button slot="right"
                 style="font-size:.3rem"
                 @click="transMoney"
                 v-if="footerShow&&!isHighLevel">转账
      </mt-button>
    </mt-header>
    <div class="xw-content"
         @touchstart="toShowMaskInfo=false"
         ref="xwBody">
      <p v-if="noMsg"
         style="text-align:center;margin-top:5rem">暂无任何消息</p>
      <div class="xw-chat-wrap">
        <ul>
          <li v-for="(messageList,i) in records"
              :key="i">
            <div v-if="messageList.type=='2'">
              <div class="xw-chat-time">{{messageList['sendtime']}}</div>
              <div class="xw-chat-servicer">
                <div class="xw-servicer-avantar-wrap">
                  <img :src="messageList['sender_avatar']"
                       class="xw-servicer-avantar">
                </div>
                <div class="xw-chat-msg">
                  <img v-if="messageList.content_type=='2'"
                       :src="messageList.content"
                       alt
                       @click="clickImg(messageList.content)">
                  <span v-else
                        v-html="replaceFace(messageList.content)"></span>
                </div>
              </div>
            </div>

            <!-- 用户发送的消息模板-->
            <div v-else-if="messageList.type=='1'">
              <div class="xw-chat-time">{{messageList['sendtime']}}</div>
              <div class="xw-chat-customer">
                <div class="xw-customer-avantar-wrap">
                  <img :src="messageList['sender_avatar']"
                       class="xw-customer-avantar">
                </div>
                <!-- <i class="iconfont icon-gantanhao" v-if="sendErr"></i> -->
                <div class="xw-chat-msg"
                     style="display:inline-block">
                  <img v-if="messageList.content_type=='2'"
                       :src="messageList.content"
                       alt
                       @click="clickImg(messageList.content)">
                  <span v-else
                        v-html="replaceFace(messageList.content)"></span>
                </div>
              </div>
            </div>
            <!-- 客服消息模板 -->
            <div v-else>
              <div class="xw-chat-time">{{messageList['sendtime']}}</div>
              <div class="xw-chat-servicer">
                <div class="xw-servicer-avantar-wrap">
                  <img src="@/assets/admin.png"
                       class="xw-servicer-avantar">
                </div>
                <div class="xw-chat-msg">
                  <img v-if="messageList.content_type=='2'"
                       :src="messageList.content"
                       alt
                       @click="clickImg(messageList.content)">
                  <span v-else
                        v-html="replaceFace(messageList.content)"></span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="xw-footer-wrap"
         @touchstart="toShowMaskInfo=false"
         v-if="footerShow">
      <div class="xw-footer-content">
        <div class="xw-vmodel-wrap">
          <textarea class="xw-content-textarea"
                    placeholder="请输入..."
                    v-model="content"
                    @focus="onFocusText"></textarea>
        </div>
        <div class="xw-chat-tool">
          <div class="xw-chat-tool-item">
            <transition name="fade">
              <a href="javascript:void(0)"
                 class="xw-send-btn-text"
                 v-if="content.trim().length"
                 @click="sendMsg">发送</a>
            </transition>
          </div>

          <div class="xw-chat-tool-item">
            <a href="javascript:;"
               :class="[showEmoji ? 'xw-face' :'xw-face-close','xw-chat-tool-btn']"
               @click="emojiFuc"></a>
          </div>

          <div class="xw-chat-tool-item">
            <upload-img class="iconfont icon-tupian1"
                        :type="true"
                        @avatar="avatarUrl"
                        @my-event="uploadOption"></upload-img>
          </div>
        </div>
      </div>
      <big-img v-if="showImg"
               @clickit="viewImg"
               :imgSrc="imgSrc"></big-img>

      <!-- <emojiSlider :isShow="showEmoji" :EXPS="EXPS"></emojiSlider> -->
      <!-- 表情开始 -->
      <transition name="slide-fade"
                  style="display:none">
        <div class="xw-window-text xw-face-emoji-ul"
             v-if="showEmoji">
          <div class="xw-chat-ul-box">
            <mt-swipe :auto="0">
              <mt-swipe-item v-for="n in Math.ceil(EXPS.length/15)"
                             :key="n">
                <li v-for="(item, index) in getEmotionData(n,15)"
                    class="xw-faceEmoji"
                    :key="index">
                  <img :src="item.file"
                       :data="item.code"
                       v-on:click="content+=item.code">
                </li>
              </mt-swipe-item>
            </mt-swipe>
          </div>
        </div>
      </transition>
    </div>
    <div class="v-modal"
         v-show="bill"></div>
    <div class="bill"
         v-show="bill">
      <i class="iconfont icon-fork"
         @click="bill= false"></i>
      <h4>转账给 {{transfer.username}}</h4>
      <p class="money bor">
        <span>可用余额:</span>
        <span style="color:#FF4D8C;width:70%">{{money.balance}}</span>
      </p>
      <p class="bor">
        <span>转入金额</span>
        <input type="number"
               class="mint-field-core"
               placeholder="请输入金额"
               v-model="transfer.amount">
      </p>
      <p class="bor">
        <span>资金密码</span>
        <input type="number"
               class="mint-field-core pwd"
               placeholder="请输入密码"
               v-model="transfer.fundpwd">
      </p>
      <div class="chat_btn">
        <mt-button type="danger"
                   @click.native="trans">确认转账
        </mt-button>
      </div>
    </div>
    <!-- 提示音 -->
    <!-- <audio
      style="display:none"
      preload="metadata"
      controls="controls"
      autoplay="autoplay"
      ref="hintAudio"
    >
      <source :src="myAudio" type="audio/mpeg">
    </audio>-->
  </div>
</template>

<script type="text/ecmascript-6">
  import {getEmojiData} from "@/common/config";
  import {chat_list_api, send_message_api, submit_tranfer, chat_notice_read_api} from "@/common/api";
  import {Toast} from "mint-ui";
  import UploadImg from "@/bass/uploadimg";
  import BigImg from "@/bass/bigimg";
  import {MessageBox} from "mint-ui";

  export default {
    created() {

      if (this.$route.params.user) {
        const {level} = this.$route.params.user;
        if (level && level === '我是上级') {
          this.isHighLevel = true;
        }
      }

      if (this.$route.params.id) {
        if (typeof this.$route.params.id == "object") {
          this.transfer.username = "系统消息";
          if (this.$route.params.id.list.length > 0) {
            this.records = this.$route.params.id.list;
            chat_notice_read_api()
          } else {
            this.noMsg = true
          }
          this.footerShow = false;
        } else {
          this.commitData.receiver_uid = this.$route.params.id;
          sessionStorage.setItem("chatId", this.commitData.receiver_uid);
          this.transfer.username = this.$route.params.username;
          sessionStorage.setItem("chatUsername", this.transfer.username);
          this.sendmsg = JSON.parse(localStorage.getItem("chatmsg"));
          if (this.sendmsg && this.sendmsg[this.$route.params.id]) {
            this.records = this.sendmsg[this.$route.params.id];
            this.maxId = this.records[this.records.length - 1].id;
          }
        }
      } else {
        this.commitData.receiver_uid = sessionStorage.getItem("chatId");
        this.transfer.username = sessionStorage.getItem("chatUsername");
      }
      this.money = JSON.parse(sessionStorage.getItem("msg"));
      this.getChatList();
      this._loadEmojiData();
      window.chatTimer = setInterval(() => {
        this.getChatList();
      }, 1000);
    },
    data() {
      return {
        noMsg: false,
        // sendErr:false, //信息发送失败
        showImg: false,
        imgSrc: "",
        isHighLevel: false, //是否是上级
        footerShow: true, //是否是客服
        showEmoji: true, //是否显示表情
        showToast: false, //显示提示框
        showMoreOperation: false, //是否显示更多操作
        toShowMaskInfo: false, //点击头部是否显示相信信息
        bellStatus: true, //头部区域铃声图标
        myAudio: "../../static/audio/msg.mp3", //铃音
        testContents: [
          "今天天气不错",
          "这个问题还没遇到过",
          "你说什么，我听不明白",
          "今天周五了",
          "请稍后--",
          "当前客服忙",
          "您还有什么咨询的吗",
          "正在查询",
          "gone with the wind"
        ],
        bill: false,
        content: "",
        //聊天记录
        records: [],
        transfer: {
          username: "",
          amount: "",
          fundpwd: ""
        },
        commitData: {
          receiver_uid: 0,
          content: "",
          content_type: "",
          file: ""
        },
        // maxId: 0,
        imgFile: {},
        EXPS: [],
        money: "", //我的金额
        chatmsg: {},
        sendmsg: {}
      };
    },
    methods: {
      transMoney() {
        let setPwd = sessionStorage.getItem('setPwd');
        if (setPwd === 'false') {
          Toast("您暂未设置资金密码,请到个人中心进行设置!");
        } else {
          this.bill = true
        }
      },
      clickImg(e) {
        this.showImg = true;
        // 获取当前图片地址
        this.imgSrc = e;
      },
      viewImg() {
        this.showImg = false;
      },
      trans() {

        if (!/^[1-9]\d*$/.test(this.transfer.amount)) {
          return Toast("只可输入整数哟");
        } else if (
          parseInt(this.transfer.amount) <= 0 ||
          parseInt(this.transfer.amount) > parseFloat(this.money.balance)
        ) {
          return Toast("金额不足，无法转入");
        } else {
          submit_tranfer(this.transfer).then(res => {
            if (res.code === 200) {
              this.money.balance = this.money.balance - this.transfer.amount;
              sessionStorage.setItem("msg", JSON.stringify(this.money));
              this.transfer.amount = "";
              this.transfer.fundpwd = "";
              Toast("转账成功");
              this.bill = false
            } else {
              Toast(res.msg);
            }
          });
        }
      },
      uploadOption(value) {
        if (value.img) {
          this.commitData.content_type = "img";
          this.commitData.file = value.img;
          this.sendMsg();
        }
      },
      avatarUrl(msg) {
        this.commitData.file = msg;
      },
      getChatList() {
        let uid = this.commitData.receiver_uid;
        chat_list_api({
          sender_uid: uid,
          max_id: this.maxId
        }).then(res => {
          if (res.code === 200 && res.data.length > 0) {
            this.maxId = res.data[res.data.length - 1].id;
            this.records = this.records.concat(res.data);
            // this.chatmsg[uid] = this.records;
            if (this.sendmsg && !this.sendmsg[uid]) {
              this.sendmsg[uid] = this.records;
            } else {
              this.sendmsg[uid] = this.records;
            }
            if (window.localStorage) {
              var max =
                1024 * 1024 * 5 -
                unescape(encodeURIComponent(JSON.stringify(localStorage))).length;
              if (parseFloat(max) < 1024) {
                MessageBox.confirm("空间不足,是否删除聊天记录", "提示", {
                  // confirmButtonText: "成为会员"
                })
                  .then(action => {
                    localStorage.removeItem("chatmsg");
                  })
                  .catch(res => {
                  });
              } else {
                localStorage.setItem("chatmsg", JSON.stringify(this.sendmsg));
              }
            }

            this.scrollToBottom();
          }
        });
      },

      backto() {
        window.history.back();
      },
      //点击控制表情切换（显示和隐藏）
      emojiFuc() {
        this.showEmoji = !this.showEmoji;
      },

      //提示音
      // hint(staus) {
      //   if (staus != undefined) {
      //     this.bellStatus = !this.bellStatus;
      //   }
      //   this.bellStatus
      //     ? this.$refs.hintAudio.play()
      //     : this.$refs.hintAudio.pause();
      // },
      sendMsg() {
        this.commitData.content = this.content.trim();
        send_message_api(this.commitData).then(res => {
          console.log(res);
          if (res.code == 200) {
            this.content = "";
            this.commitData.content = "";
            this.commitData.content_type = "";
            this.commitData.file = "";
          } else {
            Toast(res.msg);
            // this.sendErr = true
          }
        });
        // this.records.push({
        //   time: new Date().toLocaleTimeString(),
        //   content: content,
        //   type: 2
        // });

        // setTimeout(() => {
        //   // this.hint();
        //   this.records.push({
        //     time: new Date().toLocaleTimeString(),
        //     content: this.testContents[Math.floor(Math.random() * 9)],
        //     type: 1
        //   });
        //   this.scrollToBottom();
        // }, 20);
      },
      getEmotionData(pageNow, pageSize) {
        return this.EXPS.slice((pageNow - 1) * pageSize, pageSize * pageNow);
      },
      replaceFace(con) {
        if (!con) {
          return;
        }
        if (con.toString().indexOf("/:") > -1) {
          var exps = this.EXPS;
          for (var i = 0; i < exps.length; i++) {
            con = con.replace(
              exps[i].reg,
              '<img src="' + exps[i].file + '"  alt="" />'
            );
          }
        }
        return con;
      },
      //滚动到底
      scrollToBottom() {
        setTimeout(() => {
          //滚动条长度
          var currentDistance =
            this.$refs.xwBody.scrollHeight - this.$refs.xwBody.clientHeight;
          //当前滚动条距离顶部的距离
          var currentScroll_y = this.$refs.xwBody.scrollTop;
          if (currentDistance > 0 && currentDistance > currentScroll_y) {
            currentScroll_y =
              Math.ceil((currentDistance - currentScroll_y) / 10) +
              currentScroll_y;
            currentScroll_y =
              currentScroll_y > currentDistance
                ? currentDistance
                : currentScroll_y;
            //微信和qq浏览器不支持 scrollTo？
            //this.$refs.xwBody.scrollTo(0,currentScroll_y);
            this.$refs.xwBody.scrollTop = currentScroll_y;
            this.scrollToBottom();
          }
        }, 20);
      },
      onFocusText() {
        this.scrollToBottom();
      },
      _loadEmojiData() {
        getEmojiData().then(res => {
          var json = eval("(" + res + ")");
          this.EXPS = json.EXPS.slice(0);
        });
      }
    },
    mounted() {
      this.scrollToBottom()
    },
    beforeDestroy() {
      clearInterval(window.chatTimer);
    },
    components: {
      UploadImg,
      BigImg
    }
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  .icon-gantanhao {
    margin-right: 0.2rem;
    color: red;
  }

  .pwd {
    -webkit-text-security: disc;
    text-security: disc;
  }

  .icon-fork {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
  }

  .chat_btn {
    text-align: center;
    margin-top: 0.5rem;

    > button {
      width: 60%;
      background-color: #6733c7;
    }
  }

  .v-modal {
    z-index: 3;
  }

  .bill {
    position: absolute;
    top: 20%;
    width: 94%;
    background: #fff;
    z-index: 12;
    font-size: 16px;
    color: #333;
    padding: 3% 3% 8%;

    > h4 {
      margin: 0;
      font-size: 18px;
    }

    > .bor {
      padding: 0;

      > input {
        width: 65%;
        height: 75%;
        background: #f2f2f2;
      }
    }

    .money {
      margin-top: 0.3rem;
    }
  }

  .icon-xiaolian {
    margin-right: 15px;
    color: #6733c7;
  }

  .icon-tupian1 {
    font-size: 26px;
    margin-right: 15px;
    color: #6733c7;
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.3s;
  }

  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }

  .xw-chat-servicer:after,
  .xw-chat-servicer:before,
  .xw-chat-customer:after,
  .xw-chat-customer:before,
  .xw-chat-wrap:after,
  .xw-chat-wrap:before,
  .xw-chat-tool:after,
  .xw-chat-tool:before,
  .xw-chat-ul-box:after,
  .xw-chat-ul-box:before {
    display: table;
    content: "";
  }

  .xw-chat-wrap {
    overflow: auto;
    padding-left: 16px;
    padding-bottom: 20px;
  }

  .xw-chat-wrap .xw-chat-time,
  .xw-chat-wrap time {
    line-height: 1;
    text-align: center;
    display: block;
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 12px;
    color: #999;
    text-shadow: 1px 1px 1px hsla(0, 0%, 100%, 0.6);
  }

  .xw-chat-servicer,
  .xw-chat-customer {
    position: relative;
    margin-bottom: 16px;
    padding: 0 10px 0 45px;
  }

  .xw-servicer-avantar-wrap {
    position: absolute;
    // bottom: 0;
    line-height: 0;
  }

  .xw-send-btn-text {
    padding: 4px 8px;
    background-color: #ed4858;
    color: #fff;
    border-radius: 5px;
    margin-right: 15px;
  }

  .xw-customer-avantar-wrap {
    position: absolute;
    // bottom: 0;
    right: 8px;
    line-height: 0;
  }

  .xw-chat-servicer .xw-servicer-avantar-wrap,
  .xw-customer-avantar-wrap {
    left: 0;
  }

  .xw-servicer-avantar {
    border-radius: 100%;
  }

  .xw-servicer-avantar-wrap img,
  .xw-customer-avantar-wrap img {
    height: 34px;
    width: 34px;
  }

  .xw-chat-msg {
    -webkit-font-smoothing: antialiased;
    hyphens: auto;
    word-wrap: break-word;
    word-break: normal;
    position: relative;
    clear: both;
    padding: 5px 16px;
    border: 1px solid transparent;
    max-width: 100%;
    min-width: 50px;
    min-height: 0.5rem;
    line-height: 0.5rem;
    max-width: 70%;

    > span {
      font-size: 12px;
      display: flex;
      // height: .5rem;
    }
  }

  .xw-chat-servicer .xw-chat-msg {
    background: #f2f2f2;
    border-color: #f2f2f2;
    float: left;
    border-radius: 5px;
  }

  .xw-chat-msg :last-child {
    margin-bottom: 0;
  }

  .xw-chat-msg span {
    white-space: pre-line;
  }

  .xw-chat-servicer,
  .xw-chat-customer {
    position: relative;
    margin-bottom: 16px;
    padding: 0 10px 0 45px;
  }

  .xw-chat-customer {
    text-align: right;
  }

  .xw-chat-customer .xw-chat-msg {
    float: right;
    text-align: left;
    background: #6733c7;
    border-color: #6733c7;
    color: #fff;
    margin-right: 45px;
    border-radius: 5px;
  }

  .xw-customer-avantar {
    border-radius: 50%;
  }

  .xw-chat-msg :last-child {
    margin-bottom: 0;
    max-width: 3rem;
  }

  .xw-chat-wrap .xw-system-info-time,
  .xw-chat-wrap time {
    line-height: 1;
    text-align: center;
    display: block;
    margin-bottom: 8px;
    font-size: 12px;
    color: #999;
    text-shadow: 1px 1px 1px hsla(0, 0%, 100%, 0.6);
  }

  .xw-chat-wrap > :last-child {
    margin-bottom: 16px;
  }

  .xw-footer-wrap {
    justify-content: flex-end;
    width: 100%;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.05);
    background: #fff;
    z-index: 2;
    font-size: 12px;
  }

  .xw-footer-content {
    position: relative;
    height: 52px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.05) 0px -1px 4px;
  }

  .xw-vmodel-wrap {
    flex: 1;
  }

  .xw-content-textarea {
    box-sizing: border-box;
    z-index: 1;
    overflow-y: auto;
    font-size: 14px;
    border: none;
    resize: none;
    padding: 15px 85px 0 14px;
    font-family: inherit;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    outline: none;
  }

  .xw-chat-tool {
    position: absolute;
    right: 0px;
    bottom: 0;
    z-index: 2;
  }

  .xw-chat-tool-item {
    height: 52px;
    line-height: 52px;
    position: relative;
    float: left;
    background: #fff;
  }

  .xw-chat-tool-btn {
    display: block;
  }

  .xw-chat-tool-btn {
    margin-top: 7px;
    height: 38px;
    width: 38px;
    border-radius: 100%;
    text-indent: -9999px;
    // opacity: 0.5;
    overflow: hidden;
    transform: translateZ(0);
    margin-left: 10px;
  }

  .xw-chat-tool-btn.xw-face {
    background: url(/static/smileOn.svg) no-repeat 50%;
  }

  .xw-chat-tool-btn.xw-face-close {
    background: url(/static/smileClose.svg) no-repeat 50%;
  }

  .xw-chat-tool-item .xw-window-text {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-bottom: -3px;
    -webkit-transform: translateX(-60%);
    transform: translateX(-60%);
    white-space: nowrap;
    box-shadow: 0 3px 18px 2px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.05);
    font-size: 12px;
    background: #fff;
    line-height: 1em;
  }

  .xw-chat-tool-item .xw-window-text.xw-face-emoji-ul {
    right: -23px;
    left: auto;
    -webkit-transform: none;
    transform: none;
  }

  .xw-chat-tool-item .xw-window-text h4 {
    font-size: 12px;
    margin: 0;
    font-weight: 400;
    padding: 12px 8px;
    padding-bottom: 0;
  }

  .xw-chat-ul-box {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .xw-chat-ul-box {
    position: relative;
    z-index: 1;
    background: #fff;
    padding: 1%;
    height: 130px;
    overflow: hidden;
    width: 98%;
    margin: 0px auto;
  }

  .xw-chat-tool-item .xw-window-text .xw-chat-ul-box {
    padding: 8px;
  }

  .swiper-slide {
    float: left;
  }

  .xw-chat-ul-box a {
    display: block;
    height: 40px;
    width: 40px;
  }

  .swiper-pagination {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    background: #ccc;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .swiper-pagination-bullet-active {
    background: #007aff;
  }

  .xw-chat-tool-item {
    height: 52px;
    position: relative;
    float: left;
  }

  .xw-hide-operation {
    background: url(/static/addOn.svg) no-repeat 50%;
    width: 38px;
    height: 38px;
    margin-right: 10px;
    transform: scale(0.7);
  }

  .xw-hide-operation-close {
    background: url(/static/addClose.svg) no-repeat 50%;
    width: 38px;
    height: 38px;
    margin-right: 10px;
    transform: scale(0.7);
  }

  .xw-chat-tool-item .xw-window-text span {
    display: block;
    padding: 10px 12px;
    background: #fff;
    position: relative;
    z-index: 1;
    font-size: 17px;
    line-height: 16px;
  }

  .xw-chat-servicer:after,
  .xw-chat-customer:after,
  .xw-chat-wrap:after,
  .xw-chat-tool:after,
  .xw-chat-ul-box:after {
    clear: both;
  }

  .xw-chat-msg:last-child:before {
    bottom: -1px;
  }

  .xw-chat-msg:last-child:after,
  .xw-chat-msg:last-child:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    display: block;
  }

  // .xw-chat-customer .xw-chat-msg:last-child:before {
  //   display: inline-block;
  //   height: 0;
  //   width: 0;
  //   border: 10px solid transparent;
  //   border-bottom: 10px solid #6733c7;
  //   right: -10px;
  //   border-left-width: 9px;
  // }

  // .xw-chat-servicer .xw-chat-msg:last-child:before {
  //   display: inline-block;
  //   height: 0;
  //   width: 0;
  //   border: 10px solid transparent;
  //   border-bottom: 10px solid #efefef;
  //   left: -10px;
  //   border-left-width: 9px;
  // }

  // .xw-chat-servicer .xw-chat-msg:last-child:after {
  //   display: inline-block;
  //   height: 0;
  //   width: 0;
  //   border: 10px solid transparent;
  //   border-bottom: 10px solid #f2f2f2;
  //   left: -8px;
  //   border-left-width: 9px;
  //   bottom: 0px;
  // }

  .xw-show-info-box {
    height: 200px;
    margin-top: -50px;
    z-index: 1000;
    background: #ed4858;
    color: #fff;
  }

  .xw-logo {
    text-align: center;
  }

  .xw-logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 20px;
  }

  .xw-header-info p {
    height: 110px;
    padding: 0 16px;
    line-height: 1.6rem;
    word-wrap: break-word;
    text-align: left;
    overflow: auto;
  }

  .xw-faceEmoji {
    margin-bottom: 7px;
    width: 20%;
    float: left;
  }

  .xw-faceEmoji-main {
    text-align: center;
  }

  .xw-samll-pop-wrap {
    position: absolute;
    height: 160px;
    width: 30%;
    top: 0;
    right: 0;
    background-size: 100% 100%;
    //  background: url(/static/images/s.jpg) no-repeat;
    z-index: 1000;
  }

  .xw-pop-server {
    //  background: url(/static/images/s.jpg) no-repeat;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
  }

  .xw-pop-customer {
    position: absolute;
    bottom: 20px;
    width: 80%;
    height: 200px;
    //   background: url(/static/images/c.jpg) no-repeat;
    z-index: 101;
    left: 50%;
    margin-left: -40%;
    text-align: center;
  }

  .xw-narrow-pop {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 5px;
    top: 5px;
    display: inline-block;
    background: red;
    color: #fff;
    text-align: center;
  }

  .xw-big-pop {
    display: block;
    background: red;
    color: #fff;
    line-height: 40px;
    text-align: center;
  }

  .xw-hang-up {
    background: red;
    width: 100px;
    height: 34px;
    display: inline-block;
    border-radius: 20%;
    position: absolute;
    bottom: 10px;
    transform: translateX(-50%);
  }

  .xw-hang-up-icon {
    position: relative;
    z-index: 1290;
    width: 40px;
    height: 34px;
  }

  .xw-chat-msg span img {
    vertical-align: middle;
  }

  .mint-swipe-items-wrap > div {
    text-align: center;
  }

  .xw-scroll-ul {
    min-height: 340px;
  }

  .mint-swipe-indicator.is-active {
    background: #ed4858;
    opacity: 1;
  }

  .chat_page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }

  .xw-content {
    font-size: 12px;
    flex: 1;
    position: relative;
    overflow: auto;
    transition: height 0.8s;
  }

  .slide-fade-enter-active {
    transition: all 0.3s ease;
  }

  .slide-fade-leave-active {
    transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  }

  .slide-fade-enter,
  .slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
  }

  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .animated.bounceIn,
  .animated.bounceOut {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
  }

  @-webkit-keyframes bounceInDown {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -3000px, 0);
      transform: translate3d(0, -3000px, 0);
    }

    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, 25px, 0);
      transform: translate3d(0, 25px, 0);
    }

    75% {
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }

    90% {
      -webkit-transform: translate3d(0, 5px, 0);
      transform: translate3d(0, 5px, 0);
    }

    to {
      -webkit-transform: none;
      transform: none;
    }
  }

  .bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
  }

  @keyframes bounceInLeft {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
      opacity: 0;
      -webkit-transform: translate3d(-3000px, 0, 0);
      transform: translate3d(-3000px, 0, 0);
    }

    60% {
      opacity: 1;
      -webkit-transform: translate3d(25px, 0, 0);
      transform: translate3d(25px, 0, 0);
    }

    75% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }

    90% {
      -webkit-transform: translate3d(5px, 0, 0);
      transform: translate3d(5px, 0, 0);
    }

    to {
      -webkit-transform: none;
      transform: none;
    }
  }

  .bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
  }

  @-webkit-keyframes bounceInRight {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {
      opacity: 0;
      -webkit-transform: translate3d(3000px, 0, 0);
      transform: translate3d(3000px, 0, 0);
    }

    60% {
      opacity: 1;
      -webkit-transform: translate3d(-25px, 0, 0);
      transform: translate3d(-25px, 0, 0);
    }

    75% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }

    90% {
      -webkit-transform: translate3d(-5px, 0, 0);
      transform: translate3d(-5px, 0, 0);
    }

    to {
      -webkit-transform: none;
      transform: none;
    }
  }

  .bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
  }

  @keyframes bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 3000px, 0);
      transform: translate3d(0, 3000px, 0);
    }

    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
    }

    75% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }

    90% {
      -webkit-transform: translate3d(0, -5px, 0);
      transform: translate3d(0, -5px, 0);
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  .bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
  }
</style>
