<template>
  <div id="teamMoney"
       style="
            background: rgba(242, 242, 242, 1);
            width: 7.5rem;
            min-height: 13.24rem;"
  >
    <mt-header class="my-header2"
               style="color: #fff!important;"
               title="下级管理">
      <mt-button slot="left" icon="back" @click.native="backto"></mt-button>
      <mt-button style="color: #dfdfdf;font-size: 0.3rem;" slot="right" @click="addMember">新增</mt-button>
    </mt-header>
    <div class="tabs">
      <div>
        <span>下级总人数</span>
        <b>{{topbar.team_members}}</b>
      </div>
      <div>
        <span>下1级</span>
        <b>{{topbar.level_one}}</b>
      </div>
      <div>
        <span>今日新增</span>
        <b>{{topbar.register_today}}</b>
      </div>
      <div>
        <span>今日上线</span>
        <b>{{topbar.online_today}}</b>
      </div>
    </div>

    <!-- <div class="team-title">
       <p class="select_box">
         <span class="iconfont"
               :class="initDatas.order=='regtime_desc'?'icon-xiajiantou1':'icon-shangjiantou1'"
               ref="regSpan"
               @click="regDateSelect">注册时间</span>
         <span class="iconfont"
               :class="initDatas.order=='logintime_desc'?'icon-xiajiantou1':'icon-shangjiantou1'"
               @click="loginDateSelect">登录时间</span>
         <span class="iconfont icon-funnel"
               @click="filterEvent">筛选</span>
       </p>
       <div class="btn_box">
         <span v-if="v"
               v-for="(v,j) in statusSelect"
               :class="active==v.name || v[actions[j]]==initDatas[actions[j]]?'active':''"
               @click="filterData(v,j)"
               :key="j">{{v.name}}</span>
       </div>
       <div class="subordinate_box">
         <p>
           <span class="font_color"
                 @click="checkLower(0)">{{uname}}/</span>
           <span class="font_color"
                 v-for="(v,c) in higher_list"
                 @click="checkLower(v,1)"
                 :key="c">{{v.username}}/</span>
           的下级({{allData.total}}人)
         </p>

         <div>
           <p class="fast_p">
             <span>用户名</span>
             <span>下级人数</span>
             <span>操作</span>
           </p>
           <p v-infinite-scroll="initApi(0)"
              infinite-scroll-disabled="listEnd"
              infinite-scroll-immediate-check="true"
              infinite-scroll-distance="20"
              v-for="(item,i) in list"
              :key="i">
             <span class="font_color"
                   :style="!item.click || item.team_members==0?'color:#666':''"
                   @click="checkLower(item)">{{item.username}}</span>
             <span>{{item.team_members}}</span>
             <span @click="subordinateDetail(item)">详情</span>
           </p>
         </div>
       </div>
     </div>-->

    <div class="searchBox">
      <div class="searchLeft">
        <span>全部</span>
        <span>代理</span>
        <span>会员</span>
      </div>
      <div class="searchRight">
        <mt-search style="width: 90%"
                   cancel-text=""
                   placeholder="搜索团队成员"
                   v-model="value">
          <mt-cell
            v-for="item in result"
            :title="item.title"

            :value="item.value">
          </mt-cell>
        </mt-search>
      </div>
    </div>

    <div class="linkItem">
      <div class="fistLine">
        <span style="margin-left: 0.3rem" class="left"><img class="avatar"
                                                            src="http://www.dhf.com/pub/avatar/photo0483.jpg"></span>
        <span style="font-size: 16px;color: #333;" class="left">22222</span>
        <span style="color: #6AA4FF;font-size: 12px;" class="left">会员</span>
        <span style="color: #FF669C;font-size: 12px;" class="left">代理</span>
      </div>
      <div class="secondLine">
        <span style="width: 30%;float: left">返点：aaa</span>
        <span style="width: 60%;float: left">注册日期：2018-08-15 22:25:45</span>
      </div>
      <div class="thirtyLine">
        <div class="left" style="width: 100%">
          <span>最后登录时间：</span>
          <span>2018-08-15 22:25:45</span>
        </div>
      </div>
      <div class="fortyLine">
        <mt-button class="fortyBtn" plain>升为代理</mt-button>
        <mt-button class="fortyBtn" plain>调点</mt-button>
        <mt-button class="fortyBtn" plain>转账</mt-button>
        <mt-button class="fortyBtn" plain>详情</mt-button>
      </div>
    </div>


    <div class="v-modal"
         v-show="filterPop || detailPop"
         @click="filterPop = false"
         ref="modal"></div>


    <div class="filter_pop"
         v-show="filterPop">
      <div v-for="(item,i) in popData"
           :key="i">
        <h4>{{item.title}}</h4>
        <div class="btn_box">
          <span v-for="(v,j) in item.list"
                :key="j"
                :class="
                (initDatas['level']==v.value || initDatas['active']==v.value ||initDatas['recharge']==v.value ||initDatas['betting']==v.value)?'active':''
                "
                @click="itemClick(v,i)">{{v.name}}</span>
        </div>
      </div>
      <p class="select_btn">
        <span @click="resetting">重置</span>
        <span @click="filterData(0)">筛选</span>
      </p>
    </div>


    <div class="detail_pop"
         v-show="detailPop">
      <p>
        <span>用户ID </span>
        <b>{{itemDetailData.uid}}</b>
      </p>
      <p>
        <span>用户名 </span>
        <b>{{itemDetailData.username}}</b>
      </p>
      <p>
        <span>上级代理 </span>
        <b>{{itemDetailData.agent_username}}</b>
      </p>
      <p>
        <span>注册时间 </span>
        <b>{{itemDetailData.dateline}}</b>
      </p>
      <p>
        <span>最后登录时间 </span>
        <b>{{itemDetailData.lasttime}}</b>
      </p>
      <p>
        <span>累计投注金额 </span>
        <b>{{itemDetailData.betting_amount}}</b>
        <i @click="$router.push({
                       name:'TeamReport',
                       params:{
                         msg:'下级投注',
                         uname:itemDetailData.username
                       }
                     })">详情</i>
      </p>
      <p>
        <span>累计充值金额 </span>
        <b>{{itemDetailData.recharge_amount}}</b>
        <i @click="$router.push({
                       name:'TeamReport',
                       params:{
                         msg:'下级充值',
                         uname:itemDetailData.username
                       }
                     })">详情</i>
      </p>
      <p>
        <span>累计提现金额 </span>
        <b>{{itemDetailData.withdraw_amount}}</b>
        <i @click="$router.push({
                       name:'TeamReport',
                       params:{
                         msg:'下级提现',
                         uname:itemDetailData.username
                       }
                     })">详情</i>
      </p>
      <div @click="detailPop=false">
        关闭
      </div>
    </div>


    <mt-popup v-model="popupVisible"
              popup-transition="popup-fade">
      <img src="../../assets/bindCard.png"
           alt="">
    </mt-popup>


    <div v-if="error!==''"
         class="error">
      {{error}}
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header";
  import Date from "@/bass/date";
  import {t} from "@/common/config";
  import {
    get_agent_team_child_member_v2,  //下级成员管理列表
    get_agent_team_topbar,           // 头部信息
    get_agent_team_child_info        // 下级成员详情
  } from "@/common/api";
  import {Toast, MessageBox, Indicator} from "mint-ui";
  import copy from "copy-to-clipboard";
  import _ from "lodash";
  import {promises} from 'fs';
  import {debug} from 'util';
  import {mapGetters} from 'vuex'

  export default {
    created() {
      this.isAllowRecharge = sessionStorage.getItem("setPwd");
      // this.uname = JSON.parse(sessionStorage.getItem('msg')).username
      this.topbar_api()
      this.initApi()
    },
    computed: {
      uname() {
        return this.initData ? this.initData.username : ''
      },
      ...mapGetters([
        'initData'
      ])
    },
    data() {
      return {
        active: '',
        listLoading: false,
        listEnd: false,
        filterPop: false,
        detailPop: false,
        popData: [
          {
            title: '代理层级筛选',
            list: [
              {
                name: '下1级',
                value: '1'
              },
              {
                name: '下2级',
                value: '2'
              },
              {
                name: '下3级',
                value: '3'
              },
              {
                name: '3级以后',
                value: 'more'
              },
            ],
          },
          {
            title: '活跃状态',
            list: [
              {
                name: '今日上线',
                value: 'today'
              },
              {
                name: '7日内上线',
                value: 'week'
              },
              {
                name: '30日内上线',
                value: 'month'
              }
            ]
          },
          {
            title: '充值状态',
            list: [
              {
                name: '有充值',
                value: 'yes'
              },
              {
                name: '无充值',
                value: 'no'
              }
            ]
          },
          {
            title: '投注状态',
            list: [
              {
                name: '有投注',
                value: 'y'
              },
              {
                name: '无投注',
                value: 'n'
              }
            ]
          },
        ],
        statusSelect: [
          {name: '下1级', level: '1'},
          {name: '今日上线', active: 'today'},
          {name: '有充值', recharge: 'yes'},
          {name: '有投注', betting: 'y'},
        ],
        timeSelect: [
          {
            name: '注册时间',
            value: '1'
          },
          {
            name: '登录时间',
            value: '2'
          }
        ]
        ,
        error: "",
        popupVisible: false,
        showLinkage: false,//控制子组件的显示隐藏
        initDatas: {
          page: 0,
          higher_id: '', // 上级代理id
          level: '',     //层级筛选(1,2,3,more)
          active: '',    //活跃状态(today,week,month)
          recharge: '',  //充值状态(yes,no)
          betting: '',   //投注状态(y,n)
          order: 'regtime_asc'      //排序(regtime_asc,regtime_desc,logintime_asc,logintime_desc)
        },
        allData: [],     // 所有数据
        higher_list: [],  // 上级列表
        topbar: {},       // 顶部数据
        list: [],          // 表格数据
        page: 0,
        actions: [
          'level',
          'active',
          'recharge',
          'betting'
        ],
        itemDetailData: {}
      }
    },
    methods: {
      addMember() {
        this.$router.push("createUserCenter");
      },
      resetting() {
        this.actions.forEach((element, i) => {
          this.statusSelect[i][element] = '0'
          this.initDatas[element] = ''
        });
      },
      checkLower(item, force) {
        this.initDatas.page = 0
        if (item == 0) {
          this.initDatas.higher_id = 0
          this.higher_list = []
        }
        if (item && item.click || force) {
          this.initDatas.higher_id = item.uid
        }
        this.list = []
        this.initApi()
      },
      itemClick(v, i) {
        this.statusSelect[i].name = v.name
        this.initDatas[this.actions[i]] = v.value
        this.statusSelect[i][this.actions[i]] = v.value
      },
      loginDateSelect() {
        this.initDatass.order == 'logintime_asc' ? this.initDatas.order = 'logintime_desc' : this.initDatas.order = 'logintime_asc'
        this.initDatas.page = 0
        this.list = []
        this.initApi()
      },
      regDateSelect() {
        this.initDatas.order == 'regtime_asc' ? this.initDatas.order = 'regtime_desc' : this.initDatas.order = 'regtime_asc'
        this.initDatas.page = 0
        this.list = []
        this.initApi()
      },
      filterData(v, i) {
        this.initDatas.page = 0
        this.list = []
        if (v) {
          this.active = v.name

          this.initDatas[this.actions[i]] = v[this.actions[i]]
          this.initApi()
          this.initDatas[this.actions[i]] = ''
        } else {
          this.initApi()
          this.filterPop = false
          this.$refs.modal.style.zIndex = 11
        }
      },
      filterEvent() {
        this.filterPop = true
        this.$refs.modal.style.zIndex = 1
      },
      subordinateDetail(item) {
        this.detailPop = true
        get_agent_team_child_info({id: item.uid}).then(res => {
          if (res.code == 200) {
            this.itemDetailData = res.data
          } else {
            Toast(res.msg)
          }
        })
      },
      backto() {
        this.$router.push("agentInfo");
      },
      topbar_api() {
        get_agent_team_topbar().then(res => {
          this.topbar = res.data
        })
      },
      initApi(init = 1) {
        if (init) {
          this.listEnd = false;
          this.listLoading = false;
        }
        if (!this.listEnd && !this.listLoading) {
          this.listLoading = true;
          this.initDatas.page++
          get_agent_team_child_member_v2(this.initDatas).then(res => {
            this.listLoading = false;
            if (res.code == 200) {
              this.page = Math.ceil(Number(res.data.total) / Number(res.data.limit))
              if (this.initDatas.page == this.page) {
                this.listEnd = true
              }
              this.allData = res.data
              if (res.data.list.length > 0) {
                this.list = this.list.concat(res.data.list);
              } else {
                this.listEnd = true;
                // res.data.page != 1 ? Toast("没有更多数据了!") : ''
              }
              res.data.higher_list ? this.higher_list = res.data.higher_list : ''
            }
          })
        }
      }
    },
    components: {
      MyHeader,
      Date
    }
  };
</script>

<style lang="less">
  .searchBox {
    width: 100%;
    height: 0.7rem;
    background: #fff;
    margin-top: 0.05rem;
    padding: 0.1rem;
    margin-bottom: 0.1rem;
  }

  .searchLeft {
    width: 40%;
    height: 100%;
    color: #999;
    font-size: 0.3rem;
    float: left;
    line-height: 0.7rem;

    span {
      float: left;
      width: 30%;
      text-align: right;
    }
  }

  .searchRight {
    width: 60%;
    height: 100%;
    line-height: 0.7rem;
    float: left;
  }

  .linkItem {
    width: 94%;
    height: 130px;
    background: #fff;
    border-radius: 8px;
    margin: 3%;
    text-indent: 0.3rem;
    padding: 0.3rem 0 0.2rem 0;

    .fistLine {
      width: 100%;
      height: 38px;
      color: #333;
      font-size: 16px;
      line-height: 30px;
      font-weight: bold;
    }

    .avatar {
      width: .6rem;
      height: .6rem;
      float: left;
      border-radius: 0.5rem;
    }

    .secondLine {
      width: 100%;
      height: 26px;
      color: #999;
      font-size: 13px;
      line-height: 22px;
    }

    .thirtyLine {
      width: 100%;
      height: 26px;
      color: #999;
      font-size: 12px;
      line-height: 26px;
    }

    .fortyLine {
      height: 35px;
      line-height: 35px;
      width: 85%;
      float: right;
    }

    .title {
      display: block;
      width: 30%;
      float: left;
      overflow: hidden;
      word-break: keep-all;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

  }

  .fortyBtn {
    height: 0.5rem;
    border-radius: 1rem;
    margin-top: 5px;
    float: right;
    margin-right: 0.2rem;
    font-size: 14px;
    line-height: 0.5rem;
    border-color: #979797 !important;
    color: #666;
  }


  .tabs {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    padding: 0.3rem 0;
    position: relative;
    background: #fff;

    > div {
      display: flex;
      flex-direction: column;
      text-align: center;

      > span {
        margin-bottom: 0.2rem;
        color: #999;
      }

      > b {
        color: #333;
        font-size: 0.3rem;
      }
    }
  }

  #teamMoney {
    width: 7.5rem;
    // min-height: 15.24rem;
    // background: rgba(242, 242, 242, 1);
    padding-bottom: 0.3rem;

    .team-title {
      padding: 0.3rem;

      > .select_box {
        margin-bottom: 0.3rem;
        display: flex;
        justify-content: space-between;

        > span {
          font-size: 0.27rem;
          color: #333;
        }

        > span:nth-child(1) {
          margin-right: 0.3rem;
        }

        > span:nth-child(2) {
          flex: 1;
        }

        > .active_span {
          color: #6733c7;
        }
      }

      .subordinate_box {
        font-size: 0.3rem;
        margin-top: 0.4rem;

        > p {
          margin-bottom: 0.3rem;
        }

        .font_color {
          color: #6733c7;
        }

        > div {
          border-top: 1px solid #d9d9d9;
          border-left: 1px solid #d9d9d9;

          > .fast_p > span {
            color: #333;
          }

          > p {
            height: 0.8rem;
            line-height: 0.8rem;
            display: flex;
            justify-content: space-around;

            > span {
              flex: 1;
              text-align: center;
              border-bottom: 1px solid #d9d9d9;
              border-right: 1px solid #d9d9d9;
              color: #666;
            }
          }

          > p:nth-of-type(odd) {
            background: #f2f2f2;
          }
        }
      }
    }

    .filter_pop {
      width: 92%;
      padding: 0.3rem;
      position: absolute;
      top: 50px;
      background: #fff;
      z-index: 2;

      h4 {
        font-size: 0.3rem;
        margin: 0.3rem 0;
      }
    }

    .v-modal {
      background: rgba(0, 0, 0, 0.5);
      z-index: 11;
    }

    .detail_pop {
      width: 70%;
      padding: 0.5rem 0.4rem 0.5rem;

      position: fixed;
      font-size: 0.3rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #fff;
      z-index: 12;
      border-radius: 10px;

      > p {
        margin-bottom: 0.2rem;

        > span {
          display: inline-block;
          width: 35%;
          text-align: end;
          color: #999;
          font-size: 0.3rem;
        }

        > i {
          font-style: normal;
          color: #6c2dfe;
        }

        > b {
          font-weight: normal;
          margin: 0 0.2rem;
        }
      }

      > div {
        width: 60%;
        height: 0.8rem;
        line-height: 0.8rem;
        text-align: center;
        margin: 0.5rem auto 0;
        background: #6c2dfe;
        border-radius: 5px;
        color: #fff;
      }
    }

    .select_btn {
      font-size: 0.34rem;
      margin-top: 0.8rem;
      display: flex;
      justify-content: space-between;

      > span {
        width: 46%;
        height: 0.8rem;
        line-height: 0.8rem;
        text-align: center;
        border-radius: 5px;
      }

      > span:nth-child(1) {
        color: #6733c7;
        background: #f3edff;
      }

      > span:nth-child(2) {
        color: #fff;
        background: #6733c7;
      }
    }

    .btn_box {
      display: flex;
      // justify-content: space-between;
      font-size: 0.3rem;

      > span {
        // padding: 0.1rem 0.3rem;
        background: #f2f2f2;
        border-radius: 5px;
        color: #333;
        width: 24%;
        height: 0.6rem;
        line-height: 0.6rem;
        text-align: center;
        margin-right: 2%;
      }

      > .active {
        background: #6733c7;
        color: #fff;
      }
    }

    .tranfer-btn {
      text-align: center;
      float: right;
      width: 1rem;
      color: #333;
      font-size: 0.28rem;
      border: 1px solid #dadada;
      border-radius: 12px;
      margin-top: -0.1rem;
    }

    .error {
      position: fixed;
      top: 45%;
      left: 50%;
      height: 0.5rem;
      line-height: 0.5rem;
      width: 60%;
      margin-left: -30%;
      margin-top: 0.5rem;
      text-align: center;
      background: rgba(0, 0, 0, 0.7);
      color: #fff;
      font-size: 0.25rem;
      border-radius: 8px;
      z-index: 999999999 !important;
    }

    .tips {
      padding: 0.2rem 0.1rem 0 0.3rem;
      font-size: 0.3rem;
      color: #666;
    }

    .search-con {
      height: 0.72rem;
      width: 100%;
      padding: 0.1rem;
      border-bottom: 0.01rem solid rgba(229, 229, 229, 1);
      background: #fff;

      .mint-search {
        height: 100%;
      }
    }

    .mint-field-core {
      background: #fff;
      color: #666;
    }

    .link-btn-con {
      display: flex;
      align-items: center;
      width: 7.5rem;
      height: 0.5rem;
      padding: 0.2rem 0;
      background: rgba(255, 255, 255, 1);

      .link-btn {
        flex: 1;
        text-align: center;
        width: 3.76rem;
        height: 0.5rem;
        background: rgba(255, 255, 255, 1);
        font-size: 0.28rem;
        color: rgba(51, 51, 51, 1);
      }

      a {
        width: 100%;
        height: 100%;
        display: inline-block;
      }

      img {
        display: inline-block;
        text-align: center;
        height: 100%;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      width: 7.5rem;
      background: rgba(255, 255, 255, 1);
      font-size: 0.28rem;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
    }

    .form-item {
      flex: 1;
      border-bottom: 0.01rem solid rgba(205, 205, 205, 1);
    }

    .form-item:last-child {
      flex: 1;
      border-bottom: none;
    }

    .form-label {
      flex: 1 1 auto;
      height: 0.7rem;
      line-height: 0.7rem;
      padding: 0 0.3rem;
      background: rgba(255, 255, 255, 1);
      display: flex;
      flex-direction: row;
      align-items: center;

      .form-label-title {
        flex: 1 0 auto;
        height: 0.7rem;
        line-height: 0.7rem;
        align-items: center;
      }

      .form-label-tip {
        flex: 0 0 auto;
        align-self: flex-end;
        width: 0.68rem;
        height: 0.7rem;
        line-height: 0.7rem;
        font-size: 0.25rem;
        font-weight: 400;
        color: rgba(254, 57, 89, 1);
      }
    }

    .mint-cell {
      display: flex;
      flex-wrap: wrap;
      padding: 0.15rem 0;
      border-radius: 0.1rem;

      .title {
        flex: 1;
        width: 3.78rem;
        height: 0.44rem;
        font-size: 0.32rem;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 0.44rem;
      }

      .qrcode {
        flex: 0 0 auto;
        align-self: flex-end;
        height: 0.4rem;
      }

      .remove {
        flex: 0 0 auto;
        align-self: flex-end;
        height: 0.44rem;
      }

      img {
        height: 0.32rem;
      }

      .link {
        font-size: 0.22rem;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        line-height: 0.36rem;
        white-space: normal;
        word-break: break-all;
        word-wrap: break-word;

        span {
          margin-left: 0.1rem;
          color: red;
        }
      }

      .type {
        height: 0.34rem;
        font-size: 0.24rem;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 0.34rem;
      }

      .members {
        height: 0.34rem;
        font-size: 0.24rem;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 0.34rem;
      }
    }

    .time-search {
      width: 100%;
      height: 0.7rem;
      padding: 0.08rem 0;
      border-bottom: 0.01rem solid rgba(229, 229, 229, 1);
      display: flex;
      background: #fff;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .iconfont {
        width: 80%;
        font-size: 0.3rem;
      }

      span {
        flex: 0 0 auto;
        width: 2.52rem;
        height: 0.6rem;
        line-height: 0.6rem;
        text-align: center;
        background: rgba(242, 242, 242, 1);
        border-radius: 0.08rem;
      }
    }

    .user-con {
      width: 6.54rem;
      background: #fff;
      border-radius: 0.16rem;
      padding: 0.15rem;
      margin: 0.2rem 0 0.1rem 0;
      display: flex;
      flex-wrap: wrap;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);

      .list01 {
        flex: 0 0 100%;
        font-size: 0.32rem;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 0.44rem;
        display: flex;
        flex-direction: row;
      }

      .list03 {
        flex: 0 0 100%;
        font-size: 0.32rem;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 0.44rem;
        display: flex;
        flex-direction: column;
      }

      .avatar {
        flex: 0 0 0.5rem;
        height: 0.5rem;
        margin-right: 0.1rem;
      }

      .name {
        flex: 1 0 auto;
        height: 0.5rem;
        line-height: 0.55rem;
        font-size: 0.24rem;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
      }

      .member {
        flex: 1 0 0.5rem;
        height: 0.5rem;
        line-height: 0.55rem;
        font-size: 0.24rem;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
      }

      .agent {
        width: 3rem;
        flex: 0 0 auto;
        align-self: center;
        height: 0.55rem;
        line-height: 0.54rem;
        font-size: 0.24rem;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        border-radius: 8px;
        padding: 0;
        position: relative;

        .direct {
          position: absolute;
          top: 0;
          right: 0.24rem;
          color: #6733c7;
          font-size: 0.24rem;
          line-height: 0.46rem;
        }

        img {
          float: right;
          display: inline-block;
          height: 0.45rem;
        }
      }

      .list-item {
        flex: 0 0 48%;
        height: 0.5rem;
        line-height: 0.5rem;
        font-size: 0.24rem;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        padding: 0 0.1rem;
      }

      .list02 {
        flex: 0 0 96%;
        height: 0.44rem;
        font-size: 0.32rem;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 0.44rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0 2%;
      }

      .list-item2 {
        flex: 0 0 50%;
        text-align: right;
        height: 0.5rem;
        line-height: 0.5rem;
        font-size: 0.24rem;
        font-weight: 400;
        color: #fe3959;
      }

      .list-item3 {
        flex: 0 0 50%;
        text-align: left;
        height: 0.5rem;
        line-height: 0.5rem;
        font-size: 0.24rem;
        font-weight: 400;
        color: #fe3959;
      }

      .balance {
        flex: 0 0 auto;
        align-self: left;
        height: 0.55rem;
        line-height: 0.55rem;
        font-size: 0.24rem;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
      }
    }

    li > p,
    li > div {
      position: relative;
      padding-left: 0.3rem;
      padding-right: 0.2rem;
      margin-bottom: 0.2rem;
    }

    li > p {
      font-size: 14px;
      color: #333;
    }

    li > div {
      font-size: 13px;
      color: #666;
    }

    .font {
      text-align: center;
      font-size: 16px;
    }

    .mint-cell > .ball:before {
      content: "";
      width: 10px;
      height: 10px;
      display: block;
      z-index: 1;
      position: absolute;
      border-radius: 50%;
      top: 5px;
      left: 0;
    }

    .mint-navbar .mint-tab-item.is-selected {
      border: 0;
      color: #fe3959;
    }

    .mint-tab-item {
      position: relative;
    }

    .is-selected::after {
      margin-bottom: -3px;
      font-size: 15px;
      background-color: #fe3959;
      position: absolute;
      right: 0;
      top: 0.8rem;
      left: 26%;
      height: 2px;
      content: "";
      width: 50%;
    }

    .detail-con {
      width: 7.5rem;
      height: 100%;
      color: #666;
      background: rgba(255, 255, 255, 1);
    }

    .defail-header {
      text-align: center;
      width: 7.5rem;
      height: 0.8rem;
      line-height: 0.8rem;
      font-size: 0.32rem;
      font-weight: 500;
      color: rgba(51, 51, 51, 1);
    }

    .detail-bottom {
      width: 7.2rem;
      border-radius: 0.16rem;
      padding: 0.15rem;
      display: flex;
      flex-wrap: wrap;
    }

    .detail-bottom .list01 {
      flex: 0 0 100%;
      font-weight: 400;
      display: flex;
      flex-direction: row;
      width: 2.48rem;
      height: 0.42rem;
      font-size: 0.3rem;
      line-height: 0.42rem;
    }

    .detail-bottom .list01 .list-item {
      flex: 0 0 50%;
      height: 0.5rem;
      line-height: 0.5rem;
      font-size: 0.26rem;
      font-weight: 400;
      padding: 0 0.1rem;
    }

    .detail-bottom > p {
      padding: 0.3rem 0 0.2rem 0.1rem;
      flex: 1 0 auto;
      height: 0.42rem;
      font-size: 0.28rem;
      font-weight: 400;
      line-height: 0.42rem;
    }

    .detail-bottom > p.time {
      width: 100%;
      height: 0.42rem;
      font-size: 0.25rem;
      font-weight: 400;
      line-height: 0.42rem;
    }

    .detail-bottom .table-con {
      width: 7.2rem;
      padding: 0.1rem 0.1rem 0 0.1rem;
    }

    .detail-bottom .table-con ul {
      display: flex;
    }

    .detail-bottom .table-con li {
      text-align: center;
      flex: 1 0 25%;
      font-size: 0.24rem;
      height: 0.42rem;
      line-height: 0.42rem;
    }

    .detail-bottom div.btn {
      padding: 0 1rem;
      text-align: center;
      width: 100%;
    }

    .mint-cell {
      color: #666;
    }

    .mt-cell-full-border {
      width: 100%;
      display: inline-flex;

      .mint-cell-title {
        flex: 1;
        font-size: 14px;
        margin: 11px 0;
      }

      .mint-cell-value {
        flex: 1;
        text-align: right;
        font-size: 0.25rem;
      }
    }

    .mint-radiolist-inline .mint-cell {
      display: inline-block;
    }

    .mint-radiolist-inline .mint-cell::after {
      display: none;
    }

    .mint-radiolist-inline .mint-radiolist-title {
      display: none;
    }

    .mint-radiolist-inline .mint-radio-core {
      border: none;
      background: url("../../assets/radio.png") no-repeat;
      background-size: 100%;
    }

    .mint-radiolist-inline .mint-radio-core::after {
      display: none;
    }

    .mint-radiolist-inline .mint-radio-input:checked + .mint-radio-core {
      border-color: #fe3959;
      background: url("../../assets/radio-checked.png") no-repeat;
      background-size: 100%;
    }

    .mint-radiolist-inline .mint-cell .mint-cell-wrapper {
      padding-right: 0;
    }

    .mint-radiolist-inline .mint-cell:last-child .mint-radiolist-label {
      padding: 0;
    }

    .mt-field-cs01 {
      width: 100%;

      .mint-cell-wrapper {
        width: 100%;
      }

      .mint-cell-title {
        flex: 1;
        font-size: 14px;
        margin: 11px 0;
      }

      .mint-cell-value {
        flex: 1;
        text-align: right;
        font-size: 22px;
      }

      .mint-cell:last-child::after {
        display: block;
        left: 0;
        width: 100%;
      }
    }

    .btn {
      font-size: 16px;
      margin: 0.3rem 0 0.5rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .mint-button--danger {
        width: 3rem;
        position: relative;
        left: 50%;
        margin-left: -1.5rem;
        background: #6733c7 !important;
      }
    }

    .mint-badge.is-size-small {
      border-radius: 5px;
      width: 20%;
      padding: 0.2rem 0.1rem;
      margin-bottom: 0.2rem;
    }

    .mint-badge {
      color: #000;
      background: #f2f2f2;
    }

    .mint-field-core {
      font-size: 0.25rem;
    }

    .btn .mint-field-core {
      font-size: 0.25rem;
    }
  }
</style>
