<template>
  <div class="team-recharge-report-page">
    <div class="mask"
         v-show="trade"></div>
    <div class="content"
         v-show="allShow">
      <div class="select">
        <span class="iconfont icon-sanjiao1"
              @click="tradeShow(1)">{{allType}}</span>
        <span class="iconfont icon-calendar"
              @click="showChild">{{start+'-'+end}}</span>
      </div>
      <div class="item"
           v-show="trade">
        <span :class="active===items.name_cn?'active':''"
              @click="selected(items)"
              v-for="(items,i) in displayData"
              :key="i">{{items.name_cn}}</span>
      </div>
      <div class="time-search">
        <div class="search-con">
          <mt-search cancel-text
                     v-model="searchUsername"
                     placeholder="搜索团队成员"
                     @keyup.native.enter="teamSearch"></mt-search>
        </div>
      </div>

      <div class="login">
        <div style="width:100%;min-height:rem"
             v-infinite-scroll="loadMore"
             infinite-scroll-disabled="loading"
             infinite-scroll-distance="10">
          <Table :data="tradeData"
                 :header="header"
                 :column="column"/>
        </div>
        <div style="width:100%;text-align:center;margin-top:1rem;"
             v-show="tradeData.length===0">
          <p style="margin-top: 3rem;">暂无记录哦~</p>
        </div>
      </div>
    </div>
    <date @getLinkage="showChildMsg"
          @getLin="getLin"
          v-show="showLinkage"
          :defaultDate="defaultDate"
          :data="data"></date>
  </div>
</template>

<script type="text/ecmascript-6">
  import Date from "@/bass/date";
  import {t} from "@/common/config";
  import {Toast, Indicator} from "mint-ui";
  import {
    get_my_water,
    get_agent_team_child_recharge
  } from "@/common/api";
  import moment from "moment/moment";
  import Table from "@/bass/table";

  export default {
    props: ['uname'],
    created() {
      this.title = sessionStorage.getItem("title");
      if (this.uname) {
        this.data.username = this.searchUsername = this.uname;
        this.ajax(this.data);
      }
      let date = moment();
      let m = (date.month() + 1) >= 10 ? (date.month() + 1) : '0' + (date.month() + 1)
      let a = (date.date() - 7) >= 10 ? date.date() - 7 : '0' + (date.date() - 7)
      let d = date.date() >= 10 ? date.date() : "0" + date.date()
      this.end = m + '/' + d
      this.start = m + '/' + a
      this.defaultDate = {
        0: [
          `${date.year()}年`,
          `${date.month() + 1 >= 10 ? "" : "0"}${date.month() + 1}月`,
          `${date.date() - 7 >= 10 ? "" : "0"}${date.date() - 7}日`
        ],
        1: [
          `${date.year()}年`,
          `${date.month() + 1 >= 10 ? "" : "0"}${date.month() + 1}月`,
          `${date.date() >= 10 ? "" : "0"}${date.date()}日`
        ]
      };
    },
    data() {
      return {
        header: ["日期", "用户名", "充值金额", "状态"],
        column: ["date", "username", "amount", "status_cn"],
        activeBtn: "充值记录",
        totalWater: "0",
        tradeData: [], //列表数据
        loading: false,
        listEnd: false,
        allShow: true,
        money: {
          total_money: 0,
          total_profit_money: 0,
          total_win_money: 0
        },
        defaultDate: {},
        tradeStatus: [], //彩种类型
        allType: "全部状态",
        allStatus: "全部彩种",
        active: "全部",
        active2: "全部",
        active3: "全部",
        sendStatus: [
          {name_cn: "全部", value: ""},
          {name_cn: "正在充值", value: "pending"},
          {name_cn: "充值成功", value: "success"},
          {name_cn: "充值失败", value: "failure"}
        ],
        orderStatus: [
          // 状态类型
          {name_cn: "全部", value: ""},
          {name_cn: "彩票", value: "lottery"},
          {name_cn: "申博视讯", value: "sb"},
          {name_cn: "电子游艺", value: "rt"},
          {name_cn: "AG视讯", value: "ag"},
          {name_cn: "开元", value: "ky"}
        ],
        states: {
          sent: require(`../../assets/sent.png`),
          wait: require(`../../assets/wait.png`),
          cancel: require(`../../assets/cancel.png`)
        },
        searchUsername: "",
        displayData: [], // 显示的数据
        data: {
          game: "", // 彩种
          status: "", // 开奖状态
          stime: moment.unix(t.end).format("YYYY-MM-DD"), //结束时间
          etime: moment.unix(t.start).format("YYYY-MM-DD"), // 开始时间
          start_time: moment.unix(t.end).format("YYYY-MM-DD"), //结束时间
          end_time: moment.unix(t.start).format("YYYY-MM-DD"), // 开始时间
          page: 0 // 页码
        },
        showLinkage: false, //控制子组件的显示隐藏
        trade: false //交易
      };
    },
    methods: {
      getLin() {
        this.showLinkage = false;
        this.allShow = true;
      },
      showChildMsg(msg) {
        //接收子组件数据
        msg.page = 1;
        msg.etime = msg.end_time;
        msg.stime = msg.start_time;
        this.end = msg.end_time.slice(-5).replace('-', '/')
        this.start = msg.start_time.slice(-5).replace('-', '/')
        this.allShow = true;
        this.ajax(msg);
        this.showLinkage = false;
      },
      tradeShow(type) {
        if (type === 1) {
          if (!this.one) {
            this.active = "全部";
            this.one = 1;
          }
          this.active = this.active2;
          this.displayData = this.sendStatus;
          this.displayData.forEach(element => {
            element.type = 1;
          });
        }
        if (type === 2) {
          if (!this.two) {
            this.active = "全部";
            this.two = 1;
          }
          this.active = this.active3;
          this.displayData = this.orderStatus;
          this.displayData.forEach(element => {
            element.type = 2;
          });
        }

        this.trade = !this.trade;
        this.showLinkage = false;
      },
      showChild() {
        this.allShow = false;
        this.showLinkage = true;
        this.trade = false;
      },
      selected(name) {
        if (name.type === 1) {
          this.allType = name.name_cn;
          this.data.status = name.value;
          this.active2 = name.name_cn;
        }
        if (name.type === 2) {
          this.allStatus = name.name_cn;
          this.data.game = name.value;
          this.active3 = name.name_cn;
        }
        this.trade = false;
        this.data.page = 1;
        Indicator.open("加载中...");
        this.ajax(this.data);
      },
      loadMore() {
        if (this.listEnd || this.loading) return;
        Indicator.open();
        this.loading = true;
        this.data.page = this.data.page + 1;
        get_agent_team_child_recharge(this.data).then(res => {
          Indicator.close();
          this.loading = false;
          if (res.code === 200) {
            (this.money.total_money = res.data.total_money),
              (this.money.total_profit_money = res.data.total_profit_money),
              (this.money.total_win_money = res.data.total_win_money);
            this.page = res.data.page;
            if (res.data.list.length > 0) {
              this.tradeData = this.tradeData.concat(res.data.list);
              console.log(this.tradeData)
              this.totalWater = res.data.total_water || "0";
            } else {
              this.listEnd = true;
            }
          } else {
            if (res.code === 401) {
              this.listEnd = true;
            }
            Toast(res.msg);
          }
        });
      },
      ajax(data) {
        this.listEnd = false
        this.data.page = 0
        this.data = Object.assign(this.data, {
          username: this.searchUsername
        });
        this.tradeData = []
        this.loadMore()
        // get_agent_team_child_recharge(this.data).then(res => {
        //   if (res.code === 200) {
        //     this.tradeData = res.data.list;
        //     this.totalWater = res.data.total_water || "0";
        //   } else {
        //     Toast(res.msg);
        //   }
        //   Indicator.close();
        // });
      },
      teamSearch() {
        this.data.username = this.searchUsername;
        this.ajax();
      }
    },
    watch: {
      searchUsername(value) {
        if (value === "") {
          this.data.page = 1;
          this.data.username = "";
          this.ajax();
        }
      },
      trade(n) {
        n
          ? (document.body.style.overflow = "hidden")
          : (document.body.style.overflow = "scroll");
      }
    },
    components: {
      Date,
      Table
    }
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  @import "../../style/global";

  .team-recharge-report-page {
    .is-right {
      position: absolute;
      top: 0.3rem;
      left: 50%;
      width: 5rem;
      height: 0.5rem;
      margin-left: -2.5rem;
      border-radius: 4px;
      text-align: center;
      border: 1px solid #fff;

      .mint-button {
        width: 100%;
        height: 0.5rem;
      }

      span {
        float: left;
        width: 33%;
        height: 0.5rem;
        font-size: 0.28rem;
        line-height: 0.5rem;
      }

      span:nth-child(1) {
        border-right: 1px solid #fff;
      }

      span:nth-child(2) {
        border-right: 1px solid #fff;
      }

      .btn-active {
        background: #fff !important;
        color: #6c2dfe !important;
      }
    }

    .search-con {
      height: 0.72rem;
      width: 100%;
      padding: 0.1rem 0;
      background: #fff;

      .mint-search {
        height: 100%;
        width: 92%;
        margin-left: 4%;
      }
    }

    .content {
      font-size: 14px;
      position: relative;
    }

    .select {
      height: 1rem;
      width: 100%;
      display: flex;
      justify-content: space-around;
      z-index: 11;
      position: relative;
      background: #fff;
    }

    .select > span {
      padding: 0.3rem;
    }

    .item {
      position: fixed;
      /* top: 2rem; */
      background: #fff;
      z-index: 11;
    }

    .lists {
      width: 100%;
      padding: 0.1rem 0.1rem;
      position: relative;
      display: flex;
      flex-direction: row;
    }

    .lists-img {
      flex: 0 0 1.2rem;

      img {
        width: 100%;
      }
    }

    .lists-con {
      flex: 1;
      padding-left: 0.3rem;
    }

    .lists-item {
      flex: 1;
      width: 100% !important;
      margin-top: 0.28rem;
      float: left;

      .left {
        height: 0.25rem;
        line-height: 0.25rem;
        float: left;
      }

      .right {
        height: 0.25rem;
        line-height: 0.25rem;
        float: right;
      }

      &:nth-child(1) {
        .left {
          font-weight: bold;
          font-size: 0.32rem;
          color: rgba(51, 51, 51, 1);
        }

        .right {
          font-size: 13px;
          font-weight: 400;
          color: rgba(153, 153, 153, 1);
        }
      }

      &:nth-child(2) {
        .left {
          font-size: 0.28rem;
          color: rgba(102, 102, 102, 1);
        }

        .right {
          font-size: 0.32rem;
          font-weight: bold;
          color: rgba(51, 51, 51, 1);
        }
      }

      &:nth-child(3) {
        .left {
          color: rgba(153, 153, 153, 1);
          line-height: 17px;
          font-size: 0.23rem;
        }

        .right {
          font-size: 0.28rem;
          color: #6c2dfe;
        }
      }
    }

    .blue-div {
      position: absolute;
      right: 0.3rem;
      bottom: 0.1rem;
      width: 42px !important;
      height: 20px;
      font-size: 14px;
      color: #6c2dfe;
      line-height: 20px;
    }

    .item > span {
      display: inline-block;
      width: 20%;
      margin: 2%;
    }

    .padded {
      padding: 0.2rem 0;
      background: #f2f2f2;
    }

    .login p {
      margin-bottom: 0.3rem;
    }

    .login li {
      min-height: 1.5rem;
      padding: 0.2rem 0;
      background-color: #fff;
    }

    .login p > b {
      font-size: 16px;
      font-weight: 500;
      color: #333;
    }

    .login p > span {
      color: #999;
      font-size: 14px;
    }

    .select > div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .select > span {
      padding: 0.3rem;
      font-size: 14px;
    }

    .mint-cell {
      position: relative;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #888888;
    }

    .mint-cell:after {
      height: 1px;
      background-color: lightgray;
    }

    .mint-cell > span {
      line-height: 4;
      font-weight: bold;
      color: #fe3959;
      flex: 1;
      text-align: end;
      margin-top: 5px;
    }

    .mint-cell > div > p > b {
      margin-right: 10px;
    }

    .mint-cell:after {
      left: 0;
      width: 100%;
    }

    .item {
      position: fixed;
      background: #fff;
      z-index: 11;
      width: 100%;
      padding: 2%;
    }

    .item > span {
      display: inline-block;
      font-size: 12px;
      width: 20%;
      padding: 1%;
      margin: 1%;
      height: 0.7rem;
      line-height: 0.7rem;
      text-align: center;
      border-radius: 5px;
      margin-top: 5px;
      background: #f2f2f2;
      color: #333;
    }

    .bot {
      position: fixed;
      bottom: 0;
      background-position: top;
      background-size: 100% 2px;
      padding-top: 5px;
      z-index: 1;
      color: #666;
    }

    .item > .active {
      background: @hover_color;
      color: #fff;
    }

    .icon-calendar:after,
    .icon-sanjiao1:after {
      margin-left: 5px;
      color: #d8d8d8;
    }

    .iconfont.icon-shuaxin {
      color: #fff;
    }

    .total-amount {
      text-align: center;
      padding: 5px;
      line-height: 30px;
      border-bottom: 1px solid #888888;

      span {
        color: red;
      }
    }
  }
</style>
