<template>
  <div class="page">
    <mt-header class="my-header2"
               title="返水明细">
      <mt-button slot="left"
                 icon="back"
                 @click.native="backto"></mt-button>
    </mt-header>
    <div class="content"
         v-show="allShow">
      <div class="select">
        <span :class="time_active=='today'?'time_active':''"
              @click="setTime('today')">今天</span>
        <span :class="time_active=='yesterday'?'time_active':''"
              @click="setTime('yesterday')">昨天</span>
        <span class="iconfont icon-sanjiao1"
              style="color:#000"
              @click="tradeShow()">{{allType}}</span>
      </div>
      <div class="item"
           v-show="trade">
        <span :class="active==items.name_cn?'active':''"
              v-for="(items,i) in displayData"
              @click="selected(items)"
              :key="i">{{items.name_cn}}</span>
      </div>
      <p class="padded"
         @click="showChild">{{data.start_time}} 至 {{data.end_time}}</p>
      <p class="total-amount">总计:{{`${totalWater}元`}}</p>
      <div class="login">
        <div style="width:100%;min-height:rem"
             v-infinite-scroll="loadMore"
             infinite-scroll-disabled="loading"
             infinite-scroll-distance="10">
          <Table :data="tradeData"
                 :header="header"
                 :column="column"/>
        </div>
        <div style="width:100%;text-align:center;margin-top:1rem;"
             v-show="tradeData.length==0">
          <p>暂无信息哦~</p>
        </div>
      </div>
    </div>
    <date @getLinkage="showChildMsg"
          @getLin="getLin"
          v-show="showLinkage"
          :defaultDate="defaultDate"
          :data="data"></date>

  </div>
</template>

<script type="text/ecmascript-6">
  import Date from "@/bass/date";

  import {t} from "@/common/config";
  import {Toast, Indicator} from "mint-ui";
  import {get_team_detail} from "@/common/api";
  import moment from "moment/moment";
  import Table from "@/bass/table";
  import k from "kiana-js";

  export default {
    created() {
      console.log(k);
      this.title = sessionStorage.getItem("title");

      let date = moment();

      this.defaultDate = {
        0: [
          `${date.year()}年`,
          `${date.month() + 1 >= 10 ? "" : "0"}${date.month() + 1}月`,
          `${date.date() - 7 >= 10 ? "" : "0"}${date.date() - 7}日`
        ],
        1: [
          `${date.year()}年`,
          `${date.month() + 1 >= 10 ? "" : "0"}${date.month() + 1}月`,
          `${date.date() >= 10 ? "" : "0"}${date.date()}日`
        ]
      };

      this.active = this.active3;
      this.displayData = this.orderStatus;
      this.displayData.forEach(element => {
        element.type = 2;
      });
    },
    data() {
      return {
        header: ["日期", "用户名", "游戏", "投注金额", "比例(%)", "返水金额"],
        column: ["date", "username", "game_cn", "betting", "ratio", "water"],
        tradeData: [], //列表数据
        loading: false,
        allShow: true,
        money: {
          total_money: 0,
          total_profit_money: 0,
          total_win_money: 0
        },
        defaultDate: {},
        tradeStatus: [], //彩种类型
        allType: "全部",
        active: "全部",
        active_cache: "全部",
        time_active: "",
        orderStatus: [
          // 状态类型
          {name_cn: "全部", value: ""},
          {name_cn: "彩票", value: "lottery"},
          {name_cn: "申博", value: "sb"},
          {name_cn: "电子游艺", value: "rt"},
          {name_cn: "AG视讯", value: "ag"},
          {name_cn: "开元", value: "ky"}
        ],
        displayData: [], // 显示的数据
        data: {
          game: "", // 彩种
          status: "", // 开奖状态
          stime: moment.unix(t.end).format("YYYY-MM-DD"), //结束时间
          etime: moment.unix(t.start).format("YYYY-MM-DD"), // 开始时间
          start_time: moment.unix(t.end).format("YYYY-MM-DD"), //结束时间
          end_time: moment.unix(t.start).format("YYYY-MM-DD"), // 开始时间
          page: 0 // 页码
        },
        time_queue: [
          {
            stime: moment.unix(t.end).format("YYYY-MM-DD"), //结束时间
            etime: moment.unix(t.start).format("YYYY-MM-DD"), // 开始时间
            start_time: moment.unix(t.end).format("YYYY-MM-DD"), //结束时间
            end_time: moment.unix(t.start).format("YYYY-MM-DD") // 开始时间
          }
        ],
        showLinkage: false, //控制子组件的显示隐藏
        trade: false, //交易
        totalWater: "0"
      };
    },
    methods: {
      backto() {
        window.history.back();
      },
      getLin() {
        this.showLinkage = false;
        this.allShow = true;
      },
      showChildMsg(msg) {
        //接收子组件数据
        msg.page = 1;
        msg.etime = msg.end_time;
        msg.stime = msg.start_time;
        this.allShow = true;
        this.showLinkage = false;
        this.ajax(msg);
      },
      showChild() {
        this.time_active = ''
        this.allShow = false;
        this.showLinkage = true;
        this.trade = false;
      },
      setTime(day) {
        if (this.time_active === day) {
          let time = this.time_queue[0];
          Object.keys(time).forEach(item => {
            this.data[item] = time[item];
          });

          this.time_active = "";
        } else {
          this.time_active = day;
          if (day === "today") {
            let t = k.today();
            this.data.stime = t;
            this.data.etime = t;
            this.data.start_time = t;
            this.data.end_time = t;
            this.time_queue.push({
              stime: t, //结束时间
              etime: t, // 开始时间
              start_time: t, //结束时间
              end_time: t // 开始时间
            });
          } else if (day === "yesterday") {
            let y = k.yesterday();
            this.data.stime = y;
            this.data.etime = y;
            this.data.start_time = y;
            this.data.end_time = y;
            this.time_queue.push({
              stime: y, //结束时间
              etime: y, // 开始时间
              start_time: y, //结束时间
              end_time: y // 开始时间
            });
          } else {
            return;
          }
        }

        Indicator.open("加载中...");
        this.ajax(this.data);
      },
      tradeShow() {
        this.active = this.active_cache;
        this.trade = !this.trade;
        this.showLinkage = false;
      },
      // 下拉栏的点击选择事件
      selected(name) {
        this.allType = name.name_cn;
        this.active = name.name_cn;
        this.active_cache = name.name_cn;
        this.trade = false;
        this.data.status = name.value;
        this.data.game = name.value;
        Indicator.open("加载中...");
        this.ajax(this.data);
      },
      loadMore() {
        if (this.listEnd || this.loading) return;
        Indicator.open();
        this.loading = true;
        this.data.page = this.data.page + 1;
        get_team_detail(this.data).then(res => {
          Indicator.close();
          this.loading = false;
          if (res.code === 200) {
            (this.money.total_money = res.data.total_money),
              (this.money.total_profit_money = res.data.total_profit_money),
              (this.money.total_win_money = res.data.total_win_money);
            this.page = res.data.page;
            if (res.data.list.length > 0) {
              res.data.list.forEach(element => {
                element.gamename = this.orderStatus.find(
                  item => item.value === element.game
                ).name_cn;
              });
              this.tradeData = this.tradeData.concat(res.data.list);
              this.totalWater = res.data.total_water || "0";
            } else {
              this.listEnd = true;
            }
          } else {
            if (rec.code === 401) {
              this.listEnd = true;
            }
            Toast(res.msg);
          }
        });
      },
      ajax(data) {
        data.limit = 20;
        data.page = 1;

        get_team_detail(data).then(res => {
          if (res.code === 200) {
            this.loading = false;
            res.data.list.forEach(element => {
              element.gamename = this.orderStatus.find(
                item => item.value === element.game
              ).name_cn;
            });
            this.tradeData = res.data.list;
            this.totalWater = res.data.total_water || "0";
          } else {
            Toast(res.msg);
          }
          Indicator.close();
        });
      }
    },
    watch: {
      trade(n) {
        n
          ? (document.body.style.overflow = "hidden")
          : (document.body.style.overflow = "scroll");
      }
    },
    components: {
      Date,
      Table,

    }
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  @import "../../style/global";

  .content {
    font-size: 14px;
    position: relative;
  }

  .select {
    // height: 1rem;
    // line-height: 1rem;
    padding: 0.2rem 0.3rem;
    width: 92%;
    display: flex;
    justify-content: space-around;
    z-index: 11;
    position: relative;
    background: #fff;
  }

  .select {
    > span {
      height: 0.5rem;
      line-height: 0.5rem;
      text-align: center;
      font-size: 0.26rem;
      width: 30%;
      border: 1px solid #f2f2f2;
      border-radius: 5px;
    }

    > span:nth-child(3) {
      border: 0;
    }
  }

  .select > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ul01 {
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.25rem;
    color: #333;
    background: #e6e6e6;
    margin-top: 10px;
  }

  .ul01 li {
    float: left;
    min-height: 0.6rem;
    height: 0.6rem;
    line-height: 0.6rem;
    padding: 0;
    text-align: center;
    width: calc(100% / 6);
  }

  .login li {
    min-height: 0.6rem !important;
    height: 0.6rem !important;
    line-height: 0.6rem;
    padding: 0 !important;
    background-color: #fff;
  }

  .ul02 div {
    float: left;
    min-height: 0.6rem;
    height: 0.6rem;
    line-height: 0.6rem;
    padding: 0;
    text-align: center;
    width: calc(100% / 6);
    font-size: 0.2rem;
    color: #666;
  }

  .ul02 div:nth-child(2) {
    color: deepskyblue;
  }

  .item > .active {
    background: #6c2dfe;
    color: #fff;
  }

  .item {
    position: fixed;
    /* top: 2rem; */
    background: #fff;
    z-index: 11;
  }

  .item > span {
    display: inline-block;
    width: 20%;
    margin: 2%;
  }

  .padded {
    padding: 0.2rem 0;
    background: #f2f2f2;
  }

  .login p {
    margin-bottom: 0.3rem;
  }

  .login div {
    display: inline-block;
    flex: 2;
  }

  .login li {
    min-height: 1.5rem;
    padding: 0.2rem 0;
  }

  .login p > b {
    font-size: 16px;
    font-weight: 500;
    color: #333;
  }

  .login p > span {
    color: #999;
    font-size: 14px;
  }

  .mint-cell {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .mint-cell > span {
    line-height: 4;
    font-weight: bold;
    color: @hover_color;
    flex: 1;
    text-align: end;
    margin-top: 5px;
  }

  .mint-cell > div > p > b {
    margin-right: 10px;
  }

  .mint-cell:after {
    left: 0;
    width: 100%;
  }

  .item {
    position: fixed;
    background: #fff;
    z-index: 11;
    width: 100%;
    padding: 2%;
  }

  .item > span {
    display: inline-block;
    font-size: 12px;
    width: 20%;
    padding: 1%;
    margin: 1%;
    height: 0.7rem;
    line-height: 0.7rem;
    text-align: center;
    border-radius: 5px;
    margin-top: 5px;
    background: #f2f2f2;
    color: #333;
  }

  .time_active {
    background: #6c2dfe;
    color: #fff;
  }

  .active {
    background: #6c2dfe;
    color: #fff;
  }

  .icon-calendar:after,
  .icon-sanjiao1:after {
    margin-left: 5px;
    color: #d8d8d8;
  }

  .total-amount {
    text-align: center;
    padding: 5px;
    line-height: 30px;
    color: red;
    border-bottom: 1px solid #f1f1f1;
  }

  .iconfont.icon-shuaxin {
    color: #fff;
  }
</style>
