//背景色
@background_color: #fff;
@login_bg: #161D3B;
//块状区域的分隔色
@div_bg: #161D3B;
//切换，按钮，部分字体的黄色
@hover_color: #6c2dfe;
//首页环形渐变色
.changeColor(@startColor:#313E6D,@endColor:#161D3B) {
  background: -webkit-radial-gradient(50% 25%, @startColor 5%, @endColor 70%); /* Safari 5.1 - 6.0 */
}


//登录注册页面样式
.login {
  position: relative;
  height: 13rem;

  > p {
    font-size: 28px;
    color: #fff;

    > .icon-fork {
      width: 20px;
      height: 20px;
      float: right;
      color: #fff;
    }
  }
}

.icon-kefu:before {
  font-size: 22px;
  margin-right: 0.2rem;
}

.login_box {
  background: #fff;
  border-radius: 16px;
  margin-top: 0.5rem;

  font-size: 16px;

  z-index: 2;

  > p {
    margin: 0.2rem 0 0.2rem .3rem;
  }

  > .mint-field-core {
    padding: 0.2rem 0 0.2rem 0.41rem;
    height: 0.52rem;
    background: #f1f1f1;
    border-radius: 8px;
    width: 94%;
  }

  .center {
    text-align: center;
    color: #999;
    font-size: 0.3rem;
    padding-bottom: 0.2rem;
  }

  .login_btn {
    margin: 1rem 0 0.271rem;
  }
}

.code {
  position: absolute;
  right: 1rem;
  top: 5.1rem;
  display: inline-block;
  font-size: 14px;
  color: #6c2dfe;
  line-height: 14px;
}
