<template>
  <div>
    <my-header></my-header>
    <div class="code">
      <span>¥{{this.routeMsg.amount}}</span>
      <p>扫描或长按保存下方二维码完成支付</p>
      <div id='qrcode'></div>
      <mt-button v-if="routeMsg.type=='alipay'" type="danger" size="large" @click="goUrl">立即支付</mt-button>
      <!-- <div class="btn">
         <mt-button type="danger" size="large">长按保存二维码</mt-button>
         <mt-button type="danger" size="large" @click="success">我已完成支付</mt-button>
      </div> -->
    </div>
    <div class="msg" v-if="routeMsg.type=='alipay'">
      <b>温馨提示：</b>
      <p>1. 点「立即支付」将会打开支付宝，到达支付页面；</p>
      <p>2. 在支付宝中完成支付后，回到此页面点「我已付」；</p>
      <p>3. 如充值未及时到账，请
        <router-link to="" tag="a">联系在线客服</router-link>
      </p>
    </div>
    <!-- <div class="msg">
        <b>温馨提示：</b>
        <p>1. 保存二维码到相册</p>
        <p> 2. 打开微信扫一扫，点击右上角相册，从相册中选择保存的二维码扫描 </p>
        <p>3. 支付完成后，<router-link to="" tag="a">联系在线客服 </router-link>确认加钱</p>
    </div> -->
  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from '@/bass/header'
  import {onlineQrcodeApi_api} from "@/common/api";
  import QRCode from "qrcodejs2";
  import {Toast, MessageBox} from "mint-ui";

  export default {
    data() {
      return {
        title: "",
        routeMsg: {
          type: '',
          amount: '',
          qrcodeid: ''
        },
        text: '',
        codeUrl: '',
        popUp: false
      };
    },
    created() {
      if (this.$route.params.msg) {
        this.routeMsg = this.$route.params.msg
        sessionStorage.setItem("type", this.routeMsg.type);
        sessionStorage.setItem("qrcodeid", this.routeMsg.qrcodeid);
        sessionStorage.setItem("amount", this.routeMsg.amount);
      } else {
        this.routeMsg.type = this.routeMsg.type || sessionStorage.getItem("type");
        this.routeMsg.amount = this.routeMsg.amount || sessionStorage.getItem("amount");
        this.routeMsg.qrcodeid = this.routeMsg.qrcodeid || sessionStorage.getItem("qrcodeid");
        this.popUp = true
      }
      if (this.routeMsg.type == "alipay") this.title = '支付宝支付'
      if (this.routeMsg.type == "wxpay") this.title = '微信支付'
    },
    mounted() {
      if(this.routeMsg.qrcode){
          this.qrcode(this.routeMsg.qrcode);
          this.codeUrl = this.routeMsg.qrcode
      }else{
           onlineQrcodeApi_api({id: this.routeMsg.qrcodeid}).then(res => {
        if (res.code == 200) {
          this.codeUrl = res.data
          console.log(this.codeUrl)
          this.qrcode(res.data);
        } else {
          Toast(res.msg)
        }
      });
      }
   
      if (this.popUp) {
        MessageBox.confirm("请根据支付情况点击下方按钮，请不要重复支付", "提示", {
          closeOnClickModal: false,
          confirmButtonText: '支付成功',
          cancelButtonText: '未支付'
        })
          .then(action => {
            this.$router.push({
              name: "PaySec",
              params: {
                msg: this.routeMsg = Object.assign({}, this.routeMsg, {status: 1})
              }
            });
          })
          .catch(res => {
            this.$router.push({
              name: "PaySec",
              params: {
                msg: this.routeMsg = Object.assign({}, this.routeMsg, {status: 2})
              }
            });
          });
      }
    },
    methods: {
      qrcode(id) {
        let qrcode = new QRCode("qrcode", {
          width: 200,
          height: 200, // 高度
          text: id // 二维码内容
          // render: 'canvas' // 设置渲染方式（有两种方式 table和canvas，默认是canvas）
          // background: '#f0f'
          // foreground: '#ff0'
        });
      },
      success() {
        this.$router.push({
          name: "PaySec",
          params: {
            msg: this.routeMsg.amount
          }
        });
      },
      goUrl() {
       
        location.href = this.codeUrl
      },
    },

    components: {
      MyHeader
    }
  };
</script>

<style scoped>
  .code {
    font-size: 14px;
    color: #666;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0.2rem;
  }

  .code > span {
    font-size: 28px;
    color: #000;
    margin: 0 auto 0.5rem;
  }

  #qrcode {
    margin: 0.15rem auto 0;
  }

  .mint-button--large {
    margin: 0.5rem 0 0.5rem;
  }

  .msg a {
    color: #FE3959;
  }

  .btn {
    display: flex;
    justify-content: space-between;
  }

  .btn > button {
    width: 40%;
  }
</style>
