<template>
  <div>
    <my-header></my-header>
    <div class="online">
      <p>填写充值金额</p>
      <div class="line">
        <mt-field v-if="state.type=='point'"
                  placeholder="请选择金额"
                  type="number"
                  v-model.trim="number"></mt-field>
        <mt-field v-else
                  :placeholder="'请输入'+state.min+'~'+state.max+'元'"
                  type="number"
                  v-model.trim="number"></mt-field>
      </div>
      <p>选择充值金额</p>
      <div class="btn">
        <span :class="{active : active == v && active == number}"
              @click="selected(v)"
              class="mint-badge is-size-small"
              v-for="(v,i) in moneyList"
              :key="i">{{v}}元</span>
      </div>
      <mt-button type="danger"
                 size="large"
                 @click.native="pay"
                 :disabled="numberCheck">立即充值</mt-button>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import MyHeader from "@/bass/header";
import { payApi_api, online_way_info_api } from "@/common/api";
import { Toast, Indicator, MessageBox } from "mint-ui";

export default {
  created () {
    Indicator.close();
    if (typeof this.$route.query.datamsg == "object") {
      sessionStorage.setItem(
        "onLineMsg",
        JSON.stringify(this.$route.query.datamsg)
      );
      this.cardId = this.$route.query.datamsg.id;
      this.way = this.$route.query.datamsg.name;
    } else {
      let onLineMsg = JSON.parse(sessionStorage.getItem("onLineMsg"));
      this.cardId = onLineMsg.id;
      this.way = onLineMsg.name;
    }
    let list = [50, 100, 300, 500, 1000, 2000, 5000, 10000];
    online_way_info_api({ id: this.cardId }).then(res => {
      let limit = res.data.limit;
      this.state = limit;
      if (limit.type === "range") {
        for (let i = 0; i < list.length; i++) {
          // 数值小于等于600 并且大于等于100
          if (list[i] < parseFloat(limit.min)) {
            list.splice(i, 1);
            i--;
          }
          if (list[i] > parseFloat(limit.max)) {
            list.splice(i, 1);
            i--;
          }
        }
        this.moneyList = list;
        this.max = limit.max;
        this.min = limit.min;
      }
      if (limit.type === "point") {
        let arr = res.data.limit.option || [];
        this.moneyList = arr;
        this.max = arr[arr.length - 1];
        this.min = arr[0];
      }
      this.type = limit.type;
    });
  },
  data () {
    return {
      cardId: "", // 充值方式数据
      state: { min: 0, max: 0 },
      moneyList: [],
      active: "", //点击的选项
      number: "", // 金额
      numberCheck: true,
      max: 0,
      min: 100000,
      type: undefined
    };
  },
  methods: {
    selected (name) {
      this.number = name;
      this.active = name;
    },
    pay () {
      console.group("当前的充值的状态");
      console.log("当前状态=>", this.type);
      console.log("最大限额=>", this.max);
      console.log("最小限额=>", this.min);

      if (this.type === "point" && !this.moneyList.includes(this.number))
        return Toast(`当前只能选择固定金额充值`);
      if (Number(this.number) < Number(this.min))
        return Toast(`当前金额小于最小充值金额`);
      if (Number(this.number) > Number(this.max))
        return Toast(`当前金额小于最大充值金额`);

      Indicator.open("正在加载");

      payApi_api({
        way: this.cardId,
        amount: this.number
      }).then(res => {
        if (res.code === 200) {
          Indicator.close();
          window.location.href = res.data.qrcode;
          MessageBox.confirm("请根据支付情况点击下方按钮<br>请不要重复支付", "提示", {
            confirmButtonText: "已支付",
            cancelButtonText: "未支付",
            confirmButtonClass: 'on_line_btn'
          })
            .then(action => {
              let msg = {
                way: this.way,
                amount: this.number,
                status: 1
              };
              this.$router.push({
                name: "PaySec",
                params: {
                  msg: msg
                }
              });
            })
            .catch(res => {
              let msg = {
                way: this.way,
                amount: this.number,
                status: 2
              };
              this.$router.push({
                name: "PaySec",
                params: {
                  msg: msg
                }
              });
            });
        } else {
          Indicator.close();
          Toast(res.msg);
        }
      });
    }
  },
  beforeDestroy () {
    MessageBox.close(false)
  },
  watch: {
    number (n, o) {
      if (parseFloat(n) && parseFloat(n) > 0) {
        this.numberCheck = false;
      } else {
        this.numberCheck = true;
      }
    }
  },
  components: {
    MyHeader
  }
};
</script>

<style scoped>
.online {
  padding: 0.3rem;
}
.online > p {
  font-size: 12px;
  color: #666;
}

.line {
  border-bottom: 1px solid #ececec;
  margin-bottom: 0.2rem;
}

.btn {
  font-size: 16px;
  margin: 0.3rem 0 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.mint-badge.is-size-small {
  border-radius: 5px;
  width: 20%;
  padding: 0.2rem 0.1rem;
  margin: 0 1%;
  margin-bottom: 0.2rem;
}

.mint-badge {
  color: #000;
  background: #f2f2f2;
}

.mint-field-core {
  font-size: 1rem;
}

.active {
  background: #ffce6f;
  color: #fff;
}
</style>
