<template>
  <div class="page">
    <mt-header :title="msg.way">
          <mt-button slot="left" icon="back" @click.native="backto"></mt-button>
        </mt-header>
    <div class="logo">
      <img :src="paymsg.img" alt>
      <p>{{paymsg.txt}}</p>
    </div>
    <div>
      <mt-cell title="充值方式">
        <span style="color:#333">{{msg.way}}</span>
      </mt-cell>
      <mt-cell title="充值金额" value="说明文字">
        <span style="color:#333">{{msg.amount}}元</span>
      </mt-cell>
      <div class="mint-cell-wrapper">
        <mt-button type="danger" size="large" @click="go">{{paymsg.btn}}</mt-button>
      </div>
      <div class="msg">
                <b>温馨提示：</b>
                <p>1.您的充值信息已经提交,请耐心等待;</p> 
                <p> 2.客服人员将在10分钟内审核完成您的充值;</p>
                <p>3. 如充值未及时到账，请 <router-link to="/kefu">联系在线客服</router-link></p> 
            </div>
     
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header";
  export default {
    data() {
      return {
        suc: {
          img: require("@/assets/success.png"),

          txt: "支付信息提交成功",
          btn: "完成"
        },
        err: {
          img: require("@/assets/err.png"),
          txt: "充值异常",
          btn: "重新充值"
        },
        msg: {
          status:'',
          way:''
        },
        paymsg: {}
      };
    },
    created() {
      this.msg  = this.$route.params.msg;
      this.msg.status == 1 ? (this.paymsg = this.suc) : (this.paymsg = this.err);

      console.log(this.paymsg);
    },
    methods: {
      go() {
        if (this.paymsg.btn == "完成") {
          this.$router.push("/recharge");
        } else {
          this.$router.push("/recharge");
        }
      },
        backto() {
      window.history.back();
    }
    },
  };
</script>

<style scoped>
.logo > p {
  font-size: 16px;
  color: #333;
}
.mint-cell {
  color: #666;
}
</style>
