<template>
  <div>
    <mt-header title="充值"
               style="background-color:#fff;color:#333">
      <mt-button slot="left"
                 icon="back"
                 @click.native="backTo"></mt-button>
      <mt-button style="fontSize:16px"
                 slot="right"
                 @click="goToRechargeReport">充值记录
      </mt-button>
    </mt-header>
    <div class="user_msg">
      <p class="amount">当前余额:
        <span>{{balance}}元</span>
      </p>
      <p class="select">输入充值金额</p>
      <div class="btn">
        <span>
      <input type="number"
             ref="input1"
             placeholder="请输入充值金额"
             v-model="payDetail.amount">
      </span>
      </div>
      <p class="select1">选择充值方式</p>
      <div class="list_box">
        <div v-for="(item,i) in wayList"
             :key="i">
          <img :src="item.icon"
               alt="">
          <div class="border_bottom">
            <p class="p1">
              <span>{{item.name}}</span>
              <b class="icon-b"
                 @click="selectPay(item,i)"
                 :class="payActive === i?'active_bg':''">
                <i class="iconfont icon-duigou"></i>
              </b>
            </p>
          </div>
        </div>
      </div>
      <lay-button theme="positive"
                  :block="true"
                  size="middle"
                  @click="pay"
                  :disabled="numberCheck"
      >提交
      </lay-button>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import {mapGetters} from "vuex";
  import {formatSeconds} from "@/utils/formatSeconds";
  import {
    payApi_api,
    recharge_ways,
    offlineSubmit_api,
    offline_bankcard_api,
    check_recharge_repay,
    offlineWayInfo_api,
    online_way_info_api
  } from "@/common/api";
  import {Toast, Indicator, MessageBox} from "mint-ui";
  import LayButton from "@/vlayui/LayButton";
  import LayDialog from "@/vlayui/Dialog";

  export default {
    components: {
      LayButton,
    },
    created() {
      recharge_ways().then(res => {
        this.wayList = res.data;
      })
    },
    async mounted() {
      //充值前进行
      let res = await check_recharge_repay();

      if (res.code === 200 && res.data.type !== "normal") {
        if (res.data.type === 'lock') {

          this.lock_time = Number(res.data.lock_time);
          this.lock_time_txt = formatSeconds(this.lock_time).str;
          this.lock_time_ele = `<span style='line-height:28px'>系统检测到您订单支付失败次数过多<br>请于${this.lock_time_txt}秒后试试</span>`;

          let timer = setInterval(() => {
            this.lock_time--;
            this.lock_time_txt = formatSeconds(this.lock_time).str;
            this.lock_time_ele = `<span style='line-height:28px'>系统检测到您订单支付失败次数过多<br>请于${this.lock_time_txt}秒后试试</span>`;

            // return MessageBox({
            //   title: '提示',
            //   message: this.lock_time_ele,
            //   confirmButtonText: "我知道了",
            // }).then(action => {
            //   this.$router.push("/center");
            // });
          }, 1000);

          this.$once("hook:destroy", () => {
            clearInterval(timer);
          });

          this.alert2 = LayDialog.alert({
            content: this.lock_time_ele,
            okTheme: 'alink',
            title: '提示',
            okText: '我知道了',
            theme: 'ios',
            effect: 'slide',
          }).then(() => {
            this.$router.push("/center");
          });
        }

        if (res.data.type === 'pending') {
          this.lock_time = Number(res.data.lock_time);

          let obj = {
            "wxpay": "微信支付",
            "alipay": "支付宝支付",
            "bank": "银行卡转账",
          };

          let str = `
            <div >
            <span style="display:inline-block;float:left;width:35%;font-size:13px;color:#030303;text-align: right">充值单号</span>
            <span style="display:inline-block;margin-left:5%;width:60%;font-size:13px;color:#030303;text-align: left">${res.data.orderno}</span></div>
            <div >
            <span style="display:inline-block;float:left;width:35%;font-size:13px;color:#030303;text-align: right">充值方式</span>
            <span style="display:inline-block;margin-left:5%;width:60%;font-size:13px;color:#030303;text-align: left">${obj[res.data.pay_type]}</span></div>
            <div >
            <span style="display:inline-block;float:left;width:35%;font-size:13px;color:#030303;text-align: right">充值金额</span>
            <span style="display:inline-block;margin-left:5%;width:60%;font-size:13px;color:#030303;text-align: left">${res.data.amount}</span>
            </div>
            `;

          window.addEventListener('hashchange', () => {
            LayDialog.hide();
          });

          this.alert = LayDialog.alert({
            content: str,
            okTheme: 'alink',
            title: '您有一笔充值订单待支付',
            okText: '查看详情',
            theme: 'ios',
            effect: 'slide',
          }).then(() => {
            this.$router.push(
              {
                path: 'Rechargebill',
                query: {
                  dataObj: encodeURIComponent(JSON.stringify(res.data)),
                }
              }
            );
          });
        }
      }
    },
    computed: {
      username() {
        return this.initData.username;
      },
      balance() {
        return this.initData.balance || 0;
      },
      ...mapGetters(["initData"])
    },
    data() {
      return {
        alert: undefined,
        show: true,
        changeTxt: {
          txt: '',
          inputType: 'text',
          placeholder: '银行卡卡号',
        },
        type: {
          'wxpay': ['微信', '微信账号', 'text'],
          'alipay': ['支付宝', '支付宝账号', 'text'],
          'bank': ['银行卡', '银行卡账号', 'number'],
        },
        moneyList: [100, 500, 1000, 2000, 5000],
        wayList: [],
        payActive: '',
        active: "", //点击的选项
        numberCheck: false,
        account: '', // 收款人账号
        payDetail: {
          amount: '',// 金额
          account: "", //充值账号
        }
      }
    },
    methods: {
      inputShow() {
        this.show = false;
        this.$nextTick(() => {
          this.$refs.input1.focus()
        })
      },
      backTo() {
        this.$router.go(-1);
      },
      goToRechargeReport() {
        this.$router.push('/rechargeRecord');
      },
      selectPay(obj, i) {
        this.payActive = i;
        this.cardDetail = obj;
        if (this.cardDetail.way === 'offline') {
          this.changeTxt.txt = this.type[this.cardDetail.type][0];
          this.changeTxt.placeholder = this.type[this.cardDetail.type][1];
          this.changeTxt.inputType = this.type[this.cardDetail.type][2];
          if (this.cardDetail.type === 'bank') {
            offline_bankcard_api().then(bank_res => {
              if (bank_res.code === 200 && bank_res.data && bank_res.data.account) {
                this.payDetail.account = bank_res.data.account
              }
            })
          } else {
            this.payDetail.account = ''
          }
        }
      },
      selected(name) {
        this.show = true;
        this.payDetail.amount = name;
        this.active = name;
      },
      pay() {
        if (!this.show) {
          this.payDetail.amount = this.amount
        }
        if (Number(this.payDetail.amount) === 0) {
          return Toast(`请输入充值金额`)
        }
        if (!this.cardDetail) {
          return Toast(`请选择充值方式`)
        }

        //线下充值
        if (this.cardDetail.way === 'offline') {
          offlineWayInfo_api({id: this.cardDetail.id}).then(info_res => {
            let data = {};
            if (info_res.code === 200) {
              this.qrcode = info_res.data.qrcode;
              data.way = info_res.data.id;
              data.rccode = info_res.data.rccode;
              data.person = info_res.data.person;
              data.type = info_res.data.type;
              data.icon = info_res.data.icon;
              this.account = info_res.data.account;
              this.payDetail = Object.assign({}, this.payDetail, data);
            }

            offlineSubmit_api(this.payDetail).then(res => {
              if (res.code === 200) {

                let path;

                if (this.cardDetail.type === 'bank') {
                  path = 'bank';
                }
                if (this.cardDetail.type === 'alipay') {
                  path = 'alipay';
                }
                if (this.cardDetail.type === 'wxpay') {
                  path = 'wxpay';
                }

                this.$router.push({
                  path,
                  query: {
                    person: this.payDetail.person,
                    account: this.account,
                    qrcode: this.qrcode,
                    title: this.changeTxt.txt,
                    amount: this.payDetail.amount,
                    icon: this.cardDetail.icon,
                    type: this.payDetail.type
                  }
                })
              } else {
                Toast(res.msg);
              }
              this.btnDisabled = false;
            });
          });
        }

        //线上充值
        if (this.cardDetail.way === 'online') {
          Indicator.open("正在加载");
          this.numberCheck = true;
          payApi_api({way: this.cardDetail.id, amount: this.payDetail.amount}).then(res => {
            this.numberCheck = false;
            Indicator.close();
            if (res.code === 200) {
              if (this.cardDetail.show === "forward") {
                window.location.href = res.data.qrcode;
              } else {
                this.$router.push({
                  path: 'alipay',
                  query: {
                    show: this.cardDetail.show,
                    qrcode: res.data.qrcode,
                    title: this.cardDetail.name,
                    amount: this.payDetail.amount,
                    icon: this.cardDetail.icon,
                    type: res.data.type
                  }
                })
              }
            } else {
              Indicator.close();
              Toast(res.msg);
            }
          });
        }
      }
    },
  }
</script>

<style scoped lang="less" rel="stylesheet/less">
  .user_msg {
    font-size: 15px;
    padding: 0.4rem 0.3rem 0.1rem;
    color: #333;

    > p:nth-child(1) > span {
      color: #000;
    }

    .amount {
      font-size: 15px;
      color: #333333;
      letter-spacing: -0.21px;
      line-height: 21px;
      padding: 10px 0;

      > span {
        color: #FE3959;
      }
    }


    .select {
      font-size: 15px;
      color: #333333;
      letter-spacing: -0.21px;
      margin-top: 0.4rem;
      font-weight: bold;
    }

    .select1 {
      font-size: 15px;
      color: #333333;
      letter-spacing: -0.21px;
      margin-top: 0.4rem;
      margin-bottom: 0.5rem;
      font-weight: bold;
    }

    input {
      width: 100%;
      height: 0.8rem;
      border: 0;
      border-bottom: 1px solid #f2f2f2;
      background: #fff;
      font-size: 0.33rem;

      &:focus {
        outline: 0;
      }
    }

  }

  .btn {
    margin: 0.3rem 0 0.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: #333;

    > span:nth-child(3n + 1) {
      margin-left: 0;
    }

    > span:nth-child(3n + 3) {
      margin-right: 0;
    }

    .active {
      background: #6c2dfe;
      color: #fff;
    }

    span {
      box-sizing: border-box;
      border-radius: 5px;
      width: 100%;
      height: 0.8rem;
      line-height: 0.8rem;
      margin: 0 0.1rem 0.2rem;
      font-size: 0.35rem;
    }
  }


  .list_box {
    margin-bottom: 16px;

    > div {
      display: flex;
      margin-top: 0.3rem;

      > img {
        width: 0.6rem;
        height: 0.6rem;
        margin-right: 0.26rem;
      }

      .p1 {
        margin-top: 0.05rem;

        > b {
          float: right;
        }
      }

      .p2 {
        margin-top: 0.5rem;

        > input {
          background: #fff;
          text-align: start;
        }
      }
    }
  }

  .border_bottom {
    position: relative;
    flex: 1;
    padding-bottom: 0.4rem;
  }

  .border_bottom:after {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    content: "";
    width: 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    /*该颜色在火狐下会生成两条线*/
    background-color: #d8d8d8;
  }

  .icon-b {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    background: #e2e2e2;
    border-radius: 50%;
    align-self: center;
  }

  .active_bg {
    background: #35c36a;
  }

  .icon-duigou {
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 20%;
    line-height: 0;
  }

  .btn_box {
    width: 100%;
    padding: 0.4rem 0;
    bottom: 0;
    background: #fff;

    .pay_btn {
      width: 92%;
      background: #6c2dfe;
      color: #fff;
      margin: 0 auto;
    }
  }
</style>
