<template>
  <div class="alipay">
    <mt-header title="充值帮助"
               style="background:#fff;color:#000">
      <mt-button slot="left"
                 icon="back"
                 @click.native="backTo"></mt-button>
    </mt-header>

    <div class="img-con">
      <img src="../../assets/wx_help.png" alt="">
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header";
  import MyPayee from "@/bass/payee";
  import QRCode from 'qrcodejs2'
  import {offlineWayInfo_api, offlineSubmit_api, get_recharge_cancel} from "@/common/api";
  import {Toast} from "mint-ui";
  import {setTimeout} from 'timers';
  import ComposeCanvas from "canvas-compose-image";
  import LayButton from "@/vlayui/LayButton";
  import LayoutPage from "@/vlayui/Layout/page";

  export default {
    components: {
      LayButton,
      LayoutPage,
      MyHeader,
      MyPayee
    },
    created() {
      this.msg = this.$route.query;
    },
    destroyed() {
      clearInterval(window.stime)
    },
    mounted() {
      setTimeout(() => {
        console.log(document.getElementById("qrcode"))
        new QRCode('qrcode', {
          width: 200,
          height: 200, // 高度
          text: this.msg.qrcode // 二维码内容
        });
      }, 1000);
    },
    data() {
      return {
        msg: {
          qrcode: '',
          icon: '',
          title: "",
          amount: 0,
        },
        time: ''
      };
    },
    methods: {
      backTo() {
        this.$router.go(-1);
      },
      cancel() {
        return get_recharge_cancel().then(res => {
          if (res && res.code === 200) {

          } else {
            return Toast(res.message);
          }
        })
      },
      formatSeconds(value) {
        var secondTime = parseInt(value); // 秒
        var minuteTime = 0; // 分
        var hourTime = 0; // 小时
        if (secondTime > 60) {
          //如果秒数大于60，将秒数转换成整数
          //获取分钟，除以60取整数，得到整数分钟
          minuteTime = parseInt(secondTime / 60);
          //获取秒数，秒数取佘，得到整数秒数
          secondTime = parseInt(secondTime % 60);
          //如果分钟大于60，将分钟转换成小时
          if (minuteTime > 60) {
            //获取小时，获取分钟除以60，得到整数小时
            hourTime = parseInt(minuteTime / 60);
            //获取小时后取佘的分，获取分钟除以60取佘的分
            minuteTime = parseInt(minuteTime % 60);
          }
        }
        var result = "" + parseInt(secondTime) + "秒";

        if (minuteTime > 0) {
          result = "" + parseInt(minuteTime) + "分" + result;
        }
        if (hourTime > 0) {
          result = "" + parseInt(hourTime) + "小时" + result;
        }
        return result;
      },
      async downloadImg(img11, img22, x, y, wh, img33) {
        let date = this.getNowFormatDate();
        let imgone = document.querySelector(img11) || document.getElementById('qrcode').childNodes[1];
        let imgtwo = document.querySelector(img22);
        let imgthree = document.querySelector(img33);
        let title = {
          "wxpay": "微信",
          "alipay": "支付宝",
        }[this.msg.type];
        // 获取图片的src
        if (!imgone || !imgtwo || !imgthree) {
          return;
        }

        ComposeCanvas.compose(
          [300, 400],
          [{
            text: "充值金额 ",
            type: "text",
            mode: "waiting",
            pos: [125, 65],
            style: {
              color: "#333",
              font: "15px Courier New"
            }
          }, {
            text: "¥" + this.msg.amount,
            type: "text",
            mode: "waiting",
            pos: [110, 100],
            style: {
              color: "#333",
              font: "28px Courier New"
            }
          }, {
            text: `请打开${title}[扫一扫]充值`,
            type: "text",
            mode: "waiting",
            pos: [68, 140],
            style: {
              color: "#333",
              font: "15px Courier New"
            }
          }, {
            text: `充值截止时间：${date}`,
            type: "text",
            mode: "waiting",
            pos: [14, 380],
            style: {
              color: "#333",
              font: "15px Courier New"
            }
          }, {
            src: imgone.src,
            type: "image",
            status: "waiting",
            pos: [80, 155, 150, 150]
          }, {
            src: imgtwo.src,
            type: "image",
            status: "waiting",
            pos: [100, 50, 20, 20]
          }],
          (img) => {
            imgthree.src = img.src;
          }
        );
      },
      saveCode() {
        let img = document.getElementsByClassName("img3")[0]
        if (img) {
          let imgClass = img.className;
          try {
            hbuilder_share_image(img.src);
          } catch (e) {
            let a = document.createElement("a");
            a.style.display = "none";
            a.href = img.src;
            a.download = "推广二维码.jpg";
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
          }
        }

        function hbuilder_share_image(url) {
          hbuilder_download(url, function (filename) {
            plus.share.sendWithSystem(
              {pictures: [filename]},
              function () {

              },
              function (e) {

              }
            );
          });
        }

        function hbuilder_download(url, callback) {
          if (/^data:image\/(.*?);/.test(url)) {
            let sub = url.replace(/^data:image\/(.*?);.*/, "$1");
            let name =
              Date.parse(new Date()) +
              "." +
              (sub == "png" || sub == "gif" || sub == "bmp" ? sub : "jpg");
            let bitmap = new plus.nativeObj.Bitmap(name);

            bitmap.loadBase64Data(url, function () {
            }, function () {
            });

            bitmap.save(
              "_downloads/" + name,
              {overwrite: true},
              function (event) {
                callback && callback(event.target);
              },
              function () {
                Toast("保存失败");
              }
            );
          } else {
            dtask = plus.downloader.createDownload(url, {}, function (d, status) {
              if (status == 200) {
                callback(d.filename);
              } else {
                Toast("Download failed: " + status);
              }
            });

            dtask.start();
          }
        }
      },
      getNowFormatDate() {
        function reset(str) {
          if (str <= 9) {
            str = "0" + str;
          }
          return str
        }

        var stamp = new Date().getTime() + 10 * 60 * 1000;
        var date = new Date(stamp);
        var seperator1 = "-";
        var seperator2 = ":";
        var month = reset(date.getMonth() + 1);  //月份
        var strDate = reset(date.getDate());     //几号
        var hours = reset(date.getHours())     //小时
        var minutes = reset(date.getMinutes())   //分钟
        var seconds = reset(date.getSeconds())    //秒数
        var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
          + " " + hours + seperator2 + minutes
          + seperator2 + seconds;
        return currentdate;
      }
    },
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  .div_box {
    padding: 0.2rem 0.48rem;

    > div {
      padding: 0.2rem;
      border: 1px solid #efefef;
      border-radius: 5px;
      font-size: 12px;
      color: #ff754e;

      > p {
        text-align: start;
        line-height: 1.7;
      }
    }
  }

  .img-con {
    padding: 20px;

    > img {
      width: 100%;
    }
  }

  #qrcode {
    margin-top: 20px;
  }

  .btn-cons {
    width: 92%;
    margin: 0 auto;

    > div {
      float: left;
      width: calc(50% - 20px);
      padding: 10px;
    }
  }

  .alipay {
    color: #333;
    font-size: 14px;

    p {
      text-align: center;
    }
  }

  .sao {
    font-size: 16px;
    margin-bottom: 0.235rem;
  }

  .save {
    width: 100%;
    margin: 0.2rem auto 0;
    text-align: center;
    border-radius: 5px;
    font-size: 12px;
    color: #999999;
    letter-spacing: -0.17px;
  }

  .txt_p {
    height: 0.515rem;
    line-height: 0.515rem;
    font-size: 12px;
    text-align: center;
    color: #ff3f1e;
    background: #fff1ec;
  }

  .login {
    width: 92%;
    padding: 0 0.3rem;
    position: relative;
  }

  .mint-swipe {
    height: 3rem;
  }

  .mint-swipe-item > img {
    width: 100%;
    height: 100%;
  }

  .bor {
    height: 1rem;
    line-height: 1rem;
    background: #fff;
    margin-top: 10px;
  }

  .bor > small {
    float: none;
    background: #ffce6f;
    padding: 1px 5px;
    border-radius: 50%;
    color: #333;
    margin-right: 3px;
  }

  .code {
    font-size: 12px;
    color: #666;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0.2rem 0.2rem;
  }
</style>
