<template>
  <div>
    <div class="mask" @click="hide"></div>
    <div class="linkage">
      <mt-picker :showToolbar='true' :visible-item-count="3" :item-height="40" :show-toolbar="true" :slots="slots1" @change="bankList">
        <span style="float:left" @click="close">取消</span>
        <span style="float:right;color:#26a2ff" @click="hide">确定</span>
      </mt-picker>
    </div>

  </div>
</template>

<script>
import { bankcard_bank_api } from "@/common/api";

export default {
  created() {
    this.ajax();
  },
  computed: {
    date() {
      return {
        banks: ""
      };
    }
  },
  data() {
    return {
      banks: "",
      slots1: [
        {
          flex: 1,
          values: [],
          className: "slot1",
          textAlign: "center",
          showToolbar: "toubu"
        }
      ]
    };
  },

  methods: {
    ajax() {
      bankcard_bank_api().then(res => {
        if (res.code == 200) {
          this.itemIP = res.data.sort((a, b) => a.order - b.order);
          var arr = [];
          for (let index = 0; index < this.itemIP.length; index++) {
            arr = this.itemIP[index].name;

            this.slots1[0].values.push(arr);
          }
        }
      });
    },

    hide() {
      this.$emit("bankcard", this.banks);
    },
    close() {
      this.$emit("bankcard", false);
    },
    bankList(picker, values) {
      this.banks = values;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.linkage {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  left: 0;
  overflow: hidden;
  z-index: 11;
}
/* .clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden} */
.pickerWrapper {
  width: 50%;
  float: left;
}
.linkage span {
  font-size: 18px;
  padding: 5px;
}
.page {
  height: 40px;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
}
</style>






