<template>
  <div>
    <div class="mask" @click="hide"></div>
    <div class="linkage">
      <mt-picker :visible-item-count="3" :item-height="40" :show-toolbar="true" :slots="slots1" @change="bankList" class="game">
        <!-- <span class="left" @click="hide">取消</span> -->
        <span class="right" @click="hide">确定</span>
       <!-- {{gameMoney}} -->
       <!-- {{transfer}} -->
      </mt-picker>
    </div>

  </div>
</template>

<script>
// var value=[{name:'AG视讯'},{name:'申博视讯&电子游艺'}]
import { game_balance_api } from "@/common/api";
export default {
  props:{
    gameMoney:Object
  },
  computed: {
    date() {
      return {
        banks: "",

      };
    },

  },
  data() {
    return {
      banks: "",
      slots1: [
        {
          flex: 1,
          values: [],
          className: "slot1",
          textAlign: "center",
          showToolbar: "toubu"
        }
      ]
    };
  },

  methods: {
    hide() {
      this.$emit("gameData", this.banks);
    },
    bankList(picker, values) {
      this.banks = values;
    },
  },
  watch:{
    gameMoney:{
        handler(n,o){
          this.slots1[0].values = ['AG视讯  ('+n.ag+'元)','申博视讯&电子游艺  ('+n.tgp+'元)']
      },
      deep:true
    }
  }

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.linkage {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  left: 0;
  overflow: hidden;
  z-index: 11;
}
/* .clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden} */
.pickerWrapper {
  width: 50%;
  float: left;
}

.page {
  height: 40px;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
}
.linkage span{
  margin: .3rem;
  font-size:16px;
}
.left{
  float: left;
}
.right{
  float: right;
}
.picker.game .picker-items{
  width: 100%;
}
</style>






