<template>
  <div>
    <mt-header class="my-header2"
               :title="title">
      <mt-button slot="left"
                 icon="back"
                 @click.native="backto"></mt-button>
    </mt-header>
  </div>
  <!-- <div style="margin-bottom:50px"> 固定头部
        <mt-header fixed  :title="title">
          <mt-button slot="left" icon="back" @click.native="backto"></mt-button>
        </mt-header>
    </div> -->
</template>
<script>
export default {
  data () {
    return {
      title: ""
    };
  },
  methods: {
    backto () {
      window.history.back();
    }
  },
  created () {
    this.title = this.$route.meta.title;
  }
};
</script>
