<template>
  <div>
    <mt-header
      style="font-family: PingFangSC-Medium;
              font-size: 18px;
              color: #333333;
              text-align: center;
              line-height: 22px;
              font-weight: bold"
      :title="title"
    >
      <mt-button slot="left"  icon="back" @click.native="backto"></mt-button>
    </mt-header>
  </div>
  <!-- <div style="margin-bottom:50px"> 固定头部
   <mt-header fixed  :title="title">
     <mt-button slot="left" icon="back" @click.native="backto"></mt-button>
   </mt-header>
</div> -->
</template>
<script>
export default {
  props: ['title'],
  data() {
    return {
      title: ""
    };
  },
  methods: {
    backto() {
      window.history.back();
    }
  },
  created() {
    this.title = this.$route.meta.title;
  }
};
</script>
