<template>
  <div class="number-con">
    <div ref="number" class="wrap-container"></div>
  </div>
</template>
<script>
  export default {
    props: ['values', 'types'],
    data() {
      return {
        html: ""
      };
    },
    methods: {
      init(n) {
        n.split("").forEach(v => {
          this.html += '<div class="wrap-cont"><ul class="wrap-list scroll' + v + '">';
          for (let i = 0; i <= 9; i++) {
            this.html += "<li>" + i + "</li>";
          }
          this.html += "</ul></div>";
        });
        if (this.types == 1) {
          this.html = this.html + "人";
        } else {
          this.html = this.html + "元";
        }
        this.$refs.number.innerHTML = this.html;
      }
    },
    watch: {
      values(n) {
        if (n) {
          this.init(n);
        }
      }
    }
  };
</script>
<style lang="less" rel="stylesheet/less">
  .number-con {
    .wrap-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: #FFCE6F;
      font-size: .3rem;
      line-height: .3rem;
    }

    .wrap-cont {
      width: 12px;
      height: 18px;
      position: relative;
      overflow: hidden;
      box-sizing: border-box;
      font-size: 18px;
    }

    .wrap-list {
      position: absolute;
      left: 0;
      top: 0;
      margin: 0;
      padding: 0;
      height: 100%;
      box-sizing: border-box;
    }

    .wrap-list li {
      list-style: none;
      width: 12px;
      height: 18px;
      line-height: 18px;
      color: #FFCE6F;
      text-align: center;
      float: left;
      box-sizing: border-box;
    }

    @keyframes move9 {
      0% {
        top: 0;
      }
      100% {
        top: -900%;
      }
    }

    @keyframes move8 {
      0% {
        top: 0;
      }
      100% {
        top: -800%;
      }
    }

    @keyframes move7 {
      0% {
        top: 0;
      }
      100% {
        top: -700%;
      }
    }

    @keyframes move6 {
      0% {
        top: 0;
      }
      100% {
        top: -600%;
      }
    }

    @keyframes move5 {
      0% {
        top: 0;
      }
      100% {
        top: -500%;
      }
    }

    @keyframes move4 {
      0% {
        top: 0;
      }
      100% {
        top: -400%;
      }
    }

    @keyframes move3 {
      0% {
        top: 0;
      }
      100% {
        top: -300%;
      }
    }

    @keyframes move2 {
      0% {
        top: 0;
      }
      100% {
        top: -200%;
      }
    }

    @keyframes move1 {
      0% {
        top: 0;
      }
      100% {
        top: -100%;
      }
    }

    .scroll9 {
      animation: 2s move9 /*infinite*/ linear;
      top: -900%;
    }

    .scroll8 {
      animation: 2s move8 /*infinite*/ linear;
      top: -800%;
    }

    .scroll7 {
      animation: 2s move7 /*infinite*/ linear;
      top: -700%;
    }

    .scroll6 {
      animation: 2s move6 /*infinite*/ linear;
      top: -600%;
    }

    .scroll5 {
      animation: 2s move5 /*infinite*/ linear;
      top: -500%;
    }

    .scroll4 {
      animation: 2s move4 /*infinite*/ linear;
      top: -400%;
    }

    .scroll3 {
      animation: 2s move3 /*infinite*/ linear;
      top: -300%;
    }

    .scroll2 {
      animation: 2s move2 /*infinite*/ linear;
      top: -200%;
    }

    .scroll1 {
      animation: 2s move1 /*infinite*/ linear;
      top: -100%;
    }
  }
</style>
