<template>
  <div v-show="data.info" class="box">
    <div class="mint-msgbox">
      <div class="pay-tool-title border-bottom">
        <span class="icon" @click="clocePwd">X</span>
        <strong>请输入资金密码</strong>
      </div>
      <div class="moneyBox">
        <p>提现</p>
        <span>{{cardMsg.money}}元</span>
      </div>
      <div class="pay-tool-content">
        <div class="pay-tool-inputs">
          <div class="item" v-for="(i,v) in items" :key="v">
            <span class="icon_dot" v-if="password[i]"></span>
          </div>
        </div>
        <div class="pay-tool-link">
          <router-link class="link" to="kefu">忘记密码？</router-link>
        </div>
      </div>
    </div>
    <div class="pay-tool">

      <div class="pay-tool-keyboard">
        <ul>
          <li @click="keyUpHandle($event)" v-for="(val,i) in keys" :key="i">
            {{ val }}
          </li>
          <li class="del" @click="delHandle">
            <span class="icon-del">X</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="mask" @click="clocePwd"></div>
  </div>

</template>

<script>
import { withdrawApply_api } from "@/common/api";
import { Toast } from "mint-ui";
const keys = () => [1, 2, 3, 4, 5, 6, 7, 8, 9, "", 0];
// let sendFlag = true // 防止重复发送密码
export default {
  props: ["data", "cardMsg"],
  data() {
    return {
      items: [0, 1, 2, 3, 4, 5],
      keys: keys(),
      password: []
    };
  },
  computed: {},
  created() {
    console.log(this.cardMsg);
  },
  methods: {
    // 关闭弹出框
    clocePwd() {
      this.data.info = false;
      this.clearPasswordHandle();
      document.body.style.overflow = "scroll";
    },
    backHandle() {
      this.clearPasswordHandle(); // 返回时清除password
      // this.$emit("backFnc"); // 返回上级
    },
    keyUpHandle(e) {
      let text = e.currentTarget.innerText;
      let len = this.password.length;
      if (!text || len >= 6) return;
      this.password.push(text);
      this.ajaxData();
    },
    delHandle() {
      if (this.password.length <= 0) return false;
      this.password.shift();
    },
    ajaxData() {
     
     
      if (this.password.length >= 6) {
        var pwd = {};
        if (this.cardMsg.bankcard) {
          pwd = {
            card: this.cardMsg.bankcard.id,
            amount: this.cardMsg.money,
            fundpwd: parseInt(this.password.join(" ").replace(/\s/g, "")),
          };
        } else {
          pwd={
            amount: this.cardMsg.money,
            fundpwd: parseInt(this.password.join(" ").replace(/\s/g, "")),
            bank:this.cardMsg.bank,
            cardno:this.cardMsg.cardno,
            person:this.cardMsg.person,
            province:this.cardMsg.province,
            city:this.cardMsg.city,
            mobile:this.cardMsg.mobile,
            vcode:this.cardMsg.captcha
          }
        }
         console.log(pwd);

        withdrawApply_api(pwd).then(res => {
          if (res.code == 200) {
            this.clearPasswordHandle();
            this.data.info = false;
            this.cardMsg.amount = this.cardMsg.amount - pwd.amount;
            this.data.money = "";
            Toast("提交成功");
            // location.reload()
          } else {
            Toast(res.msg);
            //  location.reload()
            this.clearPasswordHandle();
          }
        });
      }
      return false;
    },
    clearPasswordHandle: function() {
      this.password = [];
    }
  }
};
</script>

<style scoped>
.box {
  position: fixed;
  width: 100%;
  bottom: 0;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}

.mintui {
  float: left;
  padding-left: 10px;
}
.pay-tool {
  position: absolute;
  bottom: 0;
  height: 4.1rem;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  z-index: 11;
}
.pay-tool-title {
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  overflow: hidden;
}
.pay-tool-title .icon {
  float: left;
  padding: 0 0.2rem;
  width: auto;
  height: auto;
}
.pay-tool-title strong {
  font-size: 16px;
}
.pay-tool-content .pay-tool-inputs {
  /* height: 1rem; */
  margin: 0 auto;
  border: 1px solid #b9b9b9;
  background: #fff;
  /* border-radius: 0.26666666rem; */
  /* box-shadow: 0 0 1px #e6e6e6; */
  display: flex;
}
.pay-tool-content .pay-tool-inputs > .item {
  width: 16.4%;
  height: 1rem;
  border-right: 1px solid #b9b9b9;
  line-height: 1.4rem;
  text-align: center;
  padding: 0;
}
.pay-tool-content .pay-tool-inputs .item:last-child {
  border-right: none;
}
.pay-tool-content .pay-tool-inputs .item .icon_dot {
  display: inline-block;
  width: 0.51111111rem;
  height: 0.51111111rem;
  background: #000;
  border-radius: 50%;
  background-size: cover;
}
.pay-tool-content .pay-tool-link {
  padding: 0.2rem 0 0 0.8rem;
  text-align: right;
}
.pay-tool-content .pay-tool-link .link {
  font-size: 0.3rem;
  color: #3c8cfb;
}
.pay-tool .pay-tool-keyboard {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.pay-tool .pay-tool-keyboard ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.pay-tool .pay-tool-keyboard ul li {
  width: 33%;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  border-right: 1px solid #aeaeae;
  border-bottom: 1px solid #aeaeae;
  font-size: 0.5rem;
  font-weight: bold;
}
.pay-tool .pay-tool-keyboard ul li:nth-child(1),
.pay-tool .pay-tool-keyboard ul li:nth-child(2),
.pay-tool .pay-tool-keyboard ul li:nth-child(3) {
  border-top: 1px solid #eee;
}
.pay-tool .pay-tool-keyboard ul li:nth-child(3),
.pay-tool .pay-tool-keyboard ul li:nth-child(6),
.pay-tool .pay-tool-keyboard ul li:nth-child(9),
.pay-tool .pay-tool-keyboard ul li:nth-child(12) {
  border-right: none;
}
.pay-tool .pay-tool-keyboard ul li:nth-child(10),
.pay-tool .pay-tool-keyboard ul li:nth-child(11),
.pay-tool .pay-tool-keyboard ul li:nth-child(12) {
  border-bottom: none;
}
.pay-tool .pay-tool-keyboard ul li:nth-child(10),
.pay-tool .pay-tool-keyboard ul li:nth-child(12),
.pay-tool .pay-tool-keyboard ul li:active {
  background-color: #d1d4dd;
}
.pay-tool .pay-tool-keyboard ul li:nth-child(12):active {
  background-color: #fff;
}
.mint-msgbox {
  border-radius: 10px;
  padding: 0.2rem;
  z-index: 11;
  top: 40%;
  width: 70%;
  background: #d8d8d8;
}
.moneyBox {
  text-align: center;
  padding: 0.3rem 0;
}
.moneyBox > p {
  margin-bottom: 0.2rem;
}
.moneyBox > span {
  color: #fe3959;
}
</style>
