<template>
    <div class="page">
        <div class="select">
            <span class="iconfont icon-sanjiao1" :class="trade ? 'fontactive' : ''" @click="tradeShow">{{tradeDataActive}}</span>
            <span class="iconfont icon-sanjiao1" :class="state ? 'fontactive' : ''" @click="stateShow">{{stateDataActive}}</span>
            <span class="iconfont icon-sanjiao1">时间筛选</span>
        </div>
        <div class="mask" v-show="trade || state"></div>
        <div class="item" v-show="trade">
            <span :class="{active : active == items.name}" @click="selected(items.name,1)" v-for="(items,i) in tradeData" :key="i">{{items.name}}</span>
        </div>
        <div class="item" v-show="state">
            <span :class="{active : active == items.name}" @click="selected(items.name,2)" v-for="(items,i) in stateData" :key="i">{{items.name}}</span>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">

import { scoreLog_api } from "@/common/api";

import { Toast, Indicator } from "mint-ui";
export default {
  data() {
    return {
    trade: false, //交易
      state: false,
        data: {
        type: "", // 类型
        stime: "", // 开始时间
        etime: "", //结束时间
        page: 0 // 页码
      },
      tradeDataActive: "全部交易",
      stateDataActive: "全部状态",
      tradeData: [
        { name: "全部交易" },
        { name: "下注" },
        { name: "派奖" },
        { name: "提现" },
        { name: "充值" },
        { name: "分红" },
        { name: "返点" },
        { name: "其他" }
      ],
      stateData: [
        { name: "全部状态" },
        { name: "成功" },
        { name: "失败" },
        { name: "审核中" }
      ],
      active: "",
    };
  },
  methods:{
          tradeShow() {
      this.trade = !this.trade;
      this.state = false;
    },
    stateShow() {
      this.state = !this.state;
      this.trade = false;
    },
    selected(name, i) {
      if (i == 1) {
        this.tradeDataActive = name;
      }
      if (i == 2) {
        this.stateDataActive = name;
      }
      this.trade = false;
      this.state = false;
      this.active = name;
      this.data.type = name;
       Indicator.open("加载中...");
      scoreLog_api(this.data).then(res => {
        console.log(res);
        if (res.code == 200) {
          this.zbList=res.data.list;
        }else{
            Toast(res.msg);
        }
        Indicator.close();
      });
    }
  },

  components: {}
};
</script>

<style scoped>
.iconfont {
  font-size: 14px;
}
.select {
  height: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 11;
  position: relative;
  background: #fff;
  border-bottom: 1px solid #cdcdcd;
}
.select > span {
  padding: 0.3rem;
}
.item {
  position: fixed;
  background: #fff;
  z-index: 11;
  width: 100%;
  padding: 2%;
}
.item > span {
  display: inline-block;
  width: 20%;
  padding: 1%;
  margin: 1%;
  height: 0.7rem;
  line-height: 0.7rem;
  text-align: center;
  border-radius: 5px;
  margin-top: 5px;
  background: #f2f2f2;
}
.fontactive {
  color: #ff4d55;
}
.item > .active {
  background: #ff4d55;
  color: #fff;
}
</style>
