<template>
  <div>
    <div class="mask" @click="_hideLinkage"></div>
    <div class="clearfix linkage">
      <div class="province pickerWrapper">
        <mt-picker :showToolbar='true' :slots="provinces" @change="onProvinceChange" value-key="name">
          <span style="float:left" @click="close">取消</span>
        </mt-picker>
      </div>
      <div class="city pickerWrapper">
        <mt-picker :showToolbar='true' :slots="citys" @change="onCityChange" value-key="name">
          <span style="float:right;color:#26a2ff" @click="_hideLinkage">确定</span>
        </mt-picker>
      </div>
      <!-- <div class="area pickerWrapper">
        <mt-picker :slots="areas" @change="onAreaChange" value-key="name"></mt-picker>
      </div> -->
    </div>
  </div>
</template>

<script>
import {CITY_DATA} from '@/assets/jso'  //引入cityData数据
export default {
  created() {
  
  },
  computed: {
    result() {
      return {
        name:{province:this.province.name ,city:this.city.name},
        id:{province:this.province.id  ,city:this.city.id}
    }
    }
  },
  data() {
    return {
      province:{
        name:"北京市",
        id:"110000"
      },
      maskFlag:false,
      city:{
        name:"东城区",
        id:"110101"
      },

      flag:0, //最开始省市区那三个picker会初始化调用change事件，但是此时没有省市区数据，因此会报错，
              //所以以这个标识符来控制当时第一次初始化时调用change事件时直接return
      provinces: [
        {
          flex: 1,
          defaultIndex: 0,
          values: this._getProvince(),
          className: 'slot1',
          textAlign: 'center'
        }, 
        {
          divider: true,
          content: '-',
          className: 'right'
        }
      ],
      citys: [
        {
          flex: 1,
          defaultIndex: 0,
          values: this._getCity(),
          className: 'slot2',
          textAlign: 'center'
        },
      ],
    };
  },
  methods:{
    _hideLinkage(){
      this.$emit('getLinkage',this.result); //触发父组件的getLinkage事件接收结果数据
    },
      close(){
      this.$emit('getLinkage',false); //触发父组件的getLinkage事件接收结果数据
    },
    onProvinceChange(picker, values) {
      if(this.flag==0){
        return 
      }

      let provinceIndex=picker.getSlotValue(0)
 
      this.province=provinceIndex
      let city=this._getCity(provinceIndex.name)
      this.citys[0].values=city
      this.city=city[0]
    },
    onCityChange(picker, values) {
      if(this.flag===0){
        return this.flag=1
      }
      let cityIndex=picker.getSlotValue(0)
      this.city=cityIndex
      let provinceIndex=this.province
    },

    //得到省份数据
    _getProvince(){
      let province=[]
      CITY_DATA.forEach(function(item,index){
        
        let obj={}
        obj.id=item.id
        obj.name=item.name
        province.push(obj)   
      })
      return province
    
    },
    //根据省份得到城市数据
    _getCity(province){
       
      if(!province){
        province='北京市'
      }
      let city=[]
      CITY_DATA.forEach((item,index)=>{
  
        if(item.name === province){
           
          item.children.forEach((item,index)=>{
            let obj={}
            obj.id=item.id
            obj.name=item.name
            city.push(obj)
            return
          })
        }
      })
      return city
    },
    //根据城市和省份得到区域数据
    // _getArea(province,city){
    //   let area=[]
    //   CITY_DATA.forEach((item,index)=>{
    //     if(item.name === province){
    //       item.children.forEach((item,index)=>{
    //         if(item.name === city){
    //           item.district.forEach((item)=>{
    //             let obj={}
    //             obj.id=item.id
    //             obj.name=item.name
    //             area.push(obj)
    //             return
    //           })
    //         }
    //       })
    //     }
    //   })
    //   if(area.length==0){ //如果没有区域数据则第三个picker显示的内容
    //     area.push({
    //       name:'没有',
    //       id:'000000'
    //     })
    //   }
    //   return area
    // }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .mask{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
  }
  .linkage{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    left: 0;
    overflow: hidden;
    z-index: 2;
  }
  .clearfix span{
    font-size: 18px;
    padding:5px;
  }
  /* .clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden} */
  .pickerWrapper{
    width:50%;
    float: left;
  }


</style>






