<template>
  <div class="page">
    <my-header></my-header>
    <!-- <div style="margin-top:10px">
      <p class="bor">
        <span>开户姓名</span>
        <i class="mint-cell-allow-right mint-cell-allow none" v-if="nameShow">{{name}}</i>
        
        <Input
          v-if="!nameShow"
          type="text"
          class="mint-field-core"
          @change="check( /^[\u4e00-\u9fa5]{2,4}$/,req.person,0)"
          placeholder="请填写真实姓名,填写后不可修改"
          v-model="req.person"
        >
      </p>
      <p class="bor">
        <span>银行卡号</span>
        <Input
          type="number"
          class="mint-field-core"
          @change="check( /^(\d{16}|\d{19})$/,req.cardno,2)"
          placeholder="请输入银行卡卡号"
          v-model="req.cardno"
        >
      </p>
      <p class="bor" @click="_showBank">
        <span>开户银行</span>
        <i
          class="mint-cell-allow-right mint-cell-allow"
          :style="color?'color:#333':'color:#ccc'"
        >{{req.bank}}</i>
      </p>
      <p class="bor" @click="_showLinkage">
        <span>开户省市</span>
        <i
          class="mint-cell-allow-right mint-cell-allow"
          :style="req.province?'color:#333':'color:#ccc'"
        >{{address}}</i>
      </p>
    </div>-->
    <add-card class="addcard" @bankMsg="bankMsg"></add-card>
    <!-- <transition name="fade">
      <bank @bankcard="_bank" v-show="showBank"></bank>
    </transition>
    <transition name="fade">
      <site @getLinkage="_showChildMsg" v-show="showLinkage"></site>
    </transition> -->
    <div class="login">
      <mt-button type="danger" size="large" @click="ajax" :disabled="checkAll">提交</mt-button>
      <p class="padded" v-if="!nameShow">提醒：为了您的资金安全，开户姓名请务必填写本人真实姓名</p>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header";
  import Site from "@/bass/site";
  import Bank from "@/bass/bank";
  import AddCard from "@/bass/addCard";
  import { addCard_api } from "@/common/api";
  import { Toast, MessageBox } from "mint-ui";
  import { luhnCheckBankCard } from "@/common/config";
  export default {
    data() {
      return {
        showBank: false,
        showLinkage: false, //控制子组件的显示隐藏
        checkAll: true,
        checks: {
          bankCheck: false,
          nameCheck: false
        },

        commit: true,
        name: "", // 开户人姓名
        nameShow: true,
        // result: "请选择所在省市",
        id: "显示对应id",
        isGetPwd: false,
        address: "请选择",
        color: false,
        req: {
          // bank: "请选择银行", // 开户银行
          // cardno: "", //银行卡号
          // person: "", //开户姓名
          // province: "", // 省
          // city: "" // 市
        }
      };
    },
    created() {
      // 判断是否设置支付密码
      this.isGetPwd = sessionStorage.getItem("setPwd");
      let realName = sessionStorage.getItem('realname')
        if (
        (this.$route.params.msg && this.$route.params.msg != "") ||
        realName != ""
      ) {
        // 有姓名
        this.name = this.$route.params.msg || realName;
        this.nameShow = true;
      } else {
        this.nameShow = false;
      }

    },
    mounted() {
      document.body.style.background = "#F2F2F2";
      if (this.isGetPwd == "false") {
        MessageBox.confirm("请先设置资金密码!")
          .then(() => {
            this.$router.push("setPwd");
          })
          .catch(err => {
            window.history.back();
          });
      }
    },
    methods: {
      bankMsg(e) {
        console.log(e)
        this.req = Object.assign({}, this.req, e);
        this.checkAll = false;
      },
      // 银行卡号格式化
      // bankInput(val) {
      //   if (/\S{5}/.test(val)) {
      //     this.req.cardno = val.replace(/\s/g, "").replace(/(.{4})/g, "$1 ");
      //   }
      // },
      // Trim(str) {
      //   var result;
      //   result = str.replace(/\s/g, "");
      //   return result;
      // },
      // 验证
      // check(reg, val, type) {
      //   if (type == 0) {
      //     if (reg.test(this.Trim(val))) {
      //       this.checks.nameCheck = true;
      //     } else {
      //       Toast("真实姓名应由2-4个汉字组成");
      //       this.checks.nameCheck = false;
      //     }
      //   }
      //   if (type == 2) {
      //     if (reg.test(this.Trim(val))) {
      //       this.checks.bankCheck = true;
      //     } else {
      //       Toast("银行卡号输入不正确");
      //       this.checks.bankCheck = false;
      //     }
      //   }
      // },
      // _bank(msg) {
      //   if (msg) {
      //     this.req.bank = msg[0];
      //     this.color = true;
      //   }
      //   this.showBank = false;
      // },
      // _showBank() {
      //   this.showBank = true;
      // },
      // _showChildMsg(msg) {
      //   if (msg) {
      //     this.req.city = msg.name.city;
      //     this.req.province = msg.name.province;

      //     if (msg.name.province) {
      //       this.address = msg.name.province;
      //       this.addressColor = "#333";
      //     }

      //     if (msg.name.city) {
      //       this.address = msg.name.province + " > " + msg.name.city;
      //     }
      //     this.id = msg.id;
      //   }

      //   this.showLinkage = false;
      // },
      // _showLinkage() {
      //   this.showLinkage = true;
      // },
      ajax() {
        // if (this.name.length == 0) {
        //   if (!this.checks.nameCheck) {
        //     Toast("请输入开户姓名");
        //     return;
        //   }
        // }
        // if (!this.checks.bankCheck) {
        //   Toast("请输入正确的银行卡号");
        //   return;
        // }
        // let data = Object.assign({}, this.req, this.result);
        // console.log(data)
        addCard_api(this.req).then(res => {
          if (res.code == 200) {
            sessionStorage.setItem("realname", this.req.person);
            sessionStorage.setItem("isShow", true);
            MessageBox.confirm("您刚刚新增了一张银行卡，是否用它进行提现？")
              .then(() => {
                this.$router.push("unBound");
              })
              .catch(err => {
                window.history.back();
              });
            // this.$router.push('/myCard');
          } else {
            Toast(res.msg);
          }
        });
      }
    },
    watch: {
      // req: {
      //   handler(n, o) {
      //     if (
      //       /^(\d{16}|\d{19})$/.test(n.cardno) &&
      //       n.province.length > 0 &&
      //       n.city.length > 0
      //     ) {
      //       this.checkAll = false;
      //     } else {
      //       this.checkAll = true;
      //     }
      //   },
      //   deep: true
      // }
    },
    destroyed() {
      document.body.style.background = "#fff";
    },
    components: {
      MyHeader,
      Site,
      Bank,
      AddCard
    }
  };
</script>

<style scoped>
.picker {
  width: 100%;
  z-index: 10000;
  background: #fff;
  position: fixed;
  bottom: 0;
}
.picker-toolbar > span {
  padding: 5px;
}

.bor {
  position: relative;
  font-size: 15px;
  background: #fff;
  margin: 0;
  padding-left: 0.3rem;
}

.mint-field-core {
  width: 70%;
  padding-left: 4px;
}
.padded {
  padding: 0.3rem;
  color: #fe3959;
}
.mint-button--large {
  margin: 0;
}
.mint-cell-allow-right {
  font-style: normal;
  padding-right: 35px;
  color: #999;
}
.mint-cell-allow {
  margin-left: 4px;
}
.address-selected {
  color: #333;
}

.kh {
  width: 24%;
}
.picker-toolbar > span {
  font-size: 16px;
  padding: 5px;
}
.mui-pull-left {
  float: left;
}
.mui-pull-right {
  float: right;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.none::after {
  display: none;
}
</style>
