<template>
  <div class="card">
    <mt-header title="我的银行卡">
      <router-link to="/personal" slot="left">
        <mt-button icon="back"></mt-button>
      </router-link>
    </mt-header>
    <div class="login">
      <ul>
        <li class="mint-cell" v-for="(item,i) in list" :key="i">
          <img :src="item.lucency" alt="">
          <div style="flex-grow:1">
            <h3>{{item.bank}}</h3>
            <p><span>**** **** **** </span>{{item.cardno.substr(item.cardno.length-4)}}</p>
          </div>
          <img :src="item.lucency">
        </li>
      </ul>
      <div v-if="list.length<5" class="add" @click="addCard">+
        <span>添加银行卡</span>
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header";
  import {cardList_api, bankcard_default_api} from "@/common/api";
  import {MessageBox, Toast} from "mint-ui";

  export default {
    created() {
      cardList_api().then(res => {
        if (res.code == 200) {
          this.list = res.data;
          res.data.length > 0 ? this.name = res.data[0].person : this.name = ''
          console.log(res)
        } else {
          Toast(res.msg);
        }
      });
    },
    data() {
      return {
        list: [],
        name: '',
        backgroundList: []
      };
    },
    methods: {
      addCard() {
        this.$router.push({
          name: "AddCard",
          params: {
            msg: this.name
          }
        })
      }
    },
    watch: {
      $router: function (to, from) {
        console.log(this.$route.path);
      }
    },
    components: {
      MyHeader
    }
  };
</script>

<style scoped>
  .login li {
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.3rem;
    border-radius: 10px;
    background: -webkit-gradient(linear, left top, right top, from(#fe5163), to(#fe8a71));
    position: relative;
    margin-bottom: 0.5rem;
  }

  .login li span {
    vertical-align: middle;
  }

  .login img:last-child {
    /* background: url("../../../assets/yhk.png") no-repeat; */
    background-size: contain;
    height: 150%;
    width: 42%;
    position: absolute;
    right: -25%;
    bottom: -50%;
    border-radius: 50%;
    opacity: 0.2;
  }

  .login li > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    color: #fff;
  }

  .login li > div > h3 {
    margin-bottom: 0.2rem;
    font-weight: normal;
  }

  .login li > img {
    flex-grow: 0;
    height: 44px;
    width: 44px;
    margin-right: 0.4rem;

  }

  .add {
    text-align: center;
    height: 1rem;
    line-height: 1rem;
    border: 1px solid #4B4D5D;
    /* transform: scale(0.5); */
    border-radius: 5px;
    color: #818394;
    font-size: 26px;
    margin-top: 0.3rem;
  }

  .add > span {
    font-size: 16px;
    vertical-align: top;
  }

  .mint-cell:after {
    display: none;
  }
</style>
