<template>
  <div class="page">
    <mt-header style="color: #333;" title="提现">
      <router-link to slot="left" @click.native="goBack">
        <mt-button icon="back"></mt-button>
      </router-link>
      <router-link to slot="right" @click.native="help" style="font-size: 15px">提现记录</router-link>
    </mt-header>
    <div v-show="true">
      <p style="font-size: 14px;line-height: 50px;height: 40px; font-weight: bold;text-indent: 0.3rem;">
        当前可提现金额
        <b style="color: #ED566D;font-family: Microsoft Yahei">{{txMsg.amount}}</b>元
      </p>
    </div>

    <div class="cardBox" style="padding: 0 0 0 0;margin-bottom: 0.2rem;">
      <div class="picList" style="padding: 0.2rem 0 0.2rem 0.3rem" v-if="isShow==='true'">
        <router-link tag="a" to="cardList" class="mint-cell-allow-right">
          <img :src="cardMsg.icon">
          <div>
            <span>{{cardMsg.bank}}</span>
            <p v-if="cardMsg">尾号（{{cardMsg.cardno}}）</p>
            <p v-else>该银行卡已被冻结</p>
          </div>
        </router-link>
      </div>
      <add-card v-if="isShow==='false'" @bankMsg="bankMsg"></add-card>
    </div>

    <div class="cardBox">
      <!--        :placeholder="'请输入'+txMsg.min+'~'+txMsg.max+'元'"-->
      <mt-field
        type="number"
        label="提现金额："
        @change="checkAmount(pwdShow.amount)"
        v-model.trim="pwdShow.amount"
        placeholder="单笔最少100元"
      >
        <span style="fontSize:14px;color: #999;" @click="allIn">全部提现</span>
      </mt-field>
    </div>

    <div class="cardBox">
      <mt-field
        id="pass"
        label="资金密码："
        type="number"
        @change="check(/^[0-9]{6}$/,pwdShow.fundpwd,2)"
        placeholder="请输入资金密码"
        v-model="pwdShow.fundpwd"
      ></mt-field>
    </div>


    <div class="cardBox" style="font-size: 14px;text-indent: 0.2rem;line-height: 1rem;">
      <span>手机号码：</span>
      <small v-if="txMsg.mobile">{{txMsg.mobile}}</small>
      <input
        v-else
        @change="check( /^[1][3,4,5,6,7,8,9][0-9]{9}$/,pwdShow.mobile,1)"
        type="text"
        class="mint-field-core"
        v-model="pwdShow.mobile"
        placeholder="请输入您的手机号码"
      >
    </div>

    <div class="cardBox">
      <mt-field type="number" label="验证码：" v-model="pwdShow.vcode" placeholder="请输入验证码">
        <mt-button
          class="code"
          :class="code?'':'red'"
          @click.native="getCode"
          :disabled="!code"
        >{{prompt}}
        </mt-button>
      </mt-field>
    </div>

    <div class="login">
      <mt-button type="danger" size="large" @click.native="ajax" :disabled="moneyCheck">提交</mt-button>
<!--      <div>-->
<!--        <span>温馨提示</span>-->
<!--        <div>-->
<!--          <p>1、为了您的账号安全，请使用真实姓名的银行卡提现</p>-->
<!--          <p>2、单次最小提现 {{txMsg.min}} 元，最大提现 {{txMsg.max}} 元</p>-->
<!--          <p>3、单日最多可提现 {{txMsg.times}} 次</p>-->
<!--          <p>4、单日提款上限 {{txMsg.limit}} 元</p>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import Pwd from "@/bass/pwd";
  import AddCard from "@/bass/addCard";
  import {mobile_api, withdraw_api, withdrawApply_api} from "@/common/api";
  import {Toast, MessageBox} from "mint-ui";
  import {fmoney} from "@/common/config";
  import {mapMutations, mapGetters, mapActions} from "vuex";

  export default {
    computed: {
      ...mapGetters(["initData"])
    },
    created() {
      this.isShow = sessionStorage.getItem("isShow");
      let setPwd = sessionStorage.getItem("setPwd");
      this.mask = sessionStorage.getItem("mask"); //打码量
      if (setPwd == "false") {
        MessageBox.confirm("您还未设置资金密码哟！", "提示", {
          closeOnClickModal: false
        })
          .then(action => {
            this.$router.push("setPwd");
          })
          .catch(res => {
            window.history.back();
          });
      } else if (this.mask != 0) {
        MessageBox.confirm(
          "您还有" +
          this.mask +
          "打码量未完成,请完成后再进行提现</br><small style='color:red'>(注: 视讯及电子游戏打码量延时10分钟结算)</small>",
          "提示",
          {closeOnClickModal: false, showCancelButton: false}
        )
          .then(action => {
            window.history.back();
          })
          .catch(res => {
            window.history.back();
          });
      }
      sessionStorage.getItem("mobile") != "false"
        ? (this.txMsg.mobile = sessionStorage.getItem("mobile"))
        : (this.txMsg.mobile = false);
      withdraw_api().then(res => {
        if (res.code == 200) {
          this.txMsg = res.data;
          this.cardMsg = res.data.bankcard; // 设置资金密码
          this.pwdShow.card = res.data.bankcard.id;
          if (this.isShow == "true") {
            if (this.cardMsg) {
              this.cardMsg.cardno = this.cardMsg.cardno.substr(
                this.cardMsg.cardno.length - 4
              );
            } else {
              Toast("此银行卡已被冻结,有疑问请联系客服处理！");
            }
          }
        } else {
          Toast(res.msg);
        }
      });
    },
    data() {
      return {
        mask: 0,
        prompt: "获取验证码",
        code: false, // 验证码是否发送
        // reg: /^[1][3,4,5,6,7,8,9][0-9]{9}$/, //手机号码正则
        mobileCheck: false,
        moneyCheck: true,
        txMsg: {}, // 请求回的参数
        cardMsg: {}, // 银行卡信息
        isShow: false, // 是否绑定银行卡
        pwdShow: {
          amount: "", // 提现金额
          fundpwd: "", // 资金密码
          vcode: "", //验证码
          mobile: "", // 手机号码
          card: "" //银行卡号
        }
      };
    },
    mounted() {
      var x = document.getElementById("pass");
      var style = window.getComputedStyle(x);
      if (style.webkitTextSecurity) {
        //do nothing
      } else {
        x.setAttribute("type", "password");
      }

      document.body.style.background = "#F2F2F2";
    },
    methods: {
      ...mapMutations({
        initData_Mua: "INIT_DATA"
      }),
      ...mapActions([
        'amount'
      ]),
      checkAmount(val) {
        let amount = parseFloat(val);
        if (amount > parseFloat(this.txMsg.amount)) {
          Toast("输入金额超过账户余额");
        } else if (
          amount < parseFloat(this.txMsg.min) ||
          amount > parseFloat(this.txMsg.max)
        ) {
          Toast("请输入范围内金额");
        }
      },
      check(reg, val, type) {
        if (type == 1) {
          console.log(reg.test(val))
          if (!reg.test(val)) {
            Toast("您输入的手机号格式不正确");
            this.mobileCheck = false;
          } else {
            this.mobileCheck = true;
          }
        }
        if (type == 2) {
          if (!reg.test(val)) {
            Toast("请输入正确的资金密码");
          }
        }
      },
      bankMsg(e) {
        console.log(e);
        this.pwdShow = Object.assign({}, this.pwdShow, e);
      },
      // 获取验证码
      getCode() {
        this.code = false;
        var number = 60;
        this.prompt = "重新发送" + number;
        window.timer = setInterval(() => {
          number--;
          this.prompt = "重新发送" + number;
          if (number < 1) {
            clearInterval(window.timer);
            this.prompt = "获取验证码";
            this.code = true;
          }
        }, 1000);
        if (this.pwdShow.mobile) {
          mobile_api({type: "register", mobile: this.pwdShow.mobile}).then(
            res => {
              Toast(res.msg);
            }
          );
        } else {
          mobile_api().then(res => {
            Toast(res.msg);
          });
        }
      },
      allIn() {
        this.pwdShow.amount = this.txMsg.amount;
      },

      help() {
        this.$router.push("withdrawRecord");
      },
      goBack() {
        window.history.back();
      },

      ajax() {

        // if(parseFloat(this.pwdShow.amount)< parseFloat(this.txMsg.min) || parseFloat(this.pwdShow.amount) > parseFloat(this.txMsg.max) ||parseFloat(this.pwdShow.amount) > parseFloat(this.txMsg.amount)){
        //   Toast('请输入范围内金额')
        //   return
        // }else
        // if(!/^[a-zA-Z0-9]{6}$/.test(this.pwdShow.fundpwd)){
        //   Toast('请输入正确的资金密码')
        //   return
        // }else
        // if(this.pwdShow.vcode.length!=6){
        //   Toast('请输入正确的验证码')
        //   return
        // }
        // else{
        if (/^[1-9]\d*$/.test(this.pwdShow.amount)) {
          this.moneyCheck = true;
          withdrawApply_api(this.pwdShow).then(res => {
            if (res.code == 200) {
              Toast("提交成功");
              let amount = this.txMsg.amount - this.pwdShow.amount
              this.initData.balance = amount
              this.amount(this.initData);
              this.pwdShow = {};
              this.$router.push("personal");
            } else {
              Toast(res.msg);
            }
          });
        } else {
          Toast("只可输入整数哟");
          return;
        }

        // }
      }
    },
    watch: {
      pwdShow: {
        handler(n) {
          // console.log(n);
          this.code = n.mobile.length == 11 || this.txMsg.mobile.length > 0;
          // console.log(this.code);
          // console.log(this.isShow);
          // console.log(this.txMsg);
          if (this.isShow == "true") {
            this.moneyCheck = !(
              parseFloat(n.amount) >= parseFloat(this.txMsg.min) &&
              parseFloat(n.amount) <= parseFloat(this.txMsg.max) &&
              parseFloat(n.amount) <= parseFloat(this.txMsg.amount) &&
              n.vcode.length == 6
            );
          } else if (this.isShow == "false") {
            this.moneyCheck = !(
              parseFloat(n.amount) >= parseFloat(this.txMsg.min) &&
              parseFloat(n.amount) <= parseFloat(this.txMsg.max) &&
              parseFloat(n.amount) <= parseFloat(this.txMsg.amount) &&
              n.cardno &&
              n.vcode.length == 6 &&
              n.person
            );
          }
        },
        deep: true
      }
    },
    beforeDestroy() {
      document.body.style.background = "#fff";
    },
    destroyed() {
      clearInterval(window.timer);
    },
    components: {
      Pwd,
      AddCard
    }
  };
</script>

<style scoped>
  .page {
    font-size: 12px;
  }

  .martop {
    margin-top: 0.3rem;
    background: #fff;
    padding: 0 0.3rem;
    color: #999;
  }

  .martop > p {
    margin-top: 0.3rem;
    font-size: 14px;
    color: #666;
  }

  .martop > span > b,
  .martop > p > a {
    color: #4a73c5;
  }

  .bor {
    margin: 0;
  }

  .hq {
    padding: 0.2rem;
    font-size: 13px;
    color: #fe3959;
  }

  .tel {
    background: #fff;
    line-height: 1rem;
    font-size: 14px;
    background: red;
  }

  .tel > span {
    display: inline-block;
    width: 24%;
  }

  .tel > small {
    font-size: 14px;
  }

  .martop .mint-cell-title {
    font-size: 22px;
  }

  /*.martop .mint-cell:last-child{*/
  /*display: none;*/
  /*}*/
  .mint-msgbox {
    border-radius: 10px;
    z-index: 11;
  }

  .mint-msgbox-message {
    text-align: start;
    line-height: 1;
  }

  .mint-msgbox-confirm {
    font-size: 16px;
  }

  .login > div > span {
    display: inline-block;
    padding: 0.1rem 0.35rem;
    font-size: 13px;
    color: #333;
    background: #e6e6e6;
  }

  .login > div > div {
    background: #fff;
    padding: 0.3rem;
    color: #999;
    font-size: 12px;
  }

  .login > div > div > p {
    margin-top: 0.1rem;
  }

  .mint-field-core {
    width: 70%;
  }

  .code {
    display: inline-block;
    padding: 0.15rem 0.2rem;
    background: #6C2DFE;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    height: 0.55rem;
    line-height: 0.25rem;
    opacity: 1;
  }

  .red {
    background: #cecdce;
  }

  .cardBox {
    margin: 0.2rem 0.3rem 0 0.3rem;
    padding: 0 0.15rem;
    background: #fff;
    border-radius: 5px;
    display: block;
    font-size: 16px;
  }
</style>
