<template>
  <div class="zoushi">
    <header>
      <span>{{title}}</span>
      <i class="iconfont icon-fork" @click="goBack"></i>
    </header>
    <div class="my_content">
      <!-- <mt-navbar v-model="selected">
         <mt-tab-item id="1" @click.native="tabItem('result')">结果</mt-tab-item>
         <mt-tab-item id="2" @click.native="tabItem('number')">号码分布</mt-tab-item>
         <mt-tab-item id="3" @click.native="tabItem('prophecy')">预测</mt-tab-item>
       </mt-navbar>-->
      <mt-tab-container v-model="selected">
        <mt-tab-container-item id="1">
          <div class="item1">
            <div class="zuo">
              <p>
                <b>期数</b>
                <b style="width:50%">时间</b>
              </p>
              <p v-for="(item,i) in trend_info" :key="i">
                <span>{{filterPeriod(item.period.slice(-4))}}</span>
                <span style="width:50%">{{item.time}}</span>
              </p>
            </div>
            <div class="you">
              <p class="type">
                <!--                <span :class="active==v.name?'active':''" v-for="(v,k) in type_select" :key="k" @click="childItem(v)">{{v.name}}</span>-->
                <span style="color: #333;width:100%;">开奖结果</span>
              </p>
              <p v-for="(item,i) in trend_info" :key="i">
                <!--<span :class="{da:filter2(v)=='大',xiao:filter2(v)=='小',dan:filter2(v)=='单',shuang:filter2(v)=='双',}"
                      v-for="(v,k) in item.award_number" :key="k">
                  {{filter2(v)}}
                </span>-->
                <img :src="filterImg(v)"
                     v-for="(v,k) in item.award_number"
                     :key="k"
                     width="24"
                     height="24"/>
              </p>

            </div>
          </div>
        </mt-tab-container-item>
        <!--号码分布-->
        <mt-tab-container-item id="2">
          <p class="numBox">
            <span :class="v.active?'numberActive':''" v-for="(v,i) in number" :key="i"
                  @click="numberLick(v)">{{v.num}}</span>
          </p>
          <p class="numBox typeBox">
            <span :class="v.active?'numberActive':''" v-for="(v,i) in type" :key="i"
                  @click="numberLick(v)">{{v.num}}</span>
          </p>
          <div class="item1">
            <div class="zuo">
              <p>
                <b>期数</b>
                <b style="width:50%">时间</b>
              </p>
              <p v-for="(item,i) in trend_info" :key="i">
                <span>{{filterPeriod(item.period.slice(-4))}}</span>
                <span style="width:50%">{{item.time}}</span>
              </p>
            </div>
            <div class="you">
              <p class="type">
                <span :class="active==v.name?'active':''" v-for="(v,k) in type_select" :key="k" @click="childItem(v)">{{v.name}}</span>
              </p>
              <p v-for="(item,i) in trend_info" :key="i">
                <span v-for="(v,k) in item.award_number" :key="k" :class="{
                              color_01: Number(v) === 1&& number[0].active,
                              color_02: Number(v) === 2&& number[1].active,
                              color_03:Number(v) === 3&& number[2].active,
                              color_04: Number(v) === 4&& number[3].active,
                              color_05: Number(v) === 5&& number[4].active,
                              color_06: Number(v) === 6&& number[5].active,
                              color_big:Number(v)>3&&type[0].active,
                              color_small:Number(v)<4&&type[1].active,
                              color_dan:Number(v)%2 ===1&&type[2].active,
                              color_shuang:Number(v)%2 === 0&&type[3].active,
                                     }">{{filter2(v)}}</span>
              </p>
            </div>
          </div>
        </mt-tab-container-item>
        <!--预测页面-->
        <mt-tab-container-item id="3">
          <div class="forecast" v-for="(item,i) in trend_info" :key="i">
            <p>{{item.time}}
              <span>第{{item.period}}期</span>
            </p>
            <div class="item1">
              <div class="zuo">
                <p>
                  <b style="color:#333">名次</b>
                </p>
                <p>
                  <b class="">第一球</b>
                </p>
                <p>
                  <b class="">第二球</b>
                </p>
                <p>
                  <b class="">第三球</b>
                </p>
                <p>
                  <b class="">总和</b>
                </p>
              </div>
              <div class="you">
                <p>
                  <b>预测</b>
                </p>
                <p v-for="(v,k) in item.pro_info" :key="k">
                  <b>
                    <span v-for="(num,i) in v.num" :key="i" :class="filter3(num, item.award_number, k)">{{num}}</span>

                    <span :class="filter3(v.big_small, item.award_number, k)">{{v.big_small}}</span>

                    <span :class="filter3(v.single_double, item.award_number, k)">{{v.single_double}}</span>
                  </b>
                </p>
              </div>
            </div>
          </div>
        </mt-tab-container-item>
      </mt-tab-container>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import {lotteryAwardTrend_api} from "@/common/api";
  import {colors} from "@/common/config";
  import _ from "lodash";

  export default {
    created() {
      this.title = this.$route.params.title
      this.data.lottery_id = this.$route.params.id;

      if (this.$route.params.type) {
        this.selected = this.$route.params.type;
        this.data.index_select = "prophecy";
      }
      this.ajax();
    },
    data() {
      return {
        selected: "1",
        active: "号码",
        numberActive: "",
        title: "",
        type_select: [
          {name: "号码", type_select: "num"},
          {name: "大小", type_select: "big_small "},
          {name: "单双", type_select: "single_double "}
        ],
        shaiImgs: {
          // 筛子图片
          1: "../../../../../static/touzhu/se1.png",
          2: "../../../../../static/touzhu/se2.png",
          3: "../../../../../static/touzhu/se3.png",
          4: "../../../../../static/touzhu/se4.png",
          5: "../../../../../static/touzhu/se5.png",
          6: "../../../../../static/touzhu/se6.png"
        },
        number: [
          {num: "1", active: false},
          {num: "2", active: false},
          {num: "3", active: false},
          {num: "4", active: false},
          {num: "5", active: false},
          {num: "6", active: false}
        ],
        type: [
          {num: "大", active: false},
          {num: "小", active: false},
          {num: "单", active: false},
          {num: "双", active: false},
          {num: "清除", active: false}
        ],
        data: {
          lottery_id: 0,
          index_select: "",
          type_select: "",
          number_select: ""
        },
        trend_info: [],
        dataArr: []
      };
    },
    methods: {
      filterImg(str) {
        return this.shaiImgs[str]
      },
      filterPeriod(str) {
        if (str[0] == '0') {
          return str.slice(1)
        } else {
          return str
        }
      },
      filter3(v, awardNum, realNumIndex) {

        if (!awardNum) return cn;

        var cn = "";
        var realNum = "";

        v += "";
        awardNum = awardNum.split(",");

        if (realNumIndex < 3) {
          realNum = awardNum[realNumIndex];
        } else {
          realNum =
            parseInt(awardNum[0]) +
            parseInt(awardNum[1]) +
            parseInt(awardNum[2]) +
            "";
        }

        if (["1", "2", "3", "4", "5", "6"].includes(v) && realNum == v) {
          cn += " color_0" + v;
        }

        if (v == "小" && realNum < 4) {
          cn += " color_small";
        }

        if (v == "大" && realNum > 3) {
          cn += " color_small";
        }

        if (v == "单" && realNum % 2 == 1) {
          cn += " color_dan";
        }

        if (v == "双" && realNum % 2 == 0) {
          cn += " color_shuang";
        }

        return cn;
      },
      filter(item, index, current, type) {
        if (type === "big_small") {
          if (item["award_number"]) {
            let new_arr =
              (item["award_number"] &&
                item["award_number"].split(",").map(i => {
                  return Number(i);
                })) ||
              [];
            let number = new_arr[0] + new_arr[1] + new_arr[2];
            if ([4, 5, 6].includes(number) && current["big_small"] === "大") {
              return true;
            } else if (
              [1, 2, 3].includes(number) &&
              current["big_small"] === "小"
            ) {
              return true;
            } else {
              return false;
            }
          }
        }
        if (type === "single_double") {
          if (item["award_number"]) {
            let new_arr =
              item["award_number"].split(",").map(i => {
                return Number(i);
              }) || [];
            let number = new_arr[0] + new_arr[1] + new_arr[2];
            console.log(number % 2 == 0);
            if (number % 2 == 1 && current["single_double"] == "单") {
              return true;
            } else if (number % 2 == 0 && current["single_double"] == "双") {
              return true;
            } else {
              return false;
            }
          }
        }
        return false;
      },
      tabItem(msg) {
        this.data.index_select = msg;

        this.ajax();
      },
      childItem(arg) {
        this.active = arg.name;
        this.ajax();
      },
      numberLick(msg) {
        this.number = this.number.map(item => {
          if (item.num === msg.num) {
            item.active = !msg.active;
          }
          return item;
        });

        this.type = this.type.map(item => {
          if (item.num === msg.num) {
            item.active = !msg.active;
          }
          return item;
        });

        if (msg.num === "清除") {
          this.dataArr = [];
          this.data.number_select = "";
          this.number.forEach(e => {
            e.active = false;
          });
          this.type.forEach(e => {
            e.active = false;
          });
        }
        this.ajax();
      },
      filter2(num) {
        if (this.active === "号码") {
          return num;
        }
        if (this.active === "大小") {
          if (num < 4) {
            return "小";
          } else {
            return "大";
          }
        }
        if (this.active === "单双") {
          if (num % 2 === 0) {
            return "双";
          } else {
            return "单";
          }
        }
      },
      goBack() {
        window.history.back();
      },
      ajax() {
        lotteryAwardTrend_api(this.data).then(res => {
          if (res.code == 200) {
            this.trend_info = res.data.trend_info;
            colors(this.trend_info)
          }
        });
      }
    },

    components: {}
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  .color_01 {
    color: red !important;
  }

  .color_02 {
    color: red !important;
  }

  .color_03 {
    color: red !important;
  }

  .color_04 {
    color: red !important;
  }

  .color_05 {
    color: red !important;
  }

  .color_06 {
    color: red !important;
  }

  .color_big {
    color: red !important;
  }

  .color_small {
    color: red !important;
  }

  .color_dan {
    color: red !important;
  }

  .color_shuang {
    color: red !important;
  }

  .item1 .you p .da {
    color: #fe3959;
  }

  .item1 .you p .xiao {
    color: #3D71FF;
  }

  .item1 .you p .dan {
    color: #fe3959;
  }

  .item1 .you p .shuang {
    color: #3D71FF;
  }

  b {
    font-weight: 500;
  }

  .zoushi {
    padding: 0.3rem;
    color: #333;

    > header {
      font-size: 24px;
      margin-bottom: 10px;

      > i {
        float: right;
        color: #979797;
      }
    }
  }

  .item1 {
    margin-top: 0.3rem;
    border: 1px solid #cdcdcd;
    display: flex;
    font-size: 0px;
    box-sizing: border-box;

    .zuo {
      display: inline-block;
      width: 30%;
      font-size: 14px;

      p {
        height: 0.6rem;
        line-height: 0.6rem;
        display: flex;
        box-sizing: border-box;
        border-bottom: 1px solid #cdcdcd;

        span {
          color: #999;
        }

        span,
        b {
          display: inline-block;
          width: 40%;
          text-align: center;
          line-height: 0.6rem;
          border-right: 1px solid #cdcdcd;
        }
      }

      & > p:last-child {
        border-bottom: 0;
      }
    }

    .you {
      display: inline-block;
      width: 70%;
      font-size: 14px;

      p {
        box-sizing: border-box;
        height: 0.6rem;
        line-height: 0.6rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid #cdcdcd;

        b {
          border-right: 1px solid #cdcdcd;
        }

        span {
          color: #666;
          height: 0.4rem;
          width: 25%;
          box-sizing: border-box;
          line-height: 1.3;
          padding: 0 0.15rem;
          border-radius: 5px;
          text-align: center;
        }
      }

      .type span {
        color: #fe3959;
      }

      & > p:last-child {
        border-bottom: 0;
      }
    }

    .active {
      border: 1px solid #fe3959;
    }
  }

  .numberActive {
    background: #fe3959;
    color: #fff;
  }

  .item1 .you p .red {
    color: red;
  }

  .numBox {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 0.3rem;

    span {
      border: 1px solid #cdcdcd;
      box-sizing: border-box;
      width: 1rem;
      height: 0.5rem;
      line-height: 0.5rem;
      text-align: center;
    }
  }

  .typeBox {
    margin-top: 0.2rem;

    span {
      width: 18%;
    }
  }

  .forecast {
    font-size: 14px;

    > p {
      height: 0.8rem;
      line-height: 0.8rem;
      text-align: center;
    }

    > .item1 {
      margin-top: 0;
    }

    .zuo > p > b {
      width: 100%;
      color: #999;
    }

    .you > p > b {
      border-right: 0;
      color: #333;
    }
  }
</style>
