<template>
  <div class="zoushi">
    <header>
      <span>{{title}}</span>
      <i class="iconfont icon-fork" @click="goBack"></i>
    </header>
    <div class="my_content">
     <!-- <mt-navbar v-model="selected">
        <mt-tab-item id="1" @click.native="tabItem('number')">结果</mt-tab-item>
        <mt-tab-item id="2" @click.native="tabItem('hot_cold')">冷热</mt-tab-item>
        <mt-tab-item id="4" @click.native="tabItem('number')">号码分布</mt-tab-item>
        <mt-tab-item id="5" @click.native="tabItem('prophecy')">预测</mt-tab-item>
      </mt-navbar>-->

      <mt-tab-container v-model="selected">
        <mt-tab-container-item id="1">
          <div class="item1">
            <div class="zuo">
              <p>
                <b>期数</b>
                <b style="width:50%">时间</b>
              </p>
              <p v-for="(item,i) in trend_info" :key="i">
                <span>{{filterPeriod(item.period.slice(-4))}}</span>
                <span style="width:50%">{{item.time}}</span>
              </p>
            </div>
            <div class="you">
              <p class="type">
<!--                <span :class="active==v.name?'active':''" v-for="(v,k) in type_select" :key="k" @click="childItem(v)">{{v.name}}</span>-->
                <span style="color: #333;">开奖结果</span>
              </p>
              <p v-for="(item,i) in trend_info" :key="i">
                <!-- {{item}} -->
                 <span v-for="(v,j) in item.award_number" :key="j" >{{active=='大小'?filter1(v):active=='单双'?filter(v):v}}</span>
               
              </p>
            </div>
          </div>
        </mt-tab-container-item>
        <mt-tab-container-item id="2">
          <div class="item1" style="display:block">
            <p class="my_title">
              <span>号码</span>
              <span>30期</span>
              <span>50期</span>
              <span>100期</span>
              <span>遗漏</span>
            </p>
            <p class="my_cont" v-for="(item,i) in hot" :key="i">
              <!-- {{item}} -->
              <span>{{i}}</span>
              <span v-for="(v,j) in item" :key="j" :class="colorNum(v)">
                {{v}}
              </span>
              <!-- <span>
                <i v-for="(v,j) in item.cold" :key="j" class="blue1">{{v.num}}</i>
              </span> -->
            </p>
          </div>
        </mt-tab-container-item>
        <mt-tab-container-item id="4">
          <p class="numBox">
            <span :class="v.active?'numberActive':''" v-for="(v,i) in number" :key="i" @click="numberLick(v)">{{v.num}}</span>
          </p>
          <p class="numBox typeBox">
            <span :class="v.active?'numberActive':''" v-for="(v,i) in type" :key="i" @click="numberLick(v)">{{v.num}}</span>
          </p>
          <div class="item1">
            <div class="zuo">
              <p>
                <b>期数</b>
                <b style="width:50%">时间</b>
              </p>
              <p v-for="(item,i) in trend_info" :key="i">
                <span>{{filterPeriod(item.period.slice(-4))}}</span>
                <span style="width:50%">{{item.time}}</span>
              </p>
            </div>
            <div class="you">
              <p class="type">
                <span :class="active==v.name?'active':''" v-for="(v,k) in type_select" :key="k" @click="childItem(v)">{{v.name}}</span>
              </p>

              <p v-for="(item,i) in trend_info" :key="i">
                <span v-for="(v,k) in item.award_number" :key="k" v-bind:class="{
                                      color_01: Number(v) === 1&& number[0].active,
                                      color_02: Number(v) === 2&& number[1].active,
                                      color_03: Number(v) === 3&& number[2].active,
                                      color_04: Number(v) === 4&& number[3].active,
                                      color_05: Number(v) === 5&& number[4].active,
                                      color_06: Number(v) === 6&& number[5].active,
                                      color_07: Number(v) === 7&& number[6].active,
                                      color_08: Number(v) === 8&& number[7].active,
                                      color_09: Number(v) === 9&& number[8].active,
                                      color_10: Number(v) === 10&& number[9].active,
                                      color_big:Number(v)>3&&type[0].active,
                                      color_small:Number(v)<4&&type[1].active,
                                      color_dan:Number(v)%2 ===1&&type[2].active,
                                      color_shuang:Number(v)%2 === 0&&type[3].active,
                                      color_999:true,
                                     }">{{filter2(v)}}</span>

              </p>
            </div>
          </div>
        </mt-tab-container-item>
        <mt-tab-container-item id="5">
          <div class="forecast" v-for="(item,i) in trend_info" :key="i">
            <p>{{item.time}}
              <span style="color:#4A73C5">第{{item.period}}期</span>
            </p>
            <div class="item1">
              <div class="zuo">
                <p>
                  <b style="color:#333">位置</b>
                </p>
                <p>
                  <b class="">正码一</b>
                </p>
                <p>
                  <b class="">正码二</b>
                </p>
                <p>
                  <b class="">正码三</b>
                </p>
                <p>
                  <b class="">正码四</b>
                </p>
                <p>
                  <b class="">正码五</b>
                </p>
                <p>
                  <b class="">组合</b>
                </p>
              </div>
              <div class="you2">
                <p>
                  <b>预测</b>
                </p>
                <p v-for="(v,k) in item.pro_info" :key="k">
                  <b>
                     <span v-for="(num,i) in v.num" :key="i" :class="filter3(num, item.award_number, k)">{{num}}</span>
                 
                     <span :class="filter3(v.big_small, item.award_number, k)">{{v.big_small}}</span>

                    <span :class="filter3(v.single_double, item.award_number, k)">{{v.single_double}}</span>
                 
                  </b>
                </p>
              </div>
            </div>
          </div>
        </mt-tab-container-item>
      </mt-tab-container>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import { lotteryAwardTrend_api } from "@/common/api";
import { stringColors } from "@/common/config";

export default {
  created() {
    //this.title = sessionStorage.getItem("title");
    this.data.lottery_id = this.$route.params.id;
    this.title = this.$route.params.title;
    console.log(this.data.lottery_id)
    if (this.$route.params.type) {
      this.selected = this.$route.params.type;
      this.data.index_select = "prophecy";
    }
    this.ajax();
  },
  computed:{

  },
  data() {
    return {
      selected: "1",
      active: "号码",
      numberActive: "",
      max:[],
      min:[],
      title: "",
      type_select: [
        { name: "号码", type_select: "num" },
        { name: "大小", type_select: "big_small " },
        { name: "单双", type_select: "single_double " }
      ],
      number: [
        { num: "1", active: false },
        { num: "2", active: false },
        { num: "3", active: false },
        { num: "4", active: false },
        { num: "5", active: false },
        { num: "6", active: false },
        { num: "7", active: false },
        { num: "8", active: false },
        { num: "9", active: false },
        { num: "10", active: false },
        { num: "11", active: false }
      ],
      type: [
        { num: "大", active: false },
        { num: "小", active: false },
        { num: "单", active: false },
        { num: "双", active: false },
        { num: "清除", active: false }
      ],
      data: {
        lottery_id: 0,
        index_select: "number",
        type_select: "",
        number_select: ""
      },
      trend_info: [],
      hot: []
    };
  },
  methods: {
    colorNum(num){
      if(this.max.includes(num)){
        return 'red1'
      }else if(this.min.includes(num)){
        return 'blue1'
      }else{
        return ''
      }
    },
    filterPeriod(str){
      if(str[0]=='0'){
        return str.slice(1)
      }else{
        return str
      }
    },
    filter3(v, awardNum, realNumIndex) {
      if (!awardNum) return cn;
      var cn = "";
      var realNum = "";

      v += "";

      // awardNum = awardNum.split(",");

      // var ddd = { one: 0, two: 1, three: 2, sum: 3 };
      // realNumIndex = ddd[realNumIndex];

      if (realNumIndex < 11) {
        realNum = awardNum[realNumIndex];
      } else {
        realNum =
          parseInt(awardNum[0]) +
          parseInt(awardNum[1]) +
          parseInt(awardNum[2]) +
          parseInt(awardNum[3]) +
          parseInt(awardNum[4]) +
          parseInt(awardNum[5]) +
          parseInt(awardNum[6]) +
          parseInt(awardNum[7]) +
          parseInt(awardNum[8]) +
          parseInt(awardNum[9]) +
          parseInt(awardNum[10]) +
          "";
      }
      if (
        ["1", "2", "3", "4", "5", "6", "7", "8", "9","10" ].includes(v) &&
        realNum == v
      ) {
        cn += " color_0" + v;
      }

      if (v == "小" && realNum < 6) {
        cn += " color_small";
      }

      if (v == "大" && realNum > 5) {
        cn += " color_small";
      }

      if (v == "单" && realNum % 2 == 1) {
        cn += " color_dan";
      }

      if (v == "双" && realNum % 2 == 0) {
        cn += " color_shuang";
      }

      return cn;
    },
    filter(item) {
      if(item%2==0){
        return '双'
      }else{
        return '单'
      }
    },
    filter1(num){
      if(num<5){
        return '大'
      }else{
        return '小'
      }

    },
    tabItem(msg) {
      this.data.index_select = msg;
        if(msg == 'result'){
          this.data.type_select = 'number'
      }
      this.ajax(msg);
    },
    childItem(item) {
      this.active = item.name;
      this.data.type_select = item.type_select;
      if(this.selected == 1){
          
      }
    },
    numberLick(msg) {
      this.number = this.number.map(item => {
        if (item.num === msg.num) {
          item.active = !msg.active;
        }
        return item;
      });

      this.type = this.type.map(item => {
        if (item.num === msg.num) {
          item.active = !msg.active;
        }
        return item;
      });

      if (msg.num === "清除") {
        this.dataArr = [];
        this.data.number_select = "";
        this.number.forEach(e => {
          e.active = false;
        });
        this.type.forEach(e => {
          e.active = false;
        });
      }
      // this.ajax();
    },
    filter2(num) {
      if (this.active === "号码") {
        return num;
      }
      if (this.active === "大小") {
        if (num < 6) {
          return "小";
        } else {
          return "大";
        }
      }
      if (this.active === "单双") {
        if (num % 2 === 0) {
          return "双";
        } else {
          return "单";
        }
      }
    },
    goBack() {
      window.history.back();
    },
    ajax(msg) {
      lotteryAwardTrend_api(this.data).then(res => {
        if (res.code == 200) {
          if (msg == "hot_cold") {
            this.hot = res.data.trend_info;
            let re30 =[],re50=[],re100=[];
            for (const key in this.hot) {
              re30.push(this.hot[key][30])
              re50.push(this.hot[key][50])
              re100.push(this.hot[key][100])
            }
           
            this.max.push(Math.max.apply(null,re30),Math.max.apply(null,re50),Math.max.apply(null,re100)) 
            this.min.push(Math.min.apply(null,re30),Math.min.apply(null,re50),Math.min.apply(null,re100)) 
            console.log(this.min)
            console.log(this.max);
          } else {
            this.trend_info = res.data.trend_info;
            // stringColors(this.trend_info);
          }
        }
      });
    }
  },
  components: {}
};
</script>

<style lang="less" scoped>
.color_blue {
  color: cornflowerblue !important;
}
.color_red {
  color: #fe3959 !important;
}
.color_01 {
  color: red !important;
}

.color_02 {
  color: red !important;
}

.color_03 {
  color: red !important;
}

.color_04 {
  color: red !important;
}

.color_05 {
  color: red !important;
}

.color_06 {
  color: red !important;
}

.color_07 {
  color: red !important;
}

.color_08 {
  color: red !important;
}

.color_09 {
  color: red !important;
}

.color_10 {
  color: red !important;
}

.color_big {
  color: red !important;
}

.color_small {
  color: red !important;
}

.color_dan {
  color: red !important;
}

.color_shuang {
  color: red !important;
}

b {
  font-weight: 500;
}

.zoushi {
  padding: 0.3rem;
  color: #333;
  > header {
    font-size: 24px;
    margin-bottom: 10px;
    > i {
      float: right;
      color: #979797;
    }
  }
}

.item1 {
  margin-top: 0.3rem;
  border: 1px solid #cdcdcd;
  display: flex;
  font-size: 0px;
  box-sizing: border-box;
  .zuo {
    display: inline-block;
    width: 30%;
    font-size: 14px;

    p {
      height: 0.6rem;
      line-height: 0.6rem;
      display: flex;
      box-sizing: border-box;
      border-bottom: 1px solid #cdcdcd;

      span {
        color: #999;
      }
      span,
      b {
        display: inline-block;
        width: 50%;
        text-align: center;
        line-height: 0.6rem;
        border-right: 1px solid #cdcdcd;
      }
    }
    & > p:last-child {
      border-bottom: 0;
    }
  }
  .you {
    display: inline-block;
    width: 70%;
    font-size: 14px;

    p {
      box-sizing: border-box;
      height: 0.6rem;
      width: 100%;
      line-height: 0.6rem;
      display: inline-flex;
      justify-content: space-around;
      align-items: center;
      border-bottom: 1px solid #cdcdcd;
      b {
        border-right: 1px solid #cdcdcd;
      }
      span {
        color: #666;
        height: 0.4rem;
        display: inline-block;
        width: 25%;
        flex: 1;
        box-sizing: border-box;
        line-height: 1.3;
        margin: 0 0.05rem;
        padding: 0 0.015rem;
        border-radius: 5px;
        text-align: center;
      }
      .color_999 {
        color: #999;
      }
    }
    .type span {
      color: #4A73C5;
    }
    & > p:last-child {
      border-bottom: 0;
    }
  }
  .you4 {
    display: inline-block;
    width: 20%;
    font-size: 14px;
    border-right: 1px solid #cdcdcd;
    p {
      box-sizing: border-box;
      height: 0.6rem;
      line-height: 0.6rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-bottom: 1px solid #cdcdcd;
      span {
        color: #666;
        height: 0.4rem;
        width: 100%;
        box-sizing: border-box;
        line-height: 0.4rem;
        // padding: 0 0.15rem;
        border-radius: 5px;
        text-align: center;
      }
    }
    .type span {
      width: 1.2rem;
    }
 
  }

  .you3 {
    display: inline-block;
    width: 50%;
    font-size: 14px;
    p {
      box-sizing: border-box;
      height: 0.6rem;
      line-height: 0.6rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-bottom: 1px solid #cdcdcd;
    }
    span {
      color: #666;
      height: 0.4rem;
      width: 25%;
      box-sizing: border-box;
      line-height: 0.4rem;
      padding: 0 0.15rem;
      border-radius: 5px;
      text-align: center;
    }
  }
  .type span {
    width: 50%;
  }
  & > p:last-child {
    border-bottom: 0;
  }
  .you2 {
    display: inline-block;
    width: 70%;
    font-size: 14px;
       & > p:last-child {
      border-bottom: 0;
    }
    p {
      box-sizing: border-box;
      height: 0.6rem;
      line-height: 0.6rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-bottom: 1px solid #cdcdcd;
      b {
        span {
          color: #666;
          height: 0.4rem;
          width: 25%;
          box-sizing: border-box;
          line-height: 0.4rem;
          padding: 0 0.15rem;
          border-radius: 5px;
          text-align: center;
        }
      }
      .type span {
        color: #fe3959;
        width: 3.2rem;
      }
    }
   & > p:last-child {
      border-bottom: 0;
    }
  }

  .active {
    border: 1px solid #4A73C5;
  }
}

.numberActive {
  background: #fe3959;
  color: #fff;
}

.numBox {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 0.3rem;
  span {
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
    width: .5rem;
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: center;
  }
}

.typeBox {
  margin-top: 0.2rem;
  span {
    width: 18%;
  }
}

.forecast {
  font-size: 14px;
  > p {
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
  }
  > .item1 {
    margin-top: 0;
  }
  .zuo > p > b {
    width: 100%;
    color: #999;
  }
  .you > p > b {
    border-right: 0;
    color: #333;
  }
}

.my_title {
  height: 0.5rem;
  display: flex;
  width: 100%;
  font-size: 13px;
}

.my_title > span:first-child {
  border-left: 0;
}

.my_title > span {
  flex: 2;
  text-align: center;
  line-height: 0.5rem;
  border-bottom: 1px solid #cdcdcd;
  border-left: 1px solid #cdcdcd;
}
.my_cont {
  height: 0.5rem;
  display: flex;
  width: 100%;
  font-size: 13px;
}

.my_cont > span:first-child {
  border-left: 0;
  text-align: center;
}

.my_cont > span {
  display: inline-flex;
  flex: 2;
  text-align: center;
  line-height: 0.5rem;
  border-bottom: 1px solid #cdcdcd;
  border-left: 1px solid #cdcdcd;
  justify-content: center;
}
.my_cont > span > i {
  width: 15%;

  margin: 0 0.04rem;
  font-style: normal;
  color: #fff;
}
.red1 {
  color: #FE397F;
}
.blue1 {
  color: #3d71ff;
}
</style>
