<template>
  <div>
    <my-header></my-header>
    <div style="padding:0 15px;font-size:14px">
      <p>1. 注册用户只接受合法博彩年龄客户的申请。同时我们保留要求客户提供其年龄证明的权利，进行完善全部信息必须在个方面都是准确和完整的。在使用借记卡/信用卡时，持卡人姓名等身份证信息时，必须是与网上注册时填写一致。</p>
      <p>2. 在开户后进行一次有效存款恭喜您成为本公司有效用户!</p>
      <p>3. 成为有效用户后，客户有责任以邮件、联系在线客服、在本公司网站上留言等方式，随时向本公司提供最新的个人资料。</p>
      <p>4. 同一账户/家庭/户籍地址/电邮地址/电话号码/付款账号（如借记卡/信用卡、支付宝、微信账号等）/ IP地址/共享电脑环境(如学校、公共图书馆或工作场所)，仅限于此优惠一次。本公司保留权利从任何客户或客户群撤回提供任何奖金及其赢利 。</p>
      <p>5. 在优惠推广期间，公司对于用户滥用多个账户将严格规定和执行。公司保留在任何时候修改优惠活动条款与规则的所有权利，包括暂停、修改或取消此优惠活动等。关于用户活动是否构成滥用多个账户的判断和决定是根据公司管理层裁决。</p>
      <p>6. 平台所有充值账号将不定期更换，请每次充值前务必打开充值界面获取最新收款账号，如自己充错造成的任何损失自由承担，与平台无关。</p>
      <p>7. 公司不接受任何欺诈，多个账户或资料不正确以及违反该规则和条款的用户。如果因任何原因公司未能接收到用户的登入信息，公司不承担责任。</p>
      <p>8. 不经核实乱放高点，恶意利用手中配额扰乱市场者，广告词中以超高返点分红为诱饵，回收全部配额处理，严重的降级或者封号。 </p>

    </div>
  </div>
</template>
<script type="text/ecmascript-6">
import MyHeader from '@/bass/header'
export default {
  data () {
    return {

    }
  },
  methods: {
    goback () {
      window.history.back()
    }
  },
  components: {
    MyHeader
  }
}
</script>

