<template>
  <div class="page">
    <my-header></my-header>
    <div class="login2">
      <!-- <mt-field label="手机号" @change="check( reg,getPwd.mobile,1)" placeholder="请输入11位有效手机号" type="tel" v-model="getPwd.mobile"></mt-field> -->
      <mt-field label="手机号" type="tel" v-model="getPwd.mobile" disabled></mt-field>
      <mt-field label="验证码" v-model="getPwd.vcode" placeholder="请输入手机验证码">
        <mt-button class="code" :class="!active ? 'red':''" @click.native="getCode">{{prompt}}
        </mt-button>
      </mt-field>
      <mt-field label="新密码" @change="check( /^[a-zA-Z0-9]{6}$/,getPwd.fundpwd,2)" placeholder="请输入6位数字密码"  type="password" v-model="getPwd.fundpwd"></mt-field>
      <div class="box1" v-show="btn">请输入六位数字密码</div>
      <mt-button type="danger" size="large" @click="login" :disabled="btn">确认</mt-button>

    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header";
  import {Toast, MessageBox} from "mint-ui";
  import {mobile_api, moneypwdGet_api} from "@/common/api";

  export default {
    created() {
      sessionStorage.getItem('mobile') ? this.getPwd.mobile = sessionStorage.getItem('mobile') : this.getPwd.mobile = ''
    },
    data() {
      return {
        prompt: "获取验证码",
        active: false,
        btn: true,
        reg: /^[1][3,4,5,6,7,8,9][0-9]{9}$/,
        success: true,
        number:0,
        getPwd: {
          mobile: "",
          vcode: "",
          fundpwd: ''
        },
        // 正则验证
        checked: {
          mobile: false,
          vcode: false,
          fundpwd: false
        },
        paymsg: {
          img: require("@/assets/success.png"),
          txt: '绑定成功',
        },
      };
    },
    methods: {
      // 获取验证码
      getCode() {
      if (this.getPwd.mobile && this.number==0) {
        this.active = true;
        this.number = 60;
        this.prompt = "重新发送" + this.number;
        let timer = setInterval(() => {
          this.number--;
          this.prompt = "重新发送" + this.number;
          if (this.number < 1) {
            clearInterval(timer);
            this.prompt = "获取验证码";
            this.active=false

          }
        }, 1000);
        mobile_api().then(
          res => {
            Toast(res.msg);
            this.active = true
          }
        );
      }
    },
      check(reg, val, type) {
        if (type == 1) {
          reg.test(val)
            ? (this.checked.mobile = true)
            : Toast("您输入的手机号格式不正确");
        } else if (type == 2) {
          reg.test(val)
            ? (this.checked.fundpwd = true)
            : Toast("您输入的密码格式不正确");
        }

      },
      login() {
        moneypwdGet_api(this.getPwd).then(res => {
          if (res.code == 200) {
            this.success = true
            Toast({
              message: "资金密码修改成功",
              iconClass: "iconfont icon-chenggong"
            });
            this.$router.push('/personal')
          } else {
            MessageBox.confirm(res.msg, {confirmButtonText: '联系客服'})
              .then(() => {
                this.$router.push("/kefu");
              })
              .catch(err => {

              });
          }
        });
      },
      goHome() {
        this.$router.push('/gamesMain')
      }
    },

    components: {
      MyHeader
    },
    watch: {
      "getPwd.mobile": {
        handler: function (n) {
          this.reg.test(n) ? (this.active = true) : (this.active = false);
          return true;
        },
        deep: true
      },
      getPwd: {
        handler: function (n) {
          if (n.fundpwd.length == 6 && n.vcode.length == 6) {
            this.btn = false;
          } else {
            this.btn = true;
          }
        },
        deep: true
      }
    }
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  .code {
    display: inline-block;
    padding: 0.15rem 0.2rem;
    background: #cecdce;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    height: 0.55rem;
    line-height: 0.25rem;
    opacity: 1;
  }
.box1{
  font-size: 14px;
  color: red;
  margin-left: .2rem;
}
  .red {
    background: #3d71ff;
  }

  .login2 {
    padding: 20px;
    > button {
      background: #4A73C5;
      color: #fff;
    }
    > p {
      width: 100%;
      position: fixed;
      bottom: 10px;
      text-align: center;
      font-size: 12px;
      color: #4A73C5;
    }
    .mint-cell {
      background: #fff;
    }

    .mint-tab-item, .mint-cell-title, .mint-cell-text {
      color: #333 !important;
    }
    .mint-field-core {
      background-color: #fff;
    }
  }
</style>
