<template>
  <layout-page>
    <div class="reg-page">
      <p>
        <span>注册</span>
        <span class="iconfont icon-fork"
              @click="$router.push('/center')"></span>
      </p>
      <div class="login_box">

        <div class="my-field">
          <div class="my-filed-label">
            账号
          </div>
          <input class="mint-field-core"
                 type="text"
                 v-model="form.username"
                 placeholder="请输入用户名">
        </div>

        <div class="my-field">
          <div class="my-filed-label">
            密码
          </div>
          <input class="mint-field-core"
                 type="text"
                 v-model="form.password"
                 placeholder="请输入密码">
        </div>

        <div class="my-field">
          <div class="my-filed-label">
            确认
          </div>
          <input class="mint-field-core"
                 type="text"
                 v-model="form.password2"
                 placeholder="请在此输入密码">
        </div>

        <div class="my-field">
          <div class="my-filed-label">
            邮箱
          </div>
          <input class="mint-field-core"
                 type="text"
                 v-model="form.email"
                 placeholder="请输入邮箱地址">
        </div>

        <div class="my-field">
          <div class="my-filed-label">
            手机
          </div>
          <input class="mint-field-core"
                 type="text"
                 v-model="form.mobile"
                 placeholder="请输入手机号码">
        </div>

        <div class="my-field">
          <div class="my-filed-label">
            邀请码
          </div>
          <input class="mint-field-core"
                 type="text"
                 v-model="form.invitation"
                 placeholder="请输入邀请码，可不填">
        </div>

        <div class="my-field">
          <div class="my-filed-label2">
            验证 {{max}} - {{min}} =
          </div>
          <input class="mint-field-core"
                 type="text"
                 v-model="form.minus"
                 placeholder="？">
        </div>


        <lay-button theme="violet"
                    :block="true"
                    size="middle"
                    @click="loginIn"
        >立即注册
        </lay-button>
      </div>

      <div class="reg_box">
        <p>已有账号？<span @click="$router.push('/login')">马上登录</span></p>
      </div>

    </div>
  </layout-page>
</template>

<script type="text/ecmascript-6">
  import {Toast} from "mint-ui";
  import {reg_api, login_api} from "@/common/api";
  import {baseUrl, platform, platform_prefix} from "@/config/app.config";
  import LayButton from "@/vlayui/LayButton";
  import LayoutPage from "@/vlayui/Layout/page";

  export default {
    components: {
      LayButton,
      LayoutPage,
    },
    data() {
      return {
        form: {
          username: '',
          password: '',
          password2: '',
          email: '',
          mobile: '',
          invitation: '',
          minus: '',
        },
        max: 50,
        min: 10,
        minus: 40,
        loginChange: true,
      };
    },
    created() {
      this.invitation = this.$route.query.invitation;

      this.max = this.random(50, 60);
      this.min = this.random(1, 10);
      this.minus = Number(this.max) - Number(this.min);

    },
    methods: {
      loginIn() {

        if (Number(this.form.minus) !== Number(this.minus)) {
          return Toast('验证结果不正确！');
        }

        let data = {
          username: this.form.username,
          password: this.form.password,
          password2: this.form.password2,
          email: this.form.email,
          invitation: this.form.invitation
        };

        return reg_api(data).then(res => {
          if (res.Message.messageval === "register_succeed") {
            this.$router.push("/center");
          } else {
            Toast(res.Message.messagestr);
          }
        });
      },
      random(lower, upper) {
        return Math.floor(Math.random() * (upper - lower)) + lower;
      }
    },
    mounted() {
      document.getElementsByClassName("reg-page")[0].style.background = "#fff";
    },
    beforeDestroy() {
      document.getElementsByClassName("reg-page")[0].style.background = "#fff";
    },
  };
</script>


<style scoped lang="less" rel="stylesheet/less">
  @import "../../style/global.less";

  //登录注册页面样式
  .reg-page {
    position: relative;
    height: 100%;
    min-height: 13rem;
    padding: 20px 30px;
    font-size: 15px;

    .button-violet {
      margin: 20px 0;
    }

    > p {
      font-size: 28px;
      color: #333333;

      > .icon-fork {
        width: 20px;
        height: 20px;
        float: right;
        color: #999999;
        margin-top: 5px;
      }
    }

    .icon-kefu {
      position: absolute;
      top: 10.5rem;
      width: 3rem;
      text-align: center;
      margin-left: -1.5rem;
      left: 50%;
      color: #fff;
      font-size: 15px;
      padding-bottom: 1rem;
    }

    .icon-kefu:before {
      font-size: 22px;
      margin-right: 0.2rem;
    }

    .login_box {
      background: #fff;
      border-radius: 16px;
      margin-top: 0.5rem;
      font-size: 16px;
      z-index: 2;

      .my-field {
        display: flex;
        background: #f1f1f1;
        border-radius: 8px;
        margin-bottom: 15px;
        height: 45px;
      }

      .my-filed-label {
        width: 72px;
        flex: 0 0 1;
        text-align: left;
        height: 45px;
        line-height: 45px;
        padding-left: 15px;
        font-size: 16px;
      }

      .mint-field-core {
        flex: 1;
        padding: 0;
        height: 45px;
        line-height: 45px;
        background: rgba(0, 0, 0, 0);
      }


      .my-filed-label2 {
        width: 103px;
        flex: 0 0 1;
        text-align: left;
        height: 45px;
        line-height: 45px;
        padding-left: 15px;
        font-size: 16px;
      }

      .center {
        text-align: center;
        color: #999;
        font-size: 0.3rem;
        padding-bottom: 0.2rem;
      }

      .login_btn {
        margin: 1rem 0 0.271rem;
      }
    }
  }

  .reg_box {
    position: absolute;
    left: 0.45rem;
    width: 88%;
    margin: 0 auto;
    padding: 0.2rem 0 0.2rem;
    text-align: center;
    z-index: 1;
    font-size: 14px;
    color: #999;

    > p > span {
      color: #6c2dfe;
    }
  }

  input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #c5c5c5;
  }

  .mint-cell > .ball:before {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    top: 5px;
    left: 0;
    background: #ff4d55;
  }

  .mint-tab-item > .mint-tab-item-label {
    color: #fff;
  }

  .mint-tab-item.is-selected > .mint-tab-item-label {
    border: 0;
    color: #ffce6f;
  }

  .mint-tab-item {
    position: relative;
  }

  .is-selected::after {
    margin-bottom: -3px;
    font-size: 15px;
    background-color: #ffce6f;
    position: absolute;
    right: 0;
    top: 0.9rem;
    left: 26%;
    height: 2px;
    content: "";
    width: 50%;
  }
</style>
