<template>
  <div class="send-post-page">
    <div class="swipe-con">

      <div class="post-header">
        <div class="left" @click="cancelPublish">
          取消
        </div>

        <div class="right" @click="publish">
          发布
        </div>
      </div>

      <div class="select" @click="showEvent">
        {{showText}}
      </div>

      <div class="my-field">
        <div class="my-filed-label">
          标题
        </div>
        <input class="mint-field-core"
               type="text"
               v-model="title"
               placeholder="必填">

      </div>

      <div class="LidtEditor bgWhite" id="LidtEditor">
        <div class="Editor">
          <div id="editorElem" ref="editor" style="text-align:left">
          </div>
        </div>
      </div>

    </div>

    <publish-pop v-on:close-event="closeEvent"
                 v-bind:showPublish="showPublish"
                 v-bind:showPublishCon="showPublishCon"></publish-pop>
  </div>
</template>

<script type="text/ecmascript-6">
  import Cycle from "@/bass/cycle";
  import {
    home_api, // 个人中心首页
    announcement_api, // 公告列表
    lotteryHome_api, // 首页接口
    lotteryLobbyInfo_api,
    lotteryMenu_api  // 右侧弹框彩票列表
  } from "@/common/api";
  import MySlide from '@/components/homes/layout/slide.vue';
  import ForumHeader from '@/components/forums/layout/forumHeader.vue';
  import ForumTabs from '@/components/forums/layout/forumTabs.vue';
  import PublishPop from '@/components/forums/layout/publishPop.vue';
  import E from 'wangeditor';

  export default {
    components: {
      Cycle,
      MySlide,
      ForumHeader,
      ForumTabs,
      PublishPop,
    },
    props: {},
    computed: {},
    data() {
      return {
        title: '',
        content: '正文',
        showPublish: false,
        showPublishCon: false,
        showText: '选择论坛版块',
      };
    },
    created: function () {

    },
    mounted: function () {
      //https://www.kancloud.cn/wangfupeng/wangeditor3/332599
      let editor = new E(this.$refs.editor);

      editor.customConfig.onchange = (html) => {
        this.content = html;
      };

      editor.customConfig.onfocus = function () {
        editor.txt.html('');
      };

      editor.customConfig.menus = [
        // 'head',  // 标题
        // 'bold',  // 粗体
        // 'italic',  // 斜体
        // 'underline',  // 下划线
        // 'strikeThrough',  // 删除线
        // 'foreColor',  // 文字颜色
        // 'backColor',  // 背景颜色
        // 'link',  // 插入链接
        // 'list',  // 列表
        // 'justify',  // 对齐方式
        // 'quote',  // 引用
        'emoticon',  // 表情
        'image' // 插入图片
        // 'table',  // 表格
        // 'video',  // 插入视频
        // 'code',  // 插入代码
        // 'undo',  // 撤销
        // 'redo'  // 重复
      ];
      // editor.customConfig.uploadImgShowBase64 = true   // 使用 base64 保存图片
      editor.customConfig.pasteFilterStyle = true;
      editor.customConfig.uploadImgServer = '//moment.snail.com/api/v1/upload/image';  // 上传图片到服务器
      editor.customConfig.uploadImgMaxSize = 2 * 1024 * 1024;
      editor.customConfig.uploadImgMaxLength = 50;
      editor.customConfig.withCredentials = true;
      editor.customConfig.uploadImgParams = {
        from: 'comment'   // 属性值会自动进行 encode ，此处无需 encode
      };
      editor.customConfig.uploadFileName = 'file';
      editor.customConfig.uploadImgHeaders = {
        'Accept': 'text/x-json'
      };
      // editor.customConfig.customAlert = function (info) {
      //   // info 是需要提示的内容
      //   // alert('info')
      //   document.getElementById('postErrts').style.display = 'inline-block'
      //   document.getElementById('postErrts').innerHTML = '图片过大，请上传小于2M的图片'
      //   // console.log(info)
      // }
      // editor.customConfig.uploadImgHooks = {
      //   fail: function (xhr, editor, result) {
      //     // 图片上传并返回结果，但图片插入错误时触发
      //     // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象，result 是服务器端返回的结果
      //     document.getElementById('postErrts').style.display = 'inline-block'
      //     document.getElementById('postErrts').innerHTML = '图片插入错误，请重新选择图片'
      //   },
      //   error: function (xhr, editor) {
      //     // 图片上传出错时触发
      //     // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象
      //     document.getElementById('postErrts').style.display = 'inline-block'
      //     document.getElementById('postErrts').innerHTML = '图片上传错误，请重新选择图片'
      //   },
      //   customInsert: function (insertImg, result, editor) {
      //     // 图片上传并返回结果，自定义插入图片的事件（而不是编辑器自动插入图片！！！）
      //     // insertImg 是插入图片的函数，editor 是编辑器对象，result 是服务器端返回的结果
      //     // 举例：假如上传图片成功后，服务器端返回的是 {url:'....'} 这种格式，即可这样插入图片：
      //     if (result.code === 200) {
      //       document.getElementById('postErrts').style.display = 'none'
      //       var url = result.url
      //       insertImg(url)
      //     } else {
      //       document.getElementById('postErrts').style.display = 'inline-block'
      //       document.getElementById('postErrts').innerHTML = result.message
      //     }
      //     // console.log(result)
      //     // result 必须是一个 JSON 格式字符串！！！否则报错
      //   }
      // }
      // editor.customConfig.linkImgCallback = function (url) {
      //   // console.log(url) // url 即插入图片的地址
      // }
      editor.create();
      editor.txt.html('')
    },
    methods: {
      showEvent() {
        this.showPublish = true;
        setTimeout(() => {
          this.showPublishCon = true;
        }, 300)
      },
      closeEvent() {
        this.showPublishCon = false;

        setTimeout(() => {
          this.showPublish = false;
        }, 300)
      },
      cancelPublish() {
        this.$router.go(-1);
      },
      publish(){
        this.$router.push('/publishSuccess');
      }
    }
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  @import "../../style/global.less";

  .send-post-page {
    width: 100%;
    height: 100%;


    .post-header {
      height: 45px;
      margin: 0 15px;
      background: rgba(255, 255, 255, 1);

      .left {
        width: 30px;
        height: 21px;
        font-size: 15px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        line-height: 45px;
      }

      .right {
        width: 30px;
        height: 21px;
        font-size: 15px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(61, 113, 255, 1);
        line-height: 45px;
      }
    }


    .select {
      margin: 0 15px;
      height: 45px;
      line-height: 45px;
      font-size: 14px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(61, 113, 255, 1);
    }

    .my-field {
      margin: 0 15px;
      display: flex;
      border-radius: 8px;
      height: 45px;
      position: relative;
      border-bottom: 1px solid #f1f1f1;


      .my-filed-label {
        width: 52px;
        flex: 0 0 1;
        text-align: left;
        height: 45px;
        line-height: 45px;
        font-size: 14px;
      }

      .mint-field-core {
        flex: 1;
        padding: 0;
        height: 45px;
        line-height: 45px;
        line-height: 45px;
        background: rgba(0, 0, 0, 0);
        font-size: 14px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
      }
    }

    .my-field:nth-last-child(1) {
      border: none;
    }
  }
</style>
