<!-- 展示模板 -->
<template>
  <div id="agencyCenter" class="page">
    <nav class="tab-bar">
      <router-link to="/createUserCenter" class="tab-item">
        <!--<i class="iconfont icon-huodong"></i>-->
        <img src="../../assets/addUser.png" alt style="height:.45rem">
        <span class="tab-label">开户</span>
      </router-link>
      <router-link to="/memberManage" class="tab-item">
        <i class="iconfont icon-shuangsechangyongtubiao-" style="font-size:.43rem"></i>
        <span class="tab-label">下级</span>
      </router-link>
      <!--<router-link to="/chatCenter" class="tab-item">
        <i class="iconfont icon-liaotian" style="font-size:.43rem"></i>
        <span class="tab-label">聊天</span>
      </router-link>-->
      <!-- <router-link to="/createUserCenter" class="tab-item">
         &lt;!&ndash;<i class="iconfont icon-huodong"></i>&ndash;&gt;
         <img src="../../assets/addUser.png" alt style="height:.45rem">
         <span class="tab-label">赚钱</span>
       </router-link>-->
      <router-link to="/dailyWage" class="tab-item">
        <i class="iconfont icon-qian" style="font-size:.38rem;padding-top:.03rem"></i>
        <span class="tab-label">工资</span>
      </router-link>
      <router-link to="/teamReport" class="tab-item">
        <i class="iconfont icon-chuanyuejilu" style="font-size:.38rem;padding-top:.03rem"></i>
        <span class="tab-label">报表</span>
      </router-link>
    </nav>
    <!-- <div class="agencyCenter-con"> -->
    <router-view></router-view>
    <!-- </div> -->
  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header";
  import { fmoney } from "@/common/config";
  import {
    game_balance_api,
    game_transfer_api,
    get_team_situation,
    home_api
  } from "@/common/api";

  export default {
    components: {
      MyHeader
    },
    created: function() {
      get_team_situation().then(res => {
        const { code, data } = res;
        if (res && code === 200) {
          if (data) {
            [
              "members",
              "register",
              "recharge",
              "withdraw",
              "betting",
              "balance"
            ].forEach((item, index) => {
              this.agencyList[index]["value"] = data[item];
            });
          }
        }
      });
      this.initHomeData();
    },
    data() {
      return {
        agencyList: [
          {
            icon: require(`../../assets/agency_icon01.png`),
            value: "",
            title: "团队人数"
          },
          {
            icon: require(`../../assets/agency_icon06.png`),
            value: "",
            title: "注册人数"
          },
          {
            icon: require(`../../assets/agency_icon03.png`),
            value: "",
            title: "充值金额"
          },
          {
            icon: require(`../../assets/agency_icon04.png`),
            value: "",
            title: "提现金额"
          },
          {
            icon: require(`../../assets/agency_icon05.png`),
            value: "",
            title: "投注金额"
          },
          {
            icon: require(`../../assets/agency_icon07.png`),
            value: "",
            title: "团队金额"
          }
        ],
        tradeDataActive: "100",
        tradeData: [
          { name: "50元", value: 50 },
          { name: "100元", value: 100 },
          { name: "300元", value: 300 },
          { name: "500元", value: 500 },
          { name: "1000元", value: 1000 },
          { name: "2000元", value: 2000 },
          { name: "5000元", value: 5000 },
          { name: "10000元", value: 10000 }
        ],
        amount: "100",
        tgp: "0.00",
        balance: "0.00",
        type: "",
        avatar: ""
      };
    },
    methods: {
      backto() {
        this.$router.push("personal");
      },
      selected(value) {
        this.tradeDataActive = value;
        this.amount = value;
      },
      goToPage(i) {
        if (i === 0 || i === 1) {
          this.$router.push("/memberManage");
        }
      },
      initHomeData() {
        home_api().then(res => {
          this.isLogin = sessionStorage.getItem("isLogin");
          if (this.isLogin === "false") {
            MessageBox.confirm("您还未登录", "提示", { closeOnClickModal: false })
              .then(action => {
                this.$router.push("login");
              })
              .catch(res => {
                this.$router.push("center");
              });
            return;
          } else if (res.code === 200) {
            this.balance = fmoney(res.data.balance);
            this.isShow = res.data.bankcard;
            this.isloginPwd = res.data.password; // 是否设置登录密码
            this.setPwd = res.data.fundpwd;
            this.avatar = res.data.avatar;
            res.data.mobile.length > 0
              ? (this.mobile = res.data.mobile)
              : (this.mobile = false);

            sessionStorage.setItem("mask", res.data.mask); // 打码量
            sessionStorage.setItem("mobile", this.mobile); // 是否绑定手机号
            sessionStorage.setItem("setPwd", this.setPwd); // 是否设置资金密码
            sessionStorage.setItem("isShow", this.isShow); // 是否绑定银行卡
            sessionStorage.setItem("pwd", this.isloginPwd); // 是否设置登录密码
          } else {
            Toast(res.msg);
          }
        });
      }
    }
  };
</script>
<!-- 样式代码 -->
<style scoped lang="less">
  #agencyCenter {
    background-color: #fff;
    // position: fixed;
    // left: 0;
    // bottom: 0;
    // top: 0;
    // right: 0;
    margin-bottom: 50px;
    z-index: 1;

    .router-link-active > .iconfont,
    .router-link-active > span {
      color: #6733c7;
    }

    // .agencyCenter-con {
    // position: absolute;
    // left: 0;
    // bottom: 0;
    // top: 0;
    // right: 0;
    // overflow: auto;
    // -webkit-overflow-scrolling: touch;
    // padding-bottom: 51px;
    //  z-index: -1;
    // }

    .tab-bar {
      background: #fff;
      border-top: 1px solid #eeeeee;
      z-index: 1;
    }

    .tab-item {
    }

    .tab-label {
      color: rgba(153, 153, 153, 1);
    }

    .agent-info {
      width: 100%;
      height: 6rem;
      background: linear-gradient(
        to bottom right,
        #3023ae,
        #c86dd7
      ); /* 标准的语法 */
      position: relative;
    }
    .agent-info-header {
      width: 100%;
      height: 1rem;
      position: relative;
      .mint-button {
        position: absolute;
        left: 0;
        top: 0;
        height: 1rem;
        background-color: rgba(0, 0, 0, 0);
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        display: inline-block;
        color: #fff;
      }
      .mint-button:not(.is-disabled):active::after {
        background: rgba(0, 0, 0, 0);
      }
      .mintui-back {
        font-size: 0.5rem;
        font-weight: bold;
        line-height: 1rem;
      }
      .btn {
        display: inline-block;
      }
      .title {
        position: absolute;
        left: 50%;
        top: 0;
        display: inline-block;
        text-align: center;
        color: #fff;
        font-size: 0.38rem;
        line-height: 1rem;
        width: 3rem;
        margin-left: -1.5rem;
      }
    }
    @avatar_width: 1.4rem;
    .agent-info-avatar {
      position: absolute;
      left: 50%;
      top: @avatar_width;
      width: @avatar_width;
      height: @avatar_width;
      margin-left: -(@avatar_width / 2);
      img {
        display: inline-block;
        width: @avatar_width;
        height: @avatar_width;
        border-radius: 90px;
      }
    }
    .agent-info-balance {
      position: absolute;
      left: 50%;
      top: 3rem;
      width: 3rem;
      margin-left: -1.5rem;
      text-align: center;
      font-size: 0.28rem;
      p:nth-child(1) {
        color: rgba(218, 218, 218, 1);
        margin-bottom: 0.1rem;
      }
      p:nth-child(2) {
        color: #fff;
      }
    }
    .agent-info-money {
      position: absolute;
      top: 4.5rem;
      width: 100%;
      text-align: center;
      > div {
        display: inline-block;
        width: 49%;
        float: left;
        p:nth-child(1) {
          font-size: 0.25rem;
          color: rgba(216, 216, 216, 1);
          margin-bottom: 0.1rem;
        }
        p:nth-child(2) {
          font-size: 0.35rem;
          color: #fff;
        }
      }
      > div:nth-child(1) {
        border-right: 1px solid #dadada;
      }
    }
    .agent-list {
      ul {
        padding: 0.4rem;
      }
      li {
        height: 0.9rem;
        margin-bottom: 0.2rem;
        background-color: #f2f2f2;
        border-radius: 10px;
        img {
          display: inline-block;
          float: left;
          height: 0.4rem;
          margin-top: 0.25rem;
          margin-left: 0.3rem;
        }
        .value {
          display: inline-block;
          float: right;
          color: rgba(51, 51, 51, 1);
          margin-top: 0.25rem;
          font-size: 0.38rem;
          margin-right: 0.4rem;
          font-weight: bold;
        }
        .title {
          display: inline-block;
          float: left;
          color: rgba(102, 102, 102, 1);
          margin-top: 0.25rem;
          font-size: 0.28rem;
          margin-right: 0.4rem;
          margin-left: 0.25rem;
        }
      }
    }
    .agent-select {
      height: 0.8rem;
      line-height: 0.8rem;
      .record {
        float: right;
        font-size: 0.3rem;
        margin-left: 0.3rem;
        color: rgba(105, 31, 254, 1);
        margin-top: 0.2rem;

        margin-right: 0.3rem;
      }
      .total {
        font-size: 0.32rem;
        margin-left: 0.5rem;
        color: rgba(51, 51, 51, 1);
        font-weight: bold;
      }
    }
    .top-item {
      flex: 0 0 25%;
      a {
        width: 100%;
        height: 1rem;
        padding: 0.3rem 0;
      }
      img {
        display: inline-block;
        text-align: center;
        height: 0.9rem;
      }
      span {
        display: inline-block;
        font-size: 0.2rem;
      }
    }
    .agency-bottom {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      .bottom-item {
        flex: 0 0 45%;
        margin: 1.5% 2.5%;
        width: 3.32rem;
        height: 1.74rem;
        background-color: #fff;
        border-radius: 0.16rem;
        display: flex;
        flex-direction: column;
      }
      img {
        display: inline-block;
        text-align: center;
        margin-top: 20%;
        margin-left: 20%;
        height: 0.34rem;
        font-size: 0.24rem;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
      }
      .icon {
        align-self: flex-start;
        width: 0.96rem;
        height: 0.94rem;
        font-size: 0.24rem;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        line-height: 0.44rem;
      }
      .number {
        align-self: flex-end;
        height: 0.66rem;
        font-size: 0.48rem;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
        line-height: 0.66rem;
        margin-right: 0.1rem;
      }
    }
  }
</style>
