<template>
  <div class="center-page">
    <div class="swipe-con">

      <my-header></my-header>

      <my-tabs></my-tabs>

      <div class="post-number">

        <div class="post-num-item">
          <div class="post-item-up">
            今日发帖
          </div>
          <div class="post-item-down">
            {{todaypost}}
          </div>
        </div>

        <div class="post-num-item">
          <div class="post-item-up">
            总帖数
          </div>
          <div class="post-item-down">
            {{threads}}
          </div>
        </div>

        <div class="post-num-item">
          <div class="post-item-up">
            总回复数
          </div>
          <div class="post-item-down">
            {{posts}}
          </div>
        </div>

      </div>
    </div>

    <my-slide></my-slide>

    <div class="help-list">

      <div class="help-list-item" @click="goForumDetail(item)" v-for="(item,index) in forumlist" :key="index">
        <img :src="item['icon']" alt="">
        <span class="text-up">{{item['name']}}</span>
        <span class="text-down">{{item['description']}}</span>
      </div>

    </div>

    <my-footer></my-footer>

  </div>
</template>

<script type="text/ecmascript-6">
  import {mapMutations, mapState, mapActions} from "vuex";
  import {MessageBox, Toast} from "mint-ui";
  import k from "kiana-js";
  import MyFooter from '@/components/homes/layout/footer.vue';
  import MySlide from '@/components/homes/layout/slide.vue';
  import MyHeader from '@/components/homes/layout/header.vue';
  import MyTabs from '@/components/homes/layout/tabs.vue';

  export default {
    components: {
      MyFooter,
      MySlide,
      MyHeader,
      MyTabs,
    },
    props: {
      height: {
        default: 40,
        type: Number
      },
      lineNum: {
        default: 5,
        type: Number
      }
    },
    computed: mapState({
      todaypost: (state) => state.homeForum.todaypost,
      posts: (state) => state.homeForum.posts,
      threads: (state) => state.homeForum.threads,
      forumlist: (state) => state.homeForum.forumlist,
    }),
    data() {
      return {
        search: '',
        promotionLoad: false,
        swiperOption: {
          pagination: {
            el: '.swiper-pagination',
            dynamicBullets: true
          }
        },
        menuList: [], //右侧弹框彩票列表
        lists: [],
        gameAG: "",
        contentArr: [],
        mask: 0,
        randomName: "", // 随机名称
        gonggao: [], // 公告弹框数据
        user: "", // 是否可设置用户名
        regMsg: [], // 注册奖励弹框数据
        weiHuMsg: {},
        popShow: {
          gonggaoshow: false, // 公告弹框显示
          usernameShow: false, //用户名弹框->手机号弹框
          weihuPop: false
          // regShow: false // 奖励弹框控制
        },
        num: 0,
        isLogin: "", // 是否登录
        setPwd: false, // 是否设置资金密码
        gameUrl: "",
        gameList: [],
        popMsg: false,
        noName: false,
        noCard: false,
        arrSort: {},
        swipe: {},
        clickNum: 0,
        active: 0,
        select: [{name: "传统模式", num: 0}, {name: "房间模式", num: 1}],
        lotteryHome: {}
      };
    },
    created: function () {

      this.getHomeForum_act();

    },
    methods: {
      ...mapMutations({
        initData_Mua: "INIT_DATA"
      }),
      ...mapActions({
        getHomeForum_act: "GET_HOME_FORUM",
      }),
      goForumDetail(item) {
        this.$router.push({
          path: '/forumDetail',
          query: {
            forum: JSON.stringify(item)
          },
        });
      },
      selected(n) {
        this.active = n;
      },
      goHall() {
        this.$router.push("hall");
      },
      games(str) {
        if (k.isWx()) {
          MessageBox({
            title: "提示",
            message: "由于微信禁止访问外部网站，请下载APP进行游戏",
            confirmButtonText: "下载",
            showCancelButton: true
          }).then(action => {
            if (action === "confirm") {
              this.$router.push("download");
            }
          })
        } else {
          if (this.isLogin === "false") {
            MessageBox.confirm("您还未登录")
              .then(() => {
                this.$router.push("login");
              })
          } else if (this.isLogin === "yes") {  // 试玩账号
            MessageBox.confirm("正式会员才可以使用该功能", "提示", {
              confirmButtonText: "成为会员"
            }).then(() => {
              this.$router.push("reg");
            })
          } else {
            try {
              // let find = this.gameAG.find(item => {
              //   return item.transfer === str;
              // });

              let find = {
                game: "ky",
                icon: "http://192.168.0.164/pub/icon/game_ky.png",
                id: "4",
                name: "开元棋牌",
                servicing: {status: 1},
                status: "open",
              };

              if (this.hotGame[0].status && this.hotGame[0].servicing.status === 1) {
                this.$router.push({
                  name: "Transfer",
                  params: {
                    msg: str
                  }
                });
              } else {
                this.popShow.weihuPop = true;
                this.weiHuMsg = this.hotGame[0].servicing;
              }
            } catch (err) {
              console.log(err);
            }
          }
        }
      },
      toGame(msg) {
        console.log('this.active', this.active);
        if (this.isLogin == "false") {
          MessageBox.confirm("您还未登录")
            .then(action => {
              this.$router.push("login");
            })
            .catch(res => {
            });
          return;
        } else if (msg.status == 2) {
          Toast("该彩种维护中");
          return;
        } else if (this.active == 0) {
          this.$router.push({
            name: "GamesMain",
            params: {
              msg: msg
            }
          });
        } else if (this.active == 1) {
          this.$router.push({
            name: "GamesMainLiaoTian",
            params: {
              msg: msg
            }
          });
        }
      },
      closeGonggao(msg) {
        this.popShow.gonggaoshow = msg;
      },
      closeMark(e) {
        this.popMsg = e;
      },
      weihu(e) {
        this.popShow.weihuPop = e
      },
      closeusername(e) {
        this.popShow.usernameShow = e;
      },
      closereg(e) {
        this.popShow.regShow = e;
      },
      addCard() {
        this.$router.push("/addCard");
      },
      unbound(route) {
        if (route == "unBound") {
          if (this.isLogin == "false") {
            MessageBox.confirm("您还未登录")
              .then(action => {
                this.$router.push("login");
              })
              .catch(res => {
              });
          } else if (this.isLogin == "yes") {
            MessageBox.confirm("正式会员才可以使用该功能", "提示", {
              confirmButtonText: "成为会员"
            })
              .then(action => {
                this.$router.push("reg");
              })
              .catch(res => {
              });
          } else {
            if (this.setPwd) {
              // 设置过资金密码
              if (this.mask == 0) {
                this.$router.push(route);
              } else {
                MessageBox.confirm(
                  "您还有" +
                  this.mask +
                  "打码量未完成,请完成后再进行提现</br><small style='color:red'>(注: 视讯及电子游戏打码量延时10分钟结算)</small>",
                  "提示",
                  {
                    closeOnClickModal: false,
                    showCancelButton: true,
                    cancelButtonText: "打码量详情"
                  }
                )
                  .then(action => {
                  })
                  .catch(res => {
                    this.$router.push("maskDetail");
                  });
              }
            } else if (!this.setPwd) {
              MessageBox.confirm("您还未设置资金密码哟！", "提示", {
                closeOnClickModal: false
              })
                .then(action => {
                  this.$router.push("setPwd");
                })
                .catch(res => {
                  // this.$router.push("center");
                });
              this.noCard = true;
            }
          }
        } else if (route == "recharge") {
          this.isShiWan(route);
        } else if (route == "share") {
          this.isShiWan(route);
        } else {
          this.$router.push(route);
        }
      },
      //试玩账号是否登录
      isShiWan(path) {
        if (this.isLogin == "false") {
          if (path == "share") {
            this.$router.push(path);
          } else {
            MessageBox.confirm("您还未登录")
              .then(action => {
                this.$router.push("login");
              })
              .catch(res => {
              });
          }
        } else if (this.isLogin == "yes") {
          MessageBox.confirm("正式会员才可以使用该功能", "提示", {
            confirmButtonText: "成为会员"
          })
            .then(action => {
              this.$router.push("reg");
            })
            .catch(res => {
            });
        } else {
          this.$router.push(path);
        }
      },
      goDetail(id) {
        if (id && id !== "") {
          if (/share/.test(id)) {
            if (this.isLogin === "yes") {
              MessageBox.confirm("正式会员才可以使用该功能", "提示", {
                confirmButtonText: "成为会员"
              })
                .then(action => {
                  this.$router.push("reg");
                })
                .catch(res => {
                });
            } else {
              this.$router.push("share");
            }
          } else {
            location.href = id;
          }
        }
      }
    },
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  @import "../../../style/global.less";

  .post-number {
    margin: 0 15px;
    height: 80px;
    background: linear-gradient(228deg, rgba(91, 157, 255, 1) 0%, rgba(61, 122, 255, 1) 100%);
    box-shadow: 0px 2px 12px 0px rgba(197, 199, 203, 0.51);
    border-radius: 8px;
    display: flex;
    text-align: center;

    .post-num-item {
      flex: 1;
      padding-top: 15px;
    }

    .post-item-up {
      height: 17px;
      font-size: 12px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(233, 233, 233, 1);
      line-height: 17px;

    }

    .post-item-down {
      margin-top: 2px;
      height: 28px;
      font-size: 20px;
      font-family: PingFangSC-Medium;
      font-weight: 500;
      color: rgba(255, 255, 255, 1);
      line-height: 28px;
    }
  }

  .help-list {
    margin: 0 15px;


    .help-list-item {
      width: 100%;
      height: 69px;
      background: rgba(245, 245, 245, 1);
      border-radius: 8px;
      margin-bottom: 10px;
      position: relative;

      > img {
        position: absolute;
        left: 10px;
        top: 15px;
        width: 40px;
        height: 40px;
        background: rgba(241, 90, 74, 1);
      }
    }

    .text-up {
      position: absolute;
      left: 60px;
      top: 14px;
      height: 21px;
      font-size: 15px;
      font-family: PingFangSC-Medium;
      font-weight: 500;
      color: rgba(51, 51, 51, 1);
      line-height: 21px;
    }

    .text-down {
      position: absolute;
      left: 60px;
      top: 40px;
      right: 12px;
      height: 17px;
      font-size: 12px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(153, 153, 153, 1);
      line-height: 17px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }


  .play-tab {
    padding: 0 15px;
    display: flex;
    height: 75px;

    .play-tab-bar {
      flex: 1;
      text-align: center;
      position: relative;

      > img {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -25px;
        display: inline-block;
        height: 50px;
        width: 50px;
      }

      > span {
        position: absolute;
        top: 55px;
        display: inline-block;
        height: 25px;
        font-size: 12px;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 25px;
      }

    }
  }

  .titles {
    margin: 15px;
    border-left: 3px solid #3D71FF;
    padding-left: 10px;
    height: 22px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 22px;
  }

  .right_pop {
    width: 100%;
    height: 100%;
  }

  .pop_box {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background: #fff;
    z-index: 12;
    font-size: 16px;
    color: #333;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 0.5rem 0.3rem 0;

    > div > p {
      margin-bottom: 0.3rem;
      font-weight: bold;
    }

    .pop_lottery {
      display: flex;
      flex-flow: wrap;
      margin-bottom: 0.5rem;

      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33.3%;
        margin-bottom: 0.2rem;

        > img {
          width: 1rem;
          height: 1rem;
        }

        > span {
          margin-top: 0.1rem;
        }
      }
    }
  }


  .other-con {
    margin-top: 10px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;

    .other-con-item {
      flex: 0 0 23%;
      position: relative;
      text-align: center;
      height: 69px;
      background: rgba(255, 255, 255, 1);
      border-radius: 4px;
      border: 1px solid rgba(214, 214, 214, 1);
      overflow: hidden;

      > span:nth-child(1) {
        display: inline-block;
        position: absolute;
        top: 12px;
        left: 50%;
        margin-left: -28px;
        width: 56px;
        height: 20px;
        font-size: 14px;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
        line-height: 20px;
      }

      > span:nth-child(2) {
        display: inline-block;
        position: absolute;
        top: 33px;
        left: 50%;
        margin-left: -20px;
        width: 40px;
        height: 17px;
        font-size: 12px;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 17px;
      }

      > img {
        display: inline-block;
        width: 27px;
        height: 27px;
        position: absolute;
        bottom: -7px;
        right: -7px;
        background: black;
      }
    }
  }


  .activity-con {
    margin-top: 10px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .activity-con-item {
      flex: 0 0 48%;
      position: relative;
      height: 94px;
      background: rgba(216, 216, 216, 1);
      border-radius: 4px;
      margin-bottom: 10px;

      > img {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
      }

      .pop {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 20px;
        background: rgba(0, 0, 0, 1);
        opacity: 0.5;
        font-size: 12px;
        color: rgba(255, 255, 255, 1);
        line-height: 20px;
        text-align: center;
      }
    }
  }


  .media-con {
    margin: 0 15px;
    height: 163px;
    background: rgba(216, 216, 216, 1);
    border-radius: 4px;
  }


  .center-page {
    width: 100%;
    height: 100%;

    .tab-bar {
      position: relative;
      border: 0;
      background-color: #fff;
      height: 5.3rem;

      .tab-item {
        height: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 15px;
        margin-bottom: 20px;
        border-right: 1px solid #20294e;

        &:nth-child(4) {
          border-right: none;
        }

        img.icon2 {
          width: 0.6rem;
          height: 0.6rem;
        }
      }
    }

    .game2 {
      margin-top: 1rem;
      position: relative;

      .tab-item {
        height: auto;
        padding: 3%;
        width: 27%;

        .icon {
          width: 72px;
          height: 72px;
        }
      }

      .games_tab-bar {
        display: flex;
        flex-flow: wrap;
        width: 100%;
        justify-content: flex-start;
        padding: 0.2rem 0 1.2rem;
      }

      .lastBox {
        width: 100%;
        position: absolute;
        top: -0.8rem;
        height: 0.8rem;
        line-height: 0.8rem;

        > span {
          display: inline-block;
          margin-left: 3%;
          margin-right: 3%;
          width: 44%;
          height: 0.8rem;
          border-radius: 10px 10px 0 0;
          background: #1b233e;
          text-align: center;
          color: #fff;
        }

        > .active {
          background: #2c3353;
          color: #f8c96e;
        }
      }
    }

    .game1 {
      padding: 0.2rem 0.3rem 0 0.3rem;

      .tab-bar {
        // display: flex;
        // flex-wrap: wrap;
        // padding: 0.3rem 0;
        background: #f7f7f7;

        .tab-item1 {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          text-align: center;
          // margin-bottom: 0.2rem;
          > div {
            display: flex;
            flex-direction: column;
            width: 25%;
            align-items: center;
            height: 1.8rem;
            font-size: 12px;
          }

          .tab-label {
            display: inline-block;
            height: 16px;
            margin-top: 0.1rem;
          }

          .icon {
            width: 1rem;
            height: 1rem;
          }
        }
      }
    }

    .game {
      font-size: 16px;
      background-color: #f7f7f7;
      margin-bottom: 0.2rem;

      .games_tab-bar {
        padding: 0.2rem 0.3rem 61px 0.3rem;
        display: flex;
        flex-flow: wrap;
        width: calc(100% - 0.6rem);
        justify-content: flex-start;
        min-height: 2rem;
      }

      .tab-label {
        overflow: inherit;
        font-size: 14px;
        margin-top: 0.2rem;
        position: relative;
        color: #333;
      }

      > p {
        margin-bottom: 0.2rem;

        .game-title {
          color: #333;
          font-weight: bold;
        }

        > i {
          display: inline-block;
          width: 17px;
          height: 19px;
          vertical-align: bottom;
          background: url("../../../assets/remen.png") no-repeat;
          background-size: contain;
        }
      }
    }

    .rollScreen_container {
      height: 100%;
      display: inline-block;
      position: relative;
      overflow: hidden;
    }

    .rollScreen_list {
      margin: 0;
      transition: 1s linear;
    }

    .rollScreen_list_unanim {
      transition: none;
    }

    .guanggao {
      height: 0.5rem;
      line-height: 0.5rem;
      margin: 0.2rem 0.3rem;
      padding: 0.05rem 0;
      font-size: 12px;
      background: #fff;
      border-radius: 8px;

      > div {
        height: 0.5rem;
        line-height: 0.5rem;
        display: flex;
        border-radius: 0.3rem;
        padding: 0 0.2rem;

        > .quduo {
          text-align: center;
          display: inline-block;
          width: 40px;
          height: 0.4rem;
          line-height: 0.5rem;
          color: #6c2dfe;
        }
      }
    }

    .mint-cell {
      min-height: 40px;
    }

    .router-link-active > .iconfont,
    .router-link-active > span {
      color: #fff;
    }

    .fang {
      position: absolute;
      bottom: 0;
      right: -25px;
      width: 16px;
      height: 16px;
      background: url("../../../assets/fang.png") no-repeat;
      background-size: contain;
    }

    .userInput {
      padding: 0 0.5rem;
    }

    .icon-fork {
      position: absolute;
      right: 5px;
      top: 5px;
      color: #dedede;
    }

    .randomName {
      margin: 0.3rem 0;
      color: #333;
      font-size: 16px;
    }
  }
</style>
