<!-- 展示模板 -->
<template>
  <div class="page">

    <mt-header title="转账">
      <router-link to=""
                   slot="left"
                   @click.native="goBack">
        <mt-button icon="back"></mt-button>
      </router-link>
      <router-link to="/transfer_list"
                   slot="right">
        <mt-button style="font-size: 15px">游戏转账</mt-button>
      </router-link>
    </mt-header>
    <div>
      <mt-cell title="主账号余额"
               class="mt-cell-full-border">
        <span style="color:#FFCE6F"
              v-if="gameMoney.balance ">{{gameMoney.balance | fmoney}}元</span>
        <mt-spinner v-else
                    type="snake"
                    :size="5"></mt-spinner>
      </mt-cell>
      <mt-cell :title="text"
               class="mt-cell-full-border"
               @click.native="gameSHow">
        <span v-if="gameMoney.game"
              style="color:#FFCE6F">{{gameMoney.game |fmoney}}元</span>
        <mt-spinner v-else
                    type="snake"
                    :size="5"></mt-spinner>
      </mt-cell>
      <mt-cell title="转账方式"
               class="mt-cell-full-border">
        <mt-radio @change="allIn"
                  class="my-radiolist"
                  :options="option"
                  v-model="type"></mt-radio>
      </mt-cell>
      <mt-field class="mt-field-cs01"
                label="转账金额"
                placeholder="请填写转账金额"
                v-model="amount">

      </mt-field>
    </div>
    <!-- <div class="login">
      <div class="item">
        <span :class="{active : tradeDataActive == items.value  && tradeDataActive == amount}" @click="selected(items.value)" v-for="(items,i) in tradeData" :key="i">{{items.name}}</span>
      </div>
    </div> -->
    <div class="my_btn_box">
      <mt-button v-if="this.type == 'from_game'"
                 type="danger"
                 size="large"
                 @click="mt_transfer">提交
      </mt-button>
      <mt-button v-if="this.type == 'to_game'"
                 type="danger"
                 size="large"
                 @click="mt_transfer">转入并进入游戏
      </mt-button>
      <mt-button type="danger"
                 size="large"
                 @click="goGame">直接进入游戏
      </mt-button>
    </div>

  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header";
  import {fmoney} from "@/common/config";
  import {game_balance_api, game_transfer_api, game_api} from "@/common/api";
  import {Toast, Indicator} from "mint-ui";
  // import Game from "@/bass/transfer";

  export default {
    components: {
      MyHeader
    },
    created: function () {
      Indicator.close();
      if (this.$route.params.msg) {
        this.gameType = this.$route.params.msg;
        sessionStorage.setItem("gameType", this.gameType);
      } else {
        this.gameType = sessionStorage.getItem("gameType");
      }

      if (this.gameType) {
        this.gameType == "ag"
          ? (this.text = "AG视讯")
          : this.gameType == "sb"
          ? (this.text = "申博视讯&电子游艺")
          : this.gameType == "rt"
            ? (this.text = "申博视讯&电子游艺")
            : (this.text = "开元棋牌");
      }
      this.ajax();
    },
    data() {
      return {
        gameMoney: {},
        tradeDataActive: "100",
        gameType: "",
        gameShow: false,
        option: [
          {label: "转入", value: "to_game"},
          {label: "转出", value: "from_game"}
        ],
        amount: "",
        type: "to_game",
        game: "ag",
        text: "AG视讯"
      };
    },
    methods: {
      allIn() {
        if (this.type == "to_game") {

          this.amount = parseInt(this.gameMoney.game);
        } else if (this.type == "from_game") {
          this.amount = parseInt(this.gameMoney.balance);
        }
      },
      ajax() {
        game_balance_api({game: this.gameType}).then(res => {
          this.gameMoney = res.data;
          this.amount = parseInt(res.data.balance);
        });
      },
      gameSHow() {
        this.gameShow = true;
      },
      gameData(msg) {
        console.log(msg);
        msg = msg[0].slice(0, msg[0].indexOf(" "));
        this.text = msg;
        this.gameShow = false;
        if (msg == "AG视讯") {
          this.game = "ag";
        }
        if (msg == "申博视讯&电子游艺") {
          this.game = "tgp";
        }
      },

      selected(value) {
        this.tradeDataActive = value;
        this.amount = value;
        this.trade = false;
      },
      async mt_transfer() {
        if (this.amount <= 0) {
          return Toast("金额不足，无法转入");
        } else if (!/^[1-9]\d*$/.test(this.amount)) {
          return Toast("只可输入整数哟");
        }
        if (this.type == "from_game") {
          if (Number(this.gameMoney.game) < Number(this.amount)) {
            return this.$Message.error("余额不足");
          } else {   // 总金额转入游戏
            if (parseFloat(this.amount) > parseFloat(this.gameMoney)) {
              return Toast("金额不足，无法转入")
            }
          }
        }
        //转到主站
        if (this.text == "AG视讯") {
          this.game = "ag";
        }
        if (this.text == "申博视讯&电子游艺") {
          this.game = "tgp";
        }
        if (this.text === "开元棋牌") {
          this.game = "ky";
        }
        Indicator.open();
        await game_transfer_api({
          amount: this.amount,
          type: this.type,
          game: this.game
        }).then(res => {
          Indicator.close();
          if (res.code == 200) {
            this.ajax();
            if (this.type == "to_game") {
              setTimeout(() => {
                this.goGame();
              }, 20);
            }
            Toast(res.msg);
          } else {
            Toast(res.msg);
          }
        });
      },
      goGame() {
        Indicator.open("正在加载中...");
        game_api({game: this.gameType, api_source: "h5"}).then(res => {
          Indicator.close();
          if (res.code == 200) {
            location.href = res.data;
          } else {
            Toast(res.msg)
          }

        });
      },
      goBack() {
        window.history.back();
      }
    },
    mounted() {
      document.body.style.background = "#f7f7f7";
    },
    beforeRouteEnter(to, from, next) {
      if (from.name == "center" || from.name == "Capitaldetails") {
        next();
      } else {
        next("center");
      }
      // console.log(to, from);
    },

    beforeDestroy() {
      document.body.style.background = "#fff";
    }
  };
</script>
<!-- 样式代码 -->
<style scoped>
  .mint-cell {
    color: #666;

  }

  .mint-field-core {

    color: #fff;
  }

  .mt-cell-full-border::after {
    left: 0;
    width: 100%;
  }

  .mint-radiolist-inline .mint-cell {
    display: inline-block;
  }

  .mint-radiolist-inline .mint-cell::after {
    display: none;
  }

  .mint-radiolist-inline .mint-radiolist-title {
    display: none;
  }

  .mint-radiolist-inline .mint-radio-core::after {
    display: none;
  }

  .mint-radiolist-inline .mint-radio-input:checked + .mint-radio-core {
    border-color: #ffce6f;
    background: url("../../assets/radio-checked.png") no-repeat;
    background-size: 100%;
  }

  .mint-radiolist-inline .mint-cell .mint-cell-wrapper {
    padding-right: 0;
  }

  .mint-radiolist-inline .mint-cell:last-child .mint-radiolist-label {
    padding: 0;
  }

  .mt-field-cs01 .mint-cell-wrapper {
    display: block;
  }

  .mt-field-cs01 .mint-cell-title {
    font-size: 12px;
    margin: 11px 0;
    display: block;
  }

  .mt-field-cs01 .mint-cell-value {
    font-size: 16px;
  }

  .mint-button--large {
    font-size: 16px;
  }

  .mt-field-cs01.mint-cell:last-child::after {
    display: block;
    left: 0;
    width: 100%;
  }

  .btn {
    font-size: 16px;
    margin: 0.3rem 0 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .mint-badge.is-size-small {
    border-radius: 5px;
    width: 20%;
    padding: 0.2rem 0.1rem;
    margin-bottom: 0.2rem;
  }

  .mint-badge {
    color: #000;
    background: #f2f2f2;
  }

  .btn .mint-field-core {
    font-size: 1rem;
  }

  .is-primary {
    background: #ff4d55;
    color: #fff;
  }

  .item {

    z-index: 11;
    width: 100%;
    padding: 2%;
  }

  .item > span {
    display: inline-block;
    width: 20%;
    padding: 1%;
    margin: 1%;
    height: 0.7rem;
    line-height: 0.7rem;
    text-align: center;
    border-radius: 5px;
    margin-top: 5px;
    background: #2c324c;
    color: #fff;
  }

  .item > .active {
    background: #ffce6f;
    color: #333;
  }

  .flex-box {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .flex-ele {
    display: -webkit-flex; /* Safari */
    display: flex;
  }

  .my_btn_box {
    display: flex;
    justify-content: space-around;
  }

  .my_btn_box > button {
    width: 40%;
  }
</style>
