<template>
  <div class="page">
    <my-header title="转账记录"></my-header>
    <div class="login">
      <ul v-infinite-scroll="mt_game_transfer_list" infinite-scroll-disabled="listEnd" infinite-scroll-distance="10">
        <li class="mint-cell mt-cell-full-border" v-for="item in list" :key="item.id">
          <img :src="filterImage(item)" alt="" width="28">
          <div style="flex-grow:1" class="recordtitle">
            <h3>{{item.amount > 0 ? '来自游戏' : '转到游戏'}}</h3>
            <p>交易流水：<span>{{item.orderno}}</span></p>
            <span>{{item.dateline | moment}}</span>
          </div>
          <div style="flex-grow:0;align-items:flex-end">
            <span style="font-size: 16px;color: #333333;margin-bottom:.55rem">{{item.amount.slice(0,-2)}}元</span>
            <small v-if="item.status==='success'" style="color: #6C2DFE;">转账成功</small>
            <small v-if="item.status==='failure'" style="color: #6C2DFE;">转账失败</small>
            <small v-if="item.status==='pending'" style="color: #6C2DFE;">处理中</small>
          </div>
        </li>
        <div style="width:100%;text-align:center;vertical-align:middle;margin-top:3.5rem" v-show="list.length===0">
          <p style="color:#11162C">暂无游戏转账哦~</p>
        </div>
      </ul>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from '@/bass/header'
  import {game_transfer_list_api} from "@/common/api";
  import {Toast, Indicator} from "mint-ui";

  export default {
    components: {
      MyHeader
    },
    data() {
      return {
        page: 0,
        list: [],
        listEnd: false,
        loading: false,
        lists: [
          {name: 'ag_in', src: require('../../assets/ag-in.png')},
          {name: 'ag_out', src: require('../../assets/ag-out.png')},
          {name: 'rt_in', src: require('../../assets/rt-in.png')},
          {name: 'rt_out', src: require('../../assets/rt-out.png')},
          {name: 'sb_in', src: require('../../assets/sb-in.png')},
          {name: 'sb_out', src: require('../../assets/sb-out.png')},
        ]
      };
    },
    methods: {
      filterImage(item) {
        let str;
        if (item.game === 'ag') {
          if (Number(item.amount) > 0) {
            str = 'ag_in';
          } else {
            str = 'ag_out';
          }
        }

        if (item.game === 'sb') {
          if (Number(item.amount) > 0) {
            str = 'sb_in';
          } else {
            str = 'sb_out';
          }
        }

        if (item.game === 'tgp') {
          if (Number(item.amount) > 0) {
            str = 'rt_in';
          } else {
            str = 'rt_out';
          }
        }

        let find = this.lists.find(i => i.name === str);
        return find && find.src;
      },
      mt_game_transfer_list() {
        if (this.listEnd || this.loading) return;

        Indicator.open();
        this.loading = true;

        game_transfer_list_api({page: this.page + 1}).then(res => {
          Indicator.close();
          this.loading = false;

          if (res.code == 200) {
            this.page = res.data.page;
            if (res.data.list.length > 0) {
              this.list = this.list.concat(res.data.list);
            } else {
              this.listEnd = true;
              res.data.page != 1 ? Toast("没有更多数据了!") : ''
            }
          } else {
            Toast(res.msg);
          }
        });
      },
    },
    mounted() {
      document.body.style.background = "#fff";
    },
    beforeDestroy() {
      document.body.style.background = "#fff";
    },
  }
</script>

<style scoped>
  .mint-cell {
    border-bottom: 1px solid #fff;
    margin: 10px 0;
  }

  .recordtitle h3 {
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
  }

  .recordtitle {
    color: #FFFFFF;
  }

  .login li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: .2rem;
    border-bottom: 1px solid #CDCDCD;
  }

  .login li > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .login li > div > h3 {
    font-size: 16px;
    font-weight: normal;
  }

  .login li > img {
    flex-grow: 0;
    margin-right: .3rem;
  }

  .login li > div > p {
    font-size: 12px;
    color: #333333;
    margin: .1rem 0;
  }

  .login li > div > span {
    font-size: 13px;
    color: #999;
  }

  .mt-cell-full-border::after {
    left: 0;
    width: 100%;
    margin-bottom: 2px;
  }

</style>
