<template>
  <div class="main kuaisan">
    <p v-if="active ==='长短牌'">
      ｰ 长牌 ｰ
      <small style="color:#fe3959">{{changpaiodds}}</small>
      <span class="explain"
            @click="explainEvent(1)">玩法说明</span>
    </p>

    <p v-else>ｰ {{active}} ｰ
      <span class="explain"
            @click="explainEvent(1)">玩法说明</span>
      <!--<span style="color: #6C2DFE;margin-right: 3px;" class="icon">?</span>-->
    </p>

    <div class="selects"
         v-if="onePull"
         @click="picker">
      <p class="iconfont icon-sanjiao1">
        {{playShowTxt}}
      </p>
      <ul v-if="pickerShow"
          class="selectUl">
        <li v-for="(v,i) in pullPickerData"
            :key="i"
            @click="pickerActive(v)">{{v}}
        </li>
      </ul>
    </div>

    <div v-if="lottery_type==='快三'">

      <!--三军玩法-->
      <ul class="sanjun"
          :class="active==='点数'?'dianshu':''"
          v-if="['猜必出','猜必不出' ,'三军','点数'].includes(active)">
        <li v-for="(item,i) in itemData"
            :key="i"
            @click="betting(item.class_type_arr)"
            :class="item.class_type_arr.active ? 'active' : ''">
          <span v-if="active==='点数'">{{item.class_type_arr.play_name}}</span>
          <img v-else
               :src="dataHandle(item.class_type_arr)"
               alt>
          <small>{{item.class_type_arr.odds}}</small>
        </li>
      </ul>

      <!--和值玩法-->
      <ul class="zonghe"
          v-if="active==='和值'">
        <li v-for="(item,i) in itemData"
            :key="i"
            @click="betting(item.class_type_arr)"
            :class="item.class_type_arr.active ?'active':''">
          <span>{{item.class_type_arr.play_name}}</span>
          <small>{{item.class_type_arr.odds}}</small>
        </li>
      </ul>

      <!--围骰玩法-->
      <ul class="weishai"
          v-if="active==='围骰'">
        <li v-for="(item,s) in weitou"
            :key="s"
            @click="betting(item)"
            :class="item.active?'active':''">
          <p>
            <img :src="dataHandle(item)"
                 alt>
            <img :src="dataHandle(item)"
                 alt>
            <img :src="dataHandle(item)"
                 alt>
          </p>
          <small>{{item.odds}}</small>
        </li>

        <div class="quanbu"
             @click="betting(quantou)"
             :class="quantou.active?'active':''">
          <div>
            <p>
              <img :src="shaiImgs.se1"
                   alt>
              <img :src="shaiImgs.se1"
                   alt>
              <img :src="shaiImgs.se1"
                   alt>
            </p>
            <p>
              <img :src="shaiImgs.se2"
                   alt>
              <img :src="shaiImgs.se2"
                   alt>
              <img :src="shaiImgs.se2"
                   alt>
            </p>
            <p>
              <img :src="shaiImgs.se3"
                   alt>
              <img :src="shaiImgs.se3"
                   alt>
              <img :src="shaiImgs.se3"
                   alt>
            </p>
          </div>
          <p>
            <span>{{quantou.play_name}}</span>
            <small>{{quantou.odds}}</small>
          </p>

          <div>
            <p>
              <img :src="shaiImgs.se4"
                   alt>
              <img :src="shaiImgs.se4"
                   alt>
              <img :src="shaiImgs.se4"
                   alt>
            </p>
            <p>
              <img :src="shaiImgs.se5"
                   alt>
              <img :src="shaiImgs.se5"
                   alt>
              <img :src="shaiImgs.se5"
                   alt>
            </p>
            <p>
              <img :src="shaiImgs.se6"
                   alt>
              <img :src="shaiImgs.se6"
                   alt>
              <img :src="shaiImgs.se6"
                   alt>
            </p>
          </div>
        </div>
      </ul>

      <!--长短牌玩法-->
      <ul class="changduanpai"
          v-if="active==='长短牌'&&itemData">
        <div>
          <li v-for="(item,i) in changpai"
              :key="i"
              @click="betting(item)"
              :class="item.active ? 'active' : ''">
            <img :src="img" alt v-for="(img,k) in dataHandle(item)" :key="k">
          </li>
        </div>

        <p>
          ｰ 短牌 ｰ
          <small v-if="active ==='长短牌'"
                 style="color:#fe3959">{{duanpaiodds}}
          </small>
          <span class="explain"
                @click="explainEvent(1)">玩法说明</span>
        </p>
        <div>
          <li v-for="(item,i) in duanpai"
              :key="i"
              @click="betting(item)"
              :class="item.active ? 'active' : ''">
            <img :src="img" alt v-for="(img,k) in dataHandle(item)" :key="k">
          </li>
        </div>
      </ul>

    </div>

    <div class="v-modal"
         v-show="explainShow"></div>
    <div class="mint-msgbox"
         v-show="explainShow">
      <i class="iconfont icon-fork"
         @click="explainShow=false"></i>
      <h4>玩法说明</h4>
      <li class="li1">
        <b> <i class="file"></i> 游戏说明</b>
        <div>{{explain}}</div>
      </li>
      <li>
        <b><i class="bulb"></i>示例说明</b>
        <div>{{shili}}</div>
      </li>
      <div @click="explainShow=false">我知道了</div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import bus from "@/common/bus";
  import {MessageBox} from "mint-ui";
  import {mapState} from "vuex";
  import store from '@/utils/sessionStorage';

  export default {
    created() {
      this.lottery_type = store.get("lottery_type");
      this.filterItemData(this.active);
    },
    props: {
      bettingMsg: Array,
      periods: Object,
      close: Boolean
    },
    data() {
      return {
        childActive: false, // 投注点击控制
        play_id: [], // 玩法ID
        pickerData: 0,
        playShowTxt: "",
        bassData: {},
        odds: [],
        present_odds: [], // 投注号码
        liangmianData: [], // 两面数据
        liangmianPK: [], // pk两面数据
        haomaPK: [], // 号码PK
        onePull: false,
        pickerShow: false,
        pullPickerData: [],
        clear_id: false,
        lottery_type: "",
        shaiImgs: {
          // 筛子图片
          se1: "../../../../static/touzhu/se1.png",
          se2: "../../../../static/touzhu/se2.png",
          se3: "../../../../static/touzhu/se3.png",
          se4: "../../../../static/touzhu/se4.png",
          se5: "../../../../static/touzhu/se5.png",
          se6: "../../../../static/touzhu/se6.png"
        },
        pullNum: [
          {name: "第一球", value: 0},
          {name: "第二球", value: 1},
          {name: "第三球", value: 2},
          {name: "第四球", value: 3},
          {name: "第五球", value: 4}
        ],
        guanyaData: [
          {play_id: "01", active: false},
          {play_id: "02", active: false},
          {play_id: "03", active: false},
          {play_id: "04", active: false},
          {play_id: "05", active: false},
          {play_id: "06", active: false},
          {play_id: "07", active: false},
          {play_id: "08", active: false},
          {play_id: "09", active: false},
          {play_id: "10", active: false}
        ],
        bettingData: [],
        zhengte: [],
        lianma: [],
        zhenghe: [],
        shengxiao: [],
        lianxiao: [],
        lianwei: [],
        zhengma16: [],
        zixuan: [],
        explain: "",
        shili: "",
        explainShow: false,
        liuhecaiData: {
          '金': [1, 6, 11, 16, 21, 26, 31, 36, 41],
          '木': [2, 7, 12, 17, 22, 27, 32, 37, 42, 47],
          '水': [3, 8, 13, 18, 23, 28, 33, 38, 43, 48],
          '火': [4, 9, 14, 19, 24, 19, 34, 39, 44, 49],
          '土': [5, 10, 15, 20, 25, 30, 35, 40, 45],
          '红单': [1, 7, 13, 19, 23, 29, 35, 45],
          '绿单': [5, 11, 17, 21, 27, 33, 39, 43, 49],
          '蓝单': [3, 9, 15, 25, 31, 37, 41, 47],
          '红双': [2, 8, 12, 18, 24, 30, 34, 40, 46],
          '绿双': [6, 16, 22, 28, 32, 38, 44],
          '蓝双': [4, 10, 14, 20, 26, 36, 42, 48],
          '红大': [29, 30, 34, 35, 40, 45, 46],
          '绿大': [27, 28, 32, 33, 38, 39, 43, 44, 49],
          '蓝大': [25, 26, 31, 36, 37, 41, 42, 47, 48],
          '红小': [1, 2, 7, 8, 12, 13, 18, 19, 23, 24],
          '绿小': [5, 6, 11, 16, 17, 21, 22],
          '蓝小': [3, 4, 9, 10, 14, 15, 20],
        },
        liuhecaiwanfa: {
          '特码': {
            explain:
              "开奖号码的最后一位号码为特码，当开出特码的属性与投注号码属性一致，即为中奖。",
            shili: "投注方案：“特码 38 ”开奖号码： 10 42 34 04 07 22 38；即中奖"
          },
          '正码': {
            explain:
              "当期开出前6个号码为正码，当开出正码的属性与投注号码属性一致，即为中奖。",
            shili: "投注方案：“正码 10 ”开奖号码： 10 42 34 04 07 22 38；即中奖"
          },
          '正特码': {
            explain:
              "正1特至正6特选择号码投注，开奖号码与投注号码开奖顺序及号码相同，即为中奖。",
            shili: "投注方案：“正2特 42 ”开奖号码： 10 42 34 04 07 22 38；即中奖"
          },
          '三全中': {
            explain:
              "所投注的每三个号码为一组合，若三个号码都是开奖号码之正码，即为中奖。",
            shili:
              "投注方案：“三全中 06、07、08 ”开奖号码： 06 42 07 08 42 22 38；即中奖"
          },
          '三中二': {
            explain:
              "所投注的每三个号码为一组合，若其中2个是开奖号码中的正码，即为中奖。",
            shili:
              " 投注方案：“三中二 06、07、08 ”开奖号码： 06 42 07 09 42 22 38；即中奖"
          },
          '二全中': {
            explain:
              "所投注的每二个号码为一组合，二个号码都是开奖号码之正码，即为中奖。",
            shili:
              "投注方案：“二全中 06、07 ”开奖号码： 06 42 07 09 42 22 38；即中奖"
          },
          中二特: {
            explain:
              "所投注的每二个号码为一组合，二个号码都是开奖号码之正码或一个正码、一个特码，即为中奖。",
            shili:
              " 投注方案：“中二特 06、07 ”开奖号码： 06 42 07 09 42 22 38；即中奖"
          },
          '特串': {
            explain:
              "所投注的每二个号码为一组合，开奖号码其中一个正码，一个特码，即为中奖。",
            shili:
              "投注方案：“中串 06、38 ”开奖号码： 06 42 07 09 42 22 38；即中奖"
          },
          '半波': {
            explain:
              "以特码色波和特码单双大小为一个投注组合,当开出的特码和投注属性相同，即为中奖；若当期特码开出49号，则视为和局，并返回全部本金。",
            shili:
              "投注方案：“红大 29 30 34 35 40 45 46  ”开奖号码： 06 42 07 09 42 22 46；即中奖"
          },
          '尾数': {
            explain:
              "指7个开奖号码中含有投注所属尾数的一个或多个号码，即为中奖，同尾数的号码出现一个或多个，只派奖一次。",
            shili: "投注方案：“5尾 ”开奖号码： 06 45 07 05 42 22 46；即中奖"
          },
          '特肖': {
            explain:
              "以特码和生肖为一个投注组合，当开出的特码出现在其投注组合中，即视为中奖。",
            shili:
              "投注方案：“马 05 17 29 41”开奖号码： 06 45 07 05 42 22 41；即中奖"
          },
          '一肖': {
            explain:
              "指7个开奖号码中含有投注所属生肖的一个或多个号码，即为中奖，同生肖的号码出现一个或多个，只派奖一次。",
            shili:
              "投注方案：“鼠 11 23 35 47 ”开奖号码： 11 45 07 05 42 22 41；即中奖"
          },
          '总肖': {
            explain:
              "正确猜中7个开奖号码中不同生肖的总数，相同生肖算一个，猜中即为中奖。",
            shili: "投注方案：“4肖 ”开奖号码： 11 23 10 22 09 21 44；即中奖"
          },
          '二连肖': {
            explain:
              "选择2个生肖为一投注组合，该注的2个生肖必须在7个开奖号码相对应的生肖中，即为中奖，组合的赔率以所选生肖中赔率较小的为准。",
            shili: "投注方案：“鼠 牛 ”开奖号码： 11 23 10 22 09 21 44；即中奖"
          },
          '三连肖': {
            explain:
              "选择3个生肖为一投注组合，该注的3个生肖必须在7个开奖号码相对应的生肖中，即为中奖，组合的赔率以所选生肖中赔率较小的为准。",
            shili: "投注方案：“鼠 牛 虎 ”开奖号码： 11 23 10 22 09 21 45；即中奖"
          },
          '四连肖': {
            explain:
              "选择4个生肖为一投注组合，该注的4个生肖必须在7个开奖号码相对应的生肖中，即为中奖，组合的赔率以所选生肖中赔率较小的为准。",
            shili:
              "投注方案：“鼠 牛 虎 兔 ”开奖号码： 11 23 10 22 09 20 44；即中奖"
          },
          '五连肖': {
            explain:
              "选择5个生肖为一投注组合，该注的3个生肖必须在7个开奖号码相对应的生肖中，即为中奖，组合的赔率以所选生肖中赔率较小的为准。",
            shili:
              "投注方案：“鼠 牛 虎 兔 蛇 ”开奖号码： 11 23 10 22 06 20 44；即中奖"
          },
          '二连尾': {
            explain:
              "选择2个尾数为一投注组合,该注的2个尾数必须在7个开奖号码相对应的尾数中，即为中奖，组合的赔率以所选尾数中赔率较小的为准。",
            shili: "投注方案：“0尾 1尾 ”开奖号码： 11 23 10 22 06 20 44；即中奖"
          },
          '三连尾': {
            explain:
              "选择3个尾数为一投注组合,该注的3个尾数必须在7个开奖号码相对应的尾数中，即为中奖，组合的赔率以所选尾数中赔率较小的为准。",
            shili:
              "投注方案：“0尾 1尾 3尾 ”开奖号码： 11 23 10 22 06 20 44；即中奖"
          },
          '四连尾': {
            explain:
              "选择4个尾数为一投注组合,该注的4个尾数必须在7个开奖号码相对应的尾数中，即为中奖，组合的赔率以所选尾数中赔率较小的为准。",
            shili:
              "投注方案：“0尾 1尾 3尾 4尾 ”开奖号码： 11 23 10 22 06 20 44；即中奖"
          },
          '五行': {
            explain:
              "当期开奖号码中的特码，开出下注五行中所属任意1个号码视为中奖，其余情况视为不中奖。",
            shili:
              "投注方案：“金 01 06 11 16 21 26 31 36 41 46 ”开奖号码： 11 23 10 22 06 20 46；即中奖"
          },
          "正码1~6": {
            explain:
              "开奖号码的前6个号码叫正码，当开出正码与投注号码属性一致，即视为中奖。",
            shili: "投注方案：“正码1 大 ”开奖号码：30 23 10 22 06 20 46；即中奖"
          },
          '五不中': {
            explain:
              "挑选最少5个号码为一投注组合。当期开出的7个开奖号码都没有在该下注组合中，即视为中奖，组合的赔率以较小的为准。",
            shili:
              "投注方案：“五不中 01 25 06 45 30  ”开奖号码：31 24 46 02 07 20 46；即中奖"
          },
          '六不中': {
            explain:
              "挑选最少6个号码为一投注组合。当期开出的7个开奖号码都没有在该下注组合中，即视为中奖，组合的赔率以较小的为准。",
            shili:
              "投注方案：“六不中 01 25 06 45 30 46  ”开奖号码：31 24 46 02 07 20 47；即中奖"
          },
          '七不中': {
            explain:
              "挑选最少7个号码为一投注组合。当期开出的7个开奖号码都没有在该下注组合中，即视为中奖，组合的赔率以较小的为准。",
            shili:
              "投注方案：“七不中 01 25 06 45 30 46 40 ”开奖号码：31 24 46 02 07 20 47；即中奖"
          },
          '八不中': {
            explain:
              "挑选最少8个号码为一投注组合。当期开出的7个开奖号码都没有在该下注组合中，即视为中奖，组合的赔率以较小的为准。",
            shili:
              "投注方案：“八不中 01 25 06 45 30 46 40 03 ”开奖号码：31 24 46 02 07 20 47；即中奖"
          },
          '九不中': {
            explain:
              "挑选最少9个号码为一投注组合。当期开出的7个开奖号码都没有在该下注组合中，即视为中奖，组合的赔率以较小的为准。",
            shili:
              "投注方案：“九不中 01 25 06 45 30 46 40 03 05”开奖号码：31 24 46 02 07 20 47；即中奖"
          },
          '十不中': {
            explain:
              "挑选最少10个号码为一投注组合。当期开出的7个开奖号码都没有在该下注组合中，即视为中奖，组合的赔率以较小的为准。",
            shili:
              "投注方案：“十不中 01 25 06 45 30 46 40 03 05 23”开奖号码：31 24 46 02 07 20 47；即中奖"
          },
          '十一不中': {
            explain:
              "挑选最少11个号码为一投注组合。当期开出的7个开奖号码都没有在该下注组合中，即视为中奖，组合的赔率以较小的为准。",
            shili:
              "投注方案：“十一不中 01 25 06 45 30 46 40 03 05 23 21”开奖号码：31 24 46 02 07 20 47；即中奖"
          },
          '十二不中': {
            explain:
              "挑选最少12个号码为一投注组合。当期开出的7个开奖号码都没有在该下注组合中，即视为中奖，组合的赔率以较小的为准。",
            shili:
              "投注方案：“十二不中 01 25 06 45 30 46 40 03 05 23 21 08”开奖号码：31 24 46 02 07 20 47；即中奖"
          }
        }
      };
    },
    computed: {
      ...mapState({
        active: state => state.currentGFLottery.name,
        itemData: state => {
          return state.currentGFLottery.children[0];
        },
        weitou: state => {
          // 围骰数据
          if (state.currentXYLottery && state.currentXYLottery.play_type_arr) {
            return state.currentXYLottery.play_type_arr[0].class_type_arr;
          }
          return [];
        },
        quantou: state => {
          // 全骰数据
          if (state.currentXYLottery && state.currentXYLottery.play_type_arr) {
            return state.currentXYLottery.play_type_arr[1].class_type_arr[0];
          }
          return [];
        },
        changpai: state => {
          // 全骰数据
          if (state.currentXYLottery && state.currentXYLottery.play_type_arr) {
            return state.currentXYLottery.play_type_arr[0].class_type_arr;
          }
          return [];
        },
        duanpai: state => {
          // // 长短牌数据
          if (state.currentXYLottery && state.currentXYLottery.play_type_arr) {
            return state.currentXYLottery.play_type_arr[1].class_type_arr;
          }
          return [];
        },
        changpaiodds: state => {
          // // 长短牌数据
          if (state.currentXYLottery && state.currentXYLottery.play_type_arr) {
            return state.currentXYLottery.play_type_arr[0].class_type_arr[0].odds;
          }
          return "";
        },
        duanpaiodds: state => {
          // // 长短牌数据
          if (state.currentXYLottery && state.currentXYLottery.play_type_arr) {
            return state.currentXYLottery.play_type_arr[1].class_type_arr[0].odds;
          }
          return "";
        },
      })
    },
    mounted() {

      // bus.$on("active", msg => {
      //   // 接收兄弟组件传值
      //   this.active = msg;
      //   this.pullPickerData = [];
      //   console.log(this.bettingMsg)
      //   this.bettingMsg.map(items => {
      //     if (items.play_type_name == msg) {
      //       this.explain = items.game_instruction;
      //       this.shili = items.case_instruction;
      //     }
      //     // return items;
      //   });
      //   !this.pickerShow && bus.$emit("picherActive", "");
      // });
      // bus.$on("clear_data", c => {
      //   if (c) {
      //     this.clearData(this.itemData);
      //     bus.$emit("playId", this.play_id);
      //     this.$forceUpdate();
      //   }
      // });
      // bus.$on("clearSelected", msg => {
      //   this.present_odds = [];
      // });
    },
    methods: {
      //号码补全
      complete(num) {
        num = Number(num);
        if (num < 10) {
          return "0" + num;
        } else {
          return num;
        }
      },
      filter(num) {
        num = String(num);
        if (
          [
            "3",
            "4",
            "9",
            "10",
            "14",
            "15",
            "20",
            "25",
            "26",
            "31",
            "36",
            "37",
            "41",
            "42",
            "47",
            "48"
          ].includes(num)
        ) {
          return " lan";
        } else if (
          [
            "5",
            "6",
            "11",
            "16",
            "17",
            "21",
            "22",
            "27",
            "28",
            "32",
            "33",
            "38",
            "39",
            "43",
            "44",
            "49"
          ].includes(num)
        ) {
          return " lv";
        } else if (
          [
            "1",
            "2",
            "7",
            "8",
            "12",
            "13",
            "18",
            "19",
            "23",
            "24",
            "29",
            "30",
            "34",
            "35",
            "40",
            "45",
            "46"
          ].includes(num)
        ) {
          return " hong";
        }
      },
      explainEvent(type) {
        this.explainShow = true;
        if (type && type != 1) {
          this.explain = this.liuhecaiwanfa[type].explain;
          this.shili = this.liuhecaiwanfa[type].shili;
        }
      },
      filterItemData(n) {
        this.pickerShow = false;
        this.pickerShow1 = false;
        this.getItemData(n);

        if (this.lottery_type !== "28") {
          if (
            n == "两面" ||
            n == "号码" ||
            n == "数字" ||
            n == "正特码" ||
            n == "连码" ||
            n == "生肖" ||
            n == "连肖" ||
            n == "连尾" ||
            n == "正码1~6" ||
            n == "整合" ||
            n == "自选不中"
          ) {
            if (this.lottery_type === '11选5' && n === "两面") {
              this.onePull = false;
            } else {
              this.onePull = true;
            }

          } else {
            this.onePull = false;
          }
        }

        this.itemData.map(msg => {
          if (msg.play_type_name == this.active) {
            this.explain = msg.game_instruction;
            this.shili = msg.case_instruction;
          }
        });
      },
      pickerActive(v) {
        this.playShowTxt = v;
        bus.$emit("picherActive", v);
        this.play_id = [];
        this.present_odds = [];
        this.itemData.forEach(element => {
          if (element.class_type_name == this.playShowTxt) {
            if (this.lottery_type == "PK10") {
              let haoman_arr = [
                "冠军",
                "亚军",
                "第三名",
                "第四名",
                "第五名",
                "第六名",
                "第七名",
                "第八名",
                "第九名",
                "第十名"
              ];
              if (haoman_arr.includes(this.active)) {
                this.haomaPK = element.class_type_arr;
              }
            } else if (this.lottery_type === "时时彩") {
              this.liangmianData = element.class_type_arr;
            } else if (this.lottery_type === "六合彩") {
              if (this.active === "正特码") {
                this.zhengte = element.class_type_arr;
              }
              if (this.active === "连码") {
                this.lianma = element.class_type_arr;
              }
              if (this.active === "生肖") {
                this.shengxiao = element.class_type_arr;
              }
              if (this.active === "连肖") {
                this.lianxiao = element.class_type_arr;
              }
              if (this.active === "连尾") {
                this.lianwei = element.class_type_arr;
              }
              if (this.active === "正码1~6") {
                this.zhengma16 = element.class_type_arr;
              }
              if (this.active === "自选不中") {
                this.zixuan = element.class_type_arr;
              }
            }
          }
          this.$forceUpdate();
        });
      },
      // 点击上方选项栏
      picker() {
        this.$emit("ThrowInToShow", false);
        this.pickerShow = !this.pickerShow;
        if (this.lottery_type == "时时彩") {
          this.clearData(this.liangmianData);
          bus.$emit("playId", this.play_id);
        }
        if (this.lottery_type == "PK10") {
          if (this.active == "冠军") {
            this.clearData(this.liangmianPK);
            bus.$emit("playId", this.play_id);
          }
          if (this.active == "亚军") {
            this.clearData(this.haomaPK);
            bus.$emit("playId", this.play_id);
          }
        }
        if (this.lottery_type == "六合彩") {
          if (this.active == "正特码") {
            this.clearData(this.zhengte);
            bus.$emit("playId", this.play_id);
          }
          if (this.active == "连码") {
            this.clearData(this.lianma);
            bus.$emit("playId", this.play_id);
          }
          if (this.active == "生肖") {
            this.clearData(this.shengxiao);
            bus.$emit("playId", this.play_id);
          }
          if (this.active == "连肖") {
            this.clearData(this.lianxiao);
            bus.$emit("playId", this.play_id);
          }
          if (this.active == "连尾") {
            this.clearData(this.lianwei);
            bus.$emit("playId", this.play_id);
          }
          if (this.active == "正码1~6") {
            this.clearData(this.zixuan);
            bus.$emit("playId", this.play_id);
          }
        }
      },
      // 将当前为点击状态的值添加到数组中
      addData(item, play_id, odds, present_odds) {
        if (this.active == "猜冠亚") {
          if (item.active) {
            play_id.push(item.play_id);
            present_odds = item.present_odds;
          } else {
            play_id.remove(item.play_id);
            present_odds = 0;
          }
        } else {
          if (item.active) {
            play_id.push(item.play_id);
            if (Array.isArray(item.play_name)) {
              present_odds.push(item.play_name[0]);
            } else {
              present_odds.push(item.play_name);
            }
          } else {
            play_id.remove(item.play_id);
            if (Array.isArray(item.play_name)) {
              present_odds.remove(item.play_name[0]);
            } else {
              present_odds.remove(item.play_name);
            }
          }
        }
      },
      // 点击后为选中状态
      betting(item) {
        item.active = !item.active;
        this.addData(item, this.play_id, this.odds, this.present_odds);
        if (this.active == "猜冠亚") {
          var data = [];
          if (this.play_id.length > 0) {
            for (let i = 0; i < this.play_id.length; i++) {
              let j = i + 1;
              for (let k = j; k < this.play_id.length; k++) {
                data.push(this.play_id[i] + "_" + this.play_id[k]);
              }
            }
          }
          this.itemData && this.itemData.forEach(e => {
            data.forEach(element => {
              if (e.class_type_arr.play_name == element) {
                if (
                  e.class_type_arr.play_id &&
                  e.class_type_arr.odds &&
                  e.class_type_arr.present_odds
                ) {
                  this.play_id.push(e.class_type_arr.play_id);
                  this.odds.push(e.class_type_arr.odds);
                  this.present_odds.push(e.class_type_arr.present_odds);
                }
              }
            });
          });
          bus.$emit("present_odds", this.present_odds);
          bus.$emit("playId", this.play_id);
        } else {
          bus.$emit("playId", this.play_id);
          bus.$emit("present_odds", this.present_odds);
          if (this.play_id.length > 0) {
            this.$emit("ThrowInToShow", true);
          } else {
            this.$emit("ThrowInToShow", false);
          }
        }
        this.$forceUpdate();
      },
      // 加入图片路径
      dataHandle(item) {
        let result;
        item.active = false;
        if (item['is_img'] === "1") {
          let imgClassify = item['play_name'];

          if (imgClassify.length === 1) {
            switch (imgClassify) {
              case "1":
                result = this.shaiImgs.se1;
                break;
              case "2":
                result = this.shaiImgs.se2;
                break;
              case "3":
                result = this.shaiImgs.se3;
                break;
              case "4":
                result = this.shaiImgs.se4;
                break;
              case "5":
                result = this.shaiImgs.se5;
                break;
              case "6":
                result = this.shaiImgs.se6;
                break;
              default:
                result = "";
                break;
            }
          }
          if (imgClassify.length === 3) {
            switch (imgClassify) {
              case "111":
                result = this.shaiImgs.se1;
                break;
              case "222":
                result = this.shaiImgs.se2;
                break;
              case "333":
                result = this.shaiImgs.se3;
                break;
              case "444":
                result = this.shaiImgs.se4;
                break;
              case "555":
                result = this.shaiImgs.se5;
                break;
              case "666":
                result = this.shaiImgs.se6;
                break;
              default:
                result = "";
                break;
            }
          }
          if (imgClassify.length === 2) {
            result = [];
            for (let i = 0; i < imgClassify.length; i++) {
              switch (imgClassify[i]) {
                case "1":
                  result.push(this.shaiImgs.se1);
                  break;
                case "2":
                  result.push(this.shaiImgs.se2);
                  break;
                case "3":
                  result.push(this.shaiImgs.se3);
                  break;
                case "4":
                  result.push(this.shaiImgs.se4);
                  break;
                case "5":
                  result.push(this.shaiImgs.se5);
                  break;
                case "6":
                  result.push(this.shaiImgs.se6);
                  break;
                default:
                  result = [];
                  break;
              }
            }
          }
        }

        return result;
      },
      getItemData(i) {
        this.itemData && this.itemData.forEach(element => {
          var elem = element.play_type_name;

          if (element.play_type_name == i) {

            if (element.play_type_name == "围骰") {
              this.weitou = element.play_type_arr[0].class_type_arr;
              this.quantou = element.play_type_arr[1].class_type_arr[0];
            }
            if (element.play_type_name == "长短牌") {
              this.changpai = element.play_type_arr[0].class_type_arr;
              this.changpaiodds = this.changpai[0].odds;
              this.duanpai = element.play_type_arr[1].class_type_arr;
              this.duanpaiodds = this.duanpai[0].odds;
            }
            if (this.lottery_type == "时时彩") {
              if (
                element.play_type_name == "两面" ||
                element.play_type_name == "数字"
              ) {
                element.play_type_arr.map(msg => {
                  this.pullPickerData.push(msg.class_type_name);
                });
                this.liangmianData = element.play_type_arr[0].class_type_arr;
                this.playShowTxt = this.pullPickerData[0];
              }
            }
            if (this.lottery_type == "11选5") {

              if (
                element.play_type_name == "整合"
              // || element.play_type_name == "数字"
              ) {

                element.play_type_arr.map(msg => {
                  this.pullPickerData.push(msg.class_type_name);
                });
                this.zhenghe = element.play_type_arr[0].class_type_arr;
                this.playShowTxt = this.pullPickerData[0];
              }
            }
            if (this.lottery_type == "PK10") {
              const {play_type_name, play_type_arr} = element;

              let haoman_arr = [
                "冠军",
                "亚军",
                "第三名",
                "第四名",
                "第五名",
                "第六名",
                "第七名",
                "第八名",
                "第九名",
                "第十名"
              ];

              if (element.play_type_name == "两面") {
                this.liangmianPK = element.play_type_arr[0].class_type_arr;
                element.play_type_arr.map(msg => {
                  this.pullPickerData.push(msg.class_type_name);
                });
                this.playShowTxt = this.pullPickerData[0];
              }

              if (haoman_arr.includes(play_type_name)) {
                play_type_arr.map(msg => {
                  this.pullPickerData.push(msg.class_type_name);
                });
                this.playShowTxt = this.pullPickerData[0];

                this.haomaPK = play_type_arr.map(item => {
                  return item.class_type_arr;
                });
              }
            }

            if (this.lottery_type == "六合彩") {
              if (element.play_type_name == "正特码") {
                element.play_type_arr.map(msg => {
                  this.pullPickerData.push(msg.class_type_name);
                });
                this.playShowTxt = this.pullPickerData[0];
                this.zhengte = element.play_type_arr[0].class_type_arr;
              }
              if (element.play_type_name == "连码") {
                element.play_type_arr.map(msg => {
                  this.pullPickerData.push(msg.class_type_name);
                });
                this.playShowTxt = this.pullPickerData[0];
                this.lianma = element.play_type_arr[0].class_type_arr;
              }
              if (element.play_type_name == "生肖") {
                element.play_type_arr.map(msg => {
                  this.pullPickerData.push(msg.class_type_name);
                });
                this.playShowTxt = this.pullPickerData[0];
                this.shengxiao = element.play_type_arr[0].class_type_arr;
              }
              if (element.play_type_name == "连肖") {
                element.play_type_arr.map(msg => {
                  this.pullPickerData.push(msg.class_type_name);
                });
                this.playShowTxt = this.pullPickerData[0];
                this.lianxiao = element.play_type_arr[0].class_type_arr;
              }
              if (element.play_type_name == "连尾") {
                element.play_type_arr.map(msg => {
                  this.pullPickerData.push(msg.class_type_name);
                });
                this.playShowTxt = this.pullPickerData[0];
                this.lianwei = element.play_type_arr[0].class_type_arr;
              }
              if (element.play_type_name == "正码1~6") {
                element.play_type_arr.map(msg => {
                  this.pullPickerData.push(msg.class_type_name);
                });
                this.playShowTxt = this.pullPickerData[0];
                this.zhengma16 = element.play_type_arr[0].class_type_arr;
              }
              if (element.play_type_name == "自选不中") {
                element.play_type_arr.map(msg => {
                  this.pullPickerData.push(msg.class_type_name);
                });
                this.playShowTxt = this.pullPickerData[0];
                this.zixuan = element.play_type_arr[0].class_type_arr;
              }
            }
            if (element.play_type_name == "龙虎斗") {
              if (this.lottery_type == "时时彩") {
                element.play_type_arr.forEach(e => {
                  switch (e.class_type_name) {
                    case "1v2":
                      e.class_type_name = "第一球 VS 第二球";
                      break;
                    case "1v3":
                      e.class_type_name = "第一球 VS 第三球";
                      break;
                    case "1v4":
                      e.class_type_name = "第一球 VS 第四球";
                      break;
                    case "1v5":
                      e.class_type_name = "第一球 VS 第五球";
                      break;
                    case "2v3":
                      e.class_type_name = "第二球 VS 第三球";
                      break;
                    case "2v4":
                      e.class_type_name = "第二球 VS 第四球";
                      break;
                    case "2v5":
                      e.class_type_name = "第二球 VS 第五球";
                      break;
                    case "3v4":
                      e.class_type_name = "第三球 VS 第四球";
                      break;
                    case "3v5":
                      e.class_type_name = "第三球 VS 第五球";
                      break;
                    case "4v5":
                      e.class_type_name = "第四球 VS 第五球";
                      break;
                    default:
                      break;
                  }
                });
              }
              if (this.lottery_type == "PK10") {
                element.play_type_arr.forEach(e => {
                  switch (e.class_type_name) {
                    case "1v2":
                      e.class_type_name = "第一名 VS 第二名";
                      break;
                    case "1v3":
                      e.class_type_name = "第一名 VS 第三名";
                      break;
                    case "1v4":
                      e.class_type_name = "第一名 VS 第四名";
                      break;
                    case "1v5":
                      e.class_type_name = "第一名 VS 第五名";
                      break;
                    case "1v6":
                      e.class_type_name = "第一名 VS 第六名";
                      break;
                    case "1v7":
                      e.class_type_name = "第一名 VS 第七名";
                      break;
                    case "1v8":
                      e.class_type_name = "第一名 VS 第八名";
                      break;
                    case "1v9":
                      e.class_type_name = "第一名 VS 第九名";
                      break;
                    case "1v10":
                      e.class_type_name = "第一名 VS 第十名";
                      break;

                    case "2v3":
                      e.class_type_name = "第二名 VS 第三名";
                      break;
                    case "2v4":
                      e.class_type_name = "第二名 VS 第四名";
                      break;
                    case "2v5":
                      e.class_type_name = "第二名 VS 第五名";
                      break;
                    case "2v6":
                      e.class_type_name = "第二名 VS 第六名";
                      break;
                    case "2v7":
                      e.class_type_name = "第二名 VS 第七名";
                      break;
                    case "2v8":
                      e.class_type_name = "第二名 VS 第八名";
                      break;
                    case "2v9":
                      e.class_type_name = "第二名 VS 第九名";
                      break;
                    case "2v10":
                      e.class_type_name = "第二名 VS 第十名";
                      break;

                    case "3v4":
                      e.class_type_name = "第三名 VS 第四名";
                      break;
                    case "3v5":
                      e.class_type_name = "第三名 VS 第五名";
                      break;
                    case "3v6":
                      e.class_type_name = "第三名 VS 第六名";
                      break;
                    case "3v7":
                      e.class_type_name = "第三名 VS 第七名";
                      break;
                    case "3v8":
                      e.class_type_name = "第三名 VS 第八名";
                      break;
                    case "3v9":
                      e.class_type_name = "第三名 VS 第九名";
                      break;
                    case "3v10":
                      e.class_type_name = "第三名 VS 第十名";
                      break;

                    case "4v5":
                      e.class_type_name = "第四名 VS 第五名";
                      break;
                    case "4v6":
                      e.class_type_name = "第四名 VS 第六名";
                      break;
                    case "4v7":
                      e.class_type_name = "第四名 VS 第七名";
                      break;
                    case "4v8":
                      e.class_type_name = "第四名 VS 第八名";
                      break;
                    case "4v9":
                      e.class_type_name = "第四名 VS 第九名";
                      break;
                    case "4v10":
                      e.class_type_name = "第四名 VS 第十名";
                      break;

                    case "5v6":
                      e.class_type_name = "第五名 VS 第六名";
                      break;
                    case "5v7":
                      e.class_type_name = "第五名 VS 第七名";
                      break;
                    case "5v8":
                      e.class_type_name = "第五名 VS 第八名";
                      break;
                    case "5v9":
                      e.class_type_name = "第五名 VS 第九名";
                      break;
                    case "5v10":
                      e.class_type_name = "第五名 VS 第十名";
                      break;

                    case "6v7":
                      e.class_type_name = "第六名 VS 第七名";
                      break;
                    case "6v8":
                      e.class_type_name = "第六名 VS 第八名";
                      break;
                    case "6v9":
                      e.class_type_name = "第六名 VS 第九名";
                      break;
                    case "6v10":
                      e.class_type_name = "第六名 VS 第十名";
                      break;

                    case "7v8":
                      e.class_type_name = "第七名 VS 第八名";
                      break;
                    case "7v9":
                      e.class_type_name = "第七名 VS 第九名";
                      break;
                    case "7v10":
                      e.class_type_name = "第七名 VS 第十名";
                      break;

                    case "8v9":
                      e.class_type_name = "第八名 VS 第九名";
                      break;
                    case "8v10":
                      e.class_type_name = "第八名 VS 第十名";
                      break;

                    case "9v10":
                      e.class_type_name = "第九名 VS 第十名";
                      break;

                    default:
                      break;
                  }
                });
              }
            }

            this.itemData = element.play_type_arr;
          }
        });
      },
      // 删除点击效果和数组id
      clearData(n) {
        if (!this.one) {
          this.one = 1;
          return;
        }
        n.forEach(e => {
          if (e.class_type_name) {
            if (e.class_type_arr instanceof Array) {
              e.class_type_arr.forEach(items => {
                if (items.class_type_arr) {
                  items.class_type_arr.active = false;
                } else {
                  items.active = false;
                }
              });
            }
          } else if (e.class_type_arr) {
            e.class_type_arr.active = false;
          } else {
            e.active = false;
          }
        });

        this.play_id = [];
        this.odds = [];
      },

    },
    // watch: {
    //   bettingMsg(n) {
    //     n.forEach(key => {
    //       key.play_type_arr.forEach(element => {
    //         if (element.class_type_arr instanceof Array) {
    //           element.class_type_arr.forEach(items => {
    //             this.dataHandle(items);
    //           });
    //         } else {
    //           this.dataHandle(element.class_type_arr);
    //         }
    //       });
    //     });
    //
    //     this.bettingData = n;
    //   },
    //   present_odds(n, o) {
    //     if (n != o) {
    //       bus.$emit("present_odds", n);
    //       bus.$emit("playId", this.play_id);
    //     }
    //   },
    //   playShowTxt(n, o) {
    //     bus.$emit("picherActive", n);
    //   }
    // }
  };
</script>

<style scoped lang="less">
  .v-modal {
    z-index: 12;
  }

  .file {
    background: url('~@/assets/file.png') no-repeat;
    background-size: cover;
  }

  .bulb {
    background: url('~@/assets/bulb.png') no-repeat;
    background-size: cover;
  }

  .mint-msgbox {
    z-index: 13;
    padding: 0.4rem;
    width: 70%;
    color: #333;

    > .icon-fork {
      float: right;
      font-size: 16px;
    }

    > h4 {
      text-align: center;
      margin: 0.3rem 0 0;
    }

    > li {
      font-size: 15px;
      margin-bottom: .3rem;

      > div {
        color: #666;
      }

      > b {
        display: inline-block;
        margin: 0.3rem 0 0.2rem;

        > i {
          display: inline-block;
          width: .25rem;
          height: .3rem;
          margin-right: .2rem;
        }
      }

    }

    > div {
      width: 50%;
      margin: 0.2rem auto;
      background: #ffce6f;
      padding: 0.2rem 0.4rem;
      text-align: center;
      border-radius: 5px;
    }
  }

  .kuaisan {
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }

  .zonghe > li {
    width: 48%;
  }

  .sanjun,
  .dianshu {
    justify-content: flex-start;
  }

  .dianshu > li span,
  .zonghe > li span {
    font-size: 15px;
    font-weight: bold;
  }

  .quanbu {
    width: 100%;
    padding: 0.1rem 0;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    flex-wrap: wrap;
  }

  .quanbu > div,
  .quanbu > p {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
  }

  .quanbu > div > p {
    width: 82px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .quanbu > div > p > img {
    display: flex;
  }

  .quanbu > p {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main > p {
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    color: #333;
    font-weight: 600;
    position: relative;
  }

  .main > div > ul > li:nth-child(3n+1) {
    margin-left: 0;
  }

  .changduanpai {
    display: block;
  }

  .changduanpai li {
    width: 31%;
    height: 0.8rem;
    align-items: center;
    margin-bottom: 0.3rem;
    display: flex;
    flex-direction: row;
    background: #fff;
    justify-content: center;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
  }


  .changduanpai li img {
    padding: 0 8px;
  }

  .changduanpai > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .changduanpai p {
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    position: relative;
  }

  .changduanpai p small {
    margin-top: 0;
    position: absolute;
    left: 59%;
  }

  .weishai p > img:nth-child(2) {
    margin: 0 0.5px;
  }

  .main .active {
    background: #6C2DFE;
    color: #fff;
  }

  .main .active > small,
  .main .active > p small,
  .main .active > div > small {
    color: #fff;
    font-size: 13px;
  }

  select {
    border: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  select::-ms-expand {
    display: none;
  }

  .main > .selects {
    font-size: 15px;
    text-align: center;
    height: 0.8rem;
    line-height: 0.8rem;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    border: 0.5px solid #b0b0b0;
    color: #6a6a6a;
    position: relative;
  }

  .main > .selects > .selectUl {
    width: 98%;
    flex-direction: column;
    //  height: 5rem;
    padding-bottom: 0;
    overflow-y: auto;
    flex-wrap: nowrap;
    border: 1px solid #ccc;
  }

  .main > .selects > .selectUl > li {
    display: block;
    width: 100%;
    height: 1rem;
    background: #f2f2f2;
    margin: 0;
  }

  .icon-sanjiao1:after {
    color: #999;
    margin-left: 5px;
  }


  .liangmian > li {
    flex-direction: row;
    justify-content: space-around;
    height: 0.8rem;
  }

  .longhu {
    flex-direction: column;
  }

  .longhu > p {
    text-align: center;
    margin: 0.2rem 0;
    color: #666;
  }

  .longhu > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .longhu > div > li {
    display: flex;
    flex-direction: column;
    padding: 0.1rem 0;
    width: 30%;
    background: #f2f2f2;

  }

  .longhu > div > li:nth-child(3), .longhu > div > li:nth-child(4) {
    margin-top: .2rem;
  }

  .longhu > div > li > span,
  .longhu > div > li > small {
    text-align: center;
    font-size: 13px;
  }

  .main small {
    color: #fe3959;
    margin-top: 5px;
    font-size: 13px;
  }

  .explain {
    position: absolute;
    right: 10px;
    font-size: 12px;
    margin-left: 76%;
    color: #666666;
    letter-spacing: -0.15px;
    text-align: center;
  }

  .banbo {
    display: flex;
    flex-wrap: wrap;
    flex: 2;
  }

  .bose {
    display: inline-block;
    width: 0.5rem;
    line-height: 0.5rem;
    height: 0.5rem;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    margin: 2px 1%;
  }

  .hong {
    color: #fe397f;
  }

  .lv {
    color: #04c67d;
  }

  .lan {
    color: #3d71ff;
  }

  .main > div > ul > li {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    margin-bottom: 0.2rem;
    flex-direction: column;
    height: 1.2rem;
    text-align: center;
    font-size: 15px;
    align-items: center;
    width: 31%;
    margin-left: 2.5%;
    color: #333;
  }

</style>
