<template>
  <div class="page">
    <my-header></my-header>
    <div class="login">
      <div class="gameName">
        <img :src="bettingDtl.img_url" alt class="left">
        <span>{{bettingDtl.name_cn}}</span>
        <small class="right">第{{bettingDtl.period}} 期</small>
      </div>
      <p
        style="color:#fe3959"
        v-if="bettingDtl.order_status=='未开奖' || bettingDtl.order_status=='系统撤单' || bettingDtl.order_status=='该期已封盘'"
      >未开奖</p>
      <!-- <p style="color:#fe3959" v-else-if="bettingDtl.order_status=='该期已封盘'">该期已封盘</p> -->
      <p
        style="color:#fe3959"
        v-else-if="bettingDtl.order_status=='已撤单' || bettingDtl.order_status=='本期留盘' "
      >已撤单</p>
      <!-- <p style="color:#fe3959" v-else-if="bettingDtl.order_status=='未中奖'">未中奖</p> -->
      <p v-else>
        <span>开奖号码：</span>
        <img
          v-if="type=='快三'"
          :src="v"
          alt
          v-for="(v,i) in bettingDtl.play_img"
          style="margin:0 5px;vertical-align:sub"
          width="20"
          :key="i"
        >
        <span class="pullList">
          <span
            v-if="type=='时时彩' || type=='PK10' || type=='28'"
            class="ball"
            v-for="(v,i) in bettingDtl.award_num"
            :key="i"
          >{{v}}</span>
          <span v-if="type=='六合彩'" class="ball" v-for="(v,i) in bettingDtl.award_num" :key="i">{{v}}</span>
        </span>
      </p>
      <div class="flex">
        <div>
          <span style="color:#000;">{{bettingDtl.money}}</span>
          <span>投注金额</span>
        </div>
        <div>
          <span style="color:#FE3959">{{bettingDtl.win_money}}</span>
          <span>中奖金额</span>
        </div>
      </div>
      <p class="sign">注单信息</p>
      <div class="zdmsg">
        <p>
          <span>订单号码</span>
          <small>{{bettingDtl.order_no}}</small>
        </p>
        <p>
          <span>投注注数</span>
          <small>{{paly_arr.length}}注</small>
        </p>
        <p>
          <span>投注时间</span>
          <small>{{bettingDtl.add_time}}</small>
        </p>
        <p>
          <span>玩法名称</span>
          <small>{{bettingDtl.play_type_name}}</small>
        </p>
      </div>
      <p class="sign">投注信息</p>
      <div class="bettingBox">
        <i></i>
        <div class="box">
          <div class="flex list" v-for="(info,i) in betting_info" :key="i">
            <div>
              <span style="color:#000;flex: 1">
                <span v-if="info.play_class_name">{{info.play_class_name}}_{{info.play_name}}</span>
                <span v-else>{{info.play_name}}</span>
              </span>
              <span style="font-size:12px ">赔率：{{info.odds}}</span>
            </div>
            <div>
              <!-- <span v-if="info.win_money=='已撤单'" style="color:#FE3959;font-size: 15px;flex:1">{{info.win_money}}</span> -->
              <span
                style="font-size: 15px;flex:1"
                :style="filte(info.win_money)?'color:#FE3959':''"
              >{{info.win_money}}</span>
              <span style="font-size: 12px">投注金额：{{info.money}}元</span>
            </div>
          </div>
        </div>
      </div>
      <!-- <p class="bettingBtn">
        <mt-button
          type="danger"
          size="large"
          @click="cancelOrder"
        >{{txt}}</mt-button>
      </p>-->
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import MyHeader from "@/bass/header";
import { bettingDetail_api, cancelOrder_api } from "@/common/api";
import { Toast, MessageBox } from "mint-ui";

export default {
  created() {
    this.$route.params.id
      ? (this.msg = this.$route.params.id)
      : (this.msg = JSON.parse(sessionStorage.getItem("bettingDetailId")));
    sessionStorage.setItem("bettingDetailId", JSON.stringify(this.msg));
    console.log(this.msg);
    this.id = this.msg.order_id;
    // if (this.msg.order_status == "未开奖") {
    //   this.txt = "撤单";
    // } else {
    //   this.txt = "再来一注";
    // }

      bettingDetail_api({ order_id: this.id }).then(res => {
        if (res.code == 200) {
          res.data.betting_detail.play_img = [];
          this.type = res.data.betting_detail.lottery_type;
          if (this.type == "快三" && res.data.betting_detail.award_num) {
            if (res.data.betting_detail.award_num.length > 1) {
              res.data.betting_detail.award_num.forEach(item => {
                console.log(item);
                switch (item) {
                  case "1":
                    res.data.betting_detail.play_img.push(this.shaiImgs.se1);
                    break;
                  case "2":
                    res.data.betting_detail.play_img.push(this.shaiImgs.se2);
                    break;
                  case "3":
                    res.data.betting_detail.play_img.push(this.shaiImgs.se3);
                    break;
                  case "4":
                    res.data.betting_detail.play_img.push(this.shaiImgs.se4);
                    break;
                  case "5":
                    res.data.betting_detail.play_img.push(this.shaiImgs.se5);
                    break;
                  case "6":
                    res.data.betting_detail.play_img.push(this.shaiImgs.se6);
                    break;
                  default:
                    item.play_img = "";
                    break;
                }
              });
            }
          }

          this.bettingDtl = res.data.betting_detail;
          if (this.bettingDtl.order_status == "该期已封盘") {
            this.txt = "再来一注";
          }

        this.betting_info = res.data.betting_info;
        this.paly_arr = res.data.play_arr;
      } else {
        Toast(res.msg);
      }
    });
  },
  data() {
    return {
      type: "",
      bettingDtl: {},
      betting_info: [],
      paly_arr: [],
      txt: "再来一注",
      id: "",

      shaiImgs: {
        // 筛子图片
        se1: "../../../../static/touzhu/se1.png",
        se2: "../../../../static/touzhu/se2.png",
        se3: "../../../../static/touzhu/se3.png",
        se4: "../../../../static/touzhu/se4.png",
        se5: "../../../../static/touzhu/se5.png",
        se6: "../../../../static/touzhu/se6.png"
      }
    };
  },
  methods: {
    filte(str) {
      if (!isNaN(parseInt(str))) {
        return true;
      } else {
        return false;
      }
    },
    cancelOrder() {
      // if (this.txt == "撤单") {
      //   MessageBox.confirm("您确定要撤单吗")
      //     .then(action => {
      //       cancelOrder_api({ order_id: this.bettingDtl.order_id }).then(
      //         res => {
      //           if (res.code == 200) {
      //             this.bans = true;
      //             this.txt = "再来一注";
      //             Toast(res.msg);
      //           } else {
      //             this.txt = "再来一注";
      //             Toast(res.msg);
      //           }
      //         }
      //       );
      //     })
      //     .catch(res => {
      //     });
      // }
      if (this.txt == "再来一注") {
        let msg = {
          lottery_id: this.msg.lottery_id,
          name_cn: this.msg.name_cn,
          lottery_type: this.msg.lottery_type
        };
        this.$router.push({
          name: "GamesMain",
          params: {
            msg: msg
          }
        });
      }
    }
  },
  components:{
    MyHeader
  }
}
</script>

<style scoped>
  .login {
    font-size: 15px;
  }

  .login > p:last-child {
    position: fixed;
    width: 92%;
    bottom: 0;
    background: #fff;
    padding-top: 0;
  }

  .gameName {
    /* display: flex;
        align-items: center; */
    height: 1rem;
    line-height: 1rem;
  }

  .gameName > img {
    width: 50px;
    margin-right: 15px;
  }

  .gameName > small {
    color: #666;
    font-size: 14px;
  }

  .gameName > span {
    font-size: 20px;
  }

  .ball {
    border-radius: 50%;
    font-size: 12px;
    padding: 3px;
    text-align: center;
    color: #fff;
    background-color: #fe3959;
  }

  .login > p {
    /* height: 1rem; */
    padding: 0.3rem 0;
    color: #666;
  }

  /* .login > p > span:last-child {
      background: #30de9c;
    } */
  .flex {
    display: flex;
    justify-content: space-around;
    border: 1px solid #c5c5c5;
  }

  .flex > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #666;
    padding: 0.2rem 0;
  }

  .flex.list > div:last-child {
    align-items: flex-end;
  }

  .login .sign {
    color: #333;
    padding: 0 0.2rem;
    font-size: 16px;
    border-left: 4px solid #fe3959;
    margin: 0.3rem 0;
  }

  .zdmsg {
    padding: 0.2rem 0;
  }

  .zdmsg > p {
    margin-bottom: 0.2rem;
    padding: 0 0.3rem;
  }

  .zdmsg > p > span {
    color: #999;
    display: inline-block;
    width: 30%;
  }

  .zdmsg > p > small {
    font-size: 15px;
  }

  .pullList {
    display: inline-flex;
  }

  .pullList > span {
    width: 0.4rem;
    height: 0.4rem;
    line-height: 0.4rem;
    padding: 0;
    margin: 0 0.02rem;
    text-align: center;
  }

  /* .pullList > span:last-child {
      background: #30de9c;
    } */

  .list {
    border: 0;
    justify-content: space-between;
    border-bottom: 1px dashed #c5c5c5;
    height: 66px;
  }

  .list div:last-child {
    border: 0;
  }

  .list > div > span > span {
    font-size: 15px;
  }

  .bettingBox {
    position: relative;
    margin-bottom: 50px;
  }

  .box {
    padding: 0 0.3rem;
    border: 1px solid #c5c5c5;
    box-shadow: 0 3px 5px #e0e0e0;
  }

  .bettingBox > i {
    position: absolute;
    top: 0;
    left: -1%;
    width: 102%;
    height: 3px;
    border-radius: 4px;
    background: #e0e0e0;
  }

  .box div:last-child {
    border: 0;
  }
</style>
