<template>
  <div>
    <lay-page header>

      <lay-header border>
        <lay-arrow slot="left" style="margin-left:6px;" @arrow-click="$router.back('/home')"></lay-arrow>
        <span slot="title">金额明细</span>
        <img slot="right"
             @click="refresh"
             src="../../assets/Shape.png"
             style="width:20px;height:20px;margin-top:7px;margin-right:7px;"
             alt="img"/>
      </lay-header>

      <div class="header">
        <lay-item border class="AGitem">
          <span><img class="icon" src="../../assets/base/zhanhu.png" alt="img"> <i>主账户</i></span>
          <span v-if="selectData.balance" class="mint">{{selectData.balance}}</span>
          <lay-spin v-else class="spin"></lay-spin>
        </lay-item>

        <lay-list border style="margin-top:16px;">
          <lay-item class="AGitem" @item-click="games('ag')">
            <span><img class="icon" src="../../assets/AG.png" alt="img"> <i>AG</i></span>
            <span v-if="selectData.ag" class="mint">{{selectData.ag}}</span>
            <lay-spin v-else class="spin"></lay-spin>
          </lay-item>

          <lay-item class="AGitem" @item-click="games('sb')">
            <span><img class="icon" src="../../assets/shenbo.png" alt="img"><i>申博&老虎机</i></span>
            <span v-if="selectData.sb" class="mint">{{selectData.sb}}</span>
            <lay-spin v-else class="spin"></lay-spin>
          </lay-item>
        </lay-list>

        <p class="postionL">
        <span v-if="selectData.total || selectData.total === 0">
          总金额:
          <span style="color:red;padding:0 0.1rem">{{selectData.total | fmoney}}</span>
          <span>元</span>
        </span>
          <lay-spin v-else class="spin"></lay-spin>
        </p>
      </div>
    </lay-page>
  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header";
  import k from "kiana-js";
  import {my_balance_api} from "@/common/api";
  import LayItem from "@/vlayui/List/Item";
  import LayList from "@/vlayui/List/List";
  import LaySpin from "@/vlayui/Spin";
  import LayPage from "@/vlayui/Layout/page";
  import LayHeader from "@/vlayui/Layout/header";
  import LayArrow from "@/vlayui/Arrow";
  import LayAdd from "@/vlayui/Icon/add";
  import LayMinus from "@/vlayui/Icon/minus";

  export default {
    components: {
      MyHeader,
      LayItem,
      LayList,
      LaySpin,
      LayPage,
      LayHeader,
      LayArrow,
      LayAdd,
      LayMinus
    },
    data() {
      return {
        selectData: {
          balance: undefined,
          ag: undefined,
          sb: undefined,
        },
        isLogin: "" // 是否登录
      };
    },
    created: function () {
      this.isLogin = sessionStorage.getItem("isLogin");

      my_balance_api().then(res => {
        if (res.code === 200) {
          this.selectData = res.data;
        }
      });
    },
    mounted() {
      document.body.style.background = "#f7f7f7";
    },
    beforeDestroy() {
      document.body.style.background = "#fff";
    },
    methods: {
      refresh() {
        this.selectData = {
          balance: undefined,
          ag: undefined,
          sb: undefined,
        };
        return my_balance_api().then(res => {
          if (res.code === 200) {
            this.selectData = res.data;
          }
        });
      },
      games(str) {
        if (k.isWx()) {
          //通过正则表达式匹配ua中是否含有MicroMessenger字符串
          MessageBox({
            title: "提示",
            message: "由于微信禁止访问外部网站，请下载APP进行游戏",
            confirmButtonText: "下载",
            showCancelButton: true
          })
            .then(action => {
              if (action === "confirm") {
                this.$router.push("download");
              }
            })
        } else {
          if (this.isLogin === "false") {
            MessageBox.confirm("您还未登录")
              .then(action => {
                this.$router.push("login");
              })
          } else if (this.isLogin === "yes") {
            MessageBox.confirm("正式会员才可以使用该功能", "提示", {
              confirmButtonText: "成为会员"
            })
              .then(action => {
                this.$router.push("reg");
              })
          } else {
            this.$router.push({
              name: "Transfer",
              params: {
                msg: str
              }
            });
          }
        }
      },
    },
  };
</script>

<style scoped>
  .Right {
    right: 0px;
    top: 10px;
    position: absolute;
  }

  .postionL span {
    text-align: right;
  }

  .postionL {
    font-size: 15px;
    color: #333333;
    letter-spacing: 0;
    padding: 0 16px;
    text-align: right;
    line-height: 40px;
    position: relative;
  }


  .AGitem {
    position: relative;
    height: 70px;
  }

  .spin {
    position: absolute;
    right: 16px;
    top: 43%;
  }

  .header .AGitem span {
    line-height: 70px;
    display: inline-block;
  }

  .AGitem i {
    font-size: 15px;
    font-style: normal;
    color: #333333;
    position: absolute;
    top: 0;
    left: 70px;
  }

  .icon {
    width: 48px;
    height: 48px;
    display: inline-block;
    margin-top: 10px;
  }

  .header {
    padding: 0.3rem 0;
  }

  .mint {
    float: right;
    right: 0;
    cursor: pointer;
    line-height: 45px;
    padding-right: 15px;
    font-size: 15px;
    color: #333333;
    letter-spacing: 0;
    text-align: right;
  }

  .mint::after {
    border: solid 2px #c8c8cd;
    border-bottom-width: 0;
    border-left-width: 0;
    content: " ";
    top: 50%;
    right: 16px;
    position: absolute;
    z-index: 99;
    width: 8px;
    height: 8px;
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
  }
</style>
