<template>
  <div class="page">

    <mt-header title="游戏记录" v-show="allShow">
      <mt-button slot="left" icon="back" @click.native="backto"></mt-button>
      <mt-button slot="right" icon=" iconfont icon-shuaxin" @click="refresh"></mt-button>
    </mt-header>
    <div class="mask" v-show="trade"></div>
    <div class="content" v-show="allShow">
      <div class="select">
        <span :class="active==v.name_cn?'active':''" v-for="(v,i) in select" :key="i"
              @click="selected(v)">{{v.name_cn}}</span>
      </div>
      <p class="padded" @click="showChild">{{data.stime}} 至 {{data.etime}}</p>
      <div class="betting_list">
        <ul v-infinite-scroll="loadMore" infinite-scroll-disabled="loading" infinite-scroll-distance="10">
          <!-- <li class="mint-cell" @click="jump(item)" v-for="(item,i) in tradeData" :key="i">
            <img :src="item.img_url" alt="" width="48" height="48">
            <div>
              <p>
                <b>{{item.name_cn}}</b>
                <span>{{item.period}}期</span>
              </p>
              <p>
                <span style="float:left">{{item.add_time | moment}}</span>
              </p>
            </div>
            <span>{{item.money}}元</span>
            <img :src="item.img" alt="" class="right" width="50px">
          </li> -->
          <li class="mint-cell" v-for="(item,i) in tradeData" :key="i">
            <img v-if="item" :src="imgs" alt="" width="48" height="48">
            <div>
              <p>
                <b>{{item.game_name}}</b>
                <span>{{item.betTime}}</span>
              </p>
              <p>
                <span>{{item.win_money}}元</span>
                <small>投注金额:{{item.betting_money}}元</small>
              </p>
            </div>

          </li>
        </ul>
        <div style="width:100%;text-align:center;margin-top:3.5rem;" v-show="tradeData.length==0">
          <!-- <img src="@/assets/nomsg.png" style="width:80%; margin-bottom:.3rem" /> -->
          <p>暂无投注记录哦~</p>
        </div>
      </div>
    </div>
    <date @getLinkage='showChildMsg' @getLin='getLin' v-show="showLinkage" :defaultDate="defaultDate"
          :data="data"></date>
  </div>
</template>

<script type="text/ecmascript-6">
  import Date from "@/bass/date";
  import {t} from "@/common/config";
  import {Toast, Indicator} from "mint-ui";
  import {game_record_api} from "@/common/api";
  import moment from "moment/moment";

  export default {
    created() {
      this.title = sessionStorage.getItem("title");

      let date = moment();

      this.defaultDate = {
        0: [
          `${date.year()}年`,
          `${date.month() + 1 >= 10 ? "" : "0"}${date.month() + 1}月`,
          `${date.date() - 7 >= 10 ? "" : "0"}${date.date() - 7}日`
        ],
        1: [
          `${date.year()}年`,
          `${date.month() + 1 >= 10 ? "" : "0"}${date.month() + 1}月`,
          `${date.date() >= 10 ? "" : "0"}${date.date()}日`
        ]
      };
    },
    data() {
      return {
        tradeData: [], //列表数据
        loading: false,
        allShow: true,
        money: {
          total_money: 0,
          total_profit_money: 0,
          total_win_money: 0
        },
        defaultDate: {},
        tradeStatus: [], //彩种类型
        allType: "全部彩种",
        allStatus: "全部状态",
        active: "AG",
        select: [
          // 状态类型
          // { name_cn: "全部游戏", value: "" },
          {name_cn: "AG", value: 'ag', img: require('../../assets/AG.png')},
          {name_cn: "申博", value: 'sb', img: require('../../assets/shenbo.png')},
          {name_cn: "电子游艺", value: 'rt', img: require('../../assets/laohuji.png')},
        ],
        imgs: require('../../assets/AG.png'),
        states: {
          zj: "../../../../../static/zhongjiang/zj.png",
          wz: "../../../../../static/zhongjiang/wz.png",
          kj: "../../../../../static/zhongjiang/kj.png",
          cd: "../../../../../static/zhongjiang/cd.png"
        },
        displayData: [], // 显示的数据
        data: {
          stime: moment.unix(t.end).format("YYYY-MM-DD"), // 开始时间
          etime: moment.unix(t.start).format("YYYY-MM-DD"), //结束时间
          game_name: 'ag',
          page: 0 // 页码
        },
        showLinkage: false, //控制子组件的显示隐藏
        trade: false //交易
      };
    },
    methods: {
      backto() {
        window.history.back();
      },
      refresh() {
        this.data.page = 0;
        Indicator.open();
        setTimeout(() => {
          this.ajax(this.data);
        }, 1000);

      },

      getLin() {
        this.showLinkage = false;
        this.allShow = true;
      },
      showChildMsg(msg) {
        //接收子组件数据
        msg.page = 1;
        this.data.stime = msg.start_time
        this.data.etime = msg.end_time
        this.allShow = true;
        console.log(msg);
        this.ajax(msg);
        this.showLinkage = false;
      },

      showChild() {
        this.allShow = false;
        this.showLinkage = true;
        this.trade = false;
      },
      selected(name) {
        this.active = name.name_cn;
        this.data.game_name = name.value
        this.trade = false;
        this.data.page = 1;
        Indicator.open("加载中...");
        this.ajax(this.data);
        this.imgs = name.img
      },
      loadMore() {
        if (this.listEnd || this.loading) return;
        Indicator.open();
        this.loading = true;
        this.data.page = this.data.page + 1;
        game_record_api(this.data).then(res => {
          console.log(res);
          Indicator.close();
          this.loading = false;
          if (res.code == 200) {
            // console.log(res);
            (this.money.total_money = res.data.total_money),
              (this.money.total_profit_money = res.data.total_profit_money),
              (this.money.total_win_money = res.data.total_win_money);
            this.page = res.data.page;
            if (res.data.list.length > 0) {

              this.tradeData = this.tradeData.concat(res.data.list);
            } else {
              this.listEnd = true;
              // res.data.page != 1 ? Toast("没有更多数据了!") : "";
            }
          } else {
            if (res.code == 401 && !res.data) {
              this.listEnd = true;
            }
            Toast(res.msg);
          }
        });
      },
      ajax(data) {
        game_record_api(data).then(res => {
          if (res.code == 200) {
            console.log(res);
            this.tradeData = res.data.list;

          } else {
            Toast(res.msg);
          }
          Indicator.close();
        });
      }
    },
    watch: {
      trade(n) {
        n
          ? (document.body.style.overflow = "hidden")
          : (document.body.style.overflow = "scroll");
      }
    },
    components: {
      Date
    }
  };
</script>

<style scoped>
  h4 {
    margin: 10px 0;
    width: 98%;
  }

  .icon-xiajiantou {
    float: right;
  }

  .content {
    font-size: 14px;
    position: relative;
  }

  .select {
    height: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 11;
    position: relative;
    background: #fff;
  }

  .select > span {
    padding: 0.3rem;
  }

  .item {
    position: fixed;
    /* top: 2rem; */
    background: #fff;
    z-index: 11;
  }

  .item > span {
    display: inline-block;
    width: 20%;
    margin: 2%;
  }

  .padded {
    padding: 0.2rem 0;
    background: #f2f2f2;
  }

  .betting_list {
    padding: 0 0.3rem 0.3rem;
    background: #fff;
  }

  .mint-cell > div {
    width: 70%;
    margin-left: 15px;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    flex: 2;
  }

  .mint-cell > div > p {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .mint-cell > div > p > small {
    color: #333;
  }

  .mint-cell > div > p:last-child {
    align-items: flex-end;
  }

  .mint-cell > div > p:last-child > span {
    color: #FE3959;
    font-size: 16px;
  }

  .betting_list li {
    height: 1.5rem;
    padding: 0.2rem 0;
    background: #fff;
  }

  .betting_list p > b {
    font-size: 16px;
    font-weight: 500;
    color: #333;
  }

  .betting_list p > span {
    color: #999;
    font-size: 14px;
  }

  .select > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .select > span {
    padding: 0.3rem;
    font-size: 14px;
  }

  .mint-cell {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .mint-cell > span {
    line-height: 4;
    font-weight: bold;
    color: #fe3959;
    flex: 1;
    text-align: end;
    margin-top: 5px;
  }

  .mint-cell > div > p > b {
    margin-right: 10px;
  }

  .mint-cell > img:last-child {
    background-size: contain;
    height: 39px;
    width: 58px;
    position: absolute;
    top: 0;
    right: 15%;
    border-radius: 50%;
    opacity: 1;
  }

  .mint-cell:after {
    left: 0;
    width: 100%;
  }

  .item {
    position: fixed;
    overflow-y: auto;
    background: #fff;
    z-index: 11;
    width: 96%;
    height: 100%;
    padding: 2%;
  }

  .item > span {
    display: inline-block;
    font-size: 12px;
    width: 20%;
    padding: 1.5%;
    margin: 1%;
    height: 0.7rem;
    line-height: 0.7rem;
    text-align: center;
    border-radius: 5px;
    margin-top: 5px;
    background: #f2f2f2;
    color: #333;
  }

  .bot {
    position: fixed;
    bottom: 0;
    background-position: top;
    background-size: 100% 2px;
    padding-top: 5px;
    z-index: 1;
    color: #666;
  }

  .select > .active {
    color: #4a73c5;
    border-bottom: 3px solid #4a73c5;
  }

  .icon-calendar:after,
  .icon-sanjiao1:after {
    margin-left: 5px;
    color: #d8d8d8;
  }

  .iconfont.icon-shuaxin {
    color: #fff;
  }
</style>
