<template>
  <div class="page">
    <mt-header class="my-header2" title="打码量详情">
      <mt-button slot="left" icon="back" @click.native="backto"></mt-button>
    </mt-header>
    <div class="content" v-show="allShow">
      <div class="login">
        <ul class="ul01">
          <li>时间</li>
          <li>类型</li>
          <li>金额</li>
          <li>打码量</li>
          <li>剩余打码量</li>
        </ul>
        <ul
          class="ul02"
          v-infinite-scroll="loadMore"
          infinite-scroll-disabled="loading"
          infinite-scroll-distance="10"
        >
          <li class="mint-cell" v-for="(item,i) in tradeData" :key="i">
            <div>{{item.dateline}}</div>
            <div>{{item.type}}</div>
            <div>{{item.money}}</div>
            <div>{{item.mask}}</div>
            <div>{{item.mask_balance}}</div>
          </li>
        </ul>
        <div style="width:100%;text-align:center;margin-top:1rem;" v-show="tradeData.length==0">
          <p>暂无信息哦~</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import Date from "@/bass/date";
  import {t} from "@/common/config";
  import {Toast, Indicator} from "mint-ui";
  import {get_mask_detail} from "@/common/api";
  import moment from "moment/moment";

  export default {
    created() {
      this.title = sessionStorage.getItem("title");

      let date = moment();

      this.defaultDate = {
        0: [
          `${date.year()}年`,
          `${date.month() + 1 >= 10 ? "" : "0"}${date.month() + 1}月`,
          `${date.date() - 7 >= 10 ? "" : "0"}${date.date() - 7}日`
        ],
        1: [
          `${date.year()}年`,
          `${date.month() + 1 >= 10 ? "" : "0"}${date.month() + 1}月`,
          `${date.date() >= 10 ? "" : "0"}${date.date()}日`
        ]
      };
      this.active = this.active3;
      this.displayData = this.orderStatus;
      this.displayData.forEach(element => {
        element.type = 2;
      });
    },
    data() {
      return {
        tradeData: [], //列表数据
        loading: false,
        allShow: true,
        money: {
          total_money: 0,
          total_profit_money: 0,
          total_win_money: 0
        },
        defaultDate: {},
        tradeStatus: [], //彩种类型
        allType: "全部发放状态",
        allStatus: "游戏类型",
        active: "全部",
        active2: "全部",
        active3: "全部",
        sendStatus: [
          {name_cn: "全部", value: ""},
          {name_cn: "已发放", value: "sent"},
          {name_cn: "未发放", value: "pending"},
          {name_cn: "已取消", value: "canceled"}
        ],
        orderStatus: [
          // 状态类型
          {name_cn: "全部", value: ""},
          {name_cn: "彩票", value: "lottery"},
          {name_cn: "申博", value: "sb"},
          {name_cn: "电子游艺", value: "rt"},
          {name_cn: "AG视讯", value: "ag"}
        ],
        states: {
          sent: "",
          wait: "",
          cancel: ""
        },
        displayData: [], // 显示的数据
        data: {
          game: "", // 彩种
          status: "", // 开奖状态
          stime: moment.unix(t.end).format("YYYY-MM-DD"), //结束时间
          etime: moment.unix(t.start).format("YYYY-MM-DD"), // 开始时间
          start_time: moment.unix(t.end).format("YYYY-MM-DD"), //结束时间
          end_time: moment.unix(t.start).format("YYYY-MM-DD"), // 开始时间
          page: 0 // 页码
        },
        showLinkage: false, //控制子组件的显示隐藏
        trade: false, //交易
        totalWater: "0"
      };
    },
    methods: {
      backto() {
        window.history.back();
      },
      refresh() {
        this.data.page = 0;
        this.ajax(this.data);
      },
      getLin() {
        this.showLinkage = false;
        this.allShow = true;
      },
      showChildMsg(msg) {
        //接收子组件数据
        msg.page = 1;
        msg.etime = msg.end_time;
        msg.stime = msg.start_time;
        this.allShow = true;
        this.showLinkage = false;
        this.ajax(msg);
      },
      tradeShow(type) {
        if (type === 1) {
          if (!this.one) {
            this.active = "全部";
            this.one = 1;
          }
          this.active = this.active2;
          this.displayData = this.sendStatus;
          this.displayData.forEach(element => {
            element.type = 1;
          });
        }
        if (type === 2) {
          if (!this.two) {
            this.active = "全部";
            this.two = 1;
          }
          this.active = this.active3;
          this.displayData = this.orderStatus;
          this.displayData.forEach(element => {
            element.type = 2;
          });
        }

        this.trade = !this.trade;
        this.showLinkage = false;
      },
      showChild() {
        this.allShow = false;
        this.showLinkage = true;
        this.trade = false;
      },
      selected(name) {
        if (name.type === 1) {
          this.allType = name.name_cn;
          this.data.status = name.value;
          this.active2 = name.name_cn;
        }
        if (name.type === 2) {
          this.allStatus = name.name_cn;
          this.data.game = name.value;
          this.active3 = name.name_cn;
        }
        this.active = name.name_cn;
        this.trade = false;
        this.data.page = 1;
        Indicator.open("加载中...");
        this.ajax(this.data);
      },
      loadMore() {
        if (this.listEnd || this.loading) return;
        Indicator.open();
        this.loading = true;
        this.data.page = this.data.page + 1;
        get_mask_detail(this.data).then(res => {
          Indicator.close();
          this.loading = false;
          if (res.code === 200) {
            console.log(res);
            this.page = res.data.page;
            if (res.data.list.length > 0) {
              this.tradeData = this.tradeData.concat(res.data.list);
            } else {
              this.listEnd = true;
            }
          } else {
            if (rec.code === 401) {
              this.listEnd = true;
            }
            Toast(res.msg);
          }
        });
      },
      ajax(data) {
        data.limit = 20;
        get_mask_detail(data).then(res => {
          if (res.code === 200) {
            this.loading = false;
            this.tradeData = res.data.list;
          } else {
            Toast(res.msg);
          }
          Indicator.close();
        });
      }
    },
    watch: {
      trade(n) {
        n
          ? (document.body.style.overflow = "hidden")
          : (document.body.style.overflow = "scroll");
      }
    },
    components: {
      Date
    }
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  .content {
    font-size: 14px;
    position: relative;
  }

  .select {
    height: 1rem;
    line-height: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 11;
    position: relative;
    background: #fff;
  }

  .select > span {
    display: inline-block;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: 0.26rem;
    flex: 1;
  }

  .select > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ul01 {
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.25rem;
    color: #333;
    background: #e6e6e6;
    margin-top: 10px;
  }

  .ul01 li {
    float: left;
    min-height: 0.6rem;
    height: 0.6rem;
    line-height: 0.6rem;
    padding: 0;
    text-align: center;
    width: calc(100% / 5);
  }

  .login li {
    min-height: 0.6rem !important;
    height: 0.6rem !important;
    line-height: 0.6rem;
    padding: 0 !important;
    background-color: #fff;
  }

  .ul02 div {
    float: left;
    min-height: 0.6rem;
    height: 0.6rem;
    line-height: 0.6rem;
    padding: 0;
    text-align: center;
    width: calc(100% / 5);
    font-size: 0.2rem;
    color: #666;
  }

  .ul02 div:nth-child(2) {
    color: deepskyblue;
  }

  .item {
    position: fixed;
    /* top: 2rem; */
    background: #fff;
    z-index: 11;
  }

  .item > span {
    display: inline-block;
    width: 20%;
    margin: 2%;
  }

  .padded {
    padding: 0.2rem 0;
    background: #f2f2f2;
  }

  .login {
    padding: 0 0.3rem 1.3rem;
    background: #fff;
  }

  .login p {
    margin-bottom: 0.3rem;
  }

  .login div {
    width: 70%;
    display: inline-block;
    flex: 2;
  }

  .login li {
    min-height: 1.5rem;
    padding: 0.2rem 0;
  }

  .login p > b {
    font-size: 16px;
    font-weight: 500;
    color: #333;
  }

  .login p > span {
    color: #999;
    font-size: 14px;
  }

  .mint-cell {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .mint-cell > span {
    line-height: 4;
    font-weight: bold;
    color: red;
    flex: 1;
    text-align: end;
    margin-top: 5px;
  }

  .mint-cell > div > p > b {
    margin-right: 10px;
  }

  .mint-cell:after {
    left: 0;
    width: 100%;
  }

  .item {
    position: fixed;
    background: #fff;
    z-index: 11;
    width: 100%;
    padding: 2%;
  }

  .item > span {
    display: inline-block;
    font-size: 12px;
    width: 20%;
    padding: 1%;
    margin: 1%;
    height: 0.7rem;
    line-height: 0.7rem;
    text-align: center;
    border-radius: 5px;
    margin-top: 5px;
    background: #f2f2f2;
    color: #333;
  }

  .active {
    background: red;
    color: #fff;
  }

  .icon-calendar:after,
  .icon-sanjiao1:after {
    margin-left: 5px;
    color: #d8d8d8;
  }

  .total-amount {
    text-align: center;
    padding: 5px;
    line-height: 30px;
    color: red;
    border-bottom: 1px solid #f1f1f1;
  }

  .iconfont.icon-shuaxin {
    color: #fff;
  }
</style>
