<template>
  <div class="msg-page">
    <mt-header title="消息详情">
      <mt-button slot="left" icon="back" @click.native="backto"></mt-button>
    </mt-header>
    <div class="login">
      <span>{{Msg.title}}</span>
      <!--<h3 style="fontSize:18px">{{Msg.title}}</h3>-->
      <p style="margin:.3rem 0;text-align: right;color:#777">{{Msg.sendtime | moment}}</p>
      <p style="margin-top:.2rem;line-height:1.8" v-html="Msg.content"></p>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header";
  import {notice_read_api} from "@/common/api";

  export default {
    created() {
      if (this.$route.params.msg) {
        this.Msg = this.$route.params.msg;
        sessionStorage.setItem('msgId', JSON.stringify(this.Msg));
      } else {
        this.Msg = JSON.parse(sessionStorage.getItem('msgId'));
      }
      console.log(this.msg.id);
      notice_read_api({id: this.Msg.id});
    },
    methods: {
      backto() {
        window.history.back();
      },
    },
    data() {
      return {
        Msg: {}
      };
    },
    components: {
      MyHeader
    }
  };
</script>

<style scoped>
  .login p {
    margin-bottom: 10px;
    color: #666;
  }

  .msg-page {
    font-size: 16px;
  }

  .msg-page > h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 5px;
  }
  .login span{
    text-align: center;
    font-weight: 600;
    display: block;
    color: #333333;
    font-size: 0.4rem;
 
  }

  .msg-page > p {
    color: #666;
    margin: 0.3rem 0;
    line-height: 0.5rem;
  }
</style>
