<template>
  <layout-page footer>
    <div class="personal-page">
      <div class="header">
        <div class="service" @click="$router.push('/kefu')">
          <img src="../../assets/white_service.png" alt="">
        </div>
        <div class="setting" @click="$router.push('/userSetting')">
          <img src="../../assets/white_setting.png" alt="">
        </div>
        <div>
          <img :src="avatar"
               alt
               @click="$router.push('/personalDetails')">
          <div>
            <span v-if="isLogin==='no'">{{username}}</span>
            <p v-if="isLogin==='yes'">
              <span>{{username}}</span>
              <router-link to="reg"
                           class="member">成为会员
              </router-link>
            </p>
            <router-link to="login"
                         v-else-if="isLogin==='false'"
                         class="member"
                         style="height:.3rem;line-height:.3rem;color:#333">要想富先登录
            </router-link>
          </div>
        </div>

        <nav class="tab-bar">
          <div class="amount">余额(元)</div>
          <div class="money" @click="$router.push('/capitaldetails')">{{balance |fmoney}} <span><img
            src="../../assets/back.png" alt=""></span></div>
          <div class="btns">
            <div>
              <lay-button @click="unbound('recharge')"
                          :block="true"
                          :full="true"
                          theme="orange"
                          style="border-radius:30px;font-size: 18px;"
              >充值
              </lay-button>

            </div>
            <div>
              <lay-button @click="unbound('unBound')"
                          :block="true"
                          :full="true"
                          theme="violet"
                          style="border-radius:30px;font-size: 18px;"
              >提现
              </lay-button>
            </div>
          </div>
        </nav>
      </div>

      <lay-card class="agent-con" title="代理中心" tip="佣金拿到手抽筋" :arrow="true" @head-click="unbound('agencyCenter')">
        <nav class="tab-bar2">
          <router-link to
                       class="tab-item"
                       style="flex:1"
                       @click.native="unbound('recharge')">
            <img class="icon"
                 src="../../assets/under_level.png"
                 alt="../../assets/under_level.png"
                 style="width:34px;height:34px;">
            <span class="tab-label">下级</span>
          </router-link>
          <router-link to
                       class="tab-item"
                       style="flex:2"
                       @click.native="unbound('unBound')">
            <img class="icon"
                 src="../../assets/new_member.png"
                 alt="../../assets/new_member.png"
                 style="width:34px;height:34px;">
            <span class="tab-label">开户</span>
          </router-link>
          <router-link to
                       class="tab-item"
                       style="flex:1"
                       @click.native="unbound('myCard')">
            <img class="icon"
                 src="../../assets/widthdraw.png"
                 alt="../../assets/widthdraw.png"
                 style="width:34px;height:34px;">
            <span class="tab-label">工资</span>
          </router-link>
        </nav>
      </lay-card>

      <div class="list  margin-style2">
        <mt-cell title="彩票记录"
                 is-link
                 @click.native="unbound('betting')">
          <img slot="icon"
               src="../../assets/myTouzhu.png"
               width="20" alt="">
        </mt-cell>

        <mt-cell title="追号记录"
                 is-link
                 @click.native="unbound('zhuihao')">
          <img slot="icon"
               src="../../assets/zui_hao.png"
               width="20" alt="">
        </mt-cell>

        <mt-cell title="游戏记录"
                 is-link
                 @click.native="unbound('gamesList')">
          <img slot="icon"
               src="../../assets/games.png"
               width="20" alt="">
        </mt-cell>

        <mt-cell title="充值记录"
                 is-link
                 @click.native="unbound('rechargeRecord')">
          <img slot="icon"
               src="../../assets/myChongzhi.png"
               width="20" alt="">
        </mt-cell>

        <mt-cell title="提现记录"
                 is-link
                 @click.native="unbound('withdrawRecord')">
          <img slot="icon"
               src="../../assets/myTixian.png"
               width="20" alt="">
        </mt-cell>


        <mt-cell title="个人报表"
                 is-link
                 @click.native="unbound('statement')">
          <img slot="icon"
               src="../../assets/myZhangbian.png"
               width="20" alt="">
        </mt-cell>
      </div>


      <div class="list  margin-style2" style="margin-bottom:20px">


        <mt-cell title="账变记录"
                 is-link
                 @click.native="unbound('zbRecord')">
          <img slot="icon"
               src="../../assets/myChongzhi.png"
               width="20" alt="">
        </mt-cell>


        <mt-cell title="游戏转账"
                 is-link
                 @click.native="unbound('transfer_list')">
          <img slot="icon"
               src="../../assets/game_tranfer.png"
               width="20" alt="">
        </mt-cell>


        <mt-cell title="APP下载"
                 is-link
                 @click.native="unbound('gamesList')">
          <img slot="icon"
               src="../../assets/app_download.png"
               width="20" alt="">
        </mt-cell>

        <!--<mt-cell title="系统公告"-->
        <!--is-link-->
        <!--to="systemMsgCenter">-->
        <!--<img slot="icon"-->
        <!--src="../../assets/myXiaoxi.png"-->
        <!--width="20" alt="">-->
        <!--</mt-cell>-->

        <!--<mt-cell title="消息通知"-->
        <!--is-link-->
        <!--@click.native="unbound('msgCenter')">-->
        <!--<img slot="icon"-->
        <!--src="../../assets/tongzhi.png"-->
        <!--width="20" alt="">-->
        <!--</mt-cell>-->


        <!-- <mt-cell title="客服中心" is-link to="kefu">
          <img slot="icon" src="../../../assets/myKefu.png" width="20">
        </mt-cell>-->
        <!--<mt-cell title="登录密码"-->
        <!--is-link-->
        <!--@click.native="unbound('modifyPwd')">-->
        <!--<img slot="icon"-->
        <!--src="../../assets/myDenglu.png"-->
        <!--width="20" alt="">-->
        <!--<span class="ball"-->
        <!--v-if="!isloginPwd">未设置</span>-->
        <!--</mt-cell>-->


        <!--<mt-cell title="资金密码"-->
        <!--is-link-->
        <!--style="margin-bottom:1.3rem"-->
        <!--@click.native="unbound('setPwd')">-->
        <!--<img slot="icon"-->
        <!--src="../../assets/myZijin.png"-->
        <!--width="20" alt="">-->
        <!--<span class="ball"-->
        <!--v-if="!setPwd">未设置</span>-->
        <!--</mt-cell>-->


      </div>

      <div class="mask"
           v-show="popMsg"
           @click="closeMark"></div>
      <div class="bindCode"
           v-show="popMsg">
        <p class="padded">
          <img src="../../assets/bindCard.png"
               alt="img"
               width="100px">
        </p>
        <h3 class="padded"
            style="margin-bottom:.2rem">绑定银行卡</h3>
        <p style="padding:0 15px"
           class="padded">为保障您的账户资金安全，需先成功绑定银行卡，才能进行安全提现</p>
        <p style="padding:0 .8rem">
          <mt-button type="danger"
                     size="large"
                     @click="addCard">立即绑定
          </mt-button>
        </p>
        <i class="iconfont icon-guanbi"
           @click="closeMark"></i>
      </div>
    </div>
  </layout-page>
</template>

<script type="text/ecmascript-6">
  import {home_api} from "@/common/api";
  import {fmoney} from "@/common/config";
  import {MessageBox} from "mint-ui";
  import {mapGetters, mapState, mapActions} from "vuex";
  import LayoutPage from "@/vlayui/Layout/page";
  import LayItem from "@/vlayui/List/Item";
  import LayCard from "@/vlayui/Card";
  import LayButton from "@/vlayui/LayButton";
  import {baseUrl} from "@/config/app.config";
  import k from "kiana-js";

  export default {
    components: {
      LayoutPage,
      LayItem,
      LayCard,
      LayButton
    },
    beforeDestroy() {
      (function () {
        document.body.style.background = "#fff";
        document.body.style.overflow = "scroll";
      })();
    },
    computed: {
      ...mapGetters(["initData"]),
      ...mapState({
        isLogin: state => {
          return state.initData.isLogin
        },
        siteBaseInfo: "siteBaseInfo",
      }),
      download_url: (state) => state.siteBaseInfo.download,
      username() {
        return this.initData.username;
      },
      avatar() {
        let a = require(`@/assets/admin.png`);
        return this.initData.avatar || a;
      },
      balance() {
        return this.initData.balance || 0;
      },
      isShow() {
        return this.initData.isShow; // 是否绑定过银行卡
      },
      mobile() {
        return this.initData.mobile; // 是否绑定手机
      },
      setPwd() {
        return this.initData.setPwd; // 是否设置资金密码
      },
    },
    data() {
      return {
        popMsg: false,
        usernameNg: false, // 是否有用户名
        isloginPwd: true //是否设置登录密码
      };
    },
    created() {
      this.getHomeInfo();
    },
    methods: {
      ...mapActions({
        getHomeInfo: 'GET_HOME_INFO',
      }),
      closeMark() {
        this.popMsg = false;
        document.body.style.overflow = "scroll";
      },
      addCard() {
        this.$router.push("/addCard");
      },
      Capitaldetails() {
        this.$router.push("/Capitaldetails");
      },
      unbound(route) {
        if (this.isLogin === "false") {
          MessageBox.confirm("您还未登录", "提示", {closeOnClickModal: false})
            .then(action => {
              this.$router.push("login");
            })
            .catch(res => {
              this.$router.push("personal");
            });
        } else if (this.isLogin === "yes") {
          if (route === "betting") {
            this.$router.push(route);
          } else {
            // 是否是试玩
            MessageBox.confirm("正式会员才可以使用该功能", "提示", {
              confirmButtonText: "成为会员"
            })
              .then(action => {
                this.$router.push("reg");
              })
              .catch(res => {
                this.$router.push("personal");
              });
          }
        } else if (route === "unBound") {
          if (this.setPwd) {
            let mask = sessionStorage.getItem("mask"); //打码量
            if (Number(mask) <= 0) {
              this.$router.push("unBound");
            } else {
              MessageBox.confirm(
                "您还有" +
                mask +
                "打码量未完成,请完成后再进行提现</br><small style='color:red'>(注: 视讯及电子游戏打码量延时10分钟结算)</small>",
                "提示",
                {
                  closeOnClickModal: false,
                  showCancelButton: true,
                  cancelButtonText: "打码量详情"
                }
              ).catch(res => {
                this.$router.push("maskDetail");
              });
            }
          } else {
            MessageBox.confirm("您还未设置资金密码哟！", "提示", {
              closeOnClickModal: false
            })
              .then(action => {
                this.$router.push("setPwd");
              })
          }
        } else {
          this.$router.push(route);
        }
      },
      head() {
        if (this.isLogin !== "false") {
          this.$router.push("PersonalDetails");
        } else {
          this.$router.push("login");
        }
      }
    },
    mounted() {
      document.body.style.background = "#F2F2F2";
    },
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  @import "../../style/global";

  .personal-page {
    height: 100%;
    width: 100%;
    padding-bottom: 20px;
  }

  .header {
    height: 240px;
    color: #fff;
    background: url("../../assets/bg.png") no-repeat;
    background-size: 100% 100%;
    position: relative;

    .service {
      position: absolute;
      right: 10px;
      top: 20px;
      height: 20px;
      width: 20px;

      > img {
        height: 20px;
        width: 20px;
        border-radius: 0;
        position: relative;
        left: 0;
        margin: 0;
      }
    }

    .setting {
      position: absolute;
      left: 10px;
      top: 20px;
      height: 20px;
      width: 20px;

      > img {
        height: 20px;
        width: 20px;
        border-radius: 0;
        position: relative;
        left: 0;
        margin: 0;
      }
    }
  }

  .header a {
    color: #fff;
    text-align: center;
  }

  h3 {
    color: #ef4f4f;
    font-size: 18px;
    font-weight: normal;
  }

  .header > h4 {
    font-size: 18px;
    text-align: center;
    margin: 0;
    font-weight: normal;
    height: 50px;
    line-height: 50px;
  }

  .header > div {
    font-size: 16px;
    padding: 0 0.3rem 0.3rem;
    height: 1.22rem;
    display: flex;
    align-items: center;
    line-height: 1.22rem;
  }

  .header > div > img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 8%;
    margin-left: -30px;
  }

  .header > div > div {
    font-size: 14px;
    width: 300px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 70px;
    margin-left: -150px;
  }

  .header > div > div > p {
    line-height: 1;
    height: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .member {
    padding: 5px;
    text-align: center;
    font-size: 12px;
    color: #333;
    background: #ffce6f;
    border-radius: 5px;
  }

  .right {
    float: right;
    font-size: 12px;
    position: relative;
  }

  .tab-bar {
    margin: 1rem 0.36rem 0.36rem 0.36rem;
    height: 160px;
    position: absolute;
    bottom: -38%;
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;

    .amount {
      padding: 0 24px;
      width: 100%;
      font-size: 14px;
      color: #333333;
    }

    .money {
      padding: 0 24px;
      margin-top: 10px;
      width: 90%;
      font-size: 34px;
      color: #FE3959;

      > span {
        float: right;
        position: relative;

        img {
          position: absolute;
          top: 10px;
          right:4px;
        }
      }
    }

    .btns {
      width: 100%;

      > div {
        width: calc(50% - 48px);
        padding: 0 24px;
        float: left;
      }
    }
  }

  .tab-bar2 {
    height: 1.2rem;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
  }

  .tab-label {
    color: #333;
    margin-top: 8px;
    line-height: normal;
  }

  .btn-con {
    margin: -0.5rem 0 70px;
    padding: 0 20px;
  }

  .tab-bar .tab-item {
    height: 60px;
    margin-top: 0.25rem;
  }

  .tab-bar .tab-item > img {
    width: 34px;
    height: 24px;
  }

  .tab-bar2 .tab-item {
    height: 60px;
  }

  .tab-bar2 .tab-item > img {
    width: 34px;
    height: 24px;
  }

  .tab-bar::after,
  .tab-bar::before {
    content: "";
    width: 15px;
    height: 15px;
    display: block;
    z-index: -1;
    position: relative;
    border-radius: 50%;
    top: 0.8rem;
  }

  .tab-bar2::after,
  .tab-bar2::before {
    content: "";
    width: 15px;
    height: 15px;
    display: block;
    z-index: -1;
    position: relative;
    border-radius: 50%;
    top: 0.8rem;
  }

  .tab-bar:before {
    left: -0.2rem;
  }

  .tab-bar:after {
    left: 0.2rem;
  }

  .tab-bar2:before {
    left: -0.2rem;
  }

  .tab-bar2:after {
    left: 0.2rem;
  }

  .list {
    background-color: #fff;
    border-radius: 4px;

    .mint-cell {
      background-color: rgba(0, 0, 0, 0);
      color: #333;
      background-image: none;
    }
  }

  .list > a {
    color: #333;
  }

  .margin-style1 {
    margin: 1rem 0.36rem 0 0.36rem;
  }

  .agent-con {
    margin: 1.7rem 0.36rem 0.36rem 0.36rem;
  }

  .margin-style2 {
    margin: 0.4rem 0.36rem 0 0.36rem;
  }

  .mint-cell-title > img {
    margin-right: 0.3rem;
  }

  .bindCode {
    width: 70%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 5px;
    z-index: 11;
  }

  .bindCode i {
    padding: 0.2rem;
    position: absolute;
    font-style: normal;
    left: 50%;
    bottom: -1rem;
    color: #fff;
    border-radius: 50%;
    transform: translate(-50%);
  }

  .mint-cell {
    min-height: 40px;
    padding: 0.1rem;
  }

  .padded > img {
    width: 100px;
    padding: 0.3rem 0;
  }

  .mint:after {
    border: solid 2px #c8c8cd;
    border-bottom-width: 0;
    border-left-width: 0;
    content: " ";
    top: 8px;
    right: -12px;
    position: absolute;
    width: 5px;
    height: 5px;
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
  }
</style>
