<template>
  <div class="page">
    <my-header title="充值记录"></my-header>
    <div class="recharge_list">
      <ul v-infinite-scroll="loadMore" infinite-scroll-disabled="listEnd" infinite-scroll-distance="10">
        <li class="mint-cell" v-for="(item,index) in regchargeList" :key="item.id">
          <img :src="item.icon" alt="" width="29">
          <div style="flex-grow:1" @click='itempack(index)'>
            <h3>{{item.way_name}}</h3>
            <p>订单编号：
              <span>{{item.orderno}}</span>
            </p>
            <span>{{item.dateline | moment}}</span>
          </div>
          <div style="flex-grow:0;align-items:flex-end;">
            <span style="margin-bottom:.25rem;  color:#000">{{item.amount | fmoney}}元</span>
            <small style="color:#FE3959">{{item.status}}</small>
          </div>
        </li>
        <div style="width:100%;text-align:center;margin-top:3.5rem" v-show="regchargeList.length===0">
          <p>暂无充值记录哦~</p>
        </div>
      </ul>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header";
  import {rechargeLog_api} from "@/common/api";
  import {Toast, Indicator} from "mint-ui";

  export default {
    data() {
      return {
        regchargeList: [],
        page: 0,
        listEnd: false,
        loading: false,
        ddd: '',
      };
    },

    methods: {
      loadMore() {
        if (this.listEnd || this.loading) return;

        Indicator.open();
        this.loading = true;

        rechargeLog_api({page: this.page + 1}).then(res => {
          Indicator.close();
          this.loading = false;

          if (res.code == 200) {
            console.log(res.data)
            this.page = res.data.page;
            if (res.data.list.length > 0) {
              this.regchargeList = this.regchargeList.concat(res.data.list);

              this.regchargeList.forEach(element => {
                if (element.status == "pending") {
                  element.status = "充值中";
                }
                if (element.status == "success") {
                  element.status = "充值成功";
                }
                if (element.status == "failure") {
                  element.status = "充值失败";
                }
              });
            } else {
              this.listEnd = true;
              res.data.page != 1 ? Toast("没有更多数据了!") : "";
            }
          } else {
            if (res.code == 401) {
              this.listEnd = true
            }
            Toast(res.msg);
          }
        });
      },

      itempack(index) {
        this.$router.push(
          {
            path: 'Rechargebill',
            query: {
              dataObj: encodeURIComponent(JSON.stringify(this.regchargeList[index])),
            }
          }
        )
      },


    },
    components: {
      MyHeader
    }
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  .recharge_list {
    padding: .3rem;
    font-size: 15px;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 0.2rem;
      padding-top: 0.2rem;
      background-color: #fff;

      > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        > p {
          font-size: 12px;
          margin: 0.1rem 0;
        }

        > h3 {
          font-size: 16px;
          font-weight: normal;
        }

        > span {
          font-size: 13px;
          color: #999;
        }
      }

      > img {
        flex-grow: 0;
        margin-right: 0.3rem;
      }
    }
  }

</style>
