<template>
  <div class="recharge">
    <mt-header title="系统公告">
      <mt-button slot="left" icon="back" @click.native="backTo"></mt-button>
    </mt-header>
    <div style="padding:0 .3rem">
      <mt-tab-container v-model="selected">
        <mt-tab-container-item id="2">
          <ul class="lists" v-infinite-scroll="msgList_list" infinite-scroll-disabled="listEnd"
              infinite-scroll-distance="10">
            <li class="items" v-for="(v,i) in announcement" :key="i">
              <p v-if="!!!v.image" v-html="v.content"></p>
              <img :src="v.image" alt="" v-show="v['image']&&v['image']!==''">
              <span class="time">{{v.add_time | moment}}</span>
            </li>
          </ul>
          <div class="font" v-if="announcement.length===0">没有更多数据哦</div>
        </mt-tab-container-item>
      </mt-tab-container>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header";
  import {msgList_api, announcement_api2, announcement_read_api} from "@/common/api";

  import {Toast, Indicator} from "mint-ui";

  export default {
    created() {
      sessionStorage.getItem("msgNotice")
        ? (this.selected = sessionStorage.getItem("msgNotice"))
        : "";
    },
    mounted() {
      document.body.style.background = "#f7f7f7";
    },
    destroyed() {
      document.body.style.background = "#fff";
    },
    data() {
      return {
        selected: "2",
        page: 0,
        msgList: [],
        announcement: [],
        msgList_api,
        announcement_api2,
        listEnd: false,
        loading: false,
        announcementEnd: false,
        announcementLoad: false
      };
    },
    methods: {
      backTo() {
        this.$router.back();
      },
      announcement_list() {
        if (this.announcementEnd || this.announcementLoad) return;
        Indicator.open();
        this.announcementLoad = true;
        announcement_api2({page: this.page + 1}).then(res => {
          Indicator.close();
          this.announcementLoad = false;
          if (res.code === 200) {
            this.page = 1;
            if (res.data.length > 0) {
              this.announcement = this.announcement.concat(res.data);
              console.log(this.announcement);
            } else {
              this.announcementEnd = true;
              res.data.page !== 1 ? Toast("没有更多数据了!") : "";
            }
          } else {
            Toast(res.msg);
          }
        });
      },
      msgList_list() {
        if (this.announcementEnd || this.announcementEnd) return;
        Indicator.open();
        this.announcementLoad = true;
        this.page+=1
        announcement_api2({page: this.page}).then(res => {
          Indicator.close();
          this.announcementLoad = false;
          if (res.code === 200) {
            this.page = res.data.page;
            if (res.data.list.length > 0) {
              this.announcement = this.announcement.concat(res.data.list);
            } else {
              this.announcementEnd = true;
            }
          } else {
            Toast(res.msg);
          }
        });
      },
      goDetail(item, type) {
        if (type === 1) {
          this.$router.push({
            name: "MsgDetail",
            params: {
              msg: item
            }
          });
        }
        if (type === 2) {
          this.$router.push({
            name: "AnnouncementDetail",
            params: {
              msg: item
            }
          });
        }
      },
    },
    components: {
      MyHeader
    },
    watch: {
      selected(n, o) {
        n && sessionStorage.setItem("msgNotice", n);
      }
    }
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  .lists {
    margin-top: 10px;
  }

  .items {
    border-bottom: 1px solid #f0f0f0;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    min-height: 48px;
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 8px;

    p {
      padding: 20px 10px 10px 10px;
    }

    img {
      max-width: 100%;
    }

    .time {
      display: block;
      padding: 10px 20px;
      text-align: right;
      color: rgba(0, 0, 0, .3);
      font-size: 14px;
    }
  }

  li > p,
  li > div {
    position: relative;
    padding-left: 0.3rem;
    margin-bottom: 0.2rem;
  }

  li > p {
    font-size: 14px;
    color: #333;
  }

  li > div {
    font-size: 13px;
    color: #666;
  }

  .font {
    text-align: center;
    font-size: 16px;
    margin-top: 3.5rem;
  }

  .mint-cell > .ball:before {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    top: 5px;
    left: 0;
    background: #ff4d55;
  }

  .bssorpao {
    position: relative;
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid #F0F0F0; */
  }

  .bssorpao i {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: red;
    /* border: 1px solid #666; */
    top: 5px;
    left: 0;
  }

  .bssorpao p {
    font-size: 16px;
    color: #333333;
    font-weight: 600;
    display: inline-block;
    width: 3.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .bssorpao .wity {
    background: #fff;
    border: 1px solid #666;
  }

  .bssorpao div {
    color: #666666;
    font-size: 14px;
  }

  .mint-navbar .mint-tab-item.is-selected {
    border: 0;
    color: #4a73c5;
  }

  .mint-tab-item {
    position: relative;
  }

  .is-selected::after {
    margin-bottom: -3px;
    font-size: 15px;
    background-color: #4a73c5;
    position: absolute;
    right: 0;
    top: 0.8rem;
    left: 26%;
    height: 2px;
    content: "";
    width: 50%;
  }

</style>
