<template>
  <div>
    <lay-page header>

      <lay-header border>
        <lay-arrow slot="left" style="margin-left:6px;" @arrow-click="$router.back('/home')"></lay-arrow>
        <span slot="title">设置</span>
      </lay-header>

      <lay-list padding border style="margin-top:16px;">

        <lay-simple-item arrow title="登录密码" padding>
          <span @click="$router.push('modifyPwd')">修改</span>
        </lay-simple-item>

        <lay-simple-item arrow title="资金密码" padding>
          <span @click="$router.push('setPwd')">修改</span>
        </lay-simple-item>

        <lay-simple-item title="声音设置" padding>
          <lay-switch v-model="switchValue" @switch-change="changeAudioSwitch"></lay-switch>
        </lay-simple-item>
      </lay-list>

      <lay-button style="padding:0 15px;color: #6C2DFE;" :block="true" theme="light" block @click="out" size="middle">
        退出登录
      </lay-button>

    </lay-page>
  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header";
  import UploadImg from "@/bass/uploadimg";
  import Slider from "@/bass/slider";
  import {logout_api, avatarApi_api, wxbind_api} from "@/common/api";
  import {Toast, MessageBox} from "mint-ui";
  import {baseUrl} from "@/config/app.config";
  import QRCode from "qrcodejs2";
  import {mapMutations, mapGetters} from "vuex";
  import LaySimpleItem from "@/vlayui/List/simpleItem";
  import LayList from "@/vlayui/List/List";
  import LaySpin from "@/vlayui/Spin";
  import LayPage from "@/vlayui/Layout/page";
  import LayHeader from "@/vlayui/Layout/header";
  import LayArrow from "@/vlayui/Arrow";
  import LayAdd from "@/vlayui/Icon/add";
  import LayMinus from "@/vlayui/Icon/minus";
  import LayButton from "@/vlayui/LayButton";
  import LaySwitch from "@/vlayui/Switch";

  export default {
    components: {
      LaySimpleItem,
      LayList,
      LaySpin,
      LayPage,
      LayHeader,
      LayArrow,
      LayAdd,
      LayMinus,
      LayButton,
      MyHeader,
      UploadImg,
      Slider,
      LaySwitch
    },
    created() {
      let audio = localStorage.getItem("audio");
      if (!audio) {
        localStorage.setItem("audio", false);
        this.switchValue = false;
      } else {
        audio === "true" ? (this.switchValue = true) : (this.switchValue = false);
      }
      this.wechat ? (this.text = "已绑定") : (this.text = "点击绑定");
    },
    computed: {
      username() {
        return this.initData.username;
      },
      avatar() {
        let a = require(`@/assets/admin.png`);
        return this.initData.avatar || a;
      },
      balance() {
        return this.initData.balance || 0;
      },
      realname() {
        return this.initData.realname;
      },
      mobile() {
        return this.initData.mobile;
      },
      wechat() {
        return this.initData.wechat;
      },
      ...mapGetters(["initData"])
    },
    data() {
      return {
        option: {
          qrcodeShow: false,
          autoCrop: true,
          show: false,
          size: 1,
          outputType: "png",
          img: "",
          autoCropWidth: 100,
          autoCropHeight: 100,
          fixedBox: true,
          text: "点击绑定"
        },
        showQr: false,
        switchValue: false
      };
    },
    methods: {
      ...mapMutations({
        initData_Mua: "INIT_DATA", // 将 `this.initData_Mua()` 映射为 `this.$store.commit('INIT_DATA')`
        updateData_Mua: "UPDATE_DATA"
      }),
      changeAudioSwitch(value) {
        this.switchValue = !value;
        localStorage.setItem("audio", this.switchValue);
      },
      closeCeode() {
        this.$refs.qrcode_box.removeChild(this.$refs.qrcode_box.children[0]);
        this.$refs.qrcode_box.removeChild(this.$refs.qrcode_box.children[0]);
        this.showQr = false;
      },
      //微信绑定
      wxbind() {
        if (this.wechat) {
          Toast("您的微信账户已绑定其他账户");
          return;
        } else
          try {
            if (plus) {
              this.app_wechat();
            } else {
            }
          } catch (e) {
            this.qrcodeShow = true;
            this.showQr = true;
            wxbind_api({op: "qrcode"}).then(msg => {
              // console.log(msg);
              this.qrcode(msg.data);
              var timer = setInterval(() => {
                wxbind_api({op: "check"}).then(res => {
                  // console.log(res);
                  if (res.code == 200) {
                    Toast("微信绑定成功");
                    this.text = "已绑定";
                    this.updateData_Mua({
                      wechat: true
                    });
                    clearInterval(timer);
                    this.showQr = false;
                    this.closeCeode();
                  } else if (res.code == 400) {
                    Toast("该微信已绑定其他账号");
                    clearInterval(timer);
                    this.showQr = false;
                    this.closeCeode();
                  } else {
                    if (res.msg.length > 0) {
                      this.$Message.error(res.msg);
                    }
                  }
                });
              }, 1000);
            });
          }
      },
      qrcode(data) {
        let qrcode = new QRCode("qrcodeA", {
          width: 150,
          height: 150, // 高度
          text: data // 二维码内容
        });
      },
      // 原生方法
      app_wechat() {
        plus.oauth.getServices(function (services) {
          for (var i in services) {
            var s = services[i];
            if (s.id == "weixin") {
              s.authorize(
                function (e) {
                  wxbind_api({op: "wxcode", wxcode: e.code}).then(msg => {
                    if (msg.code == 200) {
                      this.text = "已绑定";
                      Toast("绑定成功");
                    } else {
                      Toast(msg.msg);
                    }
                  });
                },
                function (e) {
                  alert("授权失败：" + JSON.stringify(e));
                }
              );
            }
          }
        });
      },
      percentChange(value) {
        let minus;
        if (value === "+") {
          minus = 1;
        }
        if (value === "-") {
          minus = -1;
        }
        this.$refs.cropper3.changeScale(minus);
      },
      uploadOption(value) {
        if (value.img) {
          this.option.img = value.img;
          this.option.show = true;
        }
      },
      confirmCropImg() {
        this.$refs.cropper3.getCropData(data => {
          avatarApi_api({image: data}).then(res => {
            if (res.code === 200) {
              this.option.show = false;
              this.updateData_Mua({
                avatar: res.data
              });
            } else {
              Toast(res.msg);
            }
          });
        });
      },
      bindMobile() {
        this.isLogin = sessionStorage.getItem("isLogin");
        if (this.isLogin == "false") {
          if (path == "share") {
            this.$router.push(path);
          } else {
            MessageBox.confirm("您还未登录")
              .then(action => {
                this.$router.push("login");
              })
              .catch(res => {
              });
          }
        } else if (this.isLogin == "yes") {
          MessageBox.confirm("正式会员才可以使用该功能", "提示", {
            confirmButtonText: "成为会员"
          })
            .then(action => {
              this.$router.push("reg");
            })
            .catch(res => {
            });
        } else {
          this.$router.push("bindMobile");
        }
      },
      out() {
        MessageBox.confirm("确定要退出吗", "提示")
          .then(action => {
            logout_api().then(res => {
              sessionStorage.clear();
              // console.log(res)
            });
            this.$router.push("login");
          })
          .catch(res => {
          });
      },
      avatarUrl(msg) {
        this.updateData_Mua({
          avatar: msg
        });
      },
      toast() {
        Toast("如需更改绑定手机号，请联系客服处理");
      }
    },
    mounted() {
      (function () {
        document.body.style.background = "#F2F2F2";
      })();
    },
    beforeDestroy() {
      (function () {
        document.body.style.background = "#fff";
      })();
    },
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  .v-modal {
    z-index: 10;
  }

  .code_box {
    width: 340px;
    height: 260px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    background: #fff;

    .code_box_header {
      height: 40px;
      line-height: 40px;
      text-align: center;
      // color: #fff;
      font-size: 16px;
      // background: -webkit-linear-gradient(left, #68a5ff, #7740fa);

      .icon-fork {
        font-size: 14px;
        position: absolute;
        top: 0;
        right: 10px;
        color: #999;
      }
    }
  }

  #qrcodeA {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10000;
    transform: translate(-50%, -50%);
  }

  .slider-con {
    padding: 0 0.3rem;
    margin-top: 0.3rem;
    text-align: center;
  }

  .crop-con {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    background: rgba(0, 0, 0, 0.4);
  }

  .crop-btn-con {
    padding: 0 1rem;
  }

  .vue-cropper {
    margin-top: 50%;
    margin-left: 10%;
    height: 6rem !important;
    width: 80% !important;
  }

  .mint-button--large {
    background: #fff;
    color: rgba(74, 115, 197, 1);
  }

  .mint-cell-value > span {
    margin-right: 10px;
    color: #999;
  }

  img {
    width: 40px;
    margin-right: 10px;
  }

  .last:after {
    display: none;
  }

  .mint-cell-allow-right {
    margin-right: 0.3rem;
    color: #fe3959;
  }

  .mint-cell-allow-right::after {
    width: 10px;
    height: 10px;
    right: 12px;
    border-color: #ddd;
  }

  .upload_btn {
    width: 13rem;
    height: 0.85rem;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
  }
</style>
