<template>
  <div class="page">
    <my-header></my-header>
    <div class="withdraw_list">
      <ul v-infinite-scroll="loadMore" infinite-scroll-disabled="loading" infinite-scroll-distance="10">
        <li class="mint-cell" v-for="(item,i) in zbList" :key="i" @click="itemDeatil(item)">
          <img :src="item.icon" alt="" width="29">
          <div style="flex-grow:1">
            <h3>{{item.bank}}</h3>
            <p>订单编号：
              <span>{{item.orderno}}</span>
            </p>
            <span>{{item.dateline | moment}}</span>
          </div>
          <div style="flex-grow:0;align-items: flex-end;">
            <span style="margin-bottom:.25rem; color:#000">{{item.amount | fmoney}}元</span>
            <small style="color:#FE3959">{{item.status}}</small>
          </div>
        </li>
      </ul>
      <div style="width:100%;text-align:center;margin-top:3.5rem;" v-show="zbList.length==0">
        <!-- <img src="@/assets/nomsg.png" style="width:80%; margin-bottom:.3rem"/> -->
        <p>暂无提现记录哦~</p>
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header";
  import {Toast, Indicator} from "mint-ui";
  import {withdraw_log_api} from "@/common/api";

  export default {
    data() {
      return {
        listEnd: false,
        loading: false,
        zbList: [],
        page: 0
      };
    },
    methods: {
      loadMore() {
        if (this.listEnd || this.loading) return;

        Indicator.open();
        this.loading = true;

        withdraw_log_api({page: this.page + 1}).then(res => {
          Indicator.close();
          this.loading = false;

          if (res.code == 200) {
            this.page = res.data.page;
            console.log(res.data.list);
            if (res.data.list.length > 0) {
              this.zbList = this.zbList.concat(res.data.list);
              this.zbList.forEach(element => {
                if (element.status == "pending") {
                  element.status = "审核中";
                }
                if (element.status == "success") {
                  element.status = "提现成功";
                }
                if (element.status == "failure") {
                  element.status = "提现失败";
                }
              });
            } else {
              this.listEnd = true;
              // res.data.page != 1 ? Toast("没有更多数据了!") : "";
            }
          } else {
              if(res.code==401){
              this.listEnd = true
            }
            Toast(res.msg);
          }
        });
      },
      itemDeatil(item) {
        this.$router.push({
          name: "WithdrawDetail",
          params: {
            msg: item
          }
        });
      }
    },
    components: {
      MyHeader
    }
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  .withdraw_list {
   padding: .3rem;
    font-size: 15px;
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
      background-color: #fff;
      > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        > p {
          font-size: 12px;
          margin: 0.1rem 0;
        }
        > h3 {
          font-size: 16px;
          font-weight: normal;
        }
        > span {
          font-size: 13px;
          color: #999;
        }
      }
      > img {
        flex-grow: 0;
        margin-right: 0.3rem;
      }
    }
  }
</style>
